@{
    ViewData["Title"] = "TumHastaliklar";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 mx-auto">Tüm Hastalıklar</h1>
</div>
<span>(A-Z)</span>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Adenit"><img src="~/img/Hastaliklarimg/Adenit.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Adenit</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/AkcigerKanseri"><img src="~/img/Hastaliklarimg/Akciğer Kanseri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Akciğer Kanseri</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/AkdenizAtesi"><img src="~/img/Hastaliklarimg/Akdeniz Ateşi.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Akdeniz Ateşi</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Alerji"><img src="~/img/Hastaliklarimg/Alerji.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Alerji</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Apandisit"><img src="~/img/Hastaliklarimg/Apandisit.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Apandisit</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Apse"><img src="~/img/Hastaliklarimg/Apse.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Apse</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/ARDS"><img src="~/img/Hastaliklarimg/ARDS.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">ARDS</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Arpacik"><img src="~/img/Hastaliklarimg/Arpacık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Arpacık</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Artrit"><img src="~/img/Hastaliklarimg/Artrit.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Artrit</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Astim"><img src="~/img/Hastaliklarimg/Astım.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Astım</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Astigmat"><img src="~/img/Hastaliklarimg/Astigmat.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Astigmat</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/AsiriAybasiKanamasi"><img src="~/img/Hastaliklarimg/Aşırı Aybaşı Kanaması.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Aşırı Aybaşı Kanaması</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Ates"><img src="~/img/Hastaliklarimg/Ateş.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Ateş</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/BademcikIltihabi"><img src="~/img/Hastaliklarimg/Bademcik İltihabı.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Bademcik İltihabı</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/BagirsakIltihabi"><img src="~/img/Hastaliklarimg/Bağırsak İltihabı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Bağırsak İltihabı</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Basur"><img src="~/img/Hastaliklarimg/Basur.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Basur</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/BeyzbolParmagi"><img src="~/img/Hastaliklarimg/Beyzbol Parmağı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Beyzbol Parmağı</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Botulizm"><img src="~/img/Hastaliklarimg/Botulizm.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Botulizm</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/BobrekEnfeksiyonu"><img src="~/img/Hastaliklarimg/Böbrek Enfeksiyonu.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Böbrek Enfeksiyonu</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/BobrekTasi"><img src="~/img/Hastaliklarimg/Böbrek Taşı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Böbrek Taşı</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Bronsit"><img src="~/img/Hastaliklarimg/Bronşit.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Bronşit</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/BurunAhtapotu"><img src="~/img/Hastaliklarimg/Burun Ahtapotu.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Burun Ahtapotu</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Cuzzam"><img src="~/img/Hastaliklarimg/Cüzzam.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Cüzzam</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/CicekHastaligi"><img src="~/img/Hastaliklarimg/Çiçek Hastalığı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Çiçek Hastalığı</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/DeriKanseri"><img src="~/img/Hastaliklarimg/Deri Kanseri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Deri Kanseri</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Difteri"><img src="~/img/Hastaliklarimg/Difteri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Difteri</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Diyabet"><img src="~/img/Hastaliklarimg/Diyabet.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Diyabet</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Dizanteri"><img src="~/img/Hastaliklarimg/Dizanteri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Dizanteri</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Dolama"><img src="~/img/Hastaliklarimg/Dolama.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Dolama</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Egzama"><img src="~/img/Hastaliklarimg/Egzama.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Egzama</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Ekstrasistol"><img src="~/img/Hastaliklarimg/Ekstrasistol.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Ekstrasistol</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Enfarktus"><img src="~/img/Hastaliklarimg/Enfarktüs.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Enfarktüs</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Ensefalopati"><img src="~/img/Hastaliklarimg/Ensefalopati.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Ensefalopati</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Epistaksis"><img src="~/img/Hastaliklarimg/Epistaksis.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Epistaksis (Burun Kanaması)</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Fabry"><img src="~/img/Hastaliklarimg/Fabry.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Fabry</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Felc"><img src="~/img/Hastaliklarimg/Felç.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Felç</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Gastrit"><img src="~/img/Hastaliklarimg/Gastrit.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Gastrit</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/GeceKorlugu"><img src="~/img/Hastaliklarimg/Gece Körlüğü.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Gece Körlüğü</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/GozIltihabi"><img src="~/img/Hastaliklarimg/Göz İltihabı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Göz İltihabı</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Grip"><img src="~/img/Hastaliklarimg/Grip.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Grip</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Guatr"><img src="~/img/Hastaliklarimg/Guatr.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Guatr</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Hemofili"><img src="~/img/Hastaliklarimg/Hemofili.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Hemofili</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/HIV"><img src="~/img/Hastaliklarimg/HIV.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">HIV</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/HiperTansiyon"><img src="~/img/Hastaliklarimg/Hipertansiyon.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Hipertansiyon</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Hipotansiyon"><img src="~/img/Hastaliklarimg/Hipotansiyon.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Hipotansiyon</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Hipotiroidi"><img src="~/img/Hastaliklarimg/Hipotiroidi.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Hipotiroidi</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Ishal"><img src="~/img/Hastaliklarimg/İshal.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">İshal</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Kabakulak"><img src="~/img/Hastaliklarimg/Kabakulak.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kabakulak</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Kabizlik"><img src="~/img/Hastaliklarimg/Kabızlık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kabızlık</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/KalpYetmezligi"><img src="~/img/Hastaliklarimg/Kalp Yetmezliği.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kalp Yetmezliği</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Kansizlik"><img src="~/img/Hastaliklarimg/Kansızlık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kansızlık</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/KaracigerYaglanmasi"><img src="~/img/Hastaliklarimg/Karaciğer Yağlanması.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Karaciğer Yağlanması</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Katarakt"><img src="~/img/Hastaliklarimg/Katarakt.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Katarakt</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Kizamik"><img src="~/img/Hastaliklarimg/Kızamık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kızamık</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Kolera"><img src="~/img/Hastaliklarimg/Kolera.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kolera</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Kuduz"><img src="~/img/Hastaliklarimg/Kuduz.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kuduz</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/KusGribi"><img src="~/img/Hastaliklarimg/Kuş Gribi.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kuş Gribi</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Lipom"><img src="~/img/Hastaliklarimg/Lipom.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Lipom</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Losemi"><img src="~/img/Hastaliklarimg/Lösemi.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Lösemi</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Migren"><img src="~/img/Hastaliklarimg/Migren.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Migren</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Miyopluk"><img src="~/img/Hastaliklarimg/Miyopluk.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Miyopluk</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Nezle"><img src="~/img/Hastaliklarimg/Nezle.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Nezle</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Odem"><img src="~/img/Hastaliklarimg/Ödem.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Ödem</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Parkinson"><img src="~/img/Hastaliklarimg/Parkinson.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Parkinson</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/RahimKanseri"><img src="~/img/Hastaliklarimg/Rahim Kanseri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Rahim Kanseri</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Rasitizm"><img src="~/img/Hastaliklarimg/Raşitizm.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Raşitizm</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Romatizma"><img src="~/img/Hastaliklarimg/Romatizma.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Romatizma</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Sagirlik"><img src="~/img/Hastaliklarimg/Sağırlık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Sağırlık</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Sedef"><img src="~/img/Hastaliklarimg/Sedef.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Sedef</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Sinuzit"><img src="~/img/Hastaliklarimg/Sinüzit.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Sinüzit</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Siroz"><img src="~/img/Hastaliklarimg/Siroz.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Siroz</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Siyatik"><img src="~/img/Hastaliklarimg/Siyatik.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Siyatik</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Tetanoz"><img src="~/img/Hastaliklarimg/Tetanoz.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Tetanoz</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Tifo"><img src="~/img/Hastaliklarimg/Tifo.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Tifo</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Tifus"><img src="~/img/Hastaliklarimg/Tifüs.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Tifüs</h4>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Ucuk"><img src="~/img/Hastaliklarimg/Uçuk.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Uçuk</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Verem"><img src="~/img/Hastaliklarimg/Verem.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Verem</h4>
            </div>
        </div>
    </div>
    <div class="col-sm mt-3">
        <div class="card">
            <a href="https://localhost:44397/Hastaliklar/Zaturre"><img src="~/img/Hastaliklarimg/Zatürre.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Zatürre</h4>
            </div>
        </div>
    </div>
</div>