
@{
    ViewData["Title"] = "Adenit";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Adenit</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Adenit, lenf düğümlerinin ya da bezlerinin iltihabı ile şişmesiyle ortaya çıkan bir
                hastalıktır.
                Lenf
                düğümleri vücudun çeşitli yerlerinde bulunmaktadır. En sık boyundakiler, koltuk altındakiler
                ve
                kasıktakiler enfekte olmaktadır. Genelde enfeksiyona bir bakteri, virüs ya da alerji neden
                olmaktadır.

                Çocuklarda streptokok enfeksiyonu, enfeksiyöz mononükleoz, bademcik iltihabı ya da diş
                apsesi
                sonrasında
                adenit hastalığı kendini gösterebilir. Derideki herhangi bir enfeksiyon lenf bezlerine
                yayılırsa,
                kasıkta ya da koltuk altında da adenit oluşabilir. Adenit’e neden olan faktörler arasında;
                nadir
                olarak
                tüberküloz, toksoplazmoz ve kedi tırmığından oluşan enfeksiyonlar da vardır.
            </p>
            <img src="~/img/Hastaliklarimg/Adenit.jpg" class="img-fluid" alt="..."
                 style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            <br>
            <br>
            <h3>ADENİT BELİRTİLERİ</h3>
            <ul>
                <li>Boyundaki lenf bezlerinin şişmesi</li>
                <li>Koltuk altındaki lenf bezlerinin şişmesi</li>
                <li>Kasıklardaki lenf bezlerinin şişmesi</li>
                <li>Deride kızarma</li>
                <li>Ateş yükselmesi(bazı hastalarda)</li>
            </ul>
            <h3>ADENİT NASIL TEDAVİ EDİLİR?</h3>
            <ul>
                <li>
                    Lenf bezinin fazla büyümediği, hassasiyetinin az olduğu hafif vakalarda antibiyotik
                    tedavisine
                    gerek
                    yoktur, lenf bezi küçülmeye başlayıncaya kadar haftalık kontrollerle izlenmesi
                    yeterlidir.
                </li>
                <li>
                    Lenf bezinin büyümeyi devam ettirdiği durumlarda yani lenf bezi büyük “3 cm'den küçük”,
                    hassas, deri
                    kızarık ve primer enfeksiyon odağı yoksa oral empirik antibiyotik tedavisi başlanarak
                    küçülme
                    oluncaya
                    kadar izlenir.
                </li>
                <li>
                    Lenf bezi 3 cm veya daha büyükse, inflame ise, birlikte sellülit varsa veya sistemik
                    semptom ve
                    bulgular varsa, başlangıç antibiyotik tedavisine cevap vermediyse, lenf bezinden
                    dışarıya
                    doğru bir
                    iltihap akışı başlamışsa sorunlu bölgeye sıcak havlu uygulanarak iltihabın boşalması
                    desteklenir.
                    İltihabın büyük kısmı akıtıldıktan sonra antibiyotik tedavisine başlanır.
                </li>
                <li>
                    Şişlikten dışarıya bir akış yoksa iz kalmayacak şekilde küçük bir kesik atılır ve
                    iltihap
                    boşaltılır.
                    Aynı şekilde iltihabın büyük bölümü akıtıldığında kesilen bölge dikilir ve antibiyotik
                    tedavisi
                    uygulanır.
                </li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Zaturre"><img src="~/img/Hastaliklarimg/Zatürre.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Zatürre</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Verem"><img src="~/img/Hastaliklarimg/Verem.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Verem</h4>
            </div>
        </div>
    </div>
</div>


