@{
    ViewData["Title"] = "AkcigerKanseri";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Akciğer Kanseri</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Akciğer vücudumuzun oksijen gereksinimini sağlayan organımızdır. Her organ gibi akciğerimiz de birçok hücreden oluşur. Bu hücreler akciğerin normal olarak görevini yapabilmesi için ihtiyaç doğrultusunda bölünerek çoğalırlar. Akciğer kanseri, yapısal olarak normal akciğer dokusundan olan hücrelerin ihtiyaç ve kontrol dışı çoğalarak akciğer içinde bir kitle (tümör) oluşturmasıdır. Burada oluşan kitle öncelikle bulunduğu ortamda büyür, daha ileriki aşamalarda ise çevre dokulara veya dolaşım yoluyla uzak oranlara yayılarak (karaciğer, kemik,beyin vb. gibi) hasara yol açarlar. Bu yayılmaya metastaz adı verilir.
            </p>
            <h3>Risk Faktörleri Nelerdir?</h3>
            <ul>
                <li>Sigara, puro, pipo (tütün) içimi: Akciğer kanserinin bugün ispatlanmış olan en önemli risk faktörüdür. </li>
                <li>
                    Asbest: Madenlerde, gemi yapımında, yalıtım malzemesi yapımında kullanılır. Solunum yollarında uzun süreli tahriş oluşturur.
                </li>
                <li>
                    Radon: Evlerde, toprakta doğal olarak bulunan,kokusuz radyoaktif bir gazdır
                </li>
                <li>
                    Verem hastalığı (tüberküloz): Bu hastalığın yerleştiği akciğer alanında sonradan akciğer kanseri gelişebilir.
                </li>
                <li>
                    Daha önceden akciğer kanseri geçirmiş olmak: Bir kere akciğer kanseri nedeniyle ameliyat olmuş, veya ışın tedavisi uygulanmış olanlarda ikinci bir kanser gelişme riski                 vardır. Sigara içmek bu riski ayrıca arttırır.
                </li>
                <li>
                    Radyoaktif uranyum cevheri gibi cevherler
                </li>
                <li>Bazı kimyasalların uzun süreli solunması (arsenik, berilyum, kadmiyum, vinil klorür gibi)</li>
                <li>
                    Radyoterapi öyküsü
                </li>
                <li>
                    Hava kirliliği
                </li>
                <li>Aile öyküsü</li>
            </ul>
            <div class="col-lg-10">
            <img src="~/img/Hastaliklarimg/Akciğer Kanseri.jpg" class="img-fluid" alt="..."
                 style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div>
                 <br />
                 <br />
            <h3>Akciğer kanserlerinin en sık görülen belirtileri şunlardır;</h3>
            <ul>
                <li>Geçmeyen veya giderek kötüleşen öksürük</li>
                <li>Öksürürken kan veya kanlı balgam çıkarmak</li>
                <li>Derin nefes alırken, öksürürken veya gülerken kötüleşen göğüs ağrısı</li>
                <li>İştahsızlık, halsizlik, yorgunluk ve kilo kaybı</li>
                <li> Ses kısıklığı</li>
                <li>Nefes darlığı</li>
                <li> Sürekli tekrarlayan veya geçmeyen bronşit veya zatürre gibi akciğer enfeksiyonları
            </ul>
            <h3> Tanı Nasıl Konulur?</h3>
            <p>
                Düz akciğer röntgenleri ile akciğerde kitle görülen hastalara,öncelikle bilgisayarlı tomografi çekilir.Elde edilen üç boyutlu görüntü ile kitleye nasıl ulaşılabileceğine karar verilir.Hastadan ya tomografi rehberliğinde ya da bronkoskopi dediğimiz ince bükülebilir bir tüple akciğerine ulaşılarak iğneyle parça alınır.Bu işleme biyopsi adı verilir. Gerekli görüldüğü takdirde farklı görüntüleme tetkikleri de yapılabilir.
            </p>
            <h3> Tedavi</h3>
            <p>
                Her hastanın tedavisi farklılık göstermekte olup, tedavi kararında hastalığın yeri, evresi, hastanın yaşı ve diğer sağlık sorunları gibi birden fazla faktör etkilidir. Multidisipliner bir çalışma gerektiren bu tedaviler ;cerrahi, hedefe yönelik tedaviler radyoterapi, kemoterapi gibi farklı seçenekleri içermektedir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Ucuk"><img src="~/img/Hastaliklarimg/Uçuk.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Uçuk</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Tifus"><img src="~/img/Hastaliklarimg/Tifüs.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Tifüs</h4>
            </div>
        </div>
    </div>
</div>

