
@{
    ViewData["Title"] = "AkdenizAtesi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}


<div class="row">
    <h1 class="text-center mt-5 ml-3">Akdeniz Ateşi</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Ailesel Akdeniz Ateşi (FMF), tipik olarak karın, göğüs veya eklemlerde ağrı eşlik eden tekrarlayan ateş ataklarına neden olan genetik bir hastalıktır. Çoğu zaman Akdeniz ve Ortadoğu kökenli bireylerde görülür ve çocukluk döneminde teşhis edilir. FMF atakları hastaların yaklaşık % 90’ında 20 yaşından önce başlar. Hastaların yaklaşık % 75’inde ateş 10 yaşından önce ortaya çıkar.
            </p>
            <h3>AKDENİZ ATEŞİ BELİRTİLERİ</h3>
            <ul>
                <li>Ateş</li>
                <li>Karın ağrısı</li>
                <li>Göğüs ağrısı</li>
                <li>Eklemlerde şişme ve ağrı</li>
                <li>Özellikle dizlerinin altında, diz ile ayak bağı arasındaki ciltte kırmızı deri döküntüleri</li>
                <li>Kas ağrıları</li>
                <li>Baldırlarda ağrı</li>
                <li> Kabızlık ve ishal</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Akdeniz Ateşi.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div>
            <br />
            <br />
            <p>
                Akdeniz ateşi hastalığı ataklar şeklinde devam eden bir hastalıktır. Bu ataklar sırasında muhtemelen normal hissedersiniz fakat semptomsuz dönemler birkaç gün veya birkaç yıl kadar sürebilir. Sizde veya çocuğunuzda nefes darlığı gibi ani endişe verici belirtiler, ayrıca karın, göğüs ve eklem ağrıları ile birlikte ani bir ateş varsa mutlaka doktora başvurmakta fayda vardır.
            </p>

            <h3>AKDENİZ ATEŞİ NASIL TEDAVİ EDİLİR?</h3>
            <p>
                Ailesel Akdeniz ateşi genellikle çocukluk döneminde teşhis edilir. Bu bozukluğun tedavisi olmasa da, tedavi planınıza bağlı kalarak ailevi Akdeniz ateşinin belirti ve semptomlarını hafifletebilir veya hatta tamamen önleyebilirsiniz.

                Ailesel Akdeniz ateşinin belirtilerini ve semptomlarını kontrol etmek için, 1973 yılında başlanan günde 1-2 mg devamlı kolşisin(colchicine) tedavisi çoğu hastada atakların durmasını sağlamış ve amiloidoz gelişimini durdurmuştur. Bu ilaç çeşitli eklem rahatsızlıkları için de kullanılmaktadır. Ancak tedaviye uyum göstermeyen hastalarda amiloidoz gelişimi devam etmektedir. Kolşisinin atakları nasıl engellediği ve amiloidoz gelişimini nasıl yavaşlattığı henüz bilinmemektedir. İlacın dozunun çok iyi ayarlanması gerekmektedir. Bu yüzden uzman bir hekimin kontrolünde tedavi sürmelidir. Belirtiler geçse dahi doktor öngörmediği sürece ilaç kesilmemelidir. Hasta hamile kalsa da kullanılması önerilir. Kolşisinin bebek üzerinde zararlı bir etkisi gösterilmemiştir. Yine de hamile ailevi akdeniz ateşi hastalarına amniyosentez yapılarak fetüsün genetik yapısının incelenmesi önerilmektedir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Tifo"><img src="~/img/Hastaliklarimg/Tifo.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Tifo</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Tetanoz"><img src="~/img/Hastaliklarimg/Tetanoz.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Tetanoz</h4>
            </div>
        </div>
    </div>
</div>



