
@{
    ViewData["Title"] = "Alerji";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Alerji</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Alerji, bağışıklık sisteminden vücuda giren veya temas eden maddelere karşı aşırı duyarlı tepkidir. Alerjik reaksiyona neden olan bir maddeye alerjen denir. Alerjenler yiyecek, içecek veya çevrede bulunabilir.

                Birçok alerjen zararsızdır ve çoğu insanı etkilemez. Kişinin polen gibi bir maddeye karşı alerjisi varsa, bağışıklık sistemi maddeye yabancı ve zararlı gibi tepki verir ve onu yok etmeye çalışır.

                Alerjisi olan bir kişi alerjene temas ettiğinde, alerjik reaksiyon hemen gerçekleşmez. Bağışıklık sistemi yavaş yavaş aşırı tepki vermeden önce maddeye karşı duyarlılık oluşturur.
            </p>
            <br />
            <p>
                Bağışıklık sisteminin alerjeni tanımak ve hatırlamak için zamana ihtiyacı vardır. Bu maddeye duyarlı hale geldikçe, bağışıklık sistemi ona saldırmak için antikorlar yapmaya başlar. Bu sürece duyarlılaşma denir.

                Hassasiyet birkaç gün veya birkaç yıl sürebilir. Birçok durumda duyarlılaşma süreci tamamlanmamıştır. Hasta bazı semptomlar yaşar, ancak tam bir alerjiye sahip değildir.


                Alerjiler de mevsimlik olabilir. Örneğin, saman nezlesi semptomları havadaki polen sayısının çok daha yüksek olması nedeniyle nisan ile mayıs ayları arasında zirve yapabilir.
            </p>

            <h3>
                ALERJİ BELİRTİLERİ
            </h3>
            <p>
                Alerjik bir reaksiyon iltihap ve tahrişe neden olur. Belirtiler ve semptomlar alerjen tipine bağlıdır. Alerjik reaksiyonlar bağırsakta, deride, sinüslerde, hava yollarında, gözlerde ve burun pasajlarında oluşabilir.

                Diğer durumlar için alerjik reaksiyonlar farklılık gösterebilir. Örneğin saman nezlesi, soğuk algınlığına benzer tahrişler yaratır, ancak nedenleri farklıdır.

                Aşağıda, çeşitli tetikleyiciler ve alerjisi olan kişilerde düzenli olarak neden oldukları belirtiler yer almaktadır.
            </p>
            <h4>
                Toz ve polen
            </h4>
            <ul>
                <li> Tıkalı burun</li>
                <li>Gözler ve burunda kaşıntı</li>
                <li>Burun akıntısı</li>
                <li>Şişmiş ve sulu gözler</li>
                <li>Öksürük</li>
            </ul>
            <h4>Cilt reaksiyonları</h4>
            <ul>
                <li>Kızarıklık</li>
                <li>Kaşıntı</li>
                <li>Kabarıklık</li>
                <li>Döküntüler</li>
            </ul>

            <h4>Gıda</h4>
            <ul>
                <li>Kusma</li>
                <li>Şişmiş dil</li>
                <li>Ağızda karıncalanma</li>
                <li>Dudakların, yüzün ve boğazın şişmesi</li>
                <li>Karın krampları</li>
                <li>Nefes darlığı</li>
                <li>Özellikle çocuklarda rektal kanama</li>
                <li>Damakta kaşıntı</li>
                <li>İshal</li>
            </ul>

            <h4>Böcek sokmaları</h4>
            <ul>
                <li>Hırıltı</li>
                <li>Isırılan bölgede ağrılı şişlik</li>
                <li>Kan basıncında ani düşüş</li>
                <li>Kaşınan cilt</li>
                <li>Nefes darlığı</li>
                <li>Huzursuzluk</li>
                <li>Kurdeşen, vücuda yayılan kırmızı ve çok kaşıntılı bir döküntü</li>
                <li>Baş dönmesi</li>
                <li>Öksürük</li>
                <li>Göğüste sıkışma</li>
                <li>Kaygı bozukluğu</li>
                <li>Olası anaflaksi (ciddi alerjik reaksiyon, alerjik şok)</li>
            </ul>

            <h4>İlaç</h4>
            <ul>
                <li>Hırıltı</li>
                <li>Şişmiş dil, dudak ve yüz</li>
                <li>Deri döküntüsü</li>
                <li>Kaşıntı</li>
                <li>Olası anaflaksi (ciddi alerjik reaksiyon)</li>
            </ul>
            <p>
                Anafilaksi: Anafilaksi, hızla gelişen, ciddi bir alerjik reaksiyondur. Hayati tehlike arz edebilir ve tıbbi acil durum olarak müdahale edilmelidir. Bu tip alerjik reaksiyon, alerjene maruz kaldıktan dakikalar veya saatler sonra ortaya çıkabilen birkaç farklı semptom gösterir.

                Anafilaksi belirtileri hastaya göre değişiklik gösterebilir. Hastada baygınlık hissi, sıkıntı, ölüm korkusu, halsizlik, baş dönmesi, ellerde, ayaklarda kaşıntı ve kızarıklık, dilde tat değişikliği gibi öncül belirtiler ve sonrasında dilde, ağız içinde, boğazda, kaşıntı, şişme gıda alerjisinde ilk şikayetler olabilir. Hastaların genelinde cilt bulguları (kızarıklık, kaşıntı, kurdeşen ve şişmeler) görülebilir.

                Üst ve alt solunum yolları sorunları (kuru öksürük, tükürüğünü yutmada zorluk, boğazda şişlik hissi, zor nefes alma ve boğulma hissi) gibi şikayetler anafilaksiye bağlı ölüm nedenlerinin en sık sebebidir. Alt solunum yolları sorunları ile birlikte astım krizi ve solunum durması ortaya çıkabilir. Kalp damar sisteminde gelişen şikayetler, tansiyon düşüklüğü, nabız artışı, nabız düzensizliği, çarpıntı ve şok gelişebilir. Gözlerde kaşıntı ve sulanma, burunda kaşıntı, hapşırma, burun akıntısı, bulantı, kusma, ishal, karında kramplar ortaya çıkabilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Alerji.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h4>ALERJİ NEDENLERİ</h4>
            <p>
                İmmünoglobin (IgE) adı verilen özel bir antikor, alerjik reaksiyonlara neden olur. Antikorlar vücuttaki yabancı ve potansiyel olarak zararlı maddelerle savaşmak için serbest bırakılır.

                IgE, alerjeni yok etmek için serbest bırakılır ve alerjik reaksiyonu tetikleyen kimyasalların üretimine neden olur.

                Bu kimyasallardan birine histamin denir. Histamin, hava yollarındaki kasların ve kan damarlarının duvarlarının daralmasına neden olur. Ayrıca burun astarını daha fazla mukus üretmesi için yönlendirir.
            </p>
            <h4>EN YAYGIN ALERJENLER</h4>
            <p>
                Potansiyel alerjenler hemen hemen her yerde görülebilir.

                Herhangi bir yiyecek teorik olarak alerjiye neden olabilir. Gıdaya özgü bileşenler (buğdayda bulunan protein ve glüten gibi) alerjik reaksiyonları da tetikleyebilir. Alerjiye neden olması muhtemel sekiz yiyecek şunlardır:
            </p>
            <ul>
                <li>Yumurtalar, özellikle yumurta beyazı</li>
                <li>Balık</li>
                <li>Süt</li>
                <li>Fındık</li>
                <li>Yer fıstığı</li>
                <li>Buğday</li>
                <li>Soya</li>
                <li>Kabuklu deniz canlıları</li>
            </ul>
            <h4>Diğer alerjenler şunlardır:</h4>
            <ul>
                <li>Kedi dışkısında bulunan bir protein, toz akarı dışkısı, yün, kürk, kertenkele veya deri pulları, ayrıca Fel d 1 gibi hayvansal materyaller</li>
                <li>Penisilin, salisilatlar ve sülfonamidler gibi ilaçlar</li>
                <li>Mısır, kereviz, balkabağı, susam ve fasulye gibi besinler</li>
                <li>Eşek arısı ve arı sokması zehiri, sivrisinek sokması ve ateş karıncaları gibi böcek sokmaları</li>
                <li>At sinekleri, kara sinekler, pire ve böceklerin böcek ısırıkları</li>
                <li>Hamamböceği, caddis ve göl sinekleri, midge ve güveler</li>
                <li>Ot, ağaç ve yabani otlardaki bitki poleni</li>
                <li>Ev kimyasalları</li>
                <li>Nikel, kobalt, krom ve çinko gibi metaller</li>
                <li>Lateks</li>
            </ul>

            <h4>ALERJİ TEDAVİSİ</h4>
            <p>
                Alerjinin en etkili tedavisi alerjenden kaçınmadır. Bununla birlikte, bazen alerjenlerden tamamen kaçınmak mümkün değildir. Örneğin polen, özellikle saman nezlesi mevsimi boyunca havada sürekli olarak bulunur.
            </p>
            <h4>İlaçlar</h4>
            <p>
                İlaçlar alerjik reaksiyon belirtilerinde yardımcı olabilir, ancak alerjiyi iyileştirmezler. Alerji ilaçlarının çoğunluğu reçetesizdir (OTC). Herhangi bir alerji ilacı kullanmadan önce bir eczacıya veya doktora başvurunuz.
            </p>
            <ul>
                <li>Antihistaminikler: Bunlar histamin eylemini engeller. Bazı antihistaminikler çocuklar için uygun olmadığından dikkatli olunması önerilir.</li>
                <li>Dekonjestanlar: Bunlar saman nezlesi, evcil hayvan alerjisi veya toz alerjisi durumunda tıkalı bir burnu açmaya olabilir. Dekonjestanlar kısa süreli tedavi ilaçlarıdır.</li>
                <li>Lökotrien reseptör antagonistleri veya anti-lökotrienler: Diğer astım tedavileri işe yaramadığında, anti-lökotrienler lökotriyenlerin etkilerini bloke edebilir. Bunlar şişmeye neden olan kimyasallardır. Vücut, alerjik reaksiyon sırasında lökotrienler salgılar.</li>
                <li>Steroid spreyler: Burun iç astarına uygulanan kortikosteroid spreyler burun tıkanıklığını azaltmaya yardımcı olur.</li>
            </ul>

            <h4>İmmünoterapi</h4>
            <p>
                İmmünoterapi ayrıca hiposensitizasyon (aşı tedavisi) olarak bilinir. Bu tip tedavi bağışıklık sistemini iyileştirmeye yardımcı olur. Buradaki amaç, allerjenin IgE üretimini ve tetikleme eğilimini azaltarak uzun süreli toleransı sağlamaktır. İmmünoterapi sadece şiddetli alerjileri tedavi etmek için kullanılır.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Siyatik"><img src="~/img/Hastaliklarimg/Siyatik.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Siyatik</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Siroz"><img src="~/img/Hastaliklarimg/Siroz.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Siroz</h4>
            </div>
        </div>
    </div>
</div>





