
@{
    ViewData["Title"] = "Apandisit";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Apandisit</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Apandisit, kalın bağırsaktan uzanan 8-9 cm uzunlukta bir doku tüpü olan ekin iltihabıdır. Apandis (apendiks) kör bağırsak olarak da bilinir, ince bağırsaklar ile kalın bağırsağın birleşme yerindeki solucan benzeri yapıdır, bu organın iltihaplanmasına apandisit denir.

                Apandisit, hemen her zaman eki çıkarmak için acil cerrahi müdahale gerektiren bir tıbbi acil durumdur. Eğer tedavi edilmezse apandisitin patlamasına ve enfeksiyona neden olabilir. Bu ciddi ve bazen ölümcül olabilir.
            </p>

            <h3> APANDİSİT BELİRTİLERİ</h3>
            <p>
                Apandisit belirtileri ve semptomları şunları içerebilir:
            </p>
            <ul>
                <li>Alt karnın sağ tarafında başlayan ani ağrı</li>
                <li>Göbek çevresinde başlayan ve genellikle alt sağ karnınıza kayan ani ağrı</li>
                <li>Öksürürken, yürürken veya başka hareketleri yaparken kötüleşen ağrı</li>
                <li>Mide bulantısı ve kusma</li>
                <li>İştah kaybı</li>
                <li>Hafif ateş</li>
                <li>Kabızlık veya ishal</li>
                <li>Karında şişkinlik</li>
                <li>Bağırsak hareketine sahip olmanın rahatsızlığı gidereceği hissi</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Apandisit.png" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                APANDİSİT TEDAVİSİ
            </h3>
            <p>
                Apandisit teşhisi için fiziksel muayene yapılır. Karın bölgesinde hassasiyet ve ağrı söz konusu ise bakteriyel enfeksiyonu olup olmadığına dair bilgi için kan sayımı testi istenebilir. Apandisit teşhisini doğrudan tespit edebilecek kesin bir kan tahlili yoktur. Hastalığın tedavisi kişiden kişiye değişebilir ancak genellikle ameliyat ile tedavi edilir. Ameliyatın tipi hastanın durumuna göre değişiklik gösterir. Eğer apendiks bölgesindeki apse patlamamış ya da yırtılmamış ise doktor tarafından öncelikli olarak antibiyotik tedavisi uygulanır. Daha sonra ciltte geçirilen bir tüp yardımıyla organ içindeki apse boşaltılır ve bu işlemden sonra gerek görülürse apendiks alınabilir. Eğer apendikste yırtılma ya da sızma varsa ameliyat en acil yapılması gerekilendir. Apendektomi olarak adlandırılan apandiksin alınması açık ameliyat ya da laparoskopik cerrahi şeklinde olabilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Sinuzit"><img src="~/img/Hastaliklarimg/Sinüzit.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Sinüzit</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Sedef"><img src="~/img/Hastaliklarimg/Sedef.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Sedef</h4>
            </div>
        </div>
    </div>
</div>

