
@{
    ViewData["Title"] = "Apse";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Apse</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Apse, genellikle bakteriyel bir enfeksiyonun neden olduğu ağrılı bir irin topluluğudur. Apseler vücudun herhangi bir yerinde gelişebilir. İki tür apse vardır.

                Bunlar:
            </p>
            <ul>
                <li> Cilt altında gelişen cilt apseleri</li>

                <li> Vücudun içinde, bir organda veya organlar arasındaki boşluklarda gelişen iç apseler.</li>
            </ul>
            <p>
                Özellikle diş apseleri ciddi ağrılara, ağız kokusuna, sıcak-soğuk hassasiyetine ve eğer tedavi edilmezse de ciddi sağlık sorunlarına neden olabilir.
            </p>
            <h3>
                APSE NEDEN OLUR?
            </h3>
            <p>
                Çoğu apseye bakteriyel bir enfeksiyon neden olur. Bakteriler vücudunuza girdiğinde, bağışıklık sisteminiz etkilenen bölgeye enfeksiyonla savaşan beyaz kan hücrelerini gönderir. Beyaz kan hücreleri bakterilere saldırdıkça, yakındaki bazı dokular ölür ve daha sonra içi irinle dolu olan apseler oluşur. İrinde ölü doku, beyaz kan hücreleri ve bakteriler bulunur.

                İç apseler ise genellikle vücudunuzun başka bir yerinde enfeksiyon gibi mevcut bir durumun komplikasyonu olarak gelişir.

                Bağışıklık sistemi zayıf olan insanlarda belirli apseler daha sık gelişir. Aşağıdakilerden herhangi birine sahip olanlar, daha şiddetli apselere sahip olma riski altındadır. Çünkü vücudun enfeksiyonları önleme yeteneği azalır.

                Bunlar:
            </p>
            <ul>
                <li>Kronik steroid tedavisi</li>
                <li>Kemoterapi</li>
                <li>Diyabet</li>
                <li>Kanser</li>
                <li>AIDS</li>
                <li>Orak hücre hastalığı</li>
                <li>Periferik vasküler bozukluklar</li>
                <li>Crohn hastalığı</li>
                <li>Ülseratif kolit</li>
                <li>Şiddetli yanıklar</li>
                <li>Şiddetli travma</li>
                <li>Alkolizm veya uyuşturucu bağımlılığı</li>
                <li>Şişmanlık</li>
            </ul>
            <p>
                Apse için diğer risk faktörleri arasında kirli ortamlarda maruz kalma, belirli cilt enfeksiyonu türlerine maruz kalma, kötü hijyen ve dolaşım sisteminin zayıf olması yer alır.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Apse.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                APSE NASIL TEDAVİ EDİLİR?
            </h3>
            <p>
                Küçük bir cilt apsesi doğal olarak drene olabilir veya herhangi bir tedavi olmaksızın küçülebilir, kuruyabilir ve kaybolabilir. Bununla birlikte, enfeksiyonu temizlemek için daha büyük apselerin antibiyotiklerle tedavi edilmesi gerekebilir ve irinin boşaltılması gerekebilir. Bu genellikle cildinize bir iğne sokularak veya apse üzerinde deride küçük bir kesi yapılarak gerçekleştirilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Sagirlik"><img src="~/img/Hastaliklarimg/Sağırlık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Sağırlık</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Romatizma"><img src="~/img/Hastaliklarimg/Romatizma.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Romatizma</h4>
            </div>
        </div>
    </div>
</div>

