
@{
    ViewData["Title"] = "ARDS";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">ARDS</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Akut solunum sıkıntısı sendromu veya ARDS, akciğerlerdeki küçük hava keselerinde (alveoller olarak adlandırılan) sıvılar biriktiğinde meydana gelen inflamatuar bir akciğer hasarıdır. ARDS, akciğerlerin hava ile dolmasını engeller ve kanda tehlikeli derecede düşük oksijen seviyelerine (hipoksemi) neden olur.

                Bu durum beyin, kalp, böbrekler ve mide gibi diğer organların çalışması için ihtiyaç duydukları oksijeni almasını engeller. ARDS tehlikelidir ve bir dizi ciddi ve yaşamı tehdit eden soruna yol açabilir. ARDS tipik olarak, hasta enfeksiyon veya travma için tedavi edilirken hastane ortamlarında meydana gelir. Hastaneye kaldırılmadıysanız ve ARDS semptomları yaşıyorsanız, hemen tıbbi yardım almanız gerekmektedir.
            </p>
            <br />
            <p>
                ARDS semptomları, vakanın nedenine ve ciddiyetine ve ayrıca önceden var olan akciğer veya kalp koşullarına bağlıdır. Belirtiler;
            </p>
            <ul>
                <li>Şiddetli nefes darlığı veya nefes darlığı,</li>
                <li>Hızlı ve zor nefes alma,</li>
                <li>Aşırı yorgunluk ve kas yorgunluğu,</li>
                <li>Bilinç bulanıklığı, konfüzyon,</li>
                <li>Hızlı kalp atış hızı,</li>
                <li>Kandaki oksijen seviyesinin düşük olması nedeniyle tırnak ve dudakların mavimsi rengi,</li>
                <li>Öksürük ve göğüs ağrısı,</li>
                <li>ARDS ciddi enfeksiyondan (sepsis) kaynaklanıyorsa, sepsis semptomları da mevcut olabilir. Bunlar ateş ve düşük tansiyondur.</li>
            </ul>

            <h4>
                Akut Solunum Sıkıntısı Sendromu Nedenleri Nelerdir?
            </h4>
            <p>
                ARDS, sıvılar küçük akciğer damarlarından akciğer hava keselerine (alveoller) sızdığında ortaya çıkar. Kan damarları ve hava keseleri arasındaki koruyucu zar tehlikeye girdiğinde, kandaki oksijen seviyeleri düşer. ARDS'nin nedenleri;
            </p>
            <ul>
                <li>Sepsis: ARDS’nin en yaygın nedeni, akciğerlerde (pnömoni) veya yaygın iltihaplı diğer organlarda ciddi bir enfeksiyondur.</li>
                <li>Aspirasyon pnömonisi: Mide içeriğinin akciğerlere aspirasyonu ciddi akciğer hasarına ve ARDS'ye neden olabilir.</li>
                <li>Koronavirüs (COVID-19): COVID-19 enfeksiyonu şiddetli ARDS'ye dönüşebilir.</li>
                <li>Pankreatit: Pankreasta şiddetli iltihaplanma ve yoğun kan transfüzyonu ARDS'ye neden olabilir.</li>
                <li>Büyük travma ve yanıklar: Kazalar ve düşmeler, akciğerlerde şiddetli iltihaplanma hasarını tetikleyen vücuttaki akciğerlere veya diğer organlara doğrudan zarar verebilir.</li>
                <li>Solunum yoluyla yaralanma: Solunum ve yüksek konsantrasyonlarda kimyasal duman veya dumana maruz kalma ARDS'ye neden olabilir.</li>
                <li>Aşırı dozda uyuşturucu: Kokain ve opioidler gibi uyuşturuculara aşırı doz ARDS'ye neden olabilir.</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/ARDS.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h4>
                Akut Solunum Sıkıntısı Sendromunu (ARDS) Teşhis Etmek için Hangi Testler Yapılır?
            </h4>
            <ul>
                <li>ARDS semptomları ortaya çıktığında, bir dizi test yapılabilir. Bunlar;</li>
                <li>Akciğerlerdeki sıvıları ölçmek için göğüs röntgeni,</li>
                <li>ARDS'nin ciddiyetini belirlemeye yardımcı olmak için kandaki oksijen seviyesini belirlemeye yönelik bir kan test,</li>
                <li>Kalp fonksiyonunu değerlendirmek için ekokardiyogram (kalbin ultrasonu),</li>
                <li>Bazen, ARDS semptomları ve belirtileri, ARDS'ye benzer diğer nedenleri teşhis etmek için ek testler gerektirebilir,</li>
                <li>Bir bilgisayarlı tomografi (CT taraması) akciğerlerde hakkında ayrıntılı bilgi elde etmek için yapılabilir,</li>
                <li>Enfeksiyonun nedenini bulmak için hava yollarından salgı örnekleri alınabilir.</li>
            </ul>
            <h4>Akut Solunum Sıkıntısı Sendromu (ARDS) Nasıl Tedavi Edilir?</h4>
            <p>
                ARDS genellikle altta yatan nedenin tedavisi ile birlikte yoğun bakım ünitesinde (YBÜ) tedavi edilir. Mekanik ventilasyon (ventilatör) genellikle ARDS'li hastaların bakımında kullanılır. Daha hafif ARDS vakaları için oksijen, takılı bir yüz maskesi veya burnun üzerine takılan bir kanül yoluyla verilebilir.
            </p>
            <h4>
                ARDS kaynaklı komplikasyonları en aza indirmek için adımlar;
            </h4>
            <ul>
                <li>Ağrıyı yönetmek için sedasyon,</li>
                <li>Tüpü ve ventilatörü çıkarmanın ne zaman güvenli olduğunu belirlemek için solunum testleri,</li>
                <li>Pıhtılaşmayı önlemek için kan sulandırıcılar,</li>
                <li>Akciğerlerdeki sıvı birikimini en aza indirir,</li>
                <li>Midedeki stres ülserlerinin en aza indirilmesi,</li>
                <li>Kas zayıflığını önlemek için aktif hareketlilik ve fizik tedavi,</li>
                <li>ARDS'de sağ kalımı iyileştirdiği hiçbir doğrudan ilaç tedavisinin gösterilmemiştir, ancak araştırmacılar tedavi bulmak için çalışmaya devam etmektedir.</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Rasitizm"><img src="~/img/Hastaliklarimg/Raşitizm.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Raşitizm</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/RahimKanseri"><img src="~/img/Hastaliklarimg/Rahim Kanseri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Rahim Kanseri</h4>
            </div>
        </div>
    </div>
</div>

