
@{
    ViewData["Title"] = "Arpacik";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}


<div class="row">
    <h1 class="text-center mt-5 ml-3">Arpacık</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Arpacık ya da hordeolum, göz kapağının dış kenarlarında oluşan sivilce benzeri, kırmızı bir yumrudur. Göz kapaklarınızın, özellikle kirpiklerin etrafında çok az miktarda minik bez vardır. Ölü deri, kir veya yağ birikmesi bu küçük deliklerin tıkanmasına neden olabilir. Bez engellendiğinde, bakteriler içeride büyüyebilir ve arpacık oluşmasına neden olabilir.

                İki tür arpacık vardır:
            </p>
            <ul>
                <li>Dış arpacık: Kirpik dibinde başlayan arpacıktır. Çoğunlukla kıl kökünde oluşan iltihap sonucu gerçekleşir. Sivilce gibi görünebilir.</li>
                <li>İç arpacık: Göz kapağı içinde görülen arpacıktır. Çoğunlukla göz kapağında yağ üreten bir bezde oluşan enfeksiyon sonucu gerçekleşir.</li>
            </ul>

            <h3>
                ARPACIK NEDEN OLUR?
            </h3>
            <p>
                Göz kapağındaki yağ bezlerinin enfeksiyonu neden olur. Bu enfeksiyonların çoğundan sorumlu bakteri stafilokoktur.
                Genelde zararsız olan arpacık, ufak tefek tedavilerle çözümlenir. Sıcak pansuman ile iltihap toplanıp, dışarıya akıtılabilir. Bazen arpacık kiste dönüşebilir. Bu durumda cerrahi müdahale ile tedavi yapılmaktadır.
            </p>

            <h3>ARPACIK BELİRTİLERİ</h3>
            <ul>
                <li>Ağrı ve şişlik</li>
                <li>Gözde sulanma</li>
                <li>Gözde batma hissi</li>
                <li>Acı ve kaşıntı</li>
                <li>Göz çevresinde sarı iltihap</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Arpacık.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                ARPACIK TEDAVİSİ
            </h3>
            <p>
                Çoğu durumda, arpacık özel bir tedavi gerektirmez. Genellikle kendiliğinden kaybolur. Tekrarlamalar sık görülür.
                Hala devam eden bir durum söz konusu olduğunda, doktorunuz aşağıdaki gibi tedaviler önerebilir:
            </p>

            <h4>
                Antibiyotikler
            </h4>
            <p>
            Doktorunuz göz kapağınıza uygulanacak antibiyotikli göz damlaları veya topikal antibiyotikli kremleri reçete edebilir. Göz kapağınızın enfeksiyonu devam ederse veya göz kapağınızın ötesine geçerse, doktorunuz tablet şeklinde antibiyotiklerde önerebilir.</p>

            <h4>Cerrahi</h4>
            <p>
                Arpacık kendiliğinden temizlenmezse doktorunuz boşalması için küçük bir kesi yapabilir. Bu iyileşmeyi hızlandırmaya yardımcı olur, ağrı ve şişliği hafifletir.

                Arpacık düzelene kadar şunları deneyin;
            </p>
            <ul>
                <li>Arpacığa dokunmayın: Arpacığı açmaya ya da akıtmaya çalışmayın. Bunu yapmak, enfeksiyonun yayılmasına neden olabilir.</li>
                <li>Göz kapağını temizleyin: Etkilenen göz kapağını hafif sabun ve su ile hafifçe yıkayın.</li>
                <li>Gözünüzün üzerine sıcak bir bez yerleştirin: Ağrıyı gidermek için temiz bir bezi sıcak su ile ıslatın. Bezi sıkın ve kapalı gözünüzün üzerine koyun. Isısını kaybettiğinde havluyu tekrar ıslatın. 5 ila 10 dakika boyunca devam edin. Daha sonra hafifçe göz kapağına masaj yapın. Bunu günde iki ila üç defa tekrarlamak, biriken iltihabın kendiliğinden tahliye olmasını sağlar.</li>
                <li>Gözünüzü temiz tutun: Arpacık iyileşene kadar göz makyajı yapmayın.</li>
                <li>Kontaklar lensleri bir süre kullanmayın: Kontakt lensler, arpacıkla ile ilişkili bakterilerle kontamine olabilirler. Eğer temas olmuşsa lensleri bir daha kullanmamak üzere atın.</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Parkinson"><img src="~/img/Hastaliklarimg/Parkinson.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Parkinson</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Odem"><img src="~/img/Hastaliklarimg/Ödem.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Ödem</h4>
            </div>
        </div>
    </div>
</div>



