
@{
    ViewData["Title"] = "Artrit";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Artrit</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Vücut tarafından üretilen, eklemlerde meydana gelen iltihabik bir durumdur. Ayak bileği, diz, el bileği vb. eklemlerin iltihaplanması ile birlikte şişme, sertleşmeye yol açan hastalıklar ve eklemlerde ağrı gibi durumlara neden olabilir.
            </p>

            <h3>ARTRİT NEDENLERİ</h3>
            <p>Artrit yani eklem iltihabının pek çok tipi ve pek çok nedeni bulunmaktadır, bu nedenle, artriti tek bir nedene bağlamak mümkün değildir. Artritin nedeni artrit  tipine göre değişmektedir. Diğer yandan, en yaygın ve kabul gören nedenler şunlar olabilmektedir:</p>
            <ul>
                <li>Yaralanma; dejeneratif artrite yol açabilmektedir.</li>
                <li>Anormal bir metabolizma, gut ve psödoguta (yalancı gut) yol açabilmektedir.</li>
                <li>Osteoartrit gibi kalıtımsal bir faktör sonucu oluşabilmektedir.</li>
                <li>Lyme hastalığı gibi artrite yol açtığı bilinen enfeksiyonlar bulunmaktadır.</li>
                <li>Lupus ve romatoid artrit gibi bağışıklık sistemi disfonksiyonu sonucu artrit oluşabilmektedir.</li>
                <li>Çoğu artrit tipi bir dizi faktörün bir kombinasyonu olarak ortaya çıkmaktadır. Diğer yandan, bazen nedeni tam olarak belirtmek oldukça zordur ve ortaya çıkması önceden tahmin edilememektedir.</li>
            </ul>

            <h3>
                ARTRİT BELİRTİLERİ
            </h3>
            <p>
                Belirtiler artritin tipine göre çeşitlilik gösterebilmektedir. Artrit başlangıcı ve ilerleyişinin en ortak belirtisi eklemlerde meydana gelen şişme ve ağrıdır.
                Diğer artrit belirtileri ise şunlardır:
            </p>
            <ul>
                <li>Sabahın erken saatlerinde yaşanan eklem sertliği</li>
                <li>Yorgunluk</li>
                <li>Genel olarak iyi hissetmeme</li>
                <li>Kilo kaybı</li>
                <li>Hafif ateşler veya gece terlemesi</li>
                <li>Ciltte döküntüler</li>

            </ul>
            <p>Diğer yandan, bu belirtiler pek çok başka hastalığın belirtileri de olabilmektedir. Bu nedenle, ortaya çıkan belirtilerin artrit kaynaklı olduğundan emin olmakta fayda vardır</p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Artrit.png" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />

            <h3>ARTRİT  ÇEŞİTLERİ</h3>
            <p>
                Romatizmal artrit, Travmatik artrit, Osteoartrit (Eklem Artriti),  Bakteriyel artrit, Kimyasal veya Hormonal düzen bozukluğundan kaynaklanan artrit ve Gut artriti  olarak 6 grupta toplanır.
            </p>

            <h3>ROMATİZMAL  ARTRİT</h3>
            <p>Romatizmal artrit; Romatizmanın insan vücudunda en sevdiği yerler eklem bölgeleridir. “İltihaplı Romatizma” halk arasında bilinen ismidir aynı zamanda çok sık rastlanan sistemik bağ dokusu hastalığıdır. </p>

            <h3>TRAVMATİK ARTRİT</h3>
            <p>Travmatik artrit; Alınmış olan bir darbe sonucu eklemler zarar görür. Travma ortaya çıkması ile birlikte eklemlerde ağrı, şişme ve fonksiyonunu yitirmesiyle kendisini belli edebilir. Eklemin aldığı yara sonucu travmatik artrit ortaya çıkar. </p>

            <h3>OSTEOARTRİT</h3>
            <p>Osteoartrit (Eklem Artriti); eklemlerin zarar görmesi ile birlikte aşınma ve yıpranmadan dolayı kireçlenme meydana gelir. Kesin tedavisi yoktur bunun için ağrılar en aza indirgenmeye çalışılır. Ağrı kesicilerin yanı sıra fizik tedavi de önemlidir. Diz, kalça ve bileklerde yani vücut ağırlığını taşıyan bölgelerde olan  kireçlenmelerde ise kişinin  kilo vermesi zorunludur.</p>

            <h3>BAKTERİYEL  ARTRİT</h3>
            <p>Bakteriyel artrit; Gonokok, streptokok, stafilokok gibi eklem çevresinde oluşan bakterilerden dolayı meydana gelen bir enfeksiyondur. Enfeksiyonun ciddi olması ile birlikte cerrahi bir tedavi gerekebilir. Antibiyotik tedavisi durumun daha da kötüleşmemesi için kullanılabilir. Bazı olaylarda hastalıklı eklemin çevresinde bulunan zarlar enfeksiyon nedeni ile zarar görebilir ve bundan dolayı eklemin hareketsiz  kalması  mümkündür.</p>

            <h3>GUT ARTRİTİ</h3>
            <p>Gut artriti; vücuttaki ürik asidin atılmasında bir sorun varsa veya fazla üretiliyorsa vücutta birikmesiyle kandaki ölçüsü artar. Eklemlerde biriken ürik asit iltihaplanmaya yol açar.  Kesin tedavisi olmaması ile birlikte  ara ara ortaya çıkar. Yüksek tansiyon, şişmanlık ve şeker hastalığı gibi hastalıklar gutun oluşmasında ön plandadır. </p>

            <h3>ARTRİTİN TEDAVİSİ</h3>
            <p>Artrit, maalesef zamanla iyileşen bir hastalık değildir. Çoğu durumda ve çoğu artrit tipinde, belirtileri tedavi etmek ve yaşam kalitesini artırmak için ilaç ve cerrahi prosedürler kullanılmaktadır. </p>

            <h3>İLAÇLA ARTRİT TEDAVİSİ</h3>
            <p>
                Artrit belirtilerini hafifletmek için pek çok ilaç kullanılabilmektedir. Analjezikler, ağrıyı tedavi etmek için kullanılan ilaçlardır. Diğer yandan Non Steroid antiinflamatuar ilaçlar hem ağrı hem de iltihabı tedavi edebilmektedir.
                Hastalığı kontrol altına almak için antiromatizmal ilaçlar ve biyolojik yanıt modifikatörleri, romatoid artrit tedavisinde birlikte kullanılan iki ilaç sınıfıdır. Bu ilaçlar vücudun bağışıklık sistemini yavaşlatarak veya bloke ederek çalışmaktadır. Kortizon gibi kortikosteroid ilaçlar ise iltihaplanmayı azaltmak ve vücudun bağışıklık sistemini inhibe etmek için kullanılmaktadır.
            </p>

            <h3>AMELİYATLA ARTRİT TEDAVİSİ</h3>
            <p>
                Uygulanan tedavi yöntemlerinin olumlu sonuç vermemesi durumunda, doktor aşağıdaki gibi ameliyat seçeneklerini önerebilir:
                Eklem hasarını düzeltme: Bazı durumlarda, eklem ağrılarını azaltmak ve fonksiyonu geliştirmek için eklem yüzeyleri yumuşatılabilir veya yeniden hizalanması sağlanabilir. Bu tür işlemler genellikle eklem üzerindeki küçük kesikler yoluyla artroskopik olarak gerçekleştirilmektedir.
                Hasar gören eklemi değiştirme: Bu işlemde hasar görmüş eklem çıkarılmakta ve suni bir protezle değiştirilmektedir. Genellikle değiştirilen eklemler kalça ve dizler olmaktadır.
                Eklemlerin kaynaştırılması (füzyon): Bilek, ayak bileği ve parmaklarda ya da daha küçük derzlerde daha sık kullanılmaktadır. Eklemdeki iki kemiğin uçları kaldırılmakta ve daha sonra ise bu iki uç birbirine sabitlenmektedir.
            </p>

            <h3>EGZERSİZ</h3>
            <p>
                Egzersizler hareket aralığını artırmayı ve eklemleri destekleyen kasları şartlandırmayı hedeflemektedir. Bu tedavi yaklaşımı artritin ağrılı belirtilerini en aza indirmeye yardımcı olabilmektedir.
                Vücudu zorlamayan egzersizlerle (örneğin, yüzme) aktif kalma ve sağlıklı kilo verme, artrit hastalarında hareket aralığını ve hareketliliğini geliştirmeye yardımcı olmaktadır. Topikal sıcak ya da soğuk pedler veya cilt üzerinde ısıtma etkisi bulunan kremler, ağrıyı en aza indirmek için kullanılmaktadır.
            </p>

            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Nezle"><img src="~/img/Hastaliklarimg/Nezle.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Nezle</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Miyopluk"><img src="~/img/Hastaliklarimg/Miyopluk.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Miyopluk</h4>
            </div>
        </div>
    </div>
</div>





