
@{
    ViewData["Title"] = "AsiriAybasiKanamasi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Aşırı Aybaşı Kanaması</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Anormal derecede ağır veya uzamış adet kanaması aşırı adet kanaması olarak da adlandırılır. Bazen periyotlar arasında lekelenme gibi normal bir şekli takip etmeyen kanamayı tanımlamak için Menoraji kullanılır.

                Ortalama olarak, normal bir kadın adet döneminde (dört ila yedi gün süren) yaklaşık 40 ml kan kaybeder. Bununla birlikte, bazı kadınlar için kanama aşırı derecede ağır olabilir veya normalden daha uzun süre devam edebilir.

                Bir kadının ‘kronik’ ağır veya uzun süreli kanaması olabilir (altı aydan fazla) veya ‘akut’ (ani ve şiddetli) olabilir. Çoğu durumda, anormal adet kanamasının nedenleri bilinmemektedir.
            </p>

            <h3>AŞIRI ADET KANAMASI BELİRTİLERİ</h3>

            <p> Menoraji belirtileri ve semptomları aşağıdakileri içerebilir:</p>
            <ul>
                <li>Kansızlık yani anemi</li>
                <li>Yorgunluk</li>
                <li>Çarpıntı</li>
                <li>Nefes tıkanması</li>
                <li>Solukluk</li>
                <li>Baş dönmesi</li>
                <li>Bayılma</li>
            </ul>

            <h3>AŞIRI ADET KANAMASI NEDENLERİ</h3>

            <p>Aşırı adet kanamasına sebep olabilecek birçok etken bulunmaktadır. Sebeplerin bazıları şunlardır:</p>
            <ul>
                <li>Fibroidler ve polipler</li>
                <li>Adenomyozis</li>
                <li>Düzensiz yumurtlama: Düzenli olarak yumurtlamayan kadınlarda, endometrium (uterusun astarı) çok kalın olabilir. Bu durum ergenlik ve perimenopozda sık görülür. Ayrıca, polikistik over sendromu ve hipotiroidizm gibi belirli tıbbi durumları olan kadınlarda da görülebilir.</li>
                <li>Kanama bozuklukları: Kan uygun şekilde pıhtılaşmadığında, ağır kanamaya neden olabilir.</li>
                <li>İlaçlar: Kan inceltici maddeler ve aspirin, adet kanamalarına neden olabilir. Bakır intrauterin cihaz (RİA), özellikle ilk kullanım yılında, adet kanamasının ağırlaşmasına neden olabilir.</li>
                <li>Kanser: Aşırı adet kanaması endometrial kanserin erken bir belirtisi olabilir. Endometrial kanser vakalarının çoğu, kadınlarda menopoz dönemini geçmiş 60’lı yaşların ortalarında teşhis edilir. Genellikle tedavinin en etkili olduğu erken bir aşamada teşhis edilir.</li>
                <li>Diğer nedenler: Endometriozis adet kanamasında aşır kanamalara neden olabilir. Diğer nedenler arasında ektopik gebelik ve düşük gibi gebelikle ilgili olanlar yer almaktadır. Pelvik enflamatuar hastalık aynı zamanda ağır adet kanamasına neden olabilir. Bazen, neden bilinmemektedir.</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Aşırı Aybaşı Kanaması.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>AŞIRI ADET KANAMASI NASIL TEŞHİS EDİLİR?</h3>

            <p>Anormal uterin kanamanın potansiyel nedenlerinin tanısı ve tanımlanması aşağıdakileri içeren birkaç test içerir:</p>
            <ul>
                <li>Genel kontrol</li>
                <li>Tıbbi geçmiş</li>
                <li>Adet tarihi</li>
                <li>Fiziksel muayene</li>
                <li>Servikal tarama testi</li>
                <li>Kan testleri</li>
                <li>Vajinal ultrason</li>
                <li>Endometrial biyopsi.</li>
            </ul>

            <h3>AŞIRI ADET KANAMASI TEDAVİSİ</h3>

            <p>Tedavi aşırı adet kanamasının nedenine bağlı olarak gerçekleştirilir. Tedavi seçenekleri aşağıdakileri içerebilir:</p>
            <ul>
                <li>İlaç: Prostaglandin inhibitörleri, hormon replasman tedavisi veya antibiyotikler gibi</li>
                <li>Dilatasyon ve küretaj (D&C): Rahimden doku almak için uygulanan küçük (kısa) bir cerrahi işlemdir.</li>
                <li>Oral kontraseptifler: Doğum kontrolünün yanı sıra, oral kontraseptifler adet döngüsünü düzenlemeye yardımcı olabilir ve aşırı veya uzun süreli adet kanaması ataklarını azaltır.</li>
                <li>Oral progesteron: Progesteron hormonu, hormon dengesizliğinin düzeltilmesine ve menorajinin azaltılmasına yardımcı olabilir.</li>
                <li>Cerrahi: Tümörleri, polipleri veya fibroidleri çıkarmak veya ektopik hamileliği tedavi etmek için</li>
                <li>Altta yatan hastalıkların tedavisi: Hipotiroidizm veya kanama bozukluğu gibi</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Migren"><img src="~/img/Hastaliklarimg/Migren.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Migren</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Losemi"><img src="~/img/Hastaliklarimg/Lösemi.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Lösemi</h4>
            </div>
        </div>
    </div>
</div>

