
@{
    ViewData["Title"] = "Astigmat";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Astigmat</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Astigmat, miyoptan sonra en sık görülen görme kusurudur. Genellikle göz küresinin ön kısmında bulunan şeffaf kısım olan korneadaki bir deformasyon veya düzensizlikten kaynaklanmaktadır. Astigmatlı bir gözün korneası mükemmel yuvarlak olmak yerine eğrilik kusuruna sahiptir. Gözünüzün ön yüzeyinin (kornea) veya gözünüzün içindeki lensin uyumsuz eğrilere sahip olduğu durumlarda ortaya çıkar. Yuvarlak bir top gibi olmak yerine, yüzey yumurta şeklindedir. Bu, tüm mesafelerde bulanık görüşe neden olur. Çoğu insanın bir dereceye kadar astigmatizması vardır. Hafif astigmatizm genellikle görüşü etkilemez veya tedavi gerektirmez. Astigmatizma sıklıkla miyop ve hipermetropi gibi diğer görme problemlerinde ortaya çıkar.
            </p>

            <h3> ASTİGMAT ÇEŞİTLERİ</h3>
            <ul>
                <li>Düzenli (Regüler) Astigmat: En sık görülen astigmat türüdür. Kornea veya lensin yapısından dolayı kaynaklanır. Gözlük veya lens kullanımı ile net görüş sağlanır.</li>
                <li>Düzensiz (İrregüler) Astigmat: Korneadaki bir yaralanmanın sonucunda veya kristal lensin yapısındaki bir bozulma nedeniyle meydana gelen astigmattır. Düzensiz astigmatta gözün iki odak noktası 90 derecelik bir eğimde değildir. Bu tip astigmatlarda gözlük tedavisi yetersiz gelmektedir. Bu nedenle net görüşün sağlanması adına lens kullanımı önerilmektedir. Düzensiz astigmat tedavisinde yumuşak özellikte sert kontakt lens kullanılmaktadır. Lens ve göz arasında göz yaşı tabakası oluşturarak kornea üzerindeki düzensizlikleri dengeler. Nadiren görülen bir astigmat türüdür.</li>
                <li>Astigmatismus myopicus compositus : Her iki kırılma yönü miyoptur.</li>
                <li>Astigmatismus myopicus simplexs: Bir kırılma yönü miyop iken diğer kırılma yönü numarasızdır.</li>
                <li>Astigmatismus mixtus: Bir kırılma noktası miyop iken diğeri hipermetroptur.</li>
                <li>Astigmatismus mixtus symmetricus: Miyop ve hipermetrop olmak üzere iki odak noktasına sahip olan bu astigmat türünde miyop ve hipermetrobun dereceleri biribirine eşittir.</li>
                <li>Astigmatismus hyperopicus simplex: Bir kırılma değeri hipermetrop iken diğer kırılma yönü numarasızdır.</li>
                <li>Astigmatismus hyperopicus compositus: Her iki kırılma yönü de hipermetrop olan astigmat türüdür.</li>
            </ul>

            <h3>
                ASTİGMATIN NEDENLERİ </h3>

                <p>Astigmatizmanın spesifik nedeni bilinmemektedir. Bu kalıtsal olabilir ve genellikle doğumdan gelir. Zamanla azalabilir veya artabilir.</p>

                <h3>ASTİGMAT BELİRTİLERİ</h3>

                <p>Astigmatın belirtileri ve semptomları şunları içerebilir:</p>
                <ul>
                    <li>Bulanık veya bozuk görme</li>
                    <li>Gözlerde rahatsızlık ve ağrı</li>
                    <li>Baş ağrısı</li>
                    <li>Gece görmede güçlük</li>
                    <li>Şaşılık</li>
                </ul>
                <p>
                    Bu belirtilerden herhangi biriyle karşılaşırsanız, göz doktoruna görünmeniz gereklidir. Gözlük veya kontakt lens kullanıyorsanız ve hala bu sorunlar varsa, yeni bir reçete gerekebilir.
                </p>
                <div class="col-lg-10">
                    <img src="~/img/Hastaliklarimg/Astigmat.jpg" class="img-fluid" alt="..."
                         style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
                </div> <br /> <br />
                <h3>ASTİGMAT TEDAVİSİ</h3>

                <p>Astigmat gözlük, kontakt lens veya ameliyatla düzeltilebilir. Bireysel yaşam tarzları astigmatizmin tedavi şeklini etkiler.</p>

                <h4> Gözlükler</h4>

                <p>Astigmatı düzeltmenin en basit ve en güvenli yoludur. Göz doktorunuz mümkün olduğunca net bir şekilde görmenize yardımcı olacak uygun lensleri reçete edecektir.</p>

                <h4>Kontakt Lensler</h4>

                <p>Göze giren ışık ışınları için ilk kırılma yüzeyi haline gelerek daha hassas bir kırılma veya odaklanma sağlar. Çoğu durumda, kontakt lensler daha net görüş, daha geniş bir görüş alanı ve daha fazla konfor sağlar. Uygun şekilde takılır ve kullanılırsa güvenli ve etkili bir seçenektir. Ancak, kontakt lensler herkes için uygun değildir. Bunu göz doktorunuzla konuşarak karar verin.</p>

                <h4>Refraksiyon Cerrahisi</h4>

                <p>Kornea şeklini kalıcı olarak değiştirmeyi amaçlamaktadır. Göz şeklindeki bu değişiklik, iyileştirilmiş görüş için ışık ışınlarının retina üzerine tam olarak odaklanmasını sağlayarak gözün odaklanma gücünün geri kazanılmasını sağlar. Göz doktorunuz, ameliyatın sizin için bir seçenek olup olmadığına karar vermenizde yardımcı olabilir.</p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Lipom"><img src="~/img/Hastaliklarimg/Lipom.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Lipom</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/KusGribi"><img src="~/img/Hastaliklarimg/Ödem.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kuş Gribi</h4>
            </div>
        </div>
    </div>
</div>

