@{
    ViewData["Title"] = "Astim";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Astım</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Astımı anlamak için, öncelikle solunum yollarının nasıl çalıştığını bilmek gerekir. Hava yolları, akciğerlerinize giren ve çıkan hava tüpleridir. Astımı olan kişilerde hava yolları iltihaplanır. Hava yolları çok hassas olduğundan enflamasyon hava yollarını şişirir. Solunum yolları belirli maddelere kuvvetle tepki gösterir.

                Hava yolları tepki verdiği zaman, etrafındaki kaslar sıkılır. Bu, hava yollarını daraltarak, akciğerlere daha az hava gitmesine neden olur. Hava yolları şiştiğinde kötüleşebilir, hava yollarını daha da daraltabilir. Daralan hava yollarındaki hücreler normalden daha fazla mukus yapabilir. Mukus da, hava yollarını daraltabilecek yapışkan, kalın bir sıvıdır.
                <br /> <br />
                Bu zincir reaksiyon astım semptomları ile sonuçlanabilir. Her hava yolu iltihaplandığında belirtiler ortaya çıkabilir. Bazen astım semptomları hafiftir ve kendiliğinden veya uygun tedavi sonrasında azalır ya da geçer. Diğer zamanlarda belirtiler daha da kötüleşmeye devam eder.

                Semptomlar yoğunlaşırsa ve / veya daha fazla semptom ortaya çıkarsa, astım atağı geçirirsiniz. Astım ataklarına ayrıca alevlenme de denir.

                Astım ilk olarak fark edildiğinde semptomları tedavi etmek önemlidir. Bu, semptomların kötüleşmesini ve ciddi bir astım atağına neden olmasını engelleyecektir. Ciddi astım atakları acil bakım gerektirebilir ve ölümcül olabilir.
            </p>

            <h3>ASTIMIN NEDENLERİ </h3>
            <p>
                Astımın kesin nedeni bilinmemektedir. Araştırmacılar bazı genetik ve çevresel faktörlerin çoğu zaman yaşamın erken dönemlerinde astıma etki ettiğini düşünüyor. Bu faktörler şunlardır:
            </p>
            <ul>
                <li>Atopi olarak adlandırılan alerji gelişimine eğilimli olma</li>
                <li>Astımı olan ebeveynler</li>
                <li>Çocukluk döneminde bazı solunum yolu enfeksiyonları</li>
                <li>Bağışıklık sistemi geliştiğinde bazı hava kaynaklı alerjenlere ve viral enfeksiyonlara bebeklik döneminde veya erken çocukluk döneminde maruz kalma</li>
                <li>
                    Ailenizde astım veya atopi varsa, tahriş edici maddelere maruz kalma (örneğin tütün dumanı) solunum yollarınız havada bulunan partiküllere daha fazla tepki verebilir.
                </li>
            </ul>
            <p>“Hijyen Hipotezi” Bu teoriyi ortaya atan araştırmacılar, astıma neden olan şey için “hijyen hipotezi”ni öne sürüyorlar. Batılı yaşam tarzının; hijyen ve halk sağlığına verdiği önem ile; yaşam koşullarında ve erken çocukluk dönemindeki enfeksiyonlarda genel bir azalmanın olduğunu düşünüyorlar. Birçok çocuk artık geçmişte olduğu gibi aynı tür çevresel etki ve enfeksiyonlara maruz kalmamaktadır. Bu, küçük çocukların bağışıklık sistemlerinin çok erken çocukluk döneminde nasıl geliştiğini etkiler, atopi ve astım risklerini artırabilir.</p>
            <h3>ASTIMIN BELİRTİLERİ NELERDİR?</h3>
            <p>
                Astımın ortak belirtileri ve semptomları şunlardır:
            </p>
            <ul>
                <li> Öksürme: Geceleri ya da sabahın erken saatlerinde daha da kötüleşmekte ve uyumakta zorlanmaktadır.</li>

                <li>Hırıltı: Nefes aldığınızda oluşan ıslık ya da gıcırtılı bir sestir.</li>

                <li>Göğüste sıkışma: Bu, göğsünüzde bir şeyin sıkıldığını ya da oturduğunu hissettirebilir.</li>

                <li>Nefes darlığı: Astımı olan bazı insanlar, nefeslerini yakalayamadıklarını veya nefes nefese hissettiklerini söylerler.</li>
            </ul>
            <p>
                Astım hastası olanların hepsi bu semptomlara sahip değildir. Aynı şekilde, bu semptomlara sahip olmak her zaman astımınız olduğu anlamına gelmez. Astımı kesin olarak teşhis etmenin en iyi yolu, bir akciğer fonksiyon testi, bir tıbbi öykü (semptomların tipi ve sıklığı dahil) ve bir fiziksel muayenedir

                Sahip olduğunuz astım semptomlarının türleri, ne sıklıkla meydana geldikleri ve ne kadar şiddetli oldukları zamana bağlı olarak değişebilir.

                Şiddetli semptomlar ölümcül olabilir.

                Uygun tedavi ile astımı olan çoğu insanın, gün içinde ya da gece boyunca semptomları daha az olabilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Astım.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>ASTIM TEDAVİSİ</h3>

            <p>
                Astım, tedavisi olmayan uzun süreli bir hastalıktır. Astım tedavisinin amacı hastalığı kontrol etmektir. İyi bir astım kontrolü:
            </p>
            <ul>
                <li>Öksürük ve nefes darlığı gibi kronik ve zahmetli semptomların önlenmesi</li>
                <li>Rahatlatıcı ilaçlara olan ihtiyacın azaltılması</li>
                <li>Akciğer fonksiyonunu iyi korumak</li>
                <li>Normal aktivite seviyesinin korunması ve gece uykusu</li>
                <li>Acil servis ziyareti veya hastane yatışı ile sonuçlanabilecek astım krizlerini önlemekle olabilmektedir.</li>
            </ul>
            <p>
                Astımınızı veya çocuğunuzun astımını kontrol edebilmek için doktorunuzla işbirliği yapın. Astımı kontrol etmek için aktif bir rol almak şunları içerir:
            </p>
            <ul>
                <li>  Astımı kontrol altına alabilmek için astımı etkileyebilecek diğer rahatsızlıkların tedavisinde doktorunuzla birlikte çalışmak.</li>

                <li> Astımınızı kötüleştiren şeylerden kaçınmak (astım tetikleyicileri).</li>

               <li> Fiziksel aktivite, sağlıklı bir yaşam tarzının önemli bir parçasıdır. Aktif kalmanıza yardımcı olabilecek ilaçlar hakkında doktorunuzla konuşmak.</li>

                <li> Bir astım eylem planı oluşturmak ve takip etmek için doktorunuzla birlikte çalışmak.</li>
            </ul>
            <p>
                Astım eylem planı, ilaçlarınızı doğru bir şekilde almanıza, astım tetikleyicilerinden (fiziksel aktivite hariç) kaçınmanıza, astım kontrol düzeyinizi izlemenize, kötüleşen semptomlara yanıt vermenize ve gerektiğinde acil yardım almanıza yardımcı olur.
            </p>
            <br>
            <p>
                Astım, iki tür ilaçla tedavi edilir: Uzun süreli kontrol ve çabuk rahatlama ilaçları. Uzun süreli kontrol ilaçları, hava yolu inflamasyonunu azaltmaya ve astım semptomlarını önlemeye yardımcı olur. Çabuk rahatlama veya “kurtarma” ilaçları ise, alevlenebilecek astım semptomlarını rahatlatır.

                İlk tedaviniz astımınızın şiddetine bağlı olacaktır. Takip, astım tedavisi, astım eylem planınızın semptomlarınızı kontrol altına alma ve astım ataklarını önleme konusunda ne kadar iyi olduğuna bağlı olacaktır.
                <br /> <br />

                Astım kontrol düzeyiniz zamanla evinizde, okulda veya iş ortamlarınızdaki değişikliklerle değişebilir. Bu değişiklikler astımınızı kötüleyebilecek faktörlere ne sıklıkla maruz kaldığınızı da değiştirebilir.

                Astımınız kontrol altına alınamazsa doktorunuzun ilacınızı arttırması gerekebilir. Astımınız birkaç ay boyunca iyi kontrol ediliyorsa, doktorunuz ilacınızı azaltabilir. İlacınızdaki bu değişiklikler, gerekli en az miktarda ilaç ile mümkün olan en iyi kontrolü sağlamanıza yardımcı olacaktır.
            </p>


            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Kuduz"><img src="~/img/Hastaliklarimg/Kuduz.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kuduz</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Kolera"><img src="~/img/Hastaliklarimg/Kolera.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kolera</h4>
            </div>
        </div>
    </div>
</div>

