
@{
    ViewData["Title"] = "Ates";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Ateş</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Ateş, iç vücut sıcaklığının normalin üstünde kabul edilen seviyelere yükselmesidir. Yüksek vücut ısısı veya ateş, bağışıklık sistemimizin bir enfeksiyonla savaşmaya çalıştığı yollardan biridir. Genellikle vücut ısısındaki artış, bireyin bir enfeksiyonu çözmesine yardımcı olur. Bakteriyel veya viral enfeksiyonlar yaygın nedenlerdir.

                Yetişkinler için yüksek ateş değerleri:
            </p>
            <ul>
                <li>Rektal ya da kulaktan ölçüm: 38 C ve üzeri</li>
                <li>Ağızdan ölçüm: 37,8 C ve üzeri</li>
                <li>Koltuk altından ölçüm: 37,2 C ve üzeri</li>
            </ul>
            <p>
                Çocuklar için yüksek ateş değerleri:
            </p>
            <ul>
                <li>Rektal ya da kulaktan ölçüm: 38,1 C ve üzeri</li>
                <li>Ağızdan ölçüm: 37,6 C ve üzeri</li>
                <li>Koltuk altından ölçüm: 37,4 C ve üzeri</li>
            </ul>
            <h3>
                ATEŞ NEDEN ÇIKAR?
            </h3>
            <p>
                Vücutta bir enfeksiyon ya da bir hastalık olduğu zaman bağışıklık sistemimiz tepki gösterir ve beynimizin hipotalamus adlı bölgesi vücut ısısını yükselterek hastalığa neden olan organizmaları öldürmeye çalışır. Ateş vücudun hastalıktan kurtulmasına yardımcı olur. Ancak bazı durumlarda normalden fazla yükselir ve ciddi sorunlara yol açabilir.

                Ateşin yükselmesine neden olan durumlardan bazıları şunlardır:
            </p>
            <ul>
                <li>Virüsler</li>
                <li>Bakteriyel enfeksiyonlar</li>
                <li>Güneş çarpması</li>
                <li>Romatoid artrit gibi bazı iltihaplanmalar</li>
                <li>Kanser</li>
                <li>Antibiyotikler ya da bazı ilaçlar</li>
                <li>Difteri, tetanos gibi bazı aşılar</li>
                <li>Lupus</li>
                <li>İnflamatuar bağırsak hastalığı</li>
                <li>Kan pıhtısı</li>
                <li>Uyuşturucu kullanımı</li>
                <li>Çocuklarda diş çıkarma</li>
                <li>Gıda zehirlenmesi</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Ateş.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                ATEŞ BELİRTİLERİ?
            </h3>
            <ul>
                <li>Titreme, ürperme, kasılma</li>
                <li>Kaslarda ve eklemlerde ağrı</li>
                <li>Baş ağrısı</li>
                <li>Aşırı terleme ya da aralıklarla soğuk soğuk terleme</li>
                <li>Kalp hızında artış, çarpıntı</li>
                <li>Yüzde kızarıklık</li>
                <li>Baygınlık hissi</li>
                <li>Baş dönmesi</li>
                <li>Güçsüzlük</li>
                <li>İştah kaybı</li>
                <li>Çocuklarda ve bebeklerde sinirlilik huysuzluk hali</li>
                <li>Çocuklarda kulak ağrısı, kusma, ishal</li>
                <li>Çok yüksek ateş durumunda halüsinasyon, kafa karışıklığı</li>
            </ul>
            <p>
                Bu belirtiler acil olarak tıbbi yardım almanızı gerektirir.
            </p>
            <h3>
                YÜKSEK ATEŞ NASIL DÜŞÜRÜLÜR?
            </h3>
            <p>
                Hafif yüksek ateş için doktorunuz ilaç önermeyebilir. Ateşin hafif yükselmesi mikropları öldürerek hastalığın iyileşmesini de sağlayacaktır. İşte orta ve yüksek ateş için tedavi yöntemleri:
            </p>

            <h4>
                İlaç tedavisi
            </h4>
            <ul>
                <li>Reçetesiz ilaçlar: Yüksek ve orta şiddetli ateş durumunda doktorunuz Tylenol, Advil, Aspirin gibi ateş düşürücü reçetesiz satılan ilaçları önerebilir. Bu ilaçlar kullanma talimatlarına ve doktorun tavsiyesine uygun olarak kullanılmalıdır ve doz aşımından kaçınılmalıdır. Bu ilaçlarda doz aşımı ve uzun süreli kullanım karaciğer ve böbrek hasarına sebep olabilir, hatta hayati tehlikeye yol açabilir. Çocuklara aspirin verilmemelidir.</li>
                <li>Reçeteli ilaçlar: Ateşe yol açan alttaki sebeplere bağlı olarak doktorunuz bazı ilaçlar reçete edebilir. Örneğin eğer ateşe yol açan bakteriyel enfeksiyon ise doktorunuz antibiyotik reçete edecektir. Ateşin sebebi virüs ise antibiyotik verilmez zira virüslerin tedavisi yoktur. Ancak bu durumlarda ateş düşürmeye yarayan semptom giderici ilaçlar reçete edilebilir ve hastaya bol sıvı tüketip istirahat etmesi önerilir.</li>
            </ul>
            <h4>
                Çocuklarda ateş tedavisi
            </h4>
            <p>
                Özellikle 28 günlükten küçük bebeklerde hastaneye yatırılma ve tahlillerle yatarak tedavi gerekebilir. Bu kadar küçük bebeklerde ateş ciddi bir enfeksiyondan kaynaklı olabilir ve damar yolu ile ilaç verilmesi gerekebilir. Bebeklerde ateş durumunda hastaneye başvurulmalıdır.
            </p>
            <h4>
                Evde tedavi yöntemleri
            </h4>
            <p>
                Ateş vücutta sıvı kaybına ve dehidrasyona yol açar, bu yüzden bolca su, meyve suyu ve çorba tüketilmelidir. 1 yaşından küçük çocuklar için dehidrasyon durumunda kullanmak için elektrolit ve sudan oluşan solüsyonlar kullanılabilir. Hasta bolca istirahat etmelidir, yoğun fiziksel aktivite ateşi daha da artırabilir bu da riskli durumlara yol açar. Ayrıca hastayı serin tutmak gerekir. Bu nedenli kalın kıyafetler giyilmemeli, oda ısısı fazla yüksek olmamalı ve yalnızca tek bir yorgan ya da battaniye kullanılmalıdır.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Kizamik"><img src="~/img/Hastaliklarimg/Kızamık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kızamık</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Katarakt"><img src="~/img/Hastaliklarimg/Katarakt.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Katarakt</h4>
            </div>
        </div>
    </div>
</div>

