
@{
    ViewData["Title"] = "BademcikIltihabi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Bademcik İltihabı</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Tonsil olarak da adlandırılan bademcikler, dilin arka kısmında boğazın her iki yanında bulunan ve vücuda giren zararlı mikropları yakalayarak, vücudun mikroplarla savaşmasına yardımcı olan hücreleri üreten önemli organlardır. Vücuda giren bazı mikroplar, tonsillerin bu etkisine rağmen yok edilemez ve tonsillerde çoğalarak tonsillerin iltihaplanmasına neden olurlar. Tonsillerde büyümeye, kızarmaya, bazen tonsiller üzerinde iltihap birikmesine neden olurlar. Bu duruma bademcik iltihabı (tonsilit) adı verilir.
            </p>
            <h3>
                <div class="col-lg-10">
                    <img src="~/img/Hastaliklarimg/Bademcik İltihabı.png" class="img-fluid" alt="..."
                         style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
                </div> <br /> <br />
                BADEMCİK İLTİHABI BELİRTİLERİ
            </h3>
            <p>
                Bademcik iltihabının başlıca belirtileri iltihaplanma ve bademciklerin şişmesi, bazen hava yollarını tıkayabilecek kadar şiddetlidir. Diğer belirtiler şunlardır:
            </p>
            <ul>
                <li>Boğaz ağrısı veya hassasiyet</li>
                <li>Bademciklerde kızarıklık</li>
                <li>Bademcikler üzerinde beyaz veya sarı bir kaplama veya lekeler</li>
                <li>Boğazda ağrılı kabarcıklar veya ülserler</li>
                <li>Baş ağrısı</li>
                <li>İştah kaybı</li>
                <li>Kulak ağrısı</li>
                <li>Ağızdan yutma veya nefes almada zorluk</li>
                <li>Boyun veya çene bölgesinde şişmiş lenf bezleri</li>
                <li>Ateş, titreme</li>
                <li>Ağız kokusu</li>
                <li>Ses değişiklikleri</li>
            </ul>
            <p>
                Çocuklarda ayrıca aşağıdaki belirtiler görülebilir:
            </p>
            <ul>
                <li>Mide bulantısı</li>
                <li>Kusma</li>
                <li>Karın ağrısı</li>
            </ul>
            <h3>
                BADEMCİK İLTİHABI TEDAVİSİ
            </h3>
            <p>
                Bademcik iltihabının tedavisi kısmen nedenine bağlı olacaktır. Sebebini belirlemek için doktorunuz hızlı bir boğaz testi veya boğaz çubuğu kültürü yapabilir. Her iki test de boğazın arkasından bademciklere yakın bir yerden pamuklu çubukla örnekler almayı içerir. Laboratuar testi bakteriyel bir enfeksiyonu tespit edebilir. Testte viral bir enfeksiyon görülmeyebilir, ancak bakteri testinin negatif olduğu varsayılabilir. Bazı durumlarda, fiziksel bulgular olası bir bakteri enfeksiyonu teşhisi için yeterli olabilir. Bu durumlarda, hızlı boğaz testi yapılmadan antibiyotik verilebilir

                Testler bakterileri ortaya çıkarırsa, tedavi enfeksiyonu iyileştirmek için antibiyotiklerden oluşacaktır. Antibiyotikler tek bir doz olarak verilebilir veya 10 gün boyunca ağızdan alınabilir. Her ne kadar semptomlar antibiyotiğe başladıktan sonraki iki veya üç gün içinde iyileşirse de, bakterilerin tamamen temizlenmesini sağlamak için doktorunuzun önerdiği tüm ilaçları almanız önemlidir . Bazı insanların enfeksiyondan kurtulabilmesi için ikinci bir antibiyotik kürü alması gerekir.
            </p>
            <p>
                Bademcik iltihabı bir virüsten kaynaklanıyorsa, antibiyotikler işe yaramaz ve vücudunuz enfeksiyonla kendiliğinden savaşır. Bu arada, iltihaplanma nedeninden bağımsız olarak kendinizi daha iyi hissetmek için aşağıdakileri yapabilirsiniz:
            </p>
            <ul>
                <li>Yeterince dinlenin</li>
                <li>Boğaz ağrısını hafifletmek için ılık veya çok soğuk sıvılar için</li>
                <li>Dondurma veya elma püresi gibi yumuşak yiyecekler yiyin</li>
                <li>Odanızda nemlendirici kullanın</li>
                <li>Ilık tuzlu su ile gargara</li>
                <li>Benzokain veya diğer anestezikler içeren pastiller kullanın</li>
                <li>Asetaminofen veya ibuprofen gibi reçetesiz ağrı kesiciler alın.</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/KaracigerYaglanmasi"><img src="~/img/Hastaliklarimg/Karaciğer Yağlanması.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Karaciğer Yağlanması</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Kansizlik"><img src="~/img/Hastaliklarimg/Kansızlık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kansızlık</h4>
            </div>
        </div>
    </div>
</div>

