
@{
    ViewData["Title"] = "BagirsakIltihabi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Bağırsak İltihabı</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Bağırsak iltihabı, bağırsağın içinde bulunan ince zarın iltihaplanması sonucu bağırsağın etkin olarak görevlerini yerine getirememesine neden olan bir hastalıktır. Belirtileri farkedilebilir olsa da, tedavi edilmediğinde ciddi sonuçlara neden olmaktadır.

                Çoğunlukla basit gıda zehirlenmelerine bağlı olarak meydana gelen bağırsak iltihabının farklı nedenleri de olabilir.

                Eğer sebepsiz yere karnınızda aşırı ağrılı sancılar hissediyorsanız ya da bağırsak düğümlenmesi gibi bir durumla karşılaşırsanız en kısa zamanda bir hastaneye gitmeniz gerekmektedir.

                En yaygın olanları ülseratif kolit ve Crohn hastalığıdır.
            </p>
            <ul>
                <li>Ülseratif kolit. Bu durum, kalın bağırsağınızın (kolon) ve rektumun iç kısmında uzun süreli iltihap ve yaralara (ülser) neden olur.</li>
                <li>Crohn hastalığı. Bu tip bir IBD, sindirim sistemindeki astarın iltihaplanması ile karakterize olup, sıklıkla etkilenen dokulara yayılır.</li>
            </ul>
            <h3>
                BAĞIRSAK İLTİHABININ NEDENLERİ
            </h3>
            <p>
                Kesin olarak oluşum nedeni belirlenemeyen bir sağlık sorunu olmakla beraber bazı bozuk gıdaların bu hastalığı tetiklediği sanılıyor. Bazı genetik faktörlerin, çevresel faktörlerin ve psikolojik faktörlerinde etkili olduğunu gösteren araştırmalar bulunmaktadır. Bozulmuş bayat et, bayat yumurta ya da bozuk etlerden yapılmış konserveler ve sucuklar, bayatlamış pasta ve kurabiye gibi besinlerin tüketilmesi bağırsak iltihabına yol açabilen nedenlerdir. Bozuk gıdaların içerisinde yer alan mikroplar bağırsaklara yerleştikten sonra bağırsak iltihabı oluşumuna neden olabilmektedirler.
            </p>
            <h3>
                <div class="col-lg-10">
                    <img src="~/img/Hastaliklarimg/Bağırsak İltihabı.jpg" class="img-fluid" alt="..."
                         style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
                </div> <br /> <br />
                BAĞIRSAK İLTİHABININ BELİRTİLERİ
            </h3>
            <ul>
                <li>Karın bölgesinde kramp şeklinde ağrı</li>
                <li>Dışkıda kan görülmesi yada kanlı ishal olma durumu</li>
                <li>Dışkıda mukus görülmesi (mukus bağırsak iltihabı nedeniyle oluşur ve emilim problemleri yaşanmasına neden olur)</li>
                <li>Kilo kaybı görülebilir. Çünkü bağırsaklarda oluşan emilim sorunları alınan besinlerdeki yararlı maddelerin emilmesini ve kana karışmasını engellemektedir</li>
                <li>Bağırsak iltihabı bağırsaklarda kanamaya B12 vitaminin emilimine engel olmakta bu nedenle kansızlık görülebilir</li>
                <li>İltihaplanma derecesinin fazla olması ateş, terleme, eklem ağrıları, bulantı ve kusma görülmesine neden olabilmektedir.</li>
            </ul>
            <h3>
                BAĞIRSAK İLTİHABININ TEDAVİSİ
            </h3>
            <p>
                Bağırsak iltihabının oluşumuna sebep olan etkenler farklı olduğundan tedavi yöntemleri de farklılıklar göstermektedir. Uygulanan ilaç tedavisinde ilk amaç iltihaba sebep olan etkenleri baskılamaktır. Kullanılan ilaçlar da yan etkisi en az olan ilaçlardır. Hastalığın çabuk iyileşmesini sağlayan ilaçlar bağışıklık sistemi alıştırılarak artırılır. Çünkü bağırsak iltihabını ilaçlar ile tedavi etmek basamaklar şeklinde yapılmaktadır. Bu aşamalar şu şekildedir:
            </p>
           
            <p>
                Bol miktarda su içmek; Bağırsak iltihabı bulunanların su ve sıvı takviyesi almaları gerekir. Öncelikli olarak şunların yapılması gerekmektedir;
            </p>
            <ul>
                <li>İlk müdahalelerden sonra yemek yenmemeli</li>
                <li>Mineralli su, maden suyu ve bitki çayları tüketilmeli</li>
                <li>Tuvalet geldiğinde bekletilmemeli.</li>
            </ul>
            <p>
                İlaç tedavisi; Bağırsak iltihabı olan vakaların bazısında ishal önleyici ilaçlar kullanılabilmektedir. Fakat kullanılan ilaçlar, her türlü bağırsak iltihabı için uygun değildir. Çünkü mikropların bağırsaklardan atılmasıyla ilgili sürecin gecikmesine yol açabilmektedirler.
            </p>
            <ul>
                <li>Ciddi boyutta su kaybı yaşayan hastalara damar yolu ile sıvı takviyesi verilebilir.</li>
                <li>Su kaybıyla oluşan mineral kayıplarının geri kazanılması amacıyla elektrolit sıvılar kullanılabilir.</li>
                <li>İdrar söktürücü ilaç ishal yapıyorsa bırakılmalıdır. Bırakmadan evvel doktora danışılması gerekir.</li>
                <li>Bakteri nedeniyle oluşan bağırsak iltihaplarında antibiyotik ilaç kullanılabilir.</li>
                <li>Crohn hastalığında ise kortikosteroit ilaçlar alınır.</li>
                <li>Ülseratif kolit durumunda aminosalisilat ilaçların kullanılması gerekebilir.</li>
                <li>Metotreksat ve azatiyoprin gibi bağışıklık yatıştırıcı ilaçlar kullanılabilir.</li>
                <li>Kan nakli gerekebileceği gibi, demir takviyeleri de alınabilir.</li>
            </ul>
            <p>
                Yaşam tarzı ile ilgili öneriler; Bağırsak iltihabı tedavisinin sürecinin kısaltılabilmesi ve tekrar olmasının önüne geçilebilmesi için, şu tedbirlerin dikkate alınması önem taşımaktadır;
            </p>
            <ul>
                <li>Ellerin tuvalet sonrası, yemek hazırlamadan önce ve yemeğe oturulmadan önce mutlaka yıkanması gerekir.</li>
                <li>Kuyu ve dere gibi durgun olan, aynı zamanda temizliğinden emin olamadığınız suları tüketmeden evvel kesinlikle kaynatmalısınız.</li>
                <li>Yemek yediğiniz kaşık, bıçak ve çatal gibi eşyaların temiz olduğundan emin olun. Gıdalara gerekmediği sürece çıplak ellerle dokunmayın.</li>
                <li>Yemeklerinizi, özellikle et ve tavuk türü yemekleri iyi pişirin.</li>
                <li>Daha sonra tüketeceğiniz besinleri derin dondurucuda bekletmelisiniz.</li>
            </ul>
            <p>
                Diğer tedavi yöntemleri ve beslenme önerileri; Crohn hastalığı ve ülseratif kolit gibi kronik bağırsak iltihabı hastalıklarında ve kangren şeklindeki durumlarda bağırsakların bir kısmının alınması gibi uygulamalar yapılabilmektedir.
            </p>
            <ul>
                <li>Hastalığı takip eden doktor aksini söylemedikçe lifli gıdalar tüketilmelidir.</li>
                <li>Özellikle işlenmiş ve bol yağlı gıdaların daha az tüketilmesi gerekmektedir.</li>
                <li>Kronik bağırsak iltihabı olanların, riayet etmeleri gereken beslenme düzenine önem vermeleri ve buna uygun hareket etmeleri fayda sağlayacaktır.</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/KalpYetmezligi"><img src="~/img/Hastaliklarimg/Kalp Yetmezliği.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kalp Yetmezliği</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Kabizlik"><img src="~/img/Hastaliklarimg/Kabızlık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kabızlık</h4>
            </div>
        </div>
    </div>
</div>

