
@{
    ViewData["Title"] = "Basur";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Basur</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Hemoroid (Basur), anal kanal ve anüsün anatomisinin bir parçası olan hemoroidal damarlardan oluşan özel bir ağdır. Basur, rektum ve anüsün en alt kısmında şişmiş damarlardır. Bazen bu kan damarlarının duvarları o kadar incedir ki, özellikle dışkılama yapılırken damarlar şişer ve tahriş olur. Halk arasında basur ya da mayasıl olarak bilinir. İç, dış ve tromboze hemoroidler olarak üçe ayrılır. Zamanla altta yatan sebeplerle birlikte anal kanalda yerleşen genişlemiş toplardamar yumakları makatın dışına doğru çıkarlar.

                Hemoroidler rektal kanamanın en sık nedenlerinden biridir. Nadiren tehlikeli ve genellikle birkaç hafta içinde ortaya çıkarlar.
            </p>
            <h3>
                Basur neden olur?
            </h3>
            <h4>
                İç hemoroidler
            </h4>
            <p>
                Bunlar rektumun içinde olduğundan genellikle bu hemoroidleri göremez veya hissedemezsiniz ve nadiren rahatsızlığa neden olurlar. Ancak dışkılama esnasında zorlanma veya tahriş, hemoroidin yüzeyine zarar verebilir ve kanamaya “basur”a neden olur. Bazen, zorlama, anal açıklıktan bir iç hemoroidi itebilir. Bu, çıkıntılı veya prolapslu bir hemoroid olarak bilinir ve ağrıya ve tahrişe neden olabilir.
            </p>
            <h4>
                Dış hemoroidler
            </h4>
            <p>
                Anüs çevresindeki deri altındadır, burada daha çok ağrı algılayan sinirler vardır, bu nedenle kanamaya da sebep olurlar.
            </p>
            <h4>
                Tromboze hemoroidler
            </h4>
            <p>
                Bazen kan bir dış hemoroid içinde havuz oluşturabilir ve şiddetli ağrı, şişlik, iltihap ve anüse yakın sert bir yumru ile sonuçlanabilecek bir pıhtı (trombüs) oluşturabilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Basur.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                HEMOROİD NEDENLERİ
            </h3>
            <ul>
                <li>Bağırsak alışkanlığında değişiklikler (kabızlık, ishal),</li>
                <li>Gebelik ve doğum,</li>
                <li>Şişmanlık</li>
                <li>Sedanter yaşam,</li>
                <li>Bazı spor etkinlikleri (ata binmek, bisiklet sürmek),</li>
                <li>Çeşitli meslek grupları (şoförler, pilotlar),</li>
                <li>Tuvalette uzun süre oturma,</li>
                <li>Alkol alışkanlığı,</li>
                <li>Pelvik bölgede yerleşen tümörler, karında ascites oluşumu,</li>
                <li>Kalın bağırsak kanseri.</li>
            </ul>
            <p>
                Hemoroidler yaşlanma ile daha fazla görülür çünkü rektum ve anüsünüzdeki damarları destekleyen dokular zayıflayabilir ve gerilebilir.
            </p>
            <h3>
                BASUR BELİRTİLERİ
            </h3>
            <ul>
                <li>Rektal kanama (makatta taze kırmızı renkli kanama ),</li>
                <li>Ağrı,</li>
                <li>Makatta ele gelen şişlik,</li>
                <li>Akıntı, makatta ıslaklık hissi,</li>
                <li>Kaşıntı</li>
            </ul>
            <p>
                Bu şikayetlerle başvuran hastalarda anal fissür, perianal fistül, perianal abse ve tromboz görülen diğer hastalıklardır. Ağrı iç hemoroidlerde çok geç bir bulgudur. Başlangıç döneminde ağrı varsa tromboze hemoroid, perianal abse, anal fissür akla gelmelidir.
            </p>
            <h3>
                HEMOROİD TEDAVİSİ
            </h3>
            <ul>
                <li>Bağırsak fonksiyonlarının düzenlenmesi altta yatan kabızlığın giderilmesi,</li>
                <li>Diyette bol lifli gıdalara ağırlık verilmesi, günlük su alımının arttırılması ortalama 1.5-2 litre su içilmesi,</li>
                <li>Lokal krem ve pomatlar,</li>
            </ul>
            <h4>
                Cerrahi tedavi :
            </h4>
            <ul>
                <li>Skleroterapi</li>
                <li>Bant ligasyon</li>
                <li>Klasik cerrahi yöntemle hemoroid ektomi operasyonu genel anestezi altında yapılır. Hastanede yatma süresi ortalama bir gündür.</li>
                <li>Lazer tedavisi (Nd-yag lazer tekniği ile genel anestezi altında yapılır ve ameliyat süresi 5-15 dakikadır. Ameliyat sonrası ağrı en az olan yöntemdir. Üçüncü dereceye kadar olan hemoroidlere uygulanır.</li>
            </ul>
            <h3>
                HEMOROİDİ ÖNLEMENİN YOLLARI
            </h3>
            <ul>
                <li>Lifli gıdalar yiyin</li>
                <li>Bunun en iyi yolu bitkisel besinler (sebzeler, meyveler, kepekli tahıllar, kabuklu yemişler, tohumlar, baklagiller ve baklagiller) tüketmektir.</li>
                <li>Bol su içmek</li>
                <li>Sert dışkı ve kabızlıktan korunmanıza yardımcı olur, bu nedenle bağırsak hareketleri sırasında daha az zorlanırsınız. Elyaflı meyveler ve sebzelerin içlerinde su olduğu için sıklıkla tüketin. Günde en az 6-8 bardak mutlaka su içmelisiniz.</li>
                <li>Egzersiz</li>
                <li>Fiziksel aktivite, her gün yarım saat yürümek, kanınızı ve bağırsaklarınızı hareket ettirmenin başka bir yoludur.</li>
                <li>Ayrıca tuvalet ihtiyacınız olduğunu hissettiğinizde mutlaka gidin asla bekletmeyin.</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Kabakulak"><img src="~/img/Hastaliklarimg/Kabakulak.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kabakulak</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Ishal"><img src="~/img/Hastaliklarimg/İshal.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">İshal</h4>
            </div>
        </div>
    </div>
</div>

