
@{
    ViewData["Title"] = "BeyzbolParmagi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Beyzbol Parmağı</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->

            <p>
                Parmak ucunun veya başparmağın kuvvetli bir şekilde esnetilmesi durumunda çekiç parmağı hasarı oluşur. Kuvvet, parmak ucu eklemini düzelten tendonun yaralanmasına neden olur. Beyzbol parmağı yaralanmasına da beyzbol sporunun sakatlanması olarak da atıfta bulunulur, çünkü genellikle beyzbol oyuncuları arasında yaygın bir durumdur.
                Çekiç parmağı yaralanması, ağrı ve şişlik ile beraber hareket kaybına neden olur. Çoğu parmak yaralanması, splint ile tedavi edilir. Kırık veya malalignasyon durumunda cerrahi operasyon gerekebilir.
            </p>
            <h3>
                ÇEKİÇ PARMAĞI (BEYZBOL PARMAĞI) NEDEN OLUR?
            </h3>
            <p>
                Parmak ucunun veya başparmağın kuvvetli şekilde bükülmesi neticesinde bir parmak parmağı hasarı oluşur. Kuvvet, distal falanksa bağlı ekstansör tendonunu yırtar. Bu spor sırasında, (beyzbol veya basketbol) gibi olabilir. Kuvvet yeterince büyükse, tendon sağlam kalabilir ancak küçük bir kemik parçası falanksa bağlandığı yerden kopabilir. Buna avülsiyon kırığı denir. Ekstensor tendonunun kesilmesi de çekiç parmağına neden olabilir.
            </p>
            <h3>
                <div class="col-lg-10">
                    <img src="~/img/Hastaliklarimg/Beyzbol Parmağı.jpg" class="img-fluid" alt="..."
                         style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
                </div> <br /> <br />
                ÇEKİÇ PARMAK TEDAVİSİ
            </h3>
            <h4>
                Cerrahi olmayan tedavi
            </h4>
            <p>
            Çekiç parmak yaralanmalarının çoğunluğu ameliyatsız tedavi edilebilir. Buz hemen uygulanmalı ve el yükseltilmelidir (parmaklar yukarı doğru). Yaralanmadan bir hafta sonra tıbbi müdahale yapılmalıdır. Çivinin altında kan varsa veya çivi koparsa derhal müdahale edilmelidir. Bu tırnak yatağı laserasyonu veya açık (bileşik) kırığının bir belirtisi olabilir.

            Çekiç parmaklar için birçok farklı atel çeşidi vardır. Amaç parmak ucunu tendon iyileşene kadar düz tutmaktır. Çoğu zaman, bir atel sekiz hafta boyunca kullanılır. Gelecek üç ila dört hafta boyunca, çoğu hasta kademeli olarak ateli daha az sıklıkta kullanmaya başlar. Parmak genellikle bu tedavi ile kabul edilebilir fonksiyon ve görünüm kazanır.</p>
            <p>
                Cerrahınız çekiç parmağınızın iyileştiğini hissettiğinde, parmak ucundaki hareketleri tekrar kazanmak için egzersizler gösterecektir.

                Çocuklarda, çekiç parmağı yaralanmaları kemik büyümesini kontrol eden kıkırdağı içerebilir. Doktor bu yaralanmayı çocuklarda dikkatle değerlendirmeli ve tedavi etmelidir, böylece parmakta bodurlaşma veya deforme olmayacaktır.
            </p>
            <h4>
                Cerrahi tedavi
            </h4>
            <p>
                Cerrahi olmayan tedavi başarısız olduğunda yırtık tendonu onarmak için ameliyat gereklidir. Bu durumlarda, kemik parçasını sabitlemek ve eklemi yeniden hizalamak için pimler, teller veya küçük vidalar kullanılır. Hasarlı tendonun cerrahi tedavisi, gerilmiş tendon dokusunun sıkılaştırılması, tendon greftleri kullanılması veya eklemi düz bir şekilde kaynaştırmak olabilir. El cerrahınız, özel durumunuz için en iyi teknik konusunda size tavsiyede bulunacaktır. Açık bir yara varsa ameliyat önerilebilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Hipotiroidi"><img src="~/img/Hastaliklarimg/Hipotiroidi.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Hipotiroidi</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Hipotansiyon"><img src="~/img/Hastaliklarimg/Hipotansiyon.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Hipotansiyon</h4>
            </div>
        </div>
    </div>
</div>

