
@{
    ViewData["Title"] = "BobrekEnfeksiyonu";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Böbrek Enfeksiyonu</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <P>

                Böbrek enfeksiyonu (piyelonefrit), genellikle üretra veya mesanenizde başlayan ve böbreklerden birine veya her ikisine giden bir idrar yolu enfeksiyonu (İYE) türüdür. Böbrek enfeksiyonu hızlı tıbbi müdahale gerektirir. Uygun şekilde tedavi edilmezse, böbrek enfeksiyonu böbreklere kalıcı zarar verebilir veya bakteriler kan dolaşımınıza yayılarak hayatı tehdit eden bir enfeksiyona neden olabilir. Genellikle antibiyotik içeren böbrek enfeksiyonu tedavisi, hastaneye yatış gerektirebilir.
            </P>
            <h3>
                BÖBREK ENFEKSİYONU BELİRTİLERİ
            </h3>
            <p>
                Bir böbrek enfeksiyonunun belirtileri ve semptomları şunları içerebilir:
            </p>
            <ul>
                <li>Ateş</li>
                <li>Titreme</li>
                <li>Karın ve belden aşağısında ağrı</li>
                <li>Karın ağrısı</li>
                <li>Sık idrara çıkma</li>
                <li>Aniden ortaya çıkan idrara çıkma isteği</li>
                <li>İdrar yaparken yanma hissi veya ağrı</li>
                <li>Mide bulantısı ve kusma</li>
                <li>İdrarınızda iltihap veya kan (hematüri)</li>
                <li>Kötü kokan veya bulanık olan idrar</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Böbrek Enfeksiyonu.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                BÖBREK ENFEKSİYONU NEDENLERİ
            </h3>
            <p>
                Vücudunuzdaki idrar yolundan gelen idrar yolunuza giren bakteriler (üretra) çoğaltabilir ve böbreklere gidebilir. Bu, böbrek enfeksiyonlarının en sık nedenidir. Vücudunuzdaki başka bir enfeksiyondan dolayı da bakteriler kan dolaşımınız boyunca böbreklere yayılabilir. Nadiren, böbrek cerrahisi sonrası böbrek enfeksiyonu ortaya çıkar.
            </p>
            <h3>
                BÖBREK ENFEKSİYONU TEDAVİSİ
            </h3>
            <h4>
                Böbrek Enfeksiyonları İçin Antibiyotikler
            </h4>
            <p>
                Antibiyotikler, böbrek enfeksiyonlarının tedavisinde ilk sıradadır. Hangi ilaçları kullandığınız ve ne kadar süreyle sağlığınıza ve idrar testlerinde bulunan bakterilere bağlıdır.

                Genellikle, bir böbrek enfeksiyonunun belirtileri ve semptomları tedaviden birkaç gün sonra ortaya çıkar. Ancak bir hafta veya daha uzun süre antibiyotik kullanmaya devam etmeniz gerekebilir. Daha iyi hissettikten sonra doktorunuz tarafından önerilen antibiyotik tedavisini tamamlayın.

                Enfeksiyonun temizlendiğinden emin olmak için doktorunuz tekrar idrar kültürü önerebilir. Enfeksiyon hala mevcutsa, başka bir antibiyotik almak gerekir.
            </p>
            <h4>
                Şiddetli Böbrek Enfeksiyonları İçin Hastanede Tedavi
            </h4>
            <p>
                Böbrek enfeksiyonunuz şiddetli ise, doktorunuz sizi hastaneye yatırabilir. Tedavi, kolunuzdaki bir damardan aldığınız antibiyotik ve sıvıları içerebilir (intravenöz olarak). Hastanede kalacağınız süre, böbrek enfeksiyonunun şiddetine bağlıdır.
            </p>
            <h4>
                Tekrarlayan Böbrek Enfeksiyonları Tedavisi
            </h4>
            <p>
                İdrar yolu enfeksiyonları gibi altta yatan bir tıbbi sorun, tekrarlanan böbrek enfeksiyonlarına neden olabilir. Bu durumda, bir değerlendirme için bir böbrek uzmanı (nefrolog) veya üriner cerraha (ürolog) görünmeniz gerekebilir. Böbrekteki yapısal bir anormalliği onarmak için ameliyat gerekebilir.
            </p>
            <h4>
                Böbreklere Sıcak Su Torbası Uygulama
            </h4>
            <p>
                Böbrek enfeksiyonu genelde kasık, sırt ve kalça ağrısını beraberinde getirir. Sıcak su torbası kullanmak kaslarınızı rahatlatarak oluşan bu ağrıyı azaltmada son derece etkilidir.
            </p>
            <h4>
                Bol Miktarda Su Tüketimi
            </h4>
            <p>
                Yeteri kadar su içmek böbrek enfeksiyonu için büyük önem taşır. Günlük su tüketimini artırmak böbreklerinizde enfeksiyona sebep olan bakterilerin ve toksin maddelerin atılmasında yardımcı olur.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Hipertansiyon"><img src="~/img/Hastaliklarimg/Hipertansiyon.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Hipertansiyon</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/HIV"><img src="~/img/Hastaliklarimg/HIV.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">HIV</h4>
            </div>
        </div>
    </div>
</div>

