
@{
    ViewData["Title"] = "BobrekTasi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Böbrek Taşı</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Böbrek taşları (böbrek litiazisi, nefrolitiazis), böbreklerin içinde oluşan mineral ve tuzlardan oluşan sert birikintilerdir. Böbrek taşları idrarda bir azalma olduğunda ve / veya idrarda taş oluşturan maddelerden fazla olduğunda oluşur. Dehidrasyon, böbrek taşı oluşumu için önemli bir risk faktörüdür.
            </p>
            <h3>
                BÖBREK TAŞI BELİRTİLERİ
            </h3>
            <p>
                Böbrek taşı, böbreğinizin içinde hareket edene veya üreterinize girene kadar (böbrek ve mesaneyi bağlayan tüp) aşağıdaki belirtileri ve semptomları deneyimleyebilirsiniz:
            </p>
            <ul>
                <li>Kaburgaların altında, yan ve arkada şiddetli ağrı</li>
                <li>Alt karın ve kasıktan yayılan ağrı</li>
                <li>Dalgalar halinde gelen ve yoğunluğu artan/azalan ağrı</li>
                <li>İdrar yaparken ağrı</li>
                <li>Pembe, kırmızı veya kahverengi idrar</li>
                <li>Bulanık veya kötü kokulu idrar</li>
                <li>Mide bulantısı ve kusma</li>
                <li>Normalden daha sık idrara çıkma</li>
                <li>Bir enfeksiyon varsa ateş ve titreme</li>
                <li>Küçük miktarlarda idrar</li>
            </ul>
            <p>
                Bir böbrek taşının yol açtığı ağrı, idrar yolunuz boyunca hareket ettiğinde değişebilir.
            </p>
            <h3>
                BÖBREK TAŞI NEDENLERİ
            </h3>
            <p>
                Böbrek taşlarının genellikle belirli bir nedeni yoktur, ancak birkaç faktör riskinizi artırabilir. Böbrek taşları, idrarınızdaki sıvıdan daha fazla kristal oluşturan madde (örneğin, kalsiyum, oksalat ve ürik asit gibi) içerdiğinde oluşur. Aynı zamanda, idrarınız kristallerin birbirine yapışmasını engelleyen maddelerden yoksun olabilir. Bu da böbrek taşlarının oluşumu için ideal bir ortamdır.
            </p>
            <h3></h3>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Böbrek Taşı.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3> BÖBREK TAŞI TÜRLERİ</h3>
            <h4>
                Kalsiyum Taşları
            </h4>
            <p>
                Çoğu böbrek taşı genellikle kalsiyum oksalat şeklinde kalsiyum taşlarıdır. Oksalat, gıdada bulunan ve karaciğeriniz tarafından günlük olarak üretilen doğal bir maddedir. Bazı meyve ve sebzelerin yanı sıra fındık ve çikolata, yüksek oksalat içeriğine sahiptir. Diyet faktörleri, yüksek doz D vitamini, bağırsak baypas cerrahisi ve çeşitli metabolik bozukluklar idrarda kalsiyum veya oksalat konsantrasyonunu artırabilir.

                Kalsiyum taşları ayrıca kalsiyum fosfat formunda da oluşabilir. Bu tip taş, böbrek tübüler asidoz gibi metabolik durumlarda daha yaygındır. Bazı migren baş ağrılarıyla veya topiramat (Topamax) gibi bazı nöbet ilaçları ile de ilişkili olabilir.
            </p>
            <h4>
                Struvite Taşları
            </h4>
            <p>
                Struvit taşları, idrar yolu enfeksiyonu gibi bir enfeksiyona yanıt olarak oluşur. Bu taşlar hızlıca büyüyebilir ve bazen çok az semptom veya az uyarı ile oldukça büyük olabilir.
            </p>
            <h4>
                Ürik Asit Taşları
            </h4>
            <p>
                Ürik asit taşları, yeterince sıvı içmeyen veya çok fazla sıvı tüketen, yüksek proteinli bir diyet yiyen ve gut olan kişilerde oluşabilir. Bazı genetik faktörler ürik asit taşlarını da arttırabilir.
            </p>
            <h4>
                Sistin Taşları
            </h4>
            <p>
                Bu taşlar, böbreklerin bazı amino asitleri (sistinüri) çok fazla salgılamasına neden olan kalıtsal bir bozukluğu olan kişilerde oluşur.
            </p>
            <h4>
                BÖBREK TAŞI TEDAVİSİ
            </h4>
            <p>
                Böbrek taşlarının tedavisi, taş türüne ve nedenine bağlı olarak değişir.

                Minimal semptomlu küçük taşlar invazif tedavi gerektirmez.

                Günde 2 ila 3 litre kadar su içmek, idrar sisteminizi temizlemenize yardımcı olabilir.

                Küçük bir taşı düşürmek biraz rahatsızlık verebilir. Hafif ağrıyı azaltmak için doktorunuz ibuprofen (Advil, Motrin IB, diğerleri), asetaminofen (Tylenol, diğerleri) veya naproksen sodyum (Aleve) gibi ağrı kesiciler tavsiye edebilir.
            </p>
            <p>
                Doktorunuz böbrek taşınızı düşürmenize yardımcı olacak bir ilaç verebilir. Alfa bloker olarak bilinen bu tip ilaç, üreterinizdeki kasları gevşetir, böbrek taşını daha hızlı ve daha az acı ile düşürmenize yardımcı olur.

                Bazı durumlarda, bir ürolog lithotripsy adı verilen bir şok dalgası terapisi uygulayabilir. Bu böbrek taşını daha küçük parçalara ayıran ve geçmesine izin veren bir tedavidir.

                Litotripsiye izin vermeyen bölgelerde bulunan büyük taşlı insanlar, arkadaki bir insizyon yoluyla taşın çıkarılması veya idrar yoluna ince bir tüp yerleştirilmesi gibi cerrahi prosedürler alabilirler.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Hemofili"><img src="~/img/Hastaliklarimg/Hemofili.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Hemofili</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Guatr"><img src="~/img/Hastaliklarimg/Guatr.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Guatr</h4>
            </div>
        </div>
    </div>
</div>

