
@{
    ViewData["Title"] = "Botulizm";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Botulizm</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Botulizm, Clostridium botulinum bakterisinin ürettiği, sinir sistemine saldıran zehirli bir toksinin neden olduğu nadir ve potansiyel olarak ölümcül bir hastalıktır. Gıda kaynaklı botulizm, toksin içeren yiyecekler yenildiğinde meydana gelir. Bebek botulizmi, bakterilerin bağırsaklarda gelişmesi ve toksini serbest bırakmasıyla olur. Çocuk ve erişkinlerde görülmeyen bu tür botulizmin en sık kaynağı toprak yemek ve bal yemektir. Yaradan kaynaklanan botulizm ise nadir görülür ancak yaraya bulaşan bakterilerin toksin üretmesi sonucu ortaya çıkar. Hastalık oluşturan Clostridium botulinum bakterilerine toprakta, bazı hayvanların dışkılarında, meyvelerin ve bitkilerin kirli yüzeylerinde rastlanır.
            </p>
            <h3>
                BOTULİZM NEDEN OLUR?
            </h3>
            <p>
                Clostridium botulinum adlı bakterinin organizmaya girmesi sonucunda ortaya çıkan botulizmin nedeni, konserveler, özellikle de mikroorganizmanın dirençli sporları normal pişirme yöntemleri sırasında ölmediklerinden, evde yapılan konservelerdir. Ayrıca bebeklerde, C. botulinum sporlarını içeren bal ve bal içeren gıda maddelerinin tüketilmesi sonucunda botülizm görülebilmektedir. Bundan başka portantre olarak adlandırılan ve vücudun herhangi bir yerinde bulunan yara vb bölgelerden etkenin dokulara invaze olması (istila etmesi) şeklinde ortaya çıkar.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Botulizm.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                BOTULİZM BELİRTİLERİ
            </h3>
            <p>
                Hastalık zehrin alınmasından sonra başlar şikayetler genellikle saatler içinde, en geç 36 saat sonra ortaya çıkar. İlk şikayet göz ve göz kapaklarında ortaya çıkar. Göz kapaklarında düşme ve çift görme ilk şikayetlerdir. Hastalık daha sonra aşağı doğru yayılarak tüm vücudu felç eder ve solunum kaslarını da felç ederek ölüme yol açar. Diğer belirtileri şu şekilde sıralamak mümkündür;
            </p>
            <ul>
                <li>Baş dönmesi, halsizlik</li>
                <li>Yutma güçlüğü</li>
                <li>Ağızda kuruma</li>
                <li>Boğaz ağrısı</li>
                <li>Konuşma güçlüğü, sarhoş gibi konuşma</li>
                <li>Başı ve boynu tutamama</li>
                <li>Nefes alma zorluğu</li>
            </ul>

            <p>
                Bebeklerde görülen belirtiler;
            </p>
            <ul>
                <li>Göz kapaklarında düşme</li>
                <li>Başını tutamama</li>
                <li>Halsizlik uykuya meyil</li>
                <li>Beslenme zorluğu</li>
                <li>Kas gevşekliği</li>
                <li>Kabızlık, karında şişlik</li>
                <li>Zayıf ağlama şeklinde ortaya çıkar.</li>
            </ul>
            <p>
                Nadiren bazı hastalarda bulantı, kusma ishal görülür. Yaradan kaynaklı botulizm ise 4-14 gün içinde ortaya çıkar.
            </p>
            <h3>
                BOTULİZM TEDAVİSİ
            </h3>
            <p>
                Botulizmin ölümcül etkisi solunum kasları felci ve solunum durmasıdır. Botulizm son derece tehlikeli ve ölümcül gıda zehirlenmesidir. En ufak bir şüphede bile doktora başvurmak gerekir. Botulizm tedavisinde hastaya solunum desteği yapılır oksijen verilir ve yoğun bakıma alınır. Gerekirse yardımcı solunum cihazlarına bağlanır. Yutma zorluğu olduğundan tüp ile beslenir.
            </p>
            <p>
                Antitoksinler: Botulizm için ana tedavi, antitoksin adı verilen bir ilaçtır. Kanınızdaki toksinlere müdahale eder. Bu ilaç genellikle semptomların kötüye gitmesini önlemeye yardımcı olabilir. Tedavinin başarılı olmasını ve şikayetlerin daha kısa sürmesini sağlar. Felç olmuş kısımları geri döndürmez.
                Toksinin atılması: vücuda girmiş fakat henüz emilmemiş toksinin atılması için:
            </p>
            <ul>
                <li>İshal yapıcı ilaçlar,</li>
                <li>Mide içeriğinin hortumla çekilmesi,</li>
                <li>Kusturucu ilaçlar,</li>
                <li>Yaradan kaynaklanıyor ise yaranın geniş bir şekilde temizlenmesi ve antibiyotik verilmesi hastalığın daha da ilerlemesini durdurur. Bu bakteri öldürücü ilaçlar diğer botulizm türleri için kullanılmamaktadır.</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Grip"><img src="~/img/Hastaliklarimg/Grip.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Grip</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/GozIltihabi"><img src="~/img/Hastaliklarimg/Göz İltihabı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Göz İltihabı</h4>
            </div>
        </div>
    </div>
</div>

