
@{
    ViewData["Title"] = "Bronsit";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Bronşit</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Bronşit, akciğerlerinize giden bronşiyal tüplerin (bronşlar) iltihaplanması veya şişmesidir. Bronşit, akut veya kronik olabilir.

                Akut bronşit genellikle soğuk ya da başka bir solunum yolu enfeksiyonundan kaynaklanır ve çok yaygındır. Kronik bronşit ise daha ciddi bir durumdur, sıklıkla sigaraya bağlı olarak bronşiyal tüplerin astarının sürekli tahriş veya iltihaplanmasıdır.

                Akut bronşit, sıklıkla soğuk algınlığı veya viral enfeksiyonu takip eden kısa süreli bir hastalıktır.

                Ancak, tekrarlayan bronşitlere sahipseniz, tıbbi müdahale gerektiren kronik bronşitiniz olabilir. Kronik bronşit, kronik obstrüktif akciğer hastalığında (KOAH) yer alan koşullardan biridir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Bronşit.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                BRONŞİT BELİRTİLERİ
            </h3>
            <p>
                Akut bronşit veya kronik bronşit için, işaret ve semptomlar şunları içerebilir:
            </p>
            <ul>
                <li>Öksürük</li>
                <li>Berrak, beyaz, sarımsı-gri veya yeşil renkli olabilen mukus (balgam).</li>
                <li>Yorgunluk</li>
                <li>Nefes darlığı</li>
                <li>Hafif ateş ve titreme</li>
                <li>Göğüs rahatsızlığı</li>
            </ul>
            <p>
                Akut bronşitiniz varsa, hafif bir baş ağrısı veya vücut ağrıları gibi soğuk algınlığı belirtilerine sahip olabilirsiniz. Bu belirtiler genellikle yaklaşık bir hafta içinde iyileşirken, birkaç hafta boyunca devam eden bir başağrısı ve öksürüğünüz olabilir.

                Kronik bronşit, en az iki ay süren ve en az iki yıl boyunca tekrarlayan nöbetlerle kendini göstren bir öksürük olarak tanımlanır. Kronik bronşitiniz varsa, öksürük veya diğer semptomlarınızın kötüleştiği zamanlara sahip olabilirsiniz. O zamanlarda, kronik bronşite ek olarak akut enfeksiyon da olabilir.
            </p>
            <h3>
                BRONŞİT NEDENLERİ
            </h3>
            <p>
                Akut bronşit genellikle virüslerden, tipik olarak soğuk algınlığı ve grip (influenza) neden olan virüslerden kaynaklanır. Antibiyotikler virüsleri öldürmez, bu nedenle bu tip ilaçlar çoğu bronşit vakasında yararlı değildir.

                Kronik bronşitin en yaygın nedeni sigara içmektir. Hava kirliliği ve çevrede veya işyerinde toz veya zehirli gazlara maruz kalma da kronik bronşite katkıda bulunan diğer nedenlerdir.
            </p>
            <h3>
                BRONŞİT İÇİN RİSK FAKTÖRLERİ
            </h3>
            <p>
                Bronşit riskinizi artıran faktörler şunlardır:
            </p>
            <ul>
                <li>Sigara içmek: Sigara içen veya sigara içen biriyle yaşayan kişiler hem akut bronşit hem de kronik bronşit riski taşırlar.</li>
                <li>Düşük vücut direnci: Bu, soğuk algınlığı veya bağışıklık sisteminizi tehlikeye atan kronik bir durum gibi başka akut hastalıklardan kaynaklanabilir. Daha yaşlı yetişkinler, bebekler ve küçük çocuklar enfeksiyona karşı daha fazla savunmasızdır.</li>
                <li>Gastrik reflü: Ciddi mide ekşimesi ile tekrarlanan nöbetler boğazınızı tahriş edebilir ve bu da sizi bronşit gelişmesine daha yatkın hale getirebilir.</li>
            </ul>
            <h3>
                BRONŞİT TEDAVİSİ
            </h3>
            <p>
                Birçok akut bronşit vakası herhangi bir spesifik tedavi olmaksızın geçer, ancak kronik bronşit tedavisi yoktur. Bronşit belirtilerini kontrol altında tutmak ve semptomları hafifletmek için doktorlar şunları yazabilir:
            </p>
            <h4>
                İlaçlar
            </h4>
            <p>
                Çoğu bronşit vakası viral enfeksiyonlardan kaynaklandığından, antibiyotikler etkili değildir. Bununla birlikte, doktorunuz bakteriyel bir enfeksiyonunuz olduğundan şüphelenirse, bir antibiyotik yazabilir.

                Bazı durumlarda doktorunuz aşağıdakiler dahil başka ilaçlar önerebilir:
            </p>
            <ul>
                <li>Öksürük ilacı: Öksürüğün sizi uykusuz bırakmasının önüne geçmek için yatmadan önce öksürük bastırıcıları deneyebilirsiniz.</li>
                <li>Bronkodilatörler: Bronşiyal tüpleri açar ve mukusu temizler.</li>
                <li>Mukolitikler: Solunum yollarındaki ince veya gevşemiş balgamı öksürmeyi kolaylaştırır.</li>
                <li>Anti-inflamatuar ilaçlar ve glukokortikoid steroidler: Bunlar, doku hasarına neden olabilecek kronik inflamasyonun azaltılmasına yardımcı olan daha kalıcı semptomlar içindir.</li>
                <li>Oksijen tedavisi: Bu, solunum zor olduğunda oksijen alımını artırmaya yardımcı olur.</li>
                <li>Antibiyotikler: Bunlar bakteriyel enfeksiyonlar için etkilidir, ancak viral enfeksiyonlar için değildir. İkincil enfeksiyonları da önleyebilirler.</li>
            </ul>
            <h4>
                Tedaviler
            </h4>
            <p>
                Kronik bronşitiniz varsa, solunum rehabilitasyonundan faydalanabilirsiniz (daha kolay nefes alabilme ve egzersiz yapabilme yeteneğinin artırılmasına yarayan bir solunum egzersiz programı).
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/GeceKorlugu"><img src="~/img/Hastaliklarimg/Gece Körlüğü.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Gece Körlüğü</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Gastrit"><img src="~/img/Hastaliklarimg/Gastrit.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Gastrit</h4>
            </div>
        </div>
    </div>
</div>

