
@{
    ViewData["Title"] = "BurunAhtapotu";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Burun Ahtapotu</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>

                Burun ahtapotu, burun içerisinde et büyümesine bağlı olarak meydana gelen bir burun içi hastalığıdır. Burun deliklerinden boğazın altına kadar uzanabilen et parçalarına, halk arasında burun ahtapotu, tıp dilinde ise adenoid ve polip denir. Bu et parçaları hava akımını engeller ve geniz yolunu tıkayarak insanların nefes almasını zorlaştırır. Burun içi mukoza tabakasının büyümesi ile tek veya küme şeklinde meydana gelen burun ahtapotu doğuştan ya da çeşitli nedenlerden dolayı daha sonradan meydana gelmektedir. Özellikle yetişkinlerde ve yaşlı grupta çok sıkça görülür.

                Burun ahtapotu hastalığı iş ve sosyal aktiviteleri olumsuz etkiler. Genellikle uygulanan kısa süreli tedavi sonrasında tamamen geçebilme imkânına sahiptir. Burun ahtapotu hastalığı kişiyi psikolojik yönden olumsuz etkiler.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Burun Ahtapotu.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                BURUN AHTAPOTU HASTALIĞININ BELİRTİLERİ
            </h3>
            <p>
                Burun ahtapotu rahatsızlığının en önemli belirtisi nefes alıp verme esnasında güçlük çekilmesidir. Bu belirtiye ek olarak aşağıdaki belirtiler de görülebilir:
            </p>
            <ul>
                <li>Burun dış yüzeyinin hafif şişmesi</li>
                <li>Burun iç ve dış yüzeyinde kızarıklık oluşması</li>
                <li>Burun içerisinde ağrı oluşması</li>
                <li>Burun içerisinde kaşıntı oluşması</li>
                <li>Burun içerisinde acı</li>
            </ul>
            <h3>
                BURUN AHTAPOTU HASTALIĞININ NEDENLERİ
            </h3>
            <ul>
                <li>Sıklıkla soğuk algınlığı hastalıklarına maruz kalınması</li>
                <li>Saman nezlesi hastalığına sıklıkla maruz kalınması</li>
                <li>Burun içerisinde yer alan mukoza tabakasının büyümesi gibi faktörler burun ahtapotu hastalığının nedenleridir.</li>
            </ul>
            <h3>
                BURUN AHTAPOTU HASTALIĞININ TEDAVİSİ
            </h3>
            <p>
                Burun ahtapotu hastalığının tedavisinde en önemli yöntem cerrahi müdahaledir. Özel bir cihaz sayesinde gerçekleştirilen cerrahi operasyonda burun içerisinde meydana gelmiş olan fazla et veya et parçacıkları bir ya da rahatsızlığın derecesine göre en fazla iki seans sonrasında alınarak hasta tekrar eski sağlığına kavuşturulmaktadır. Genel anestezi yöntemi ile ve tel bir halka yardımı ile polipin sıkıştırılması işlemi ile tedavi sonuçlandırılmaktadır.
            </p>



            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Felc"><img src="~/img/Hastaliklarimg/Felç.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Felç</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Fabry"><img src="~/img/Hastaliklarimg/Fabry.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Fabry</h4>
            </div>
        </div>
    </div>
</div>

