
@{
    ViewData["Title"] = "CicekHastaligi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Çiçek Hastalığı</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Çiçek hastalığı tarihte görülen en geniş yayılıma ve ölüme sebep olan bulaşıcı bir hastalıktır. İki türü bulunur;
            </p>
            <p>
                Variola major ve variola minor olarak adlandırılır. Variola major yaklaşık %30 öldürücüdür ve ağır seyreder. Variola minör ise daha hafif seyreder ve öldürücülük oranı %1 kadardır. Tarihte ilk aşı, çiçek hastalığının aşısıdır. Bu halk sağlığı açısından en büyük başarı olarak kabul edilir. Bu aşının bulunması erken tanı ve takipler sayesinde olmuştur.
            </p>
            <h3>
                ÇİÇEK HASTALIĞI KİMDE GÖRÜLÜR?
            </h3>
            <p>
                Çiçek hastalığı insanlarda ve evcil hayvanlarda görülebilir. Çiçek hastalığı her yaş ve cinsiyette görülebilir. Bu hastalığın inkübasyon süresi 7-107 gün arasında değişir ve bu süreçte hastada bir belirti gözükmemekle birlikte bulaşıcı değildir. Hastalık belirtileri ortaya çıktığından itibaren yani vücutta kabarcıklar oluşmaya başladığında veya ateş gibi belirtiler gözüktüğünden itibaren hastalık bulaşıcıdır.

                Hastanın vücudunda bulunan kabarcıklardaki virüs, hastanın eşyalarıyla, sineklerle ve virüslü hava yolu ile bulaşabilir. Hastalarda 30-40 derece ateş görülür ve kırmızı izler oluşmaya başlar. Başta yüz, baş olmak üzere göğüs, sırt, kol ve bacaklarda kabarcıklar oluşur. Çiçek hastalığını su çiçeğinden ayıran en önemli fark su çiçeği lezyonunun daha yüzeysel olması ve oluşan kabarcıkların daha çok gövdede bulunmasıdır.
            </p>
            <h3>
                ÇİÇEK HASTALIĞI NASIL BULAŞIR?
            </h3>
            <p>
                Ateş ve döküntülerin çıkmasıyla birlikte hava yolu ile bulaş olur. Ciltteki döküntüler kaybolana kadar bulaşıcılık miktarı giderek azalır. Hasta kişilerin kıyafetlerinden ve yatak takımlarından da hastalık bulaşabilmektedir. Çiçek hastalığı olan kişilerin bulunduğu binalardaki havalandırma sistemleri ile bulaş olabilir ve bu nedenle ilk vakadan 2-3 hafta sonra salgın ortaya çıkabilir.

                Toplumlarda ortaya çıkan salgınlar ile çiçek hastası olan bir kişinin 5-12 kişiye çiçek hastalığı bulaştırabildiği bulunmuştur. Aşısız toplumlarda bütün bireyler hastalığa karşı duyarlıdır. Bu nedenle hızlı bulaş olur. Bu hızda bir hasta için 10 kişi olarak hesaplanmıştır.
            </p>
            <h3>
                ÇİÇEK HASTALIĞI BELİRTİLERİ NELERDİR?
            </h3>
            <p>
                Geçmiş dönemlerde ciddi can kayıplarına neden olan çiçek hastalığının ağırlık seyri zaman içerisinde değişmektedir. Enfeksiyon hastalıklarının bir çeşidi olan çiçek hastalığı ciltte kabarcıklar şeklinde kendini belli etmektedir. Kuluçka dönemi 14- 20 gün arasında değişmektedir.

                Yüksek ateş şikayetleri ile başlayan hastalıkta şiddetli baş ve eklem ağrılarını takip eden 3 günlük periyottan sonra, önce baş olmak üzere tüm vücutta irinli kabarcıklara ortaya çıkmaktadır. Çiçek hastalığı hem ciltte hem de sindirim sisteminde değişimlere yol açmaktadır. Herkeste görülebilecek olan bu hastalık her zaman aynı bulguları vermemekte ancak genellikle şu belirtiler izlenmektedir;
            </p>
            <ul>
                <li>Kusma</li>
                <li>Yüksek ateş</li>
                <li>Şiddetli baş ağrısı</li>
                <li>Baş dönmesi</li>
                <li>Hazımsızlık</li>
                <li>İshal</li>
                <li>Üşüme</li>
                <li>Halsizlik</li>
                <li>İştahsızlık</li>
                <li>İrinli kabarcıklar</li>
                <li>Kaşıntı</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Çiçek Hastalığı.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                ÇİÇEK HASTALIĞI TEDAVİSİ NASILDIR?
            </h3>
            <p>
                Çiçek hastalığı virüsü için herhangi bir tedavi bulunmamakla birlikte yakalanma olasılığını azaltmak için korunma yöntemleri bulunur. Yapılan aşılama programları sayesinde variola virüsü yani çiçek hastalığı tamamen ortadan kaldırılmıştır. Sadece laboratuvar ortamında çalışan bireyler risk altında olabilir.

                Çiçek virüsüne temasta bulunduğu düşünülen kişilerin veya çiçek hastası olan bir kişi ile teması olan kişilerin teması takiben 4 gün içinde aşı olması, hastalığı geçirmesini önleyebilir veya hafif atlatmasını sağlayabilir. Ayrıca yapılan çalışmalar Cidovir'in kemoproflakside etkin olarak kullanılabileceğini ortaya çıkarmıştır.
            </p>
            <h3>
                ÇİÇEK HASTALIĞI SALGININDA NE YAPILMALIDIR?
            </h3>
            <p>
                Salgın olduğunda en önemli şey daha fazla yayılmasını durdurmaktır. Bu nedenle hastalığa sahip olan bireylere hemen tanı konulmalıdır. Salgın durumlarında yapılası gereken vakaları yani hastaları bulmak ve bu hastaların temas ettiklerini belirleyerek aşılamak gerekir.

                Döküntüsü olan bireylerin kimlerle temas ettiği iyi bir şekilde araştırılmalı ve aşı yapılamıyorsa 18 gün boyunca bireyin ateşi ve belirtileri takip edilmelidir. Hastalık belirtisi gösteren bireyler izole edilmeli ve bu hastalardan örnek alınmalıdır. Geniş alana yayıldıysa kalabalık yerlerden uzak durulması gerekir. Sağlık örgütü tarafından verilen korunma önlemleri uygulanmalıdır.
            </p>
            <h3>
                ÇİÇEK AŞISI NEDİR, KORUYUCULUK SÜRESİ NE KADARDIR?
            </h3>
            <p>
                İlk çiçek aşısı inek çiçeği aşısıdır ve bu aşı ile hasta olmayan bireyler aşılanarak bireylerin hasta olması engellenmiştir. Daha sonra bu aşı geliştirilmeye devam etmiştir. Bu aşı aynı zamanda tarihteki ilk aşıdır ve hatta aşı anlamına gelen vaccine, ‘vacca’ kelimesinden gelir. Vacca, Latince’de inek anlamına gelmektedir.

                Bu aşı sayesinde günümüzde çiçek hastalığı tamamen yok olmuştur. Ayrıca bu aşılama sayesinde başka hastalıklara da çareler bulunmaya başlanmıştır. Çiçek aşısının içeriğine bakacak olursak çiçek aşısı aslında canlı bir virüs aşısıdır. Orthopox virüs ailesinden olan Variola virüsüne çok benzer. Aşının koruyucu etkisi yüksektir fakat 1999'da üretim ve depolanması Dünya Sağlık Örgütü Variola Virüs Danışma Komitesi tarafından kısıtlanmış bir aşıdır.
            </p>
            <p>
                Pek çok ülke aşı stoklarını artırma çabasında olmasına rağmen aşının bağışıklık yapabilme özelliği olabileceği düşünüldüğü için buna bakılması önerilir. Aşı üretim çalışmaları devam etmekle birlikte stoklardaki çiçek aşılarının kontrolleri de yapılır. Stoklarda bulunan aşıların yıllardır bağışıklık yaratma özelliğini (potens) kaybetmediği belirlenmiştir. Aşının koruyuculuk süresine bakacak olur isek yapılan kişiyi en az 10 yıl süresince koruduğu tespit edilmiş. Aşılı bireylerde semptomlar daha hafif seyretmekte olup bu kişilerden daha az bulaş olduğu biliniyor.
            </p>
            <h3>
                ÇİÇEK AŞISININ YAN ETKİLERİ NELERDİR?
            </h3>
            <p>
                Aşının yan etkileri yani komplikasyonları sıktır. Fakat, hastalık riski olan kişilere, hastalığın komplikasyonları göz önünde bulundurulduğunda yapılması tercih edilir.

                Aşının en önemli yan etkileri aşıya bağlı oluşan egzama, generalize vaccinia infeksiyonu, prograsif vaccinia infeksiyonu ve aşı sonrası ensefalittir. Ayrıca günümüzde aşılar üzerindeki çalışmalar devam ediyor. Hassas olan gruplarında aşıları kullanabilmesi için aşı ile birlikte immünoglobilinler geliştiriliyor.
            </p>
            <h3>
                ÇİÇEK HASTALIĞI VE SUÇİÇEĞİ AYNI HASTALIK MI?
            </h3>
            <p>
                İsim benzerliği nedeniyle sık sık karıştırılan çiçek hastalığı ve suçiçeği hastalığı ayrı hastalıklardır. Çiçek hastalığının seyri daha ağır ve hayati risk içeriyorken suçiçeği daha hafif seyreden ve genel olarak çocukluk evresinde yaşanan bir hastalıktır.
            </p>
            <h3>
                ÇİÇEK HASTALIĞINA NE İYİ GELİR?
            </h3>
            <p>
                Çiçek hastalığı günümüzde eradike edildiği için bu hastalığın engellenmesi için özel bir yönteme gerek yoktur. Ancak genel olarak viral enfeksiyonlara karşı vücudumuzu korumak için beslenmeye dikkat edilmeli, bol sıvı tüketilmelidir. Bağışıklık sistemini güçlendirmenin bir diğer yolu ise bulunan ortamın hijyenine dikkat etmektir. Ayrıca düzenli uykuya ve istirahat etmeye özen gösterilmelidir.
            </p>
            <h3>
                ÇİÇEK HASTALIĞI ÖLDÜR MÜ?
            </h3>
            <p>
                Çiçek hastalığı ortaya çıktığı ilk dönemlerde bu hastalığa kapılan her 10 kişiden 3’ünün ölümü ile sonuçlanmıştır. Günümüzde yaygınlığı kalmadığı için aynı durum söz konusu değildir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Epistaksis"><img src="~/img/Hastaliklarimg/Epistaksis.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Epistaksis (Burun Kanaması)</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Ensefalopati"><img src="~/img/Hastaliklarimg/Ensefalopati.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Ensefalopati</h4>
            </div>
        </div>
    </div>
</div>

