
@{
    ViewData["Title"] = "Cuzzam";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Cüzzam</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Hansen’s hastalığı olarak da bilinen Cüzzam yani Lepra hastalığı, Mycobacterium leprae’nin neden olduğu kronik bir enfeksiyöz hastalıktır. Hastalık esas olarak cildi, periferik sinirleri, üst solunum yollarının ve gözlerin mukozal yüzeylerini etkiler. Cüzzamın erken bebeklikten itibaren çok yaşlılığa kadar her yaşta ortaya çıktığı bilinmektedir. Norveçli bilim adamı Gerhard Armauer Hansen tarafından keşfedilen hastalık, insanlık tarihinin en eski ve en ölümcül hastalıklarından biridir ve deri döküntüleri ile başlayıp sakatlıklara kadar uzanmaktadır.

                Cüzzamın kesin olarak nasıl yayıldığı bilinmemektedir. En azından yakın zamana kadar, en yaygın inanış, hastalığı taşıyan kişilerle sağlıklı kişiler arasındaki temasla bulaştığıdır. Son zamanlarda solunum yolu ile bulaşma olasılığı da önem kazanmaya başlamıştır. Ayrıca tamamen dışlanamasa da böceklerle bulaşma gibi olasılıklarda mevcuttur. Cüzzam, tedavi edilebilir bir hastalıktır ve erken tedavi çoğu engeli ortadan kaldırır.
            </p>
            <h3>
                CÜZZAM BELİRTİLERİ
            </h3>
            <p>
                Cüzzam öncelikle cildi ve beyin ve omurilik dışındaki periferik sinirler olarak adlandırılan sinirleri etliler. Ayrıca gözlere ve burnun iç kısmını kaplayan ince dokuya da vurabilir.

                Cüzzamın ana belirtisi, birkaç hafta veya ay sonra geçmeyen deri yaraları, topaklar ya da şişliklerdir. Cilt yaraları soluk renklidir.

                Sinir hasarı aşağıdakilere yol açabilir:
            </p>
            <ul>
                <li>Kol ve bacaklarda his kaybı</li>
                <li>Kas Güçsüzlüğü</li>
            </ul>
            <p>
                Semptomların cüzzamlı kişilerde ortaya çıkması bakterilerle temas ettikten sonra genellikle 3 ila 5 yıl sürer. Bazı insanlar 20 yıl sonra bile belirti göstermezler. Bakterilerle temas ve semptomların ortaya çıkması arasındaki zamana inkübasyon süresi denir. Cüzzamın uzun kuluçka dönemi, doktorların cüzzamlı bir kişinin ne zaman ve nerede enfekte olduğunu belirlemelerini çok zorlaştırmaktadır.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Cüzzam.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                CÜZZAM NEDENLERİ
            </h3>
            <p>
                Hansen adı verilen bakterinin, insan bünyesine yerleşmesinin ardından belirtiler gösterdiği ve daha sonra önce deride arkadan tüm vücutta döküntülere yol açtığı bilinmektedir. Bakterinin neden kaynaklandığı, hangi sebeple ortaya çıktığı tam olarak bilinememektedir.
            </p>
            <h3>
                CÜZZAM ÇEŞİTLERİ
            </h3>
            <p>
                Cüzzam hastalığı, cilt lezyonlarının sayısı ve sinir tutulumuna göre sınıflandırılır ve burada amaç uygun tedaviye karar vermektir. Bu sınıflandırma sırasında klinik bulgular ve cilt smear sonuçları esas alınır.
            </p>
            <ul>
                <li>Orta seviye cüzzam: Genelde kendi kendine iyileşen bazen de şiddetlenebilen birkaç adet düz lezyonun rastlandığı cüzzam çeşididir.</li>
                <li>Borderline tüberküloit cüzzam: Sinir tutulumunun daha az olduğu bu tipte lezyonlar daha küçük ancak daha fazla sayıdadır ve sonradan tüberküloit cüzzama dönüşebilir.</li>
                <li>Tüberküloit cüzzam: Birkaç düz lezyonla seyreden hastalık, kendiliğinden geçebileceği gibi ilerleyebilir. Sinirlerin etkilendiği bu cüzzamda hastada el, kol ve bacaklarda uyuşma görülür. Hasta, cüzzama karşı bağışıklıdır, derideki lezyonlar sınırlıdır ve hastalığın başkasına yayılma riski düşüktür.</li>
                <li>Orta sınırda cüzzam: Bu tip cüzzamda şişmiş lenf bezlerine, deride kırmızımsı plaklara rastlanabilir. Hastalık gerileyebileceği gibi ısrarcı da olabilir. Hastada orta derecede uyuşma hissi yaşanabilir.</li>
            </ul>
            <h3>
                CÜZZAM TEDAVİSİ
            </h3>
            <p>
                Cüzzam tedavi edilebilir bir hastalıktır. Dünya üzerinde son yirmi yılda, cüzzamlı 16 milyon insan tedavisi sağlanmıştır. Tedavi, sahip olduğunuz cüzzam türüne bağlıdır. Hansen hastalığı bir antibiyotik kombinasyonu ile tedavi edilir. Tipik olarak, 2 veya 3 antibiyotik aynı zamanda kullanılır. Bunlar rifampisinli dapsonlardır ve bazı hastalıklar için klofazimin eklenir. Buna çoklu ilaç tedavisi denir. Bu strateji, aksi takdirde tedavinin uzunluğu nedeniyle ortaya çıkabilecek olan bakterilerin antibiyotik direnci geliştirmesini önlemeye yardımcı olur. Ancak antibiyotikler sinir hasarını tedavi edemez.

                Tedavi genellikle bir ila iki yıl arasında sürer. Tedavi öngörüldüğü gibi tamamlandığında hastalık tedavi edilebilir.

                Antibiyotikler enfeksiyonu tedavi etmek için kullanılır. Genellikle altı aydan bir yıla kadar iki veya daha fazla antibiyotik tedavisi önerilir. Cüzzamlı kişiler daha uzun süre antibiyotik almak zorunda kalabilir.
            </p>
            <p>

                Anti-inflamatuar ilaçlar, sinir ağrısını ve cüzzamla ilgili hasarı kontrol etmek için kullanılır. Bu prednizon gibi steroidler içerebilir. Cüzzamlı hastalara, vücudun bağışıklık sistemini baskılayan güçlü bir ilaç olan talidomid de verilebilir. Cüzzamlı deri nodüllerinin tedavisine yardımcı olur. Talidomidinin ciddi, yaşamı tehdit eden doğum kusurlarına neden olduğu bilinmektedir ve hamile olan veya hamile kalmayı düşünen kadınlar tarafından asla alınmamalıdır.

                Tedavi edilmeyen cüzzam cildinize, sinirlerinize, kollarınıza, bacaklarınıza, ayaklarınıza ve gözlerinize kalıcı olarak zarar verebilir. Cüzzamın komplikasyonları şunları içerebilir:
            </p>
            <ul>
                <li>Körlük veya glokom.</li>
                <li>Yüzün şekil bozukluğu (kalıcı şişlik, çarpma ve topaklar dahil).</li>
                <li>Erektil disfonksiyon ve erkeklerde infertilite (kısırlık).</li>
                <li>Böbrek yetmezliği.</li>
                <li>Pençe benzeri ellere ya da ayakları bükememeye neden olan kas güçsüzlüğü.</li>
                <li>Burnun iç tarafında kalıcı hasar, burun kanaması ve kronik, tıkalı bir burna yol açabilir.</li>
                <li>Kollar, bacaklar ve ayaklar dahil olmak üzere beyin ve omurilik dışındaki sinirlerde kalıcı hasar.</li>
                <li>Sinir hasarı tehlikeli bir duygu kaybına yol açabilir. Cüzamla ilişkili sinir hasarı olan bir kişinin, elleri, bacaklari veya ayaklari kesildiğinde, yandığında veya başka bir şekilde yaralandığında ağrı hissetmeyebilir.</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Enfarktus"><img src="~/img/Hastaliklarimg/Enfarktüs.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Enfarktüs</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Ekstrasistol"><img src="~/img/Hastaliklarimg/Ekstrasistol.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Ekstrasistol</h4>
            </div>
        </div>
    </div>
</div>

