
@{
    ViewData["Title"] = "DeriKanseri";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Deri Kanseri</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Cilt (Deri) kanseri deriyi oluşturan bazı hücrelerin kontrolsüz büyümesi sonucu oluşan yaralarla karakterize bir durumdur. Cilt kanseri en sık güneşe maruz kalan ciltte meydana gelir. Ancak, kanserin bu yaygın görülen türü olağan koşullarda güneş ışığına maruz kalmayan cilt alanlarında da meydana gelebilmektedir.

                3 ana cilt kanseri türü vardır:
            </p>
            <ul>
                <li>Bazal hücreli cilt kanserleri (bazal hücreli karsinomlar)</li>
                <li>Skuamöz hücreli cilt kanserleri (Skuamöz hücreli karsinomlar)</li>
                <li>Melanom</li>
            </ul>
            <h4>
                Bazal ve skuamöz hücre kanserleri
            </h4>
            <p>
                Bazal ve skuamöz hücreli cilt kanserleri en yaygın kanserleridir. Her ikisi de çoğunlukla baş ve boyun gibi güneşe maruz kalan kısımlarında başlar. Bu kanserler, bir kişinin yoğun olarak güneş ışığına maruz kalmasıyla yakından ilgilidir.
            </p>
            <h4>
                Melanom
            </h4>
            <p>
                Melanomlar, cilde rengini veren kahverengi pigmenti oluşturan hücreler olan melanositlerde gelişen kanserlerdir. Melanositler ayrıca mol denilen iyi huylu (kanserli olmayan) büyümeler de oluşturabilir. Melanomlar vücudun herhangi bir yerinde oluşabilir. Gövde (göğüs ve sırt) erkeklerde en sık görülen yerdir. Kadınlarda, bacaklar en yaygın bölgedir. Boyun ve yüz de, melanomun başlaması için diğer ortak yerlerdir. Melanomlar bazal hücre ve skuamöz hücreli deri kanserleri kadar yaygın değildir, ancak çok daha ciddi olabilirler.
            </p>
            <p>
                Diğer cilt kanseri türleri:
            </p>
            <p>
                Yukarıda sayılan türlerin dışında birçok cilt kanseri türü daha bulunmaktadır, ancak bunlar çok daha az yaygındır:
            </p>
            <ul>
                <li>Merkel hücreli karsinom</li>
                <li>Kaposi sarkoması</li>
                <li>Kutanöz (cilt) lenfoma</li>
                <li>Cilt adneksiyal tümörleri (saç köklerinde veya ter ve yağ bezlerinde başlayan tümörler)</li>
                <li>Sarkom türleri</li>
            </ul>
            <p>
                Tüm bu kanser türleri, cilt kanserlerinin % 1’inden azını oluşturur.
            </p>
            <h3>
                CİLT KANSERİ BELİRTİLERİ
            </h3>
            <p>
                Cilt kanserleri birbirinin aynı değildir ve fazla semptomlara neden olmayabilir. Cilt kanserinin en önemli belirtisi deride yeni bir leke veya lekenin büyüklüğü, şekli veya rengindeki değişikliktir. Yine de, cildinizdeki olağandışı değişiklikler, farklı kanser türleri için bir uyarı işareti olabilir. Cildinizdeki değişiklikleri fark etmek, daha erken tanı konmasına yardımcı olabilir.
                Diğer belirtiler şöyledir:
            </p>
            <ul>
                <li>İyileşmeyen yara</li>
                <li>Pigmentlerin lekenin dışına taşarak etrafındaki deriye yayılım göstermesi</li>
                <li>Kırmızılık veya sınırının ötesinde yeni bir şişlik</li>
                <li>Hassasiyetin artması- kaşıntı, hassasiyet veya ağrı</li>
                <li>Benin yüzeyinin değişmesi- tümsekleşme, kanama ya da nodül veya yumru şeklinde görünüm.</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Deri Kanseri.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                CİLT KANSERİ NEDENLERİ
            </h3>
            <p>
                Cilt kanseri, cilt hücrelerinizin DNA’sında mutasyonlar oluştuğunda ortaya çıkar. Bu mutasyonlar cilt hücrelerinin kontrolsüz bir şekilde büyümesine neden olur ve bir miktar kanser hücresi oluşturur.
                Bazal hücreli cilt kanseri güneşten veya solaryumlardaki ultraviyole ışınlarından kaynaklanmaktadır. UV ışınları cilt hücrelerinin içindeki DNA’ya zarar verebilir ve olağandışı hücre büyümesine neden olabilir. Skuamöz hücreli cilt kanseri de UV maruziyetinden kaynaklanır.
            </p>
            <p>
                Skuamöz hücreli cilt kanseri, kansere neden olan kimyasallara uzun süre maruz kaldıktan sonra da gelişebilir. Yanık izi veya ülser içerisinde gelişebilir ve ayrıca bazı human papilloma virüslerinden (HPV) de kaynaklanabilir.
                Melanomun ise nedeni belli değildir. Benlerin çoğu, melanomlara dönüşmez. Bilim insanları bazılarının neden melanoma dönüştüğünü bilememektedir. Bazal ve skuamöz hücreli cilt kanserleri gibi melanom da UV ışınlarından kaynaklanabilir. Ancak, melanomlar vücudunuzun tipik olarak güneş ışığına maruz kalmayan kısımlarında da gelişebilir.
            </p>
            <h3>
                CİLT KANSERİ TEDAVİSİ
            </h3>
            <p>
                Cilt kanseri ve aktinik keratozlar olarak bilinen kanser öncesi cilt lezyonları için tedavi seçenekleri, lezyonların büyüklüğüne, türüne, derinliğine ve konumuna bağlı olarak değişir. Cilt yüzeyiyle sınırlı küçük cilt kanserleri, tüm büyümeyi ortadan kaldıran bir başlangıç cilt biyopsisinin ötesinde bir tedavi gerektirmeyebilir.

                Ek tedavi gerekirse, seçenekler şunları içerebilir:
            </p>
            <h4>
                Dondurma
            </h4>
            <p>
                Doktorunuz aktinik keratozları ve bazı küçük, erken cilt kanserlerini, sıvı azotla (kriyoşirürji) dondurarak yok edebilir. Ölü doku çözüldüğünde kabarır.
            </p>
            <h4>
                Eksizyonel Cerrahi
            </h4>
            <p>
                Bu tip bir tedavi, herhangi bir cilt kanseri türü için uygun olabilir. Lokal anestezi kullanarak mol, kist, deri kanseri ve diğer cilt büyümelerini gidermek için kullanılan cerrahi bir prosedürdür. Deri kanserini tedavi etmek için, doktor tüm tümörü ve çevresindeki sağlıklı dokuların bir kısmını çıkarmak için bir neşter kullanır.
            </p>
            <h4>
                Mohs Ameliyatı
            </h4>
            <p>
                Bu prosedür, hem bazal hem de skuamöz hücreli karsinomları içerebilen daha büyük, tekrarlayan veya tedavisi zor cilt kanserleri içindir. Genellikle burun gibi olabildiğince fazla cildi korumanın gerekli olduğu yerlerde kullanılır.

                Mohs ameliyatı sırasında doktorunuz, cilt büyüme katmanını, anormal hücre kalmayana kadar her bir katmanı mikroskop altında inceleyerek katmandan uzaklaştırır. Bu prosedür, kanserli hücrelerin aşırı miktarda çevreleyen sağlıklı cilt almadan alınmalarına izin verir.
            </p>
            <h4>
                Küretaj ve elektrotikasyon veya kriyoterapi
            </h4>
            <p>
                Dairesel bıçaklı bir alet (küret) kullanarak kanser hücresi katmanları ve elektrikli iğne ile de kalan kanserli hücreleri yok edilir. Bu prosedürün başka bir varyasyonunda, müdahale edilen alanın tabanını ve kenarlarını dondurmak için sıvı azot kullanılabilir.
                Bu basit, hızlı prosedürler bazal hücre kanserlerini veya ince skuamöz hücre kanserlerini tedavi etmek için kullanılabilir.
            </p>
            <h4>
                Radyasyon tedavisi
            </h4>
            <p>
                Radyasyon tedavisi, kanser hücrelerini öldürmek için X ışınları gibi yüksek güçlü enerji ışınlarını kullanır. Radyasyon tedavisi, kanser ameliyat sırasında tamamen ortadan kaldırılamadığında bir seçenek olabilir.
            </p>
            <h4>
                Kemoterapi
            </h4>
            <p>
                Kemoterapide, kanser hücrelerini öldürmek için ilaçlar kullanılır. Derinin üst tabakası ile sınırlı kanserler için, anti-kanser ajanları içeren kremler veya losyonlar doğrudan cilde uygulanabilir.
            </p>
            <h4>
                Sistemik kemoterapi
            </h4>
            <p>
                Vücudun diğer bölümlerine yayılmış olan cilt kanserlerini tedavi etmek için kullanılabilir.
            </p>
            <h4>
                Fotodinamik terapi
            </h4>
            <p>
                Bu tedavi, cilt kanseri hücrelerini, lazer ışığının ve kanser hücrelerini ışığa duyarlı kılan ilaçların bir kombinasyonu ile tahrip eder.
            </p>
            <h4>
                Biyolojik terapi
            </h4>
            <p>
                Biyolojik terapi, vücudunuzun bağışıklık sistemini kanser hücrelerini öldürmek için kullanır.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Egzama"><img src="~/img/Hastaliklarimg/Egzama.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Egzama</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Dolama"><img src="~/img/Hastaliklarimg/Dolama.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Dolama</h4>
            </div>
        </div>
    </div>
</div>

