
@{
    ViewData["Title"] = "Difteri";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Difteri</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                “Kuşpalazı hastalığı” olarak da bilinen difteri hastalığı; solunum difterisi olarak boğazlarda veya burun bölgesinde ortaya çıktığı gibi deri difterisi olarak cildimizde de ortaya çıkabilen bir hastalık çeşididir. Corynebacterium diphtheriae adlı mikroorganizmanın boğaz, burun, göz ve deriye yerleşmesiyle ortaya çıkan ciddi sonuçlara, ölümlere yol açabilen bir hastalıktır. Kişiler hastalığı geçirseler bile vücut tam koruyucu cevap oluşturmadığı için tekrar hastalanma riskleri mevcuttur. Bu nedenle sadece sağlıklı kişilerin değil hastaların da hastalık sonrasında aşılanmaları mutlaka gerekmektedir.
            </p>
            <h3>
                DİFTERİ NASIL BULAŞIR?
            </h3>
            <p>
                Enfeksiyonun bulaşmasında hastalar ve taşıyıcılar rol oynamaktadır. Hasta bireyler bakteriyi, öksürürken, hapşırırken ya da konuşurken oluşturdukları damlacıklar aracılığı ile doğrudan ya da sekresyonları ile kirlenmiş eşyaları ile dolaylı olarak çevreye yayabilirler. Bazı kişiler solunum yollarında bu hastalık etkenini herhangi bir belirti göstermeden taşıyabilirler. Bu kişiler de hastalar gibi bakterinin bulaşmasında risk yaratırlar. Difteri etkeni ile karşılaşmamış veya aşılanmamış kişiler her yaşta hastalığa yakalanabilirler.

                Tedavi edilmemiş hastalar genellikle 2-3 hafta boyunca bulaştırıcı (infeksiyöz) olurlar ve bulaştırıcılık genellikle antibiyotik tedavisi başlandıktan sonraki 24 saat içinde sona erer. Antibiyotik verilmezse nadiren 4 haftayı da geçebilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Difteri.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                DİFTERİ BELİRTİLERİ
            </h3>
            <ul>
                <li>Boyunun iki tarafında şişlik</li>
                <li>Cilt rengindeki solukluk ve dudaklarda morluk</li>
                <li>Kusma</li>
                <li>Karın ağrısı</li>
                <li>Yutkunmada zorluk</li>
                <li>Solunum zorluğu</li>
                <li>Damak şişmesi</li>
                <li>Boğuk ses veya kısık ses</li>
                <li>Kalp ritminde artış</li>
            </ul>
            <h3>
                DİFTERİ TEDAVİSİ
            </h3>
            <p>
                Difteri tedavisinde kişiler, diğer hasta ve sağlıklı kişilerden ayrılarak önce boğaz kültürleri ve tetkik için kanları alınır sonra antitoksin ve antibiyotik tedavisi başlanır. Hastalar hastalığı geçirse bile hastaneden çıkmadan önce muhakkak aşı uygulanır ve aşı her 10 yılda bir tekrarlanmalıdır.

                Yetişkinlerde uygun aralıklarla yapılmış 3 doz veya bebeklerde karma aşı içinde yapılan 4 doz difteri aşısı ile % 95'ten fazla koruyuculuk sağlanır. Difteri aşısının klinik etkinliği %97 olarak tahmin edilmektedir.
            </p>
            <p>
                Ayrıca, aşı veya aşı içeriklerine karşı ciddi alerjik reaksiyon (anaflaksi) öyküsü olanlara tekrar difteri aşısı yapılmamalıdır. Orta veya ağır akut hastalığı olanlarda aşı ertelenmelidir. Ancak hafif hastalıkta aşı yapılabilir. Bağışıklık sistemi baskılanmış olanlar ve gebeler difteri aşısı olabilirler.

                Bunun dışında eğer sorun boğaz bölgesindeyse dışarıdan bu bölgeye ıslak bezler koymak, sürekli yatmasını dinlenmesini ve konuşmamasını sağlamak da tedavi süreci için gerekli olan durumlardandır. Ayrıca tedavi olumlu şekilde sonuçlanana kadar hastalarının çocuk yaştakilerin de yetişkinlerinin de beslenme düzenine çok çok dikkat etmesi gerekmektedir. Bol bol ağır kıvamlı olmayan az malzemeli hafif çorbalar, limonata, doğal meyve suları, komposto ve hafif sulu yemekler yenilmelidir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Dizanteri"><img src="~/img/Hastaliklarimg/Dizanteri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Dizanteri</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Diyabet"><img src="~/img/Hastaliklarimg/Diyabet.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Diyabet</h4>
            </div>
        </div>
    </div>
</div>

