
@{
    ViewData["Title"] = "Diyabet";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Diyabet</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Diyabet, pankreas artık insülin yapamadığında veya vücut ürettiği insülini iyi kullanamadığında ortaya çıkan kronik bir hastalıktır.

                İnsülin, pankreas tarafından üretilen, yediğimiz gıdalardan gelen glikozun kan akışından vücuttaki hücrelere enerji üretmek için geçmesine izin veren bir anahtar gibi davranan bir hormondur. Tüm karbonhidratlı yiyecekler kandaki glikoza bölünür. İnsülin, glukozun hücrelere girmesine yardımcı olur.
            </p>
            <p>
                İnsülin üretememek veya etkili şekilde kullanmamak, kanda yükselmiş glikoz seviyelerine (hiperglisemi olarak bilinir) yol açar. Uzun vadede yüksek glikoz seviyeleri vücutta hasara ve çeşitli organ ve dokularda yetersizliklere yol açar.
            </p>
            <h3>
                DİYABET TÜRLERİ
            </h3>
            <p>
                Üç ana diyabet türü vardır:
            </p>
            <ul>
                <li>Tip 1</li>
                <li>Tip 2</li>
                <li>Gebelik</li>
            </ul>
            <br>
            <ul>
                <li>Tip 1 diyabet her yaşta gelişebilir, ancak en sık çocuklarda ve ergenlerde görülür. Tip 1 diyabetiniz olduğunda, vücudunuz çok az insülin üretir veya hiç insülin üretemez, bu da kan şekeri seviyesini kontrol altında tutmak için günlük insülin enjeksiyonlarına ihtiyacınız olduğu anlamına gelir.</li>
                <li>Tip 2 diyabet yetişkinlerde daha yaygındır ve tüm diyabet vakalarının yaklaşık % 90’ını oluşturur. Tip 2 diyabetiniz varsa, vücudunuz ürettiği insülini iyi kullanmaz. Tip 2 diyabet tedavisinin temel taşı, fiziksel aktivite ve sağlıklı beslenme de dahil olmak üzere sağlıklı yaşam tarzıdır. Bununla birlikte, zamanla tip 2 diyabet hastalarının çoğu kan glikoz seviyelerini kontrol altında tutmak için oral ilaçlar ve / veya insülin kullanması gerekecektir.</li>
                <li>Gebelik diyabeti, hamilelik sırasında yüksek kan şekeri içeren ve hem anne hem de çocukta komplikasyonlarla ilişkili olan bir diyabet türüdür. Genellikle hamilelikten sonra kaybolur, ancak kadınlar etkilenir ve çocukları daha sonra yaşamda tip 2 diyabet gelişme riski altındadır.</li>
            </ul>
            <h3>
                DİYABET BELİRTİLERİ
            </h3>
            <p>
                Tip 1 diyabette semptomlar genellikle anidir ve hayatı tehdit edici olabilir; bu nedenle genellikle oldukça hızlı bir şekilde teşhis edilir. Tip 2 diyabette, birçok insanın hiçbir semptomu yoktur; diğer bulgular ‘yaşlanmanın’ bir parçası olarak görüldüğü fark edilmeyebilir.
                Bu nedenle, belirtiler fark edildiğinde diyabetin komplikasyonları zaten mevcut olabilir.
                Yaygın semptomlar şunlardır:
            </p>
            <ul>
                <li>Her zamankinden daha fazla susamak</li>
                <li>Çok sık idrara çıkmak</li>
                <li>Yorgun ve uyuşuk hissetmek</li>
                <li>Sürekli açlık hissi</li>
                <li>İyileşmeyen yaralar</li>
                <li>Kaşıntı, cilt enfeksiyonları</li>
                <li>Bulanık görme</li>
                <li>Açıklanamayan kilo kaybı (tip 1)</li>
                <li>Yavaş yavaş ağırlık koyarak (tip 2)</li>
                <li>Ruh hali dengesizlikleri</li>
                <li>Baş ağrısı</li>
                <li>Baş dönmesi</li>
                <li>Bacaklarda ve elllerde ağrı ve karıncalanma</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Diyabet.png" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                DİYABET TEDAVİSİ
            </h3>
            <p>
                Ne tür bir diyabetinizin olduğuna bağlı olarak, kan şekeri izleme, insülin ve oral ilaçlar tedavide rol oynayabilir. Sağlıklı beslenme, kilo kontrolü ve düzenli aktiviteye katılmak da diyabetin tedavisinde önemli faktörlerdir.
            </p>
            <h4>
                Genel diyabet tedavisi
            </h4>
            <p>
                Diyabet yönetiminin önemli bir parçası; genel sağlığınız kadar, sağlıklı bir beslenme ve egzersiz planı ile kilonuzu korumaktır:
            </p>
            <p>
                Sağlıklı beslenme: Popüler algıların aksine, spesifik bir diyabet diyeti yoktur. Diyetinizi daha fazla meyve, sebze, yağsız protein ve kepekli tahıllara (besin ve lif bakımından yüksek, yağ ve kalorinin düşük olduğu) ve doymuş yağları, rafine karbonhidratları ve tatlıları azaltmaya odaklanmanız gerekir.

                Ancak ne ve ne kadar yemeniz gerektiğini anlamak zor olabilir. Bir diyetisyen, sağlık durumunuza, beslenme tercihlerinize ve yaşam tarzınıza uygun bir beslenme planı oluşturmanıza yardımcı olabilir.
            </p>
            <p>
                Fiziksel aktivite: Herkesin düzenli egzersiz yapması gerekir ve diyabet hastaları bu bir istisna değildir. Egzersiz, şekeri enerji olarak kullanıldığı hücrelere taşıyarak kan şekeri seviyenizi düşürür. Egzersiz aynı zamanda insüline duyarlılığınızı artırır, bu da vücudunuzun hücrelerinize şeker taşımak için daha az insüline ihtiyaç duyduğu anlamına gelir.
                Yapacağınız egzersizler için doktorunuza danışın. Ardından, yürüyüş, yüzme veya bisiklete binmek gibi hoşunuza giden aktiviteleri seçin. En önemlisi de fiziksel aktiviteyi günlük yaşantınızın bir parçası haline getirmektir.
            </p>
            <p>
                Haftada 3-4 kez en az 30 dakika veya daha fazla egzersiz yapmayı hedefleyin. Egzersiz araları günde üç defa 10 dakika kadar olabilir. Uzun süre egzersiz yapmadıysanız, yavaş yavaş başlayın.
            </p>
            <h4>
                Tip 1 ve Tip 2 Diyabet Tedavileri
            </h4>
            <p>
                Tip 1 diyabet tedavisi, insülin enjeksiyonlarını veya insülin pompasının kullanımını, sık kan şekeri ölçümlerini ve karbonhidrat sayımını içerir. Tip 2 diyabetin tedavisi öncelikle yaşam tarzı değişikliklerini, kan şekerinizin izlenmesini, diyabet ilaçlarını, insülini veya her ikisini içerir.
            </p>
            <h4>
                Kan şekerini izlemek
            </h4>
            <p>
                Tedavi planınıza bağlı olarak, insülin kullanıyorsanız kan şekerinizi günde dört kez veya daha sık kontrol edebilir ve kaydedebilirsiniz. Dikkatli izleme, kan şekeri seviyesinin hedef aralığınızda kaldığından emin olmanın tek yoludur. İnsülin kullanmayan tip 2 diyabet hastaları genellikle kan şekerlerini çok daha az kontrol ederler.
                Dikkatli bir yönetimle bile, kan şekeri seviyeleri bazen tahmin edilemez şekilde değişebilir. Kan şekeri seviyenizin gıda, fiziksel aktivite, ilaçlar, hastalık, alkol, stres ve kadınlar için hormon seviyelerinde dalgalanmalara karşı nasıl değiştiğini doktorunuzla birlikte çalışarak öğreneceksiniz.
            </p>
            <p>
                Günlük kan şekeri izlemesine ek olarak, doktorunuz muhtemelen son iki ila üç ay boyunca ortalama kan şekeri seviyenizi ölçmek için düzenli A1C testi önerecektir.
                Günlük tekrarlanan kan şekeri testleriyle karşılaştırıldığında, A1C testi diyabet tedavi planınızın genel olarak ne kadar iyi çalıştığını gösterir. Yüksek bir A1C seviyesi, oral ilaçlarınızda, insülin direncinde veya beslenme planınızda değişiklik yapmanız gerektiğini işaret edebilir.
                A1C hedefiniz yaşınıza ve sahip olabileceğiniz diğer tıbbi durumlar gibi diğer çeşitli faktörlere bağlı olarak değişebilir.
            </p>
            <h4>
                İnsülin
            </h4>
            <p>
                Tip 1 diyabeti olan insanlar insülin tedavisine ihtiyaç duyarken, Tip 2 diyabetli veya gebelik diyabetli birçok insanın insülin tedavisine de ihtiyacı vardır.
                Hızlı etkili insülin, uzun etkili insülin ve ara seçenekler dahil olmak üzere birçok insülin türü mevcuttur. İhtiyaçlarınıza bağlı olarak, doktorunuz bunlardan hangisini kullanmanız gerektiğine karar verecektir.
            </p>
            <p>
                Mide enzimleri insülinin etkisine müdahale ettiği için kan şekerini düşürmek için insülin oral yoldan alınamaz. Genellikle insülin, ince bir iğne ve şırınga veya insülin kalemi büyük bir tükenmez kaleme benzeyen bir cihaz kullanılarak enjekte edilir.
                Bir insülin pompası da bir seçenek olabilir. Pompa, vücudunuzun dışına giyilen bir cihazdır. Tüp, insülin rezervuarını karnınızın derisinin altına yerleştirilmiş bir katetere bağlar.
            </p>
            <h4>
                Oral veya diğer ilaçlar
            </h4>
            <p>
                Bazen başka oral veya enjekte edilen ilaçlar da reçete edilir. Bazı diyabet ilaçları, daha fazla insülin üretmesi ve salgılaması için pankreasınızı uyarır. Diğerleri karaciğerinizden glikoz üretimini ve salımını engeller, bu da şekerleri hücrelere taşımak için daha az insüline ihtiyacınız olduğu anlamına gelir.

                Yine diğerleri karbonhidratları parçalayan veya dokularınızı insüline daha duyarlı hale getiren mide veya bağırsak enzimlerinin etkisini engeller. Metformin, genellikle Tip 2 diyabet için önerilen ilk ilaçtır.
            </p>
            <h4>
                Transplantasyon
            </h4>
            <p>
                Tip 1 diyabeti olan bazı insanlarda, pankreas nakli bir seçenek olabilir. Başarılı bir pankreas nakli ile insülin tedavisine ihtiyaç kalmaz.
                Fakat nakiller her zaman başarılı olmayabilir ve bu prosedürler ciddi riskler oluşturur. Organ reddini önlemek için ömür boyu süren immün baskılayıcı ilaçlara ihtiyacınız vardır. Bu ilaçların ciddi yan etkileri olabilir, bu nedenle nakillerin genellikle diyabeti kontrol edilemeyen ya da böbrek nakline ihtiyaç duyan kişiler için yapılması gereklidir.
            </p>
            <h4>
                Bariatrik cerrahi
            </h4>
            <p>
                Özellikle tip 2 diyabet için bir tedavi olarak düşünülmese de, obez olan ve vücut kitle indeksi 35’ten yüksek olan tip 2 diyabet hastaları bu tip ameliyatlardan faydalanabilir. Gastrik bypass geçirmiş kişiler kan şekeri seviyelerinde önemli iyileşmeler görmüşlerdir. Bununla birlikte, bu prosedürün tip 2 diyabet için uzun vadeli riskleri ve faydaları henüz bilinmemektedir.
            </p>
            <h4>
                Gebelik diyabet tedavisi
            </h4>
            <p>
                Kan şekeri seviyenizi kontrol etmek bebeğinizi sağlıklı tutmak ve doğum sırasındaki komplikasyonlardan korunmak için esastır. Sağlıklı bir beslenme ve egzersiz yapmanın yanı sıra, tedavi planınız kan şekerinizi izlemeyi ve bazı durumlarda insülin veya oral ilaçlar kullanmayı içerebilir.
                Doktorunuz ayrıca doğum sırasında kan şekeri seviyenizi izler. Kan şekeri yükselirse, bebeğiniz doğumdan hemen sonra kan şekeri düşüklüğüne yol açabilecek yüksek insülin salgılayabilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Difteri"><img src="~/img/Hastaliklarimg/Difteri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Difteri</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/DeriKanseri"><img src="~/img/Hastaliklarimg/Deri Kanseri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Deri Kanseri</h4>
            </div>
        </div>
    </div>
</div>

