
@{
    ViewData["Title"] = "Dizanteri";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Dizanteri</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Dizanteri, kanlı ishale neden olan bir bağırsak enfeksiyondur. Bazı durumlarda, dışkıda mukus bulunabilir. Bu genellikle 3 ila 7 gün sürer. Dizanteri genellikle kötü hijyen nedeniyle yayılır. Dizanteri, amip ve basil adı verilen iki farklı parazit nedeniyle ortaya çıkmakta olup sebep olan parazitine göre farklı bir şekilde seyredebilmektedir.
            </p>
            <ul>
                <li>Basilli Dizanteri: Bu mikrop vücuda girdikten iki yada yedi gün sonra bazı belirtilerle kişiyi rahatsız etmeye başlar.</li>
                <li>Amipli Dizanteri: Bu mikrop vücuda girdikten on yada yirmi bir gün sonrasında kişiyi rahatsız edici belirtilerle kendini belli eder.</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Dizanteri.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <p>
                Dizanterinin en yaygın nedenleri arasında bakteriyel enfeksiyonlar gösterilebilir. Salmonella, Shigella, E.coli ve Campylobacter gibi türler kalın bağırsağı etkileyerek, dizanteri adı verilen sorunun oluşmasına yol açar.
                Diğer nedenler arasında;
            </p>
            <ul>
                <li>Kirli sularda ve havuzlarda yüzmek,</li>
                <li>Tuvaletten çıktıktan sonra elleri yıkamamak,</li>
                <li>Dizanteri hastası biriyle cinsel ilişkiye girmek,</li>
                <li>İçme suyuna kanalizasyon sularının karışması,</li>
                <li>Meyve ve sebzelerin yeterince yıkanmadan tüketilmesi,</li>
                <li>İnsan dışkısının besinlere bulaşması,</li>
                <li>Dizanteri hastası birinin çatal, bıçak, bardak veya havlu gibi kişisel eşyalarını kullanmak,</li>
                <li>Hijyen koşullarına yeterince özen göstermemek,</li>
                <li>Fast food tarzı sağlıksız gıdalarla beslenmek,</li>
                <li>Bozulmuş veya tarihi geçmiş gıdaları tüketmek sayılabilir.</li>
            </ul>
            <h3>
                DİZANTERİ BELİRTİLERİ
            </h3>
            <ul>
                <li>Yüksek ateş</li>
                <li>Kanlı ishal</li>
                <li>Şiddetli karın ağrısı</li>
                <li>İştahsızlık</li>
                <li>Bulantı</li>
                <li>Kusma</li>
            </ul>
            <h3>

                DİZANTERİ TEDAVİSİ
            </h3>
            <p>
                Dizanteri genellikle 3 ila 7 gün sonra kendi kendine iyileştiği için tedaviye genellikle gerek yoktur.Bununla birlikte, dehidrasyonu önlemek için bol miktarda sıvı içmek ve gerekirse oral rehidrasyon solüsyonları kullanmak önemlidir. Parasetamol gibi ağrı kesiciler ağrıyı ve ateşi hafifletmeye yardımcı olabilir. Enfeksiyonun başkalarına bulaşma riskini azaltmak için, son ishal döneminden en az 48 saat sonra evde kalmak çok önemlidir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/CicekHastaligi"><img src="~/img/Hastaliklarimg/Çiçek Hastalığı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Çiçek Hastalığı</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Cuzzam"><img src="~/img/Hastaliklarimg/Cüzzam.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Cüzzam</h4>
            </div>
        </div>
    </div>
</div>

