
@{
    ViewData["Title"] = "Dolama";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Dolama</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Tırnağın veya ayak tırnağının kenarı boyunca gelişen bir enfeksiyona dolama denir. Parmak iltihabı olarak da bilinir. İltihaplanan parmak şişer ve ağrımaya başlar. Bazen iltihap kemiğe kadar işler. Dolama yeri ve görünümü ile onikomikoz ve herpetik beyazlık gibi diğer enfeksiyonlardan ayrılır.
            </p>
            <h3>
                DOLAMA NEDENLERİ
            </h3>
            <p>
                Genellikle bakteriyel enfeksiyon neden olur, ancak herpetik virüs olarak adlandırılan herpetik dolama ve daha nadiren mantarlar da dolamaya neden olabilir. Dolamaya çoğunlukla, sık görülen deri bakterilerinden olan stafilokok bakterilerin, tırnak yeme, parmak emme, bulaşık yıkama veya kimyasal irritanlara maruz kalma ve travma ile zarar görmüş olan tırnak etrafındaki deriye girmesinden kaynaklanır. Mantar enfeksiyonu aynı zamanda kronik paronişiye neden olabilir ve özellikle tekrarlayan enfeksiyonu olan kişilerde sık görülür.
            </p>
            <h4>
                Herpetik Dolama
            </h4>
            <p>
                Elin çok nadir görülen viral enfeksiyonudur. Herpetik dolama herpes tip I ve tip II virüsünün el üzerinde olan hasarlı bölgelerden geçişi ile olmaktadır. Enfeksiyon primer oral veya genital herpesi olan bölgelerden direkt bulaşma ile olmaktadır. Bulaşıcılığı çok fazla olduğu için temastan kaçınılmalı ve tekrarlayabileceği hastaya mutlaka anlatılmalıdır.
            </p>
            <h3>
                DOLAMA BELİRTİLERİ
            </h3>
            <ul>
                <li>Enfekte olan parmak sonunda zonklama ağrısı</li>
                <li>Başparmak veya işaret parmak dolamadan en çok etkilenen parmaklardır</li>
                <li>Enflamasyon</li>
                <li>Kızarıklık görünümü</li>
                <li>Şişkinlik gelişimi</li>
                <li>Etkilenen bölgede ağrı ve hassasiyet yaşanabilir</li>
                <li>Enfeksiyon yaygınlaştıkça ciltte kızarıklık gelişir ve genellikle ısınır</li>
                <li>Yorgunluk</li>
                <li>Ağrılar ve kas ağrıları</li>
                <li>Enfekte bölgede cildin parlak, gergin ve sıkı görünümü</li>
                <li>Genel hastalık hissi</li>
                <li>Titreme</li>
                <li>Anormal terleme</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Dolama.png" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                DOLAMA TEDAVİSİ
            </h3>
            <p>
                Parmaktaki dolama enfeksiyonu antibiyotik, yüksekte tutma ve hareketsizlik ile çabucak iyileşmesi beklenir. Tedavi sırasında şunlar tavsiye edilir:
            </p>
            <ul>
                <li>Elinizi kalp seviyesinde veya üstünde tutun. Bu şişkinliği azaltır.</li>
                <li>Uygulanan bir bandaj veya aparatla elinizi yukarıda tutmanız kolaylaştırılabilir.</li>
                <li>Düzenli antibiyotik kullanmak önemlidir. Hastanedeyken bunlar genellikle intravenöz olarak uygulanır (“damla” yoluyla). Durumunuz düzeldikten sonra tablet veya kapsül antibiyotikler kullanılır.</li>
                <li>Sigara kullanmaktan uzak durulmalıdır. Sigara, eldeki kan akışını % 42 oranında azaltır; Eğer sigara içerseniz, enfeksiyonla savaşma ve iyileşme kabiliyetinizi azaltabilirsiniz.</li>
                <li>Zonklama ağrısı için gereken ağrı kesici ilaçları alın.</li>
            </ul>
            <h4>
                Cerrrahi Tedavi
            </h4>
            <p>
                Dolamanın tedavisi genellikle basit yöntemlerle yapılabildiği gibi, günlük hayatı oldukça zorlayan ve özellikle virüs nedeniyle oluşmuş olan bazı vakalarda, cerrahi tedavi gerekebilir.
                Dolamanın sebebinin virüs kaynaklı olduğu görülürse, hekim parmakta oluşan iltihabı, cerrahi müdahale ile akıtma yoluna gider. Parmakta dolama patlatma olarak da bilinen yöntemde genellikle iltihap biriken deriye bisturi kullanarak kesik atmak yeterlidir. En kesin çözüm olarak görülen bu tedavi yöntemi, sebebi belirsiz vakalarda son çare olarak görülürken, virüs kaynaklı vakalarda ilk olarak yapılacak tedavidir.
            </p>
            <h3>
                DOLAMAYA İYİ GELEN YÖNTEMLER
            </h3>
            <h4>
                Tuzlu sıcak su uygulaması
            </h4>
            <p>
                Tuzlu sıcak suda parmaklarınızı 15 dakika bekletirseniz, paronişinin neden olduğu rahatsızlığı azaltabilirsiniz. Mümkünse epsom tuzu kullanın. Su teninizi yakmayacak kadar sıcak olmalı. Sıcak su sayesinde ağrı ve şişme azalır, iltihabın bir kısmı boşalabilir.
            </p>
            <h4>
                Zeytinyağı ve çay ağacı yağı
            </h4>
            <p>
                Bu iki yağı eşit oranlarda karıştırın. Bakteri kaynaklı olan parmak iltihabının çevresine bu karşımı 15 dakika süreyle uygularsanız antibakteriyel içerikleri sayesinde iltihabın bir kısmından kurtulur ve parmak iltihabının artmasını önlersiniz. Bu uygulamayı günde iki kere sabah akşam iltihap iyileşinceye kadar yapabilirsiniz.
            </p>
            <h4>
                Buz torbası uygulaması
            </h4>

            Parmağınızın üzerine bir parça bez koyarak buz torbası uygulayın. Sinirleri uyuşturarak ağrıyı dindirir, şişmeyi ve parmak iltihabını azaltır.
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/BurunAhtapotu"><img src="~/img/Hastaliklarimg/Burun Ahtapotu.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Burun Ahtapotu</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Bronsit"><img src="~/img/Hastaliklarimg/Bronşit.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Bronşit</h4>
            </div>
        </div>
    </div>
</div>

