
@{
    ViewData["Title"] = "Egzama";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Egzama</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Atopik dermatit (AD), bir çok faktöre (genetik, çevresel) bağlı olarak gelişen kronik bir cilt hastalığıdır.
                “Atopik” terimi astım, egzama ve saman nezlesi ve besin alerjisi gibi bir grup durumu tanımlamak için kullanılır. Bu koşulların tümü, vücudun bağışıklık sisteminin alerji tarafının artan aktivitesi ile bağlantılıdır.
                “EGZAMA”, Yunanca ‘kaynama’ kelimesinden gelen ve bazen kabarık, kabuklu ve kalınlaşan kırmızı, kuru, kaşıntılı cildi tanımlamak için kullanılan bir terimdir.
                Atopik dermatit, süt çocukluğu döneminde en sık yüzde (sıklıkla yanaklarda), saçlı deride, diz ve dirsek bölgelerinde ve kulak arkasında görülür.
            </p>
            <p>
                İki yaşından büyük çocuklarda daha çok dirsek önü, diz arkası, boyun, el ve ayak bileği bölgesini tutar. Tutulan bölgelerde deride kalınlaşma, kabalaşma ve deri çizgilerinin belirginleşmesi gözlenir.
                Ergenlik döneminde kaşıntı ve deride kalınlaşma ön plandadır. Lezyonlar daha çok el ve ayak bilekleri, kol ve bacakların iç yüzlerinde, göz çevresi, yüz, boyun ve gövdenin üst kısmındadır. Bu dönemde egzama sadece ellerde görülebilir. Genellikle ciltte çizgilenme, kalınlaşma ve renkte koyulaşmaya neden olur.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Egzama.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                EGZAMA NEDENLERİ
            </h3>
            <p>
                Atopik dermatit karmaşık bir durumdur ve hastanın duyarlılığı ve çevresel faktörler dahil olmak üzere gelişimi için bir takım faktörler önemli görünmektedir. Hastalar tipik olarak cilt bariyerlerinde ve aşırı reaktif enflamatuar ve alerji tepkilerinde değişikliklere sahiptir.

                Çevresel faktörler arasında sabunlar, deterjanlar ve cilde uygulanan diğer kimyasal maddeler, alerjenlere maruz kalma ve bazı bakteri ve virüslerle enfeksiyon bulunur. Atopik koşullara eğilim genellikle ailelerde rastlanır ve genlerin bir parçasıdır. Atopik dermatit hastalığına sahip olan kişilerin ailesinde genellikle atopik dermatit, astım veya alerjik rinit rahatsızlıkları bulunmaktadır.
            </p>
            <p>
                Atopik dermatiti olan çocukların yarısına yakınında besin alerjileri görülebilir. Besin alerjisi neden olan besinler sıklıkla;
            </p>
            <ul>
                <li>İnek sütü,</li>
                <li>Yumurta,</li>
                <li>Buğday,</li>
                <li>Kuruyemişler (fındık, fıstık vb),</li>
                <li>Yer fıstığı,</li>
                <li>Balık,</li>
                <li>Kabuklu deniz ürünleridir.</li>
            </ul>
            <p>
                Ev tozu akarları, evcil hayvan alerjenleri ve polenler de atopik dermatit hastalarında alerjiye neden olabilir.

                Sağlıklı bir cilt bariyerinin korunmasında önemli olan bir gendeki değişim, egzama gelişimi ile yakından ilişkilidir. Bu, egzamalı hastaların cildini enfeksiyona karşı daha hassas hale getirir ve tahriş edici maddelerin / parçacıkların cilde girmesini sağlar, kaşıntı ve iltihaplanmaya neden olur. Atopik dermatit bulaşıcı değildir ve başka birinden bulaşması mümkün değildir.
            </p>
            <h3>
                ATOPİK DERMATİT BELİRTİLERİ
            </h3>
            <p>
                Atopik deramtitin en önemli bulgusu cilt kuruluğudur. Kuruluğa bağlı olarak ciltte kaşıntılar meydana gelir. Kaşıntı atopik dermatite özgü cilt yaralarının çıkmasına neden olur. Kaşıntıyı terleme, sıcak, tahriş edici maddeler ve alerjenler artırır. Kaşınma ile cilt bütünlüğü daha da bozulur ve egzema olarak tanımladığımız yaralar meydana gelir.
                Egzema kızarık, üzeri pütürlü ve sızıntı bulunan lezyonlardır ve hastanın yaşına göre vücudun farklı bölgelerinde ortaya çıkar.
            </p>
            <h3>
                ATOPİK DERMATİT TEDAVİSİ
            </h3>
            <p>
                Atopik dermatit kronik bir hastalıktır ve kür sağlayacak bir tedavi yöntemi yoktur. Hafif vakaların önemli bir bölümü kendiliğinden geçer.
                ‘Topikal’, ‘cilt yüzeyine uygulanan’ anlamına gelir. Egzama tedavilerinin çoğu topikaldir, ancak daha ciddi egzamalar için bazı kişilerin de (ağızdan) oral yoldan ilaç almaları gerekir. ‘Komple yumuşatıcı terapi’, egzamalı tedavilerin en önemli parçası olan tüm hastalar için tedavinin temelini oluşturur.</p>
                
               <p> Nemlendiriciler (yumuşatıcılar): Cildinizin dış katmanının, çevrenizin önündeki bir engel olarak daha iyi çalışabilmesi için her gün birkaç kez uygulanmalıdır. Cildiniz ne kadar kuru olursa, o kadar sık nemlendirici kullanmalısınız. Yağ derecelerine göre değişen birçok farklı seçenek mevcuttur ve kullanmak istediğinizi seçmeniz önemlidir. Tekrarlanan enfeksiyonlar bir sorunsa, antiseptik içeren nemlendiriciler yararlı olabilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/BobrekTasi"><img src="~/img/Hastaliklarimg/Böbrek Taşı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Böbrek Taşı</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/BobrekEnfeksiyonu"><img src="~/img/Hastaliklarimg/Böbrek Enfeksiyonu.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Böbrek Enfeksiyonu</h4>
            </div>
        </div>
    </div>
</div>

