
@{
    ViewData["Title"] = "Ekstrasistol";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Ekstrasistol</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                En yaygın aritmi formlarından biri kalbin ekstrasistoludur. Sistol kelimesi kalbin kasılmasına yani kalp atışlarını tanımlamak için kullanılan kelimedir. Bu kelime ‘atım' anlamına gelmektedir. Ekstrasistol da ‘ek atım' anlamına gelir, kalbin fazladan kasılmasını, fazladan atmasını ifade eder. Yani ekstrasistol, kalp ve damarlarda olağan iki kasılma arasında oluşan ekstra kasılmaya verilen isimdir.
            </p>
            <h3>
                EKSTRASİSTOL NEDENLERİ
            </h3>
            <p>
                Toplumda yaşayan kişilerin neredeyse tamamında görülen ekstrasistol, genellikle belirtisiz ve fark edilmeyen bir durumdur. Nedenleri ise bu durumu yaşayan kişilere göre değişmektedir. Yine de bu duruma yol açtığı düşünülen bazı nedenler şu şekilde sıralanabilir:
            </p>
            <ul>
                <li>Yüksek tansiyon ve damar sertliği</li>
                <li>Kalpteki mikrobik hastalıklar,</li>
                <li>Romatizma, kansızlık, gebelik, guatr, KOAH</li>
                <li>Bağırsak şişkinliğinden kaynaklanan refleksler,</li>
                <li>Safrakesesi hastalıkları, mide rahatsızlıkları ya da kabızlık gibi sorunlar nedeniyle meydana gelen refleksler,</li>
                <li>Solunum sistemindeki sorunlar (özellikle derin soluk alınması gibi durumlar) ekstrasistol nedenleri arasında sayılabilirler.</li>
                <li>Stres, sigara, alkol, kafein, çay, kalbi etkileyen ilaçlar da ekstrasistol sorunu ile karşılaşma riskini artıran etkenlerdir.</li>
            </ul>
            <p>
                Bu nedenler daha da artırılabilir. Ama bu durumlar genellikle normal olarak kabul edilen, seyrek görülen, kalp atışlarındaki ritmin ani olarak bozulmasına neden olan durumlardır. Dolayısıyla çoğu zaman ekstrasistol sorununa neden olan etkeni tespit etmek mümkün olmaz.
            </p>
            <h3>
                EKSTRAKSİSTOL BELİRTİLERİ
            </h3>
            <p>
                Ekstrasistol her zaman belirgin bir klinik tabloya sahip değildir. Belirtileri organizmanın kendine özgü özelliklerine ve durumun çeşitli biçimlerine bağlıdır. Çoğu insan herhangi bir rahatsızlık hissetmez ve EKG’de tesadüfen saptanana kadar bu aritmiyle ilgili hiçbir şey bilmez.

                Genellikle ekstrasistol, aşağıdaki şekillerde kendini gösterir:
            </p>
            <ul>
                <li>Kalbin güçlü şekilde atması</li>
                <li>Kalbin durmuş gibi hissedilmesi</li>
                <li>Kısa süreli kalp durması ve ardından göğüste kuvvetli bir çarpma hissi</li>
                <li>Çarpma bozuklukları</li>
            </ul>
            <p>
                Extrasistole aşağıdaki durumlar eşlik edebilir
            </p>
            <ul>
                <li>Kalpteki ağrı;</li>
                <li>Solgun cilt</li>
                <li>Anksiyete</li>
                <li>Korku</li>
                <li>Nefes darlığı</li>
                <li>Aşırı terleme</li>
                <li>Sıcak basmaları</li>
                <li>Zayıflık ve yorgunluk</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Ekstrasistol.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                EKSTRASİSTOL TEDAVİSİ
            </h3>
            <p>
                Doğru tedavi stratejisini seçmek için, erken kasılmaların türünü ve ortaya çıktıkları yeri belirlemek önemlidir. Herhangi bir kardiyak bozukluk ile ilişkili olmayan sporadik ekstrasistoller tedavi gerektirmez.

                Tedavi türleri şunları içerir:
            </p>
            <p>
                Altta yatan hastalığın tedavisi ve predispozan faktörlerin ortadan kaldırılması
            </p>
            <p>
                Sigara, alkol veya aşırı kahve tüketiminden vazgeçmek
            </p>
            <p>
                Erken kardiyak kasılmalar herhangi bir sinir sistemi bozukluğundan veya psikotaksal aşırı yüklenmeden kaynaklanıyorsa, bunlar sedatif ilaçlar ve sakinleştirici bitkisel çaylarla tedavi edilmelidir
            </p>
            <p>
                Ekstrasisto bir ilacın bir yan etkisi ise, ilacı hemen bırakmak
            </p>
            <p>
                Fonksiyonel ekstrasistol tedavisi gerektiren olgularda spesifik antiaritmik ilaçlarla tedaviye gerek yoktur, buna karşın ciddi kardiyovasküler durumlardan kaynaklananlar tedavi gerektirir. Bu tür preparatların kontrolsüz kullanımı veya belirli bir durum için uygun olmayanların uygulanması oldukça tehlikelidir ve ölümcül olabilir.
            </p>
            <p>
                Ekstraksistolün ventriküler şekli, radyo frekansı ablasyon yöntemiyle tedaviyi içerir.
            </p>
            <p>
                Erken kasılmalar aritmi ve fibrilasyon riskini artırır.
            </p>
            <h5>
                Önleyici tedbirler şunlardır:
            </h5>
            <p>
                Ekstrasistol ile ilgili hastalıkların zamanında tedavisi
            </p>
            <p>
                İlaçların neden olduğu yan etkilerin erken bildirilmesi
            </p>
            <p>
                Stresli durumlardan kaçınma
            </p>
            <p>
                Vitamin ve mineral alımı: Erken kasılmalardahem organik hem de fonksiynel olarak başarı sağlanabilmesi için potasyum seviyelerinin konsantrasyonu kontrol edilmelidir.
            </p>
            <p>
                Diyet: Çok yağlı ürünler, baharatlı yiyecekler, aşırı çay veya kahve, çeşitli otlar ve baharatların yanı sıra alkol tüketimini sınırlamak şarttır. Sigara içilmemelidir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Botulizm"><img src="~/img/Hastaliklarimg/Botulizm.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Botulizm</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/BeyzbolParmagi"><img src="~/img/Hastaliklarimg/Beyzbol Parmağı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Beyzbol Parmağı</h4>
            </div>
        </div>
    </div>
</div>

