
@{
    ViewData["Title"] = "Enfarktus";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Enfarktüs</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Bir organın kan sızıntısıyla dolmasına enfarktüs denir. Bir bölgenin besleyici atardamarı bir pıhtı ile tıkanır. Bu pıhtı, kan akımında yavaşlamaya ardından o bölgede kanlanma azlığına yol açar ve bunun sonucunda enfarktüs gerçekleşir. Son aşama doku ölümünün gerçekleşmesidir.

                Enfarktüs, vücuttaki herhangi bir organda oluşabilir ve çeşitli hastalıklardan kaynaklanabilir. Bununla birlikte, arteryal kan damarının arterlerde plak oluşumuna neden olan bir hastalık olan ateroskleroz en sık görülenidir. Bu bozukluktan muzdarip bir kişi plak rüptürü yaşarsa, arter yüzeyi üzerinde bir kan pıhtısı oluşur. Bu, doğru kan akışını önler. Ardından, pıhtının arteri daha da ilerlemesine ve ek kan damarlarını bloke etmesine neden olur. Bu tıkanıklık kan dolaşımı ve dolayısıyla oksijen akışının kısıtlanması nedeniyle doku ölümüne neden olur.
            </p>
            <p>
                Enfarktüsler beyaz veya kırmızı olarak sınıflandırılır. Beyaz enfarktüslere anemi denirken, kırmızı enfarktüslere hemorajik denir. Organta gerçekleşen kanamanın derecesi, durumun beyaz veya kırmızı olarak sınıflandırılıp bırakılmadığını belirler. Dalak, kalp ve böbrekler gibi katı organlarda görülenler beyazdır çünkü bunlar arterdeki bir tıkanıklığın sonucudur ve çoğunlukla trombositleri içerir. Bununla birlikte akciğer enfarktüsü kırmızıdır, çünkü bu organda daha fazla kırmızı kan hücresi bulunmaktadır.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Enfarktüs.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                ENFARKTÜS ÇEŞİTLERİ
            </h3>
            <p>
                Enfarktüs hastalığının birçok çeşidi bulunmaktadır. Bu çeşitler, kalp enfarktüsü, akciğer enfarktüsü, böbrek ve dalak enfarktüsü olmak üzere 4 çeşidi bulunmaktadır.
            </p>
            <h3>
                KALP ENFARKTÜSÜ
            </h3>
            <p>
                Koroner tıkanması olarak da bilinen bu hastalık miyokard enfarktüsüdür. Koroner adı verilen damarlardan birinin tıkanması sonucunda ortay çıkan bir durumdur. Kalp enfarktüsü daha yaygın görülen bir vakadır. Kalp enfarktüsünün sebepleri arasında emboli, kalp atardamarının tıkanması, kalp kası bölümünün kanlanma azlığı sayılabilir. En çok kadınlarda meydana gelen bu hastalığın çeşitli belirtileri vardır. Mide üzerinde göğüs bölgesinde görülen şiddetli ağrılar, soğuk terleme, oluşan morluklar, şoka girme, dolaşım bozuklukları kalp enfarktüsü belirtileri arasında yer almaktadır. Hastalık bazen aniden ortaya çıkarak öldürücü olabilir. Ancak hastaların bir çoğunda tedavi edilebilir.
            </p>
            <h3>
                AKCİĞER ENFARKTÜSÜ
            </h3>
            <p>
                Akciğer enfarktüsünün nedeni genelde bir kalp hastalığının ardından gelen pıhtı atması, cerrahi bir müdahale, toplardamar iltihabıdır. Akciğer enfarktüsünün belirtileri; aniden ortaya çıkan nefes alma güçlüğü ile birlikte görülen şiddetli yan ağrısı, yüksek ateş ve kanlı balgamdır.
            </p>
            <h3>
                BÖBREK ENFARKTÜSÜ
            </h3>
            <p>
                Böbrek atar damarların dan birinin tromboz yada emboli sonucu tıkanmasıyla ortaya çıkar.Böbrek enfarktüsünün daha çok emboli sonucu meydana geldiği anlaşılmıştır.Hatalık birden bire ortaya çıkan kıvrandırıcı bazen günlerce devam eden bel ağrıları ile kendini gösterir.İdrar azalır hatta kesilebilir.İdrar da albümin ve kan vardır.Büyük bir bölgeyi tutan iki yanlı olan tıkanmalar çok tehlikeli olabilir.
            </p>
            <h3>
                DALAK ENFARKTÜSÜ
            </h3>
            <p>
                Dalak enfarktüsü tromboz dan daha çok emboliden meydana gelir.Vakaların çoğu teşhis edilemez bir tedavi yapılamadan geçip gidilebilir.En çok görülen belirtiler dalak üzerinde görülen ağrı ve hassasiyet , mikroplu embolilerde titreme ve ateştir.Tedavi sebebe göre yapılır gerekirse bir ameliyatla dalak alınır.
            </p>
            <h3>
                ENFARKTÜSTE TEDAVİ
            </h3>
            <p>
                Tedavi yöntemleri enfarktüs oluşumunun gösterdiği bölgeye ve meydana gelen tıkanma nedenlerine göre değişim göstermektedir. Genel olarak her çeşidinde hastalar dinlenme sürecine sokulmaktadır. Enfarktüs görülen hasta hiç kıpırdamadan yatırılmalıdır. Yapılacak ilk iş ağrıyı yatıştırmaktır. Ağrı dindirici ilaçlar arasında en etkilisi Morfindir. Şok hali ağırsa hasta da ileri derecede solunum güçlüğü varsa morfinden sakınmak gerekir.
            </p>
            <p>
                Ağrıdan sonra şokla savaşmak gerekir hasta başı aşağıda ayakları yukarıda olacak şekilde yatırılır. Vücuttan su kaybını önlemek için hastayı aşırı derecede terletecek müdahaleler yapılmamalıdır. Ayakları ısıtmak için sıcak su torbası koymak kanı çevresine toplaması ve hastayı terletmesi bakımından zararlıdır. Tansiyon düşmesine karşı da tedbir alınması gereklidir. Hastanın oksijen çadırına alınması veya maskeyle oksijen verilmesi yararlı olur. Yatak istirahati ortalama altı hafta sürmelidir. Flebit ihtimali göz önüne alınarak bacaklar hareket ettirilmemelidir. Hasta iki hafta sonunda sandalyede oturabilir ve oda içinde yavaş yavaş gezinebilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Basur"><img src="~/img/Hastaliklarimg/Basur.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Basur</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/BagirsakIltihabi"><img src="~/img/Hastaliklarimg/Bağırsak İltihabı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Bağırsak İltihabı</h4>
            </div>
        </div>
    </div>
</div>

