
@{
    ViewData["Title"] = "Ensefalopati";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Ensefalopati</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>

                Ensefalopati, beyninizin işlevini veya yapısını etkileyen bir hastalığı tanımlayan genel bir terimdir. Birçok ensefalopati ve beyin hastalığı vardır. Bazı türler kalıcı, bazıları geçici. Bazı türler doğumda bulunur ve asla değişmez, bazıları ise doğumdan sonra kazanılır ve giderek kötüleşebilir.
            </p>
            <h3>
                ENSEFALOPATİ BELİRTİLERİ
            </h3>
            <p>
                Yorgunluk, konsantrasyon güçlüğü ve unutkanlık, ensefalopatinin potansiyel belirtileridir. Ensefalopatinin ana semptomu, zihinsel durumun değişmesidir. Bu şunları içerebilir:
            </p>
            <ul>
                <li>Uyanık kalmakta güçlük çekmek</li>
                <li>Bilgiyi düşünme veya işlemede sorun yaşamak</li>
                <li>Şaşkınlık hissi</li>
                <li>Gündelik işleri unutmak</li>
                <li>Davranış bozukluğu</li>
                <li>Konsantre olmakta zorlanma</li>
                <li>Çok yorgun hissetmek</li>
            </ul>
            <p>
                Bu belirtiler zamanla kötüleşebilir. İlerleme, ensefalopati tipine ve ne kadar şiddetli olduğuna bağlıdır.
                Değişmiş bir zihinsel duruma ek olarak, ensefalopati hastası bir kişi aşağıdakileri de yaşayabilir:
            </p>
            <ul>
                <li>İstemsiz kas seğirmesi</li>
                <li>İstemsiz göz hareketleri</li>
                <li>Sallanma</li>
                <li>Kas Güçsüzlüğü</li>
                <li>Yutma veya konuşma sorunu</li>
                <li>Nöbetler</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Ensefalopati.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                ENSEFALOPATİ ÇEŞİTLERİ
            </h3>
            <p>
                Bazı ana ensefalopati tipleri şunlardır:
            </p>
            <h4>
                Kronik travmatik ensefalopati
            </h4>
            <p>
                Bu ensefalopati türü, beyinde birden fazla travma veya yaralanma olduğunda ortaya çıkar. Kafaya alınan bu darbeler beyinde sinir hasarına yol açar. Genellikle boksörlerde, futbolcularda veya patlamalarda yaralanan askerlerde bulunur.
            </p>
            <h4>
                Glisin ensefalopatisi
            </h4>
            <p>
                Glisin ensefalopatisi, beyinde anormal derecede yüksek seviyede glisin (bir amino asit) olduğu genetik veya kalıtsal bir durumdur. Glisin ensefalopati belirtileri genellikle doğumdan kısa bir süre sonra bebeklerde görülür.
            </p>
            <h4>
                Hashimoto ensefalopatisi
            </h4>
            <p>
                Bu, Hashimoto hastalığı olarak bilinen otoimmün bir duruma bağlı, nadir görülen bir ensefalopati türüdür. Hashimoto hastalığında, bağışıklık sisteminiz yanlışlıkla tiroid bezinize saldırır. Tiroid beziniz, vücudunuzun düzenleyici hormonlarının çoğunun üretilmesinden sorumludur. Bilim adamları iki koşulun nasıl bağlantılı olduğunu henüz tam olarak çözebilmiş değildir.
            </p>
            <h4>
                Hepatik ensefalopati
            </h4>
            <p>
                Hepatik ensefalopati, karaciğer hastalığının bir sonucudur. Karaciğer düzgün çalışmadığında, bu durum genellikle vücuttan attığı toksinlerin kanda birikmesine ve sonunda beyninize ulaşmasına neden olur.
            </p>
            <h4>
                Hipertansif ensefalopati
            </h4>
            <p>
                Hipertansif ensefalopati, çok uzun süre tedavi edilmeyen yüksek tansiyonun bir sonucudur. Bu, beyninizin şişmesine, beyin hasarına ve hipertansif ensefalopatiye yol açmasına neden olabilir.
            </p>
            <h4>
                Hipoksik iskemik ensefalopati
            </h4>
            <p>
                Beyin yeterince oksijen almazsa, kişi beyin hasarı yaşayabilir. Bu şekilde ortaya çıkan ensefalopati, hipoksik iskemik ensefalopati olarak adlandırılır.
            </p>
            <h4>
                Toksik-metabolik ensefalopati
            </h4>
            <p>
                Toksik-metabolik ensefalopati, enfeksiyonların, toksinlerin veya organ yetmezliğinin bir sonucudur. Elektrolitler, hormonlar veya vücuttaki diğer kimyasal maddeler normal dengeler dışında kaldıklarında beynin fonksiyonunu etkileyebilirler. Bu ayrıca vücutta bir enfeksiyon varlığını veya toksik kimyasalların varlığını içerebilir.
            </p>
            <h4>
                Enfeksiyöz ensefalopati
            </h4>
            <p>
                Enfeksiyöz ensefalopati en ciddi tip olabilir. Bazen prion hastalıkları veya bulaşıcı spongiform ensefalopatiler denilen nadir bir durum grubundan kaynaklanır. Bu ilerleyici hastalıklar, prion adı verilen bir proteinin mutasyonuyla bağlantılıdır. Prion hastalıkları nörojeneratiftir. Bu, beyine zarar verdikleri ve zamanla beynin işlevinin daha da kötüye gitmesine veya bozulmasına neden oldukları anlamına gelir. Prion hastalığının temel özelliği beyinde süngerimsi bir görünüm veren küçük deliklerdir.
            </p>

            <h4>Üremik ensefalopati</h4>
            <p>
                Üremik ensefalopati böbrek yetmezliğinin bir sonucudur. Kandaki üremik toksinlerin birikmesinden kaynaklandığı düşünülmektedir.
            </p>

            <h4>Wernicke ensefalopatisi</h4>
            <p>
                Wernicke hastalığı olarak da bilinen bu durum B1 vitamini eksikliğinin bir sonucudur. Uzun süreli alkolizm, yetersiz beslenme ve zayıf gıda emilimi, B1 vitamini eksikliğine neden olabilir. Wernicke ensefalopati hızlı bir şekilde tedavi edilmezse, Wernicke-Korsakoff sendromuna yol açabilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Parkinson"><img src="~/img/Hastaliklarimg/Parkinson.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Parkinson</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/BademcikIltihabi"><img src="~/img/Hastaliklarimg/Bademcik İltihabı.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Bademcik İltihabı</h4>
            </div>
        </div>
    </div>
</div>

