
@{
    ViewData["Title"] = "Epistaksis";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Epistaksis (Burun Kanaması)</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Burun kanaması (epistaksis) toplumda sık karşılaşılan ve herkesin hayatı boyunca birkaç kez yaşayabileceği bir durumdur. Çoğu zaman basit müdahaleler ile durdurulabilen bu kanama, bazen durdurulamaz ise acil müdahale gerektirebilir.

                Ön ve arka burun kanaması olarak ikiye ayrılır.

                Ön burun kanamaları: En sık görülen burun kanamasıdır. Kisselbach Pleksusu (Little Bölgesi) adı verilen kan damarlarının oldukça fazla olduğu bölgeden kaynaklanır. Burası burun septumunda (burun delikleri arasındaki kıkırdakta) yer alan ve burnun hemen girişinde bulunan yoğun kan damarları içeren bir bölgedir. Genellikle basit müdahaleler ile durdurulabilen bu kanamalar erişkinlerde ve çocuklarda sık görülür.

                Arka Burun Kanamaları: Yaşlılarda daha sık görülen bu kanama burnun arkasında, geniz bölgesine yakın kısımlarda gerçekleşir ve durdurulması zordur. Genellikle hastane koşullarında müdahale etmek gerekir. Bu kanamalarda ön burunda kullanılan tamponlar işe yaramayabilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Epistaksis.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                BURUN KANAMASININ NEDENLERİ
            </h3>
            <p>
                Burun, kan damarları (vasküler) açısından zengin bir vücut parçasıdır ve yüzümüzde çıkıntılı bir konumda bulunur. Yüzdeki bir travma burun yaralanmasına ve kanamaya neden olabilir. Kanama aşırı veya basit küçük bir komplikasyon olabilir. Burun zarları kuruduğunda ve çatladığında kendiliğinden ortaya çıkabilir. Bu, kuru iklimlerde veya havayı kurutan ev tipi ısıtıcıların yoğun olarak kullanıldığı kış aylarında yaygındır. Kan pıhtılaşmasını engelleyen (kan sulandırıcı) ilaçlar kullanan insanlar burun kanaması riskini daha fazla taşırlar. Bu durumda, küçük bir travma bile önemli derecede kanamaya neden olabilir.
            </p>
            <p>
                Burun kanaması insidansı, üst solunum yolu enfeksiyonlarının daha sık olduğu soğuk kış aylarında daha yüksektir. Sıcaklık ve nem gibi etkenleri burun kanamasında tetikleyicidir. Buna ek olarak, soğuk dış ortamlardan sıcak ve kuru ev ortamına dönüşte nemin veya sıcaklığın değişmesi, burnun iç kısmının kurumasına ve çatlamasına neden olur. Bazen, kanama burun içindeki derin damarlardan gelebilir. Damar sertliği, hipertansiyon (yüksek tansiyon) gibi kalp damar hastalıkları, yeni geçirilen burun ameliyatları, kan sulandırıcı ilaçların kullanımı, hemofili gibi kanama bozuklukları, lösemi (kan kanseri) gibi hastalıklar olası nedenlerdendir.
            </p>
            <p>
                Aşağıdaki risk faktörleri insanlarda burun kanamasına yol açmaktadır:
            </p>
            <ul>
                <li>Enfeksiyon</li>
                <li>Travma, kuvvetli sümkürme, burun çekme ve burun karıştırma (bu, çocuklarda burun kanamasının yaygın bir sebebidir)</li>
                <li>Alerjik ve alerjik olmayan rinit</li>
                <li>Hipertansiyon (yüksek tansiyon)</li>
                <li>Kan inceltici ilaçların kullanımı</li>
                <li>Bazı hormonal hastalıklar</li>
                <li>Kanama bozuklukları (hemofili gibi)</li>
                <li>Sinüzit, soğuk algınlığı, nezle, grip gibi hastalıklar</li>
                <li>Burun içindeki kemik ya da kıkırdak eğriliği (deviasyon)</li>
                <li>Alkol kullanımı</li>
                <li>Devamlı burun spreyi kullanımı</li>
                <li>Yüksek irtifa</li>
            </ul>
            <p>
                Burun kanamalarının daha az görülen nedenleri, tümörler ve kalıtsal kanama problemleridir. Hamilelik sırasında hormonal değişiklikler de burun kanaması riskini artırabilir. </p>
            <h3> BURUN KANAMASI TEDAVİSİ </h3>
                <p>
                Burun kanaması olan kişinin sakinleştirilmesi çok önemlidir. Heyecan ve panik tansiyonu yükselir ve kanamanın şiddeti artabilir. Baş hafifçe öne doğru eğilmeli, kanın yutularak mideye gitmesi engellenmelidir. Kanama miktarı anlaşılamadığından bu durum bulantı ve kusmaya da yol açabilir. Burnun yumuşak olan kısmını tamamen kavrayacak şekilde başparmak ve işaret parmağı ile 5 dakika kadar sıkılmalıdır. Dik oturulmalı veya yatmak gerekiyorsa mutlaka baş yüksekte kalacak şekilde yatılmalıdır.
            </p>
            <p>
                Ön burun kanamalarında sınırlı bir tampon yapılarak veya küçük bir müdahale ile damar pıhtılaştırılarak kanama durdurulabilir. Kanama durmuşsa veya tampon alındıktan sonra, yumuşatıcı ve yara iyileştirici krem veya merhemler kullanılabilir. Eğer burun kanaması tekrarlarsa, mutlaka kulak burun boğaz doktorunuza başvurmalısınız. Ön taraftan gelen kanamalar için; ucunda kimyasal maddeler bulunan ufak çubuklarla ya da bipolar ile yakma işlemi (koterizasyon) yapılabilir. Durmayan kanamalarda önden ya da arkadan tampon uygulaması yapılabilmektedir. Bu tip kanamalarda hastaların 24-72 saat arasında hastanede kalıp takip edilmesi gerekebilir. Kanama nedeni bulunduktan sonra, ek tedaviler de uygulanır. Çok ciddi olan tampon ve cerrahi yöntemlerle durdurulamayan burun kanamalarında anjiyografi rehberliğinde embolizasyon da uygulanabilmektedir.
            </p>
            <p>
                Burun kanamasında evde acil müdahale için:
            </p>
            <ul>
                <li>Ayakta kalmayın, bir yere oturun</li>
                <li>Başınızı geri doğru değil, öne doğru eğerek 5-10 dakika bekleyin</li>
                <li>Tampon yapmak için herhangi bir madde (pamuk, gazlı bez gibi) burnun içine sokmayın</li>
                <li>Ensenize ve burun sırtınıza soğuk kompres (buz uygulaması) yapabilirsiniz (soğuk; damarları büzüştürebileceğinden kanamanın durmasına yardımcı olabilmektedir)</li>
                <li>Sümkürmeyin, burun içindeki pıhtıları temizlemeye çalışmayın</li>
                <li>Burun kanamasının devam etmesi, kanın ağızdan da gelmesi halinde acil olarak doktora başvurun.</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Ates"><img src="~/img/Hastaliklarimg/Ateş.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Ateş</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/AsiriAybasiKanamasi"><img src="~/img/Hastaliklarimg/Aşırı Aybaşı Kanaması.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Aşırı Aybaşı Kanaması</h4>
            </div>
        </div>
    </div>
</div>

