
@{
    ViewData["Title"] = "Fabry";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Fabry</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Fabry hastalığı nadir bir genetik hastalık olup, vücutta globotriaosylceramide (Gb3 veya GL-3) adı verilen bir yağ birikimine neden olan alfa-galaktosidaz A (a-Gal A) enziminin eksikliğidir. Fabry hastalığı, bir tür lizozomal depo bozukluğu olarak sınıflandırılır. Lizozomlar, enzim içeren izole edilmiş hücre alanlarıdır. Bir lizozomal depo bozukluğunda, bu enzimler belirli yağ moleküllerini uygun şekilde metabolize etmez. Sonuç olarak, sindirilmemiş yağ molekülleri, bir hücrenin işlevini yerine getirme yeteneğini bozar. Fabry hastalığında, alfa-galaktosidaz A enzimleri eksiktir ve cildin, gözlerin, gastrointestinal sistemin, böbrek, kalbin, beynin ve sinir sisteminin işlevini etkileyebilen globotriaosylceramide birikir.
            </p>
            <p>
                Fabry hastalığı, X kromozomunda bulunan alfa-galaktosidaz enzimini yapmaktan sorumlu genin mutasyonunun sonucudur. Fabry çoğunlukla erkekleri etkiler, kadınlarda nadiren görülür.
                Fabry hastalığı ilerleyici bir hastalıktır ve böbrekleri, kalbi veya beyini etkileyen semptomlar en sık 30-45 yaş arası hastalarda ortaya çıkar.
                Farby hastalığında hücre hasarı, böbrek yetmezliği, kalp krizi ve genellikle nispeten erken yaşlarda felç gibi hayati tehlike oluşturan sonuçlar dahil olmak üzere çok çeşitli hafif ila şiddetli semptomlara neden olur.
                Fabry hastalığının birçok farklı açıklaması vardır. Kullanılan çeşitli terminolojilerden bazıları şunlardır:
            </p>
            <h4>
                Bir çoklu sistem bozukluğu
            </h4>
            <p>
                Fabry hastalığının çoklu vücut sistemleri üzerinde birçok ortak eşzamanlı etkisi vardır.
            </p>

            <h4> Bir lizozomal depolanma bozukluğu</h4>
            <p>
            Lipid (GL-3 / GB-3), hücrelerin geri dönüşüm / temizlik merkezleri olarak işlev gören lizozomlarda birikir.</p>

            <h4>Bir metabolik bozukluk</h4>
            <p>
            GL-3 / GB-3 lipidinin uygun şekilde metabolize edilmediği, dolayısıyla normal metabolik fonksiyonu bozan doğuştan gelen bir metabolizma hatası.</p>

            <h4> Kalıtsal veya doğuştan bir hastalık</h4>
            <p>
            Konjenital, kalıtsal olarak eş anlamlıdır. Fabry hastalığı ebeveynden çocuğa geçen genetik bir hastalıktır. Fabry hastalığı aynı zamanda bir ailede başlangıç ??(de novo) spontan gen mutasyonu olarak görünebilir.</p>

            <h4> X’e bağlı bir bozukluk</h4>
            <p>
                Kusurlu Fabry geni, bir bireyin cinsiyetini belirleyen iki kromozomdan biri olan X kromozomu üzerinde bulunur.
                Glikosfingolipid metabolizmasının bir hatası: Lipid GL-3, lipidin kimyasal bileşimini ifade eden bir glikosfingolipittir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Fabry.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                FABRY HASTALIĞININ BELİRTİLERİ VE SEMPTOMLARI
            </h3>
            <p>
                Fabry hastalığının belirtileri çocukluk ya da ergenlik döneminde ortaya çıkar. Belirtiler ve semptomlar şunları içerir:
            </p>
            <ul>
                <li>Ellerde ve ayaklarda ağrı ile birlikte seyreden yanma hissi. Bu yanma egzersiz, stres, yorgunluk, ateş veya hava değişiklikleri ile tetiklenir.</li>
                <li>Deride küçük, koyu kırmızı lekeler (anjiyokeratomlar)</li>
                <li>Terleme yeteneğinde azalma</li>
                <li>Gözün ön kısmının bulanıklığı</li>
                <li>Gastrointestinal sistemle ilgili sorunlar</li>
                <li>Kulaklarda çınlama</li>
                <li>İşitme kaybı</li>
                <li>Mitral kapak prolapsusu</li>
                <li>Karın rahatsızlığı</li>
                <li>Yemekten sonra sık bağırsak hareketleri</li>
                <li>Eklem ağrısı</li>
                <li>Böbrek bölgesinde sırt ağrısı</li>
            </ul>
            <p>
                Fabry hastalığının komplikasyonları arasında böbrek hasarı, kalp hastalığı, kalp büyümesi ve kalp krizi ve felç sayılabilir.
            </p>
            <h3>
                FABRY HASTALIĞI TAHLİLLERİ
            </h3>
            <p>
                Fabry hastalığının teşhisi zor olabilir çünkü çok nadirdir. Fabry hastalığını teşhis etmek için standart test lökosit alfa-Gal A enzim aktivitesinin bir ölçümüdür. Bu test, Fabry hastalığı için mutasyonun erkeklerde varlığını saptayabilir, ancak dişi taşıyıcıların sadece% 50’sini tanımlayacaktır.
            </p>
            <h3>
                FABRY HASTALIĞINI HANGİ DOKTORLAR TEDAVİ EDEBİLİR
            </h3>
            <p>
                Fabry hastalığı birçok farklı organı etkileyebileceği için birçok uzmana danışılabilir. Bunlar:
            </p>
            <ul>
                <li>Böbrek sorunları için nefrolog</li>
                <li>Kalp problemleri için kardiyolog</li>
                <li>Beyin ve sinir sistemi semptomları için nörolog veya beyin cerrahı</li>
                <li>Göz problemleri için göz doktoru</li>
                <li>Sindirim sorunları için gastroenterolog</li>
                <li>İşitme problemleri için kulak burun boğaz uzmanı (kulak, burun ve boğaz uzmanı veya KBB)</li>
            </ul>
            <p>
                Ek olarak, hastalar semptomları yönetmeye yardımcı olmak için fizyoterapistler, beslenme uzmanları ve psikologlarla çalışmaktan fayda görebilirler.
                Hastalar ayrıca genetik uzmanlarına da danışmak isteyebilirler.
            </p>
            <h3>
                FABRY HASTALIĞININ TEDAVİSİ
            </h3>
            <p>
                Fabry hastalığı, böbrek fonksiyonunu, kalp fonksiyonunu ve beyine kan beslemesini normalleştirmek için agalsidaz-alfa veya agalsidaz beta ile enzim değiştirme tedavisi kullanılarak tedavi edilebilir.
            </p>
            <p>
            Fabry hastalığı için diğer tedaviler, bireysel semptomları hafifletmeyi amaçlar.</p>
            <p>
                Fenitoin, karbamazepin veya gabapentin, ağrı ve yanma hissi (akroparestezi) bölümlerini önlemeye yardımcı olabilir. Şiddetli ağrı için opioidler verilebilir.
            </p>
            <p>
                Antiplatelet ilaçları gibi aspirin, tiklopidin, klopidogrel ve aspirin , dipiridamol tekrarlayan iskemik inme önlemek için reçete edilir.
            </p>
            <p>
                Kardiyoembolik felçleri önlemek için Warfarin verilebilir.
            </p>
            <p>
                Böbrek yetmezliğine ilerleyen ciddi Fabry hastalığında, hemodiyaliz ve böbrek nakli gerekli olabilir.
            </p>
            <p>
                Pankrelipaz, metoklopramid, ranitidin, simetidin, famotidin ve diğerleri gibi H2 blokerleri ve loperamid gastrointestinal semptomları hafifletir ve rahatlatır.
            </p>
            <p>
                ACE inhibitörleri ve / veya blokerleri, böbrek hasarına bağlı olarak idrarda yüksek seviyelerde protein için reçete edilir.
            </p>
            <p>
                İşitme kaybı, işitme cihazlarıyla tedavi edilebilir.
            </p>
            <p>
                Yüksek tansiyon (hipertansiyon) olan hastalara antihipertansif ilaçlar verilebilir ve tansiyonu kontrol altında tutmaları gerekir.
            </p>
            <p>
                Yüksek kolesterol de tedavi edilmelidir.
            </p>
            <p>
                İlaçlara ek olarak, hastalar dengeli beslenmeli, egzersiz yapmalı ve sigara içmekten kaçınmalıdır.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Astigmat"><img src="~/img/Hastaliklarimg/Astigmat.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Astigmat</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Astim"><img src="~/img/Hastaliklarimg/Astım.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Astım</h4>
            </div>
        </div>
    </div>
</div>

