
@{
    ViewData["Title"] = "Felc";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Felç</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Felç, vücudunuzun bir bölümünde kas fonksiyon kaybıdır. Beyne giden, oksijen bakımından zengin olan kan akışının yavaşlaması ya da tamamen durmasıyla oluşur.

                Oksijenlenemeyen beyin hücreleri, birkaç dakika içinde ölmeye başlar. Buna bağlı olarak inmenin gerçekleştiği beyin bölgesindeki doku, geçici ya da kalıcı olarak hasarlanır.
                Felç terimi, sinirlerin devre dışı bırakılması anlamına gelen Yunanca kelimeden türetilmiştir. Bunun sebebi, genellikle sinir sistemi hasarının motor fonksiyon veya duyusal bilginin kaybına bağlı olmasıdır.
            </p>
            <p>
                Felç, beyninizin herhangi bir bölgesinde oluşabilir. Yaşanan 10 felçten yaklaşık 8'i pıhtıdan kaynaklı bir tıkanıklık nedeniyle (iskemik) gerçekleşirken, diğer 2'si kanama nedeniyle (hemorajik) meydana gelmektedir.
                Felç türleri şunlardır:
            </p>
            <ul>
                <li>Sadece bir kol veya bacağını etkileyen tekel hastalığı</li>
                <li>Vücudunuzun aynı tarafındaki bir kolu ve bir bacağını etkileyen hemipleji</li>
                <li>Her iki bacağınızı da etkileyen parapleji</li>
                <li>Hem kollarınızı hem de bacaklarınızı etkileyen quadriplegia veya tetraplegia</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Felç.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                FELÇ NEDENLERİ
            </h3>
            <p>
                Geçici veya kalıcı felç yaşayabilecek birkaç olası sebep vardır. Genellikle omurilikte veya sinir sisteminin diğer bölümlerinde meydana gelen hasarın bir sonucu olarak ortaya çıkar.

                Bunlar;
            </p>
            <ul>
                <li>İnme</li>
                <li>Travma</li>
                <li>Çocuk felci</li>
                <li>Serebral palsi</li>
                <li>Periferik nöropati</li>
                <li>Parkinson hastalığı</li>
                <li>Gıda zehirlenmesi</li>
                <li>Spina bifida</li>
                <li>Çoklu skleroz</li>
                <li>Guillain-Barré sendromu.</li>
            </ul>
            <p>
                Ek olarak, bazı ilaçlar sinirlerin işlevini etkileyebilir ve nadir durumlarda felce neden olma potansiyeline sahiptir.
            </p>
            <h3>
                FELÇ NASIL TEDAVİ EDİLİR?
            </h3>
            <p>
                Felçler birçok farklı hastalık nedeni ile ortaya çıkar. Bu nedenle tedavisi altta yatan nedene göre değişiklik göstermektedir. Örneğin damar tıkanıklığına bağlı olan felçlerde kan sulandırıcı ilaçlar, multipl skleroza bağlı felçlerde bağışıklık sistemini etkileyen ilaçlar, sinir hastalığına bağlı felçlerde nöropati nedeni olan etkeni ortadan kaldıran ilaçlar veya kas hastalığına bağlı felçlerde kas hastalığının tipine göre değişen tedaviler kullanılır.

                Tüm bu tedavilerdeki tek ortak nokta, hastalarda iyileşmeyi hızlandırması ve kas erimesini engellemesi nedeni ile fizik tedavinin de ilaç tedaviler ile uygulanmasıdır.
            </p>
            <h4>
                İskemik felç tedavisi
            </h4>
            <p>
                Çektirdiğiniz bilgisayarlı tomografi iskemik felç geçirdiğinizi doğruluyorsa doktorunuz muhtemelen size en kısa sürede doku plazminojen aktivatörü adı verilen bir pıhtı eritici ilaç verecektir. Bu ilaç pıhtıyı eriterek beyninizdeki kan akışını eski durumuna getirir ve hasarı azaltır.
            </p>
            <h4>
                Hemarojik felç tedavisi
            </h4>
            <p>
                Hekim baskıyı ve oluşabilecek hasarı azaltmak için kanamanın kaynağını bulmaya ve kontrol etmeye çalışır. Bunun yapılabilmesi ve varsa kan damarlarınızdaki hasarların giderilebilmesi için ameliyat olmanız gerekebilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Artrit"><img src="~/img/Hastaliklarimg/Artrit.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Artrit</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Arpacik"><img src="~/img/Hastaliklarimg/Arpacık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Arpacık</h4>
            </div>
        </div>
    </div>
</div>

