@{
    ViewData["Title"] = "Gastrit";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Gastrit</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Gastritkısaca mide zarının iltihaplanmasıdır. Gastrit iltihabı çoğu zaman mide ülserlerine neden olan Helicobacter pylori (HP) bakterisi ile enfeksiyonun sonucudur. Gastrit mide astarının, mide asidinin fazla salgılanmasından dolayı aşınması nedeniyle iltihaplanması sonucu ortaya çıkar. Gastrointestinal bakteriyel bir enfeksiyon da gastrite neden olabilir. Buna neden olan en yaygın bakteriyel enfeksiyon Helicobacter pylori’dir. Midenin astarını enfekte eden bir bakteridir. Enfeksiyon genellikle kişiden kişiye bulaşır, ancak kontamine yiyecek veya su yoluyla da bulaşabilir. Bazı koşullar ve aktiviteler gastrit gelişme riskinizi artırabilir.

                Diğer risk faktörleri şunları içerir:
            </p>
            <ul>
                <li>Aşırı alkol tüketimi</li>
                <li>İbuprofen ve aspirin gibi steroid olmayan antienflamatuar ilaçların (NSAID’ler) rutin olarak kullanımı</li>
                <li>Uyuşturucu madde kullanımı</li>
                <li>Yaş, çünkü mide astarı yaşla doğal olarak incelir</li>
                <li>Tütün kullanımı</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Gastrit.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <p>
                Diğer daha az yaygın risk faktörleri ise şunlardır:
            </p>
            <ul>
                <li>Ciddi yaralanma, hastalık veya ameliyattan kaynaklanan stres</li>
                <li>Otoimmün bozukluklar</li>
                <li>Crohn hastalığı gibi sindirim bozuklukları</li>
                <li>Viral enfeksiyonlar</li>
            </ul>
            <h3>
                GASTRİT BELİRTİLERİ NELERDİR?
            </h3>
            <p>
                Gastrit herkeste belirgin semptomlara neden olmaz.
            </p>
            <p>En yaygın belirtiler:</p>
            <ul>
                <li>Midede rahatsızlık ve yanma hissi</li>
                <li>Mide bulantısı</li>
                <li>Kusma</li>
                <li>Özellikle yemeklerden sonra dolgunluk hissi</li>
                <li>Hazımsızlık</li>
                <li>Göbek ve alt kaburgalar arasında hissedilen kalıcı ağrı</li>
                <li>İlerlemiş gastrit düzeyinde mide astarının çok fazla aşınmasından dolayı kanlı kusma (Kusmadan dolayı ortaya çıkan sıvı çoğunlukla kahve kıvamındadır.)</li>
            </ul>
            <h3>
                GASTRİT TEDAVİSİ
            </h3>
            <p>
                Gastrit tedavisi, durumun nedenine bağlıdır. NSAID’lerin veya diğer ilaçların neden olduğu gastritiniz varsa, bu ilaçlardan kaçınmak semptomlarınızı hafifletmek için yeterli olabilir. H. pylori’nin bir sonucu olan gastrit, rutin olarak bakterileri öldüren antibiyotiklerle tedavi edilir.

                Antibiyotiklere ek olarak, gastrit tedavisinde birkaç başka ilaç türü kullanılır.
            </p>
            <p>
                Omeprazol, lansoprazol, rabeprazol ve pantoprazol içeren ilaçlar bu ilaçlardandır. Ayrıca mide asidini nötralize eden antasitler de tedavi için kullanılan ilaçlar arasındadır. Bu ilaçların kullandırılmasının amacı mide asidinin zayıflamasını sağlayarak belirtilerin ortadan kaldırılmasıdır. Ancak en etkili tedavi yöntemi hastaların yaşam tarzlarını ve beslenme alışkanlıklarını değiştirmeleridir. Daha az ve sık öğünlerle beslenmek mide asidinin etkilerini azaltacaktır. Aşırı baharatlı, asidik, kızarmış veya yağlı besinleri daha az tüketmek, aşırı alkol tüketiminden kaçınmak, ağrı kesicilerin mutlaka kullanılması gerekiyorsa değiştirilmesi gastritin önüne geçecektir.
            </p>

            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/ARDS"><img src="~/img/Hastaliklarimg/ARDS.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">ARDS</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Apse"><img src="~/img/Hastaliklarimg/Apse.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Apse</h4>
            </div>
        </div>
    </div>
</div>

