
@{
    ViewData["Title"] = "GeceKorlugu";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Gece Körlüğü</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->

            <p>

                Tavuk karası veya gece körlüğü olarak da bilinen retinitis pigmentosa, nadir görülen, kalıtımsal bir hastalıktır. Sonradan tavuk karası hastalığının görülmesi nadir durumlardan biridir ve genellikle bu hastalığa sahip kişiler gece körlüğü rahatsızlığı ile doğmuşlardır.
            </p>
            <p>
                Gözün içini kaplayan retina adını verdiğimiz tabakada görme hücreleri bulunur. Bu görme hücrelerinden rod adı verilenler karanlıkta görmeyi veya gece görmeyi ve çevreyi görmeyi sağlar. Hastalık rod adı verilen bu hücrelerde bozulmayla karakterizedir. Gece körlüğü olan insanlar gece ya da loş ışıklı ortamlarda zayıf görüş deneyimi yaşarlar. Hareket etmede ve araç kullanmada zorluk çekerler. Erkeklerde görülme sıklığı kadınlardan daha fazladır. Retinitis pigmentosa çocuklukta ortaya çıksa da herhangi bir yaş grubunda görülme olasığı vardır.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Gece Körlüğü.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                TAVUK KARASININ NEDENLERİ
            </h3>
            <p>
                Sorun, retinadaki loş ışığı görmenizi sağlayan hücrelerin bozukluğundan kaynaklanır. Nedenler arasında dış etkenler yer alsa da çoğunlukla karşılaşılan sebepler kalıtsal ya da doğum esnasında meydana gelen problemlerde dolayı ortaya çıkmaktadır.

                Tavuk karasının olası birçok nedeni bulunmaktadır. Bunlar:
            </p>
            <ul>
                <li>Miyopluk</li>
                <li>Glakom</li>
                <li>Glokom ilaçları</li>
                <li>Katarakt</li>
                <li>Diyabet</li>
                <li>Retinitis pigmentosa</li>
                <li>A vitamini eksikliği</li>
                <li>Keratokonus</li>
            </ul>
            <h3>
                TAVUK KARASI BELİRTİLERİ VE TEDAVİSİ
            </h3>
            <p>
                Gece körlüğünün tek belirtisi karanlıkta görmekte zorlanmaktır. Tavuk karası hastalığı kendini basit bir göz hastalığı olarak belli etmeye başlar. Zamanla, gece ve ışığın olmadığı ortamlarda görememe başlar. Bu tip durumda hemen bir göz doktoruna başvurmak gereklidir. Gece körlüğü yani tavuk karası hastalığı genelde A vitamini eksikliği ile kendini belli eder. Bu nedenle tedavisinde A vitamini zengini gıdalar kullanılır. Balık, süt ve süt ürünleri, yeşil yapraklı sebzeler, yumurta ve A vitamini takviyeleri alınır. Rodopsin maddesi A vitamini olmadan üretilmediğinden, göz zamanla loş ve az ışığa uyum sağlayamaz ve gece görmemeye başlar. Özellikle sürücülerin bu konuda çok dikkatli olması gerekir.
            </p>
            <p>
                Günümüzde retinitis pigmentosanın standard bir tedavisi yoktur. Ancak retinitis pigmentosayla birlikte görülebilen katarakt, glokom gibi yandaş hastalıkların düzenli yapılan göz muayenesiyle teşhis ve tedavisi mümkündür. Retinitis pigmentosalı hastalarda görme kaybı aynı derecede olmaz. Hastaların bir kısmı erken yaşta görmelerini kaybederken, bir kısmı hayat boyunca kendilerini idare edecek kadar görmeyi koruyabilirler. Görme azlığı bulunan hastalara LVA denilen özel büyüteçli gözlükler verilebilir.
            </p>
            <h3>
                TAVUK KARASINI ÖNLEMENİN YOLLARI
            </h3>
            <p>
                Doğum kusurları veya Usher sendromu gibi genetik koşulların sonucu gelişen gece körlüğünü önleyebilmek mümkün değildir. Bununla birlikte, kan şekeri seviyesini kontrol altında tutmak ve dengeli beslenmek tavuk karasını önlemede etkin yöntemlerdir.
            </p>
            <p>
                Kataraktların önlenmesine yardımcı olabilecek antioksidan vitaminler ve mineraller açısından zengin yiyecekler tüketin. Ayrıca, gece körlüğü riskinizi azaltmak için yüksek A vitamini içeren yiyecekleri seçin. Aşağıdakiler dahil olmak üzere bazı gıdalar A vitamini için mükemmel kaynaklardır:
            </p>
            <ul>
                <li>Kavun</li>
                <li>Tatlı patates</li>
                <li>Havuç</li>
                <li>Balkabağı</li>
                <li>Mango</li>
            </ul>
            <p>
                A vitamini için ayrıca:
            </p>
            <ul>
                <li>Ispanak</li>
                <li>Kara lahana</li>
                <li>Süt</li>
                <li>Yumurta bolca tüketilmelidir.</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Apandisit"><img src="~/img/Hastaliklarimg/Apandisit.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Apandisit</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Alerji"><img src="~/img/Hastaliklarimg/Alerji.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Alerji</h4>
            </div>
        </div>
    </div>
</div>

