
@{
    ViewData["Title"] = "GozIltihabi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Göz İltihabı</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->

            <p>
                Oküler iltihap olarak da adlandırılan göz iltihabı, gözlerin bir veya daha fazla bölümünün şişmesi ile karakterize bir durumdur ve basit tahrişten belirli hastalıklara kadar değişen çeşitli faktörlerin neden olduğu bir durumdur.
            </p>
            <p>
                Göz, üç farklı katmandan oluşur: retina, uvea ve sklera. Retina en içteki tabakadır ve uvea göze kan sağlayan damarları ve arterleri içerir. Sklera adı verilen en dış katman koruyucu katman görevi görür ve beyaz renktedir. Görsel bilginin yorumlanması için gözden beyine sinyaller gönderen optik sinirler, gözün arkasındaki sklera ile bağlantılıdır.
            </p>
            <p>
                İltihaplanma tabakaların herhangi birinde olabilir. Böylece durum, gözün etkilenen kısmına göre sınıflandırılır. Sınıflandırmalar, tüm gözü etkileyen iltihabı ifade eden genel bir terim olan Sklerit, Ön Üveit, Orta Üveit, Arka Üveit ve Panuveit’tir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Göz İltihabı.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                GÖZ İLTİHABI NEDENLERİ
            </h3>
            <p>
                Göz iltihabı sayısız farklı nedenlerle tekrar görülebilir. Bakteriler, virüsler veya mantarlardan kaynaklanan enfeksiyonlar ana nedenlerdir.

                Göz iltihabının diğer nedenleri, saman nezlesi, otoimmün hastalıklar ve cereyan, toz partikülleri veya güneş ışığı gibi çevresel tahriş edici maddeler gibi alerjik reaksiyonlardır. Mekanik tahriş edici maddeler, bir kirpiğin göze girdiğinde olduğu gibi gözün iltihaplanmasına da neden olabilir.
            </p>
            <h3>
                GÖZ İLTİHABI BELİRTİLERİ
            </h3>
            <p>
                Bir göz iltihaplandığı zaman, göz çevresinde iltihap oluşması gereklidir. Gözün farklı kısımlarını etkileyebilir. “Göz iltihabı” terimi, çeşitli iltihaplı hastalıklar için bir şemsiye terimdir. Klinik tabloya bağlı olarak farklı semptom ve şikayetler yaygındır. Nadir durumlarda, görmeyi tehdit eden ciddi bir hastalık da olabilir.
            </p>
            <p>
                En sık olarak, iltihaplanma konjonktivayı (göz kapaklarının iç kısmını ve gözlerin beyaz kısmını (sklera) kaplayan, ince ve şeffaf bir zar) etkiler, bunu kornea ve göz kapağı izler.

                Birçok göz iltihabı belirtisi, göz kuruluğu ile örtüşür. Bunlar şunları içerir:
            </p>
            <ul>
                <li>Gözde kızarıklık</li>
                <li>Kaşıntı</li>
                <li>Gözde yanma</li>
                <li>Gözde yabancı cisim hissi</li>
                <li>Göz sulanması</li>
                <li>Şişme</li>
            </ul>
            <p>
                Bunların dışında, daha spesifik semptomlar ortaya çıkabilir:
            </p>
            <ul>
                <li>Ağrı</li>
                <li>Birbirine yapışan göz kapakları</li>
                <li>Görüş bulanıklığı</li>
                <li>Işığa duyarlılık</li>
                <li>İrin salgılanması</li>
            </ul>
            <p>
                Pürülan bir akıntı bakteriyel enfeksiyonun bir işaretidir. Etkilenen bazı insanlar şiddetli ağrı çekmekte ve görmede belirgin bir azalma olmaktadır.
            </p>
            <h3>
                GÖZ İLTİHABI TEDAVİSİ
            </h3>
            <p>
                Göz iltihabı belirtileri varsa bir göz doktoruna gitmelisiniz. Doktor gözün hangi bölümünün iltihaplı olduğunu tespit ettiği anda uygun tedavi uygulanacaktır.
            </p>
            <p>
                Göz iltihabı zamanla fark edilir ve tedavi edilirse, iyileşme süreci genellikle karmaşık değildir. Bakteriler enfeksiyonun sebebi ise, antibiyotik göz damlaları tedavi için kullanılır.
            </p>
            <p>
                Alerjik reaksiyon durumunda, mümkünse alerjenle temastan kaçınılmalıdır. Alerji özel göz damlaları ile hafifletilebilir.
            </p>
            <p>
                Antiviral göz damlaları viral enfeksiyonlara karşı sıklıkla kullanılır. Kortizon içeren göz merhemleri de sıklıkla reçete edilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/AkdenizAtesi"><img src="~/img/Hastaliklarimg/Akdeniz Ateşi.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Akdeniz Ateşi</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/AkcigerKanseri"><img src="~/img/Hastaliklarimg/Akciğer Kanseri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Akciğer Kanseri</h4>
            </div>
        </div>
    </div>
</div>

