
@{
    ViewData["Title"] = "Grip";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Grip</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Yaygın olarak influenza A veya B virüslerinin neden olduğu aşırı bulaşıcı bir solunum hastalığıdır. Grip en sık kış ve ilkbaharın il dönemlerinde görülür. Grip virüsü vücuda üst ve / veya alt solunum yollarıdan girebilir. Enfekte bir kişinin öksürüğü ve hapşırma ile yayılır.

                Ayrıca, enfekte olmuş bir kişiye dokunarak, örneğin el sıkışarak da gribe yakalanabilirsiniz. Yetişkinler semptomları almadan 1-2 gün önce ve hasta olduktan 7 gün sonra bulaşıcıdırlar. Bu, size virüs bulaştığını bilmeden önce influenza virüsünü yayabileceğiniz anlamına gelir.
            </p>
            <p>
                Antibiyotikler grip tedavisinde kullanılamaz. Uzmanlar, gripten korunmanın en iyi yolunun her yıl aşılanmak olduğunu kabul ediyorlar.
                Grip aşısı, yumurtaya şiddetli alerjisi olanlar gibi belirli insan grupları için uygun değildir.
            </p>
            <p>
                Küresel olarak her yıl 250.000-500.000 kişinin grip sonucu öldüğü tahmin edilmektedir.

                Sanayileşmiş ülkelerde, ölümlerin büyük çoğunluğu 65 yaş üstü insanlar arasında gerçekleşmektedir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Grip.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                GRİP BELİRTİLERİ
            </h3>
            <p>
                Soğuk algınlığı genellikle griple karıştırılmaktadır. Grip ve soğuk algınlığı semptomları arasındaki belirgin farklar akan / tıkalı bir burun, boğaz ağrısı ve öksürük olabilir.

                Bunları ayırmanıza yardımcı olmak için, aşağıda soğuk algınlığından farklı grip belirtileri vardır:
            </p>
            <ul>
                <li>Yüksek sıcaklık</li>
                <li>Soğuk terleme ve titreme</li>
                <li>Baş ağrısı</li>
                <li>Ağrıyan eklemler özellikle bacaklarda</li>
                <li>Yorgunluk veya yorgun hissetme</li>
            </ul>
            <p>
                Ayrıca mide bulantısı, kusma ve ishal gibi mide-bağırsak semptomları da olabilir; Bunlar çocuklar arasında yetişkinlerden çok daha yaygındır.

                Normalde, semptomlar yaklaşık 1 hafta boyunca devam eder. Bununla birlikte, yorgunluk hissi birkaç hafta devam edebilir.

                Grip olan herkesin tüm belirtilere sahip olmayacağını belirtmek gerekir; örneğin ateşsiz grip olması mümkündür.

                Gribin erken belirtileri ise şunlardır:
            </p>
            <p>
                Çoğu zaman, yorgunluk ilk grip ve soğuk algınlığı belirtilerinden biridir. Gripte, yorgunluk genellikle daha aşırıdır. Diğer erken belirtiler öksürük, boğaz ağrısı, ateş, vücut ağrısı, titreme ve gastrointestinal değişiklikleri içerebilir.
            </p>
            <h3>
                GRİP TEDAVİSİ
            </h3>
            <p>
                Grip, virüs kaynaklı bir hastalıktır ve antibiyotikler ancak grip başka bir hastalığa neden olduysa kullanılabilir. Oseltamivir ve zanamivir gibi antiviraller, bazı durumlarda reçete edilebilir.

                Ağrı kesici ilaçlar, baş ağrısı ve vücut ağrıları gibi bazı semptomları hafifletebilir. Reçetesiz satılan çeşitli ağrı kesiciler de mevcuttur. Farklı ürünleri karşılaştırmak ve bunları yalnızca bir tıp uzmanının tavsiyesiyle almak çok önemlidir.

                Aspirin gibi bazı ağrı kesiciler 12 yaşın altındaki çocuklara verilmemelidir.
            </p>
            <p>
                Grip olan bireyler:
            </p>
            <ul>
                <li>Evde kalıp dinlenmeli</li>
                <li>Mümkünse diğer insanlarla temastan kaçının</li>
                <li>Bol sıvı tüketmeli</li>
                <li>Alkolden kaçının</li>
                <li>Sigara içmeyi bırakın</li>
                <li>Mümkünse yemek yemeli</li>
            </ul>
            <h3>
                GRİPTEN KORUNMANIN YOLLARI
            </h3>
            <p>
                Uzmanlar, gripten korunmanın en iyi yolunun yılda bir kez grip aşısı yaptırmak olduğunu açıklamaktadır. Aşı özellikle, 65 yaşından büyüklere, şeker, astım, kronik akciğer ve kalp damar sistemi hastalarına, bağışıklık sistemi baskılanmış kişilere, risk grubunda yer alanlarla yakın temasta olanlara ve 50-64 yaş arası bireylerle sağlık personellerine, hamilelere (dört aylıktan itibaren), HIV ile enfekte olanlara, sık seyahat edenlere, çocuklara ve gribin tıbbi ve ekonomik olumsuz etkilerinden korunmak isteyenlere yapılmalıdır. Türkiye’de, kronik hastalığı bulunanlara ve yaşlılara grip aşısı ücretsiz olarak yapılmaktadır.
            </p>
            <p>
                Grip aşısı üç grip virüsü içerir:
            </p>
            <ul>
                <li>grip (H3N2) virüsü</li>
                <li>grip (H1N2) virüsü</li>
                <li>bir B virüsü</li>
            </ul>
            <p>
                Aşı olduktan iki hafta sonra aşının koruyuculuğu başlamaktadır. Grip için aşılanma Eylül’de başlar, tüm grip sezonu boyunca ve sonrasında da devam eder. Bu zaman aralığının sebebi, grip salgınının hep aynı zamanda görülmemesidir. Grip salgını, genelde Ocak ayında zirve yapar fakat bu durum Ekim'de de ortaya çıkabilir.
            </p>
            <h3>
                GRİP AŞISI HERKES İÇİN UYGUN DEĞİLDİR.
            </h3>
            <p>
                Grip aşısının uygulanmasının sakıncalı olduğu bazı durumlar vardır. Eğer;
            </p>
            <ul>
                <li>Yumurtaya karşı şiddetli alerjiniz varsa,</li>
                <li>Daha önce grip aşısı olduğunuzda aşıya ciddi reaksiyon gösterdiyseniz,</li>
                <li>Grip aşısı olduktan sonraki altı hafta içinde Guillain-Barré Sendromu geliştirdiyseniz,</li>
                <li>Bebekler altı aylıktan küçükse,</li>
                <li>Orta ya da şiddetli bir hastalıktan kaynaklı ateşiniz varsa aşı vurulmadan önce doktora danışılmalıdır.</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Adenit"><img src="~/img/Hastaliklarimg/Adenit.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Adenit</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Zaturre"><img src="~/img/Hastaliklarimg/Zatürre.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Zatürre</h4>
            </div>
        </div>
    </div>
</div>

