@{
    ViewData["Title"] = "Guatr";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Guatr</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Guatr, boynun şişmesine neden olan genişlemiş bir tiroid bezidir. Tiroid bezi büyüme ve metabolizmayı düzenleyen hormonların üretilmesinden ve salgılanmasından sorumludur. Tiroid bezi boynun ön tarafında, nefes borusunun her iki yanında birbirine bağlı iki lob şeklinde yer alır. Toplam ağırlığı ortalama 20 gramdır. Çok büyük guatrlar gözle ve elle muayene ile kolaylıkla saptanabilirler. Guatr herkeste görülebilir ancak kadınlarda erkeklere göre daha yaygındır.
            </p>
            <h3>
                GUATR TÜRLERİ
            </h3>
            <p>
                Guatrların birçok nedeni ve buna bağlı olarak farklı türleri vardır. Bunlar şunları içerir:
            </p>
            <h4>
                Kolloid Guatr (Endemik)
            </h4>
            <p>
                Kolloid guatr, tiroid hormonlarının üretimi için gerekli olan bir mineral olan iyot eksikliğinden kaynaklanır. Bu tip guatrı olan insanlar genellikle iyotun az olduğu bölgelerde yaşamaktadır.
            </p>
            <h4>
                Zehirsiz (Sporadik)
            </h4>
            <p>
                Toksik olmayan bir guatrın nedeni genellikle bilinmemektedir, buna lityum gibi ilaçlar neden olabilir. Lityum, bipolar bozukluk gibi duygudurum bozukluklarını tedavi etmek için kullanılır. Toksik olmayan guatr iyi huylu olup tiroid hormonunun üretimini etkilemez.
            </p>
            <h4>
                Toksik Nodüler veya Multinodüler Guatr
            </h4>
            <p>
                Tıp literatüründe, tiroid bezinde birden çok nodül olması multinodüler guatr olarak adlandırılmaktadır. Bu tip guatr, büyüdükçe bir veya daha fazla küçük nodül oluşturur. Nodüller kendi tiroid hormonlarını üretirler ve hipertiroidiye neden olurlar. Genellikle de ileri yaştaki insanlarda görülmektedir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Guatr.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                GUATRIN NEDENLERİ
            </h3>
            <p>
                Tiroid bezinin büyümesine ve guatr tablosunun oluşumuna sebep olan başlıca nedenler şu şekilde sıralanabilir:
            </p>
            <ul>
                <li>İyot eksikliği: İyot eksikliği, guatrın ana nedenidir. Tiroidin tiroid hormonları üretmesine yardımcı olmak için iyot gereklidir. Yeterince iyot almamışsanız, tiroid hormonu yapmak için fazla çalışmamakta ve bu da bezin büyümesine neden olmaktadır. İyot eksikliğinden meydana gelen guatr endemiktir; yani bölgeye özgüdür. Türkiye’de iyot tüketimi az olduğu için guatr sık görülmektedir.</li>
                <li>Tiroid bezinin normalden fazla çalışması: Tiroit bezinin kendi başına, kandaki tiroit hormonu düzeyi ile ilişkisiz olarak, devamlı ve vücut gereksinimden fazla tiroit hormonu üretmesine hipertirodi denir.</li>
                <li>Tiroid bezinin normalden az çalışması: Tiroitin az çalışması durumu ‘'hipotiroidi'' olarak adlandırılmaktadır</li>
                <li>Tiroid bezinde içinde ve üzerinde oluşan küçük şişlikler (nodüller): Tiroid bezi, bazen nodül yüzünden de büyüyebilir. Nodül içeren guatrlara nodüler guatr denir.</li>
                <li>Tiroid kanseri: Tiroid kanseri de tiroid bezinin içinde bir şişlik meydana getirir.</li>
                <li>Tiroid bezi iltihaplanması: Bezde bulunan iltihap da tiroid bezini büyütür.</li>
            </ul>
            <h3>
                GUATR BELİRTİLERİ
            </h3>
            <ul>
                <li>Büyümüş tiroid bezi, boynunuzun tabanında belirgin bir şişme ile sonuçlanır ve tıraş olduğunuzda veya makyaj uyguladığınızda özellikle belirgindir.</li>
                <li>Boğazda baskı hissi</li>
                <li>Yutma güçlüğü</li>
                <li>Öksürme</li>
                <li>Ses kısıklığı</li>
                <li>Nefes darlığı</li>
            </ul>
            <p>
                Tiroid hormonlarının normalden fazla salgılanması durumunda baş ağrısı, baş dönmesi, çarpıntı, titreme, sinirlilik, bulantı, kusma ve ishal görülebilir. Tiroid bezinin salgıladığı hormonların normalden az olması sonucunda ise kilo alma, kabızlık, halsizlik, ciltte kuruma, saç dökülmesi gibi söz konusu olabilir.
            </p>
            <h3>
                GUATRDA RİSK GRUPLARI
            </h3>
            <ul>
                <li>Ailede tiroid kanseri, nodüller ve tiroidi etkileyen diğer problemlere ilişkin hikaye.</li>
                <li>Beslenmeede yeteri kadar iyot alınmaması.</li>
                <li>Vücutta iyot eksikliğine yol açan bir durum.</li>
                <li>Kadınlar erkeklerden daha fazla guatr riski taşırlar.</li>
                <li>40 yaş üzerinde görülme sıklığı fazladır. Yaşlanma tiroid fonksiyonlarını etkilemektedir.</li>
                <li>Hamilelik veya menapoz. Bu risk faktörleri kolayca anlaşılamamaktadır, ancak gebelik ve menopoz tiroid problemlerini tetikleyebilir.</li>
                <li>Boyun veya göğüs bölgesinde radyasyon tedavisi. Radyasyon tiroidinizin işlevlerini bozabilir.</li>
            </ul>
            <h3>
                GUATR TEŞHİSİ NASIL YAPILIR?
            </h3>
            <p>
                Guatr tanısı boyun bölgesinin hekim tarafından muayene edilmesinin ardından kanda tiroid hormon düzeylerinin ölçümü ve ultrasonografik inceleme ile konulabilmektedir. Ayrıca gerektiğinde sintigrafi ve tiroid bezinden yapılacak ince iğne biyopsileri tanıda yardımcı olabilmektedir.
            </p>
            <h3>
                GUATR TEDAVİSİ
            </h3>
            <p>
                Guatr tedavisinde ilaç tedavisi, radyoaktif iyot tedavisi ve cerrahi tedavi olmak üzere 3 farklı yöntem vardır. Hormon eksikliği olan hastalar tiroid hormonu ilaç olarak verilmektedir. Hormon fazlalığı olan hastalara hormon yapımını baskılayacak ilaçlar verilerek hormon düzeyi normale çekildikten sonra ameliyat veya radyoaktif iyot tedavisi yapılır. Hormon seviyelerinin normal olduğu ve genelde nodüllerin görüldüğü durumlarda genellikle cerrahi tedavi uygulanır. Cerrahi tedavide tiroid bezinin bir bölümü veya tamamı çıkarılmaktadır. Ameliyatta tiroid bezi komşuluğundaki dokuların korunması önem taşımaktadır. Ayrıca ameliyat bölgesinde iz bırakmamak için özen göstermek gerekir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Verem"><img src="~/img/Hastaliklarimg/Verem.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Verem</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Ucuk"><img src="~/img/Hastaliklarimg/Uçuk.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Uçuk</h4>
            </div>
        </div>
    </div>
</div>

