
@{
    ViewData["Title"] = "Hemofili";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Hemofili</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Hemofili genellikle kanın düzgün şekilde pıhtılaşmadığı kalıtsal bir kanama bozukluğudur. Bu, spontan kanamaya ve ayrıca yaralanma veya ameliyat sonrası kanamaya neden olabilir. Kan, kanamayı durdurmaya yardımcı olabilecek pıhtılaşma faktörleri adı verilen birçok protein içerir. Hemofili hastalarında faktör VIII (8) veya faktör IX (9) düşük seviyededir. Bir kişinin sahip olduğu hemofili şiddeti, kandaki faktör miktarı ile belirlenir. Faktör miktarı ne kadar düşükse, ciddi sağlık sorunlarına yol açabilecek kanama olasılığı o kadar yüksektir.
            </p>
            <p>
                Nadir durumlarda, kişi daha sonra yaşamda hemofili gelişebilir. Vakaların çoğu orta yaşlı ya da yaşlı insanları ya da yakın zamanda doğum yapmış ya da hamileliğin sonraki aşamalarında olan genç kadınları içermektedir. Bu durum genellikle uygun tedavi ile düzelir.
            </p>
            <h3>
                HEMOFİLİ NEDENLERİ
            </h3>
            <p>
                Hemofili, kan pıhtısı oluşturmak için gereken pıhtılaşma faktörü proteinlerini yapmak için talimatlar veren genlerden birinde mutasyon veya değişiklikten kaynaklanır. En yaygın hemofili tiplerinde hatalı gen, X kromozomunda bulunur. Herkesin her bir ebeveynden biri olan iki cinsiyet kromozomu vardır. Bir kadın, annesinden bir X kromozomunu ve babasından bir X kromozomunu miras alır. Bir erkek, annesinden bir X kromozomunu ve babasından bir Y kromozomunu miras alır.
            </p>
            <p>
                Bu, hemofili’nin hemen hempen her zaman erkeklerde ortaya çıktığı ve anneden oğula, annenin genlerinden birinin içinden geçtiği anlamına gelir. Kusurlu geni olan kadınların çoğu sadece taşıyıcıdır ve hemofili belirtisi veya semptomu yaşamaz. Ancak bazı taşıyıcılar, pıhtılaşma faktörleri orta derecede azalmışsa kanama semptomları yaşayabilir. İleri yaşlarda pıhtılaşma faktörlerine karşı antikor oluşan kişilerde sekonder hemofili gelişebilir.
            </p>
            <p>
                Hemofili aşağıdakilere neden olabilir:
            </p>
            <ul>
                <li>Eklemlerde kanama, kronik eklem hastalığı ve ağrı</li>
                <li>Kafada ve bazen beyinde kanama, nöbet ve felç gibi uzun süreli sorunlar</li>
                <li>Kanama durdurulamıyorsa veya beyin gibi hayati bir organda meydana gelirse ölüm meydana gelebilir.</li>
            </ul>
            <h3>HEMOFİLİ TÜRLERİ</h3>
            <p>
                Birkaç farklı hemofili tipi vardır. Aşağıda sayılan ikisi en yaygın olanıdır:
            </p>
            <ul>
                <li>Hemofili A (Klasik Hemofili)</li>
                <p>
                    Bu tip, pıhtılaşma faktörü VIII’in eksikliği veya azalmasından kaynaklanır.
                </p>
                <li>Hemofili B (Noel Hastalığı)</li>
                <p>Bu tip, pıhtılaşma faktörü IX’in eksikliği veya azalmasından kaynaklanır.</p>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Hemofili.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                HEMOFİLİ BELİRTİLERİ
            </h3>
            <p>
                Yaygın hemofili belirtileri şunlardır:
            </p>
            <ul>
                <li>Eklemlere kanama: Bu, eklemlerde şişlik ve ağrı veya gerginliğe neden olabilir; genellikle dizleri, dirsekleri ve ayak bileklerini etkiler.</li>
                <li>Deride kanama (morluk): Kas ve yumuşak doku bölgede kan birikmesine neden olur (hematom olarak adlandırılır).</li>
                <li>Ağız ve diş etlerinin kanaması ve diş çektirdikten sonra durması zor olan kanama.</li>
                <li>Sünnet sonrası kanama</li>
                <li>Aşılardan sonra olağandışı kanama.</li>
                <li>Zor bir doğumdan sonra bebeğin kafasındaki kanama.</li>
                <li>İdrarda veya dışkıda kan.</li>
                <li>Sık ve durdurulması zor burun kanaması.</li>
            </ul>
            <h3>
                TEŞHİS
            </h3>
            <p>
                Ailede hemofili öyküsü olan kişilerde, fetüsün hemofili’den etkilenip etkilenmediğini gebelikte tespit etmek mümkündür. Bununla birlikte, test fetüs için bazı riskler doğurmaktadır. Test etmenin yararlarını ve risklerini doktorunuzla konuşmanızda fayda vardır.
            </p>
            <p>
                Çocuklarda ve yetişkinlerde, bir kan testi pıhtılaşma faktörü eksikliğini ortaya çıkarabilir. Eksikliğin ciddiyetine bağlı olarak, hemofili semptomları çeşitli yaşlarda ortaya çıkabilir.
            </p>
            <p>
                Şiddetli hemofili vakaları genellikle yaşamın ilk yılında teşhis edilir. Hafif formlar yetişkinliğe kadar belirgin olmayabilir. Bazı insanlar ilk olarak cerrahi bir işlem sırasında aşırı kanamadan sonra hemofili olduğunu öğrenirler.
            </p>
            <h3>
                HEMOFİLİ TEDAVİSİ
            </h3>
            <p>
                Hemofili, replasman tedavisi ile tedavi edilir. Bu, bir hastada çok düşük veya eksik olan pıhtılaşma faktörlerini tamamlamayı veya değiştirmeyi içerir. Hastalar enjeksiyon yoluyla veya intravenöz olarak pıhtılaşma faktörleri alır.
            </p>
            <p>
                Replasman tedavisi için pıhtılaşma faktörü tedavileri, insan kanından türetilebilir veya bir laboratuarda sentetik olarak üretilebilir. Sentetik olarak üretilen faktörler rekombinant pıhtılaşma faktörleri olarak adlandırılır .
            </p>
            <p>
                Rekombinant pıhtılaşma faktörleri şimdi tercih edilen tedavi olarak kabul edilir, çünkü bunlar insan kanında taşınan enfeksiyonların bulaşma riskini daha da azaltır.
            </p>
            <p>
                Bazı hastalarda kanamayı önlemek için düzenli replasman tedavisi gerekir. Buna profilaktik tedavi denir. Bu, genellikle Hemofili A’nın ağır formlarına sahip kişiler için önerilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Tifus"><img src="~/img/Hastaliklarimg/Tifüs.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Tifüs</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Tifo"><img src="~/img/Hastaliklarimg/Tifo.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Tifo</h4>
            </div>
        </div>
    </div>
</div>

