
@{
    ViewData["Title"] = "Hipertansiyon";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Hipertansiyon</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Yüksek tansiyon (HBP) olarak da bilinen Hipertansiyon (HTN veya HT), arterlerdeki kan basıncının sürekli olarak yükseldiği uzun süreli bir tıbbi durumdur. Yüksek tansiyon tipik olarak semptomlara neden olmaz.
                Kan basıncı, kanın kan damarlarının duvarlarına karşı uyguladığı kuvvettir. Basınç kalp tarafından yapılan işe ve kan damarlarının direncine bağlıdır.
            </p>
            <p>
                Kan basıncının normal değerlerini büyük tansiyonda 120, küçük tansiyonda 80 olarak alabiliriz. Büyük tansiyonunuzun 140'ın veya küçük tansiyonunuzun 90'ın üstünde olması ya da bu iki değerin birden yüksek olması yüksek tansiyonun varlığına işarettir.
            </p>
            <h3>
                HİPERTANSİYON BELİRTİLERİ
            </h3>
            <p>
                Yüksek tansiyon veya hipertansiyon “sessiz katil” olarak adlandırılır, çünkü genellikle hiçbir uyarı belirtisi veya semptomu yoktur ve birçok kişi buna sahip olduğunu bile bilmez. En belirgin hipertansiyon belirtileri arasında aşırı yüksek kan basıncına bağlı olarak baş ağrısı, baş dönmesi, nefes darlığı, çarpıntı, göğüs ağrısı, görmede bozukluk oluşabilir. Ayrıca hipertansiyon belirtileri arasında;
            </p>
            <ul>
                <li>Halsizlik,</li>
                <li>Yorgunluk,</li>
                <li>Burun kanaması,</li>
                <li>Kulaklarda çınlama,</li>
                <li>Yürüme ve merdiven çıkmada zorlanma,</li>
                <li>Bazen çok sık idrara çıkma,</li>
                <li>Gece uykudan uyanıp idrar yapma</li>
                <li>Bacaklarda şişlik olabilir.</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Hipertansiyon.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                HİPERTANSİYON NEDENLERİ
            </h3>
            <p>
                Günlük yüksek tuz alımı, stres, obezite, ailede hipertansiyon öyküsünün bulunması gibi genetik faktörler, şeker hastalığı, hareketsiz yaşam tarzı, kalsiyum, potasyum, magnezyum gibi elementler içeren besinlerin günlük olarak yetersiz tüketilmesi hipertansiyon nedenleri arasında sıralanabilir. Ayrıca tiroit hastalıkları, böbrek üstü bezi tümörleri, böbreğe giden damarlarda daralma, aort darlıkları, genetik bozukluklar da hipertansiyonu tetikleyici faktörlerle ortaya çıkabilmektedir. Doğum kontrol hapları, bazı ağrı kesici türleri de kan basıncını yükseltip, hipertansiyona neden olmaktadır. Hastaların büyük bir kısmında nedeni belirlenemese de yüksek kan basıncı mutlaka kontrol altına alınmalı ve hipertansiyon nedenleri iyi araştırılmalı ve kan basıncı ideal düzeye düşürülmelidir.
            </p>
            <h3>
                HİPERTANSİYON İÇİN RİSK FAKTÖRLERİ
            </h3>
            <p>
                Bir dizi risk faktörü, hipertansiyon olasılığını artırır.
            </p>
            <ul>
                <li>Yaş: Hipertansiyon, 60 yaşın üzerindeki kişilerde daha yaygındır. Yaşla birlikte, arterler sertleştikçe ve plak birikmesi nedeniyle daralaştıkça tansiyon artabilir.</li>
                <li>Etnisite: Bazı etnik gruplar hipertansiyona daha yatkındır.</li>
                <li>Obezite: Aşırı kilolu veya obez olmak önemli bir risk faktörüdür.</li>
                <li>Alkol ve tütün kullanımı: Düzenli olarak aşırı alkol tüketmek ve tütün ürünleri kullanmak kişinin kan basıncını artırabilir.</li>
                <li>Cinsiyet: Yaşam boyu risk erkekler ve kadınlar için aynıdır, ancak erkekler genç yaşta hipertansiyona daha yatkındır. Prevalans yaşlı kadınlarda daha yüksek olma eğilimindedir.</li>
                <li>Mevcut sağlık koşulları: Kardiyovasküler hastalık, diyabet, kronik böbrek hastalığı ve yüksek kolesterol düzeyleri, özellikle insanlar yaşlandıkça hipertansiyona neden olabilir.</li>
            </ul>
            <p>
                Diğer katkıda bulunan faktörler şunlardır:
            </p>
            <ul>
                <li>Fiziksel hareketsizlik</li>
                <li>İşlenmiş ve yağlı gıdalarla ilişkili tuz oranı yüksek yiyecekler</li>
                <li>Düşük potasyumlu diyetler</li>
                <li>Alkol ve tütün kullanımı</li>
                <li>Bazı hastalıklar ve ilaçlar</li>
            </ul>
            <h3>
                HİPERTANSİYON TEDAVİSİ
            </h3>
            <p>
                Kan basıncı, hipertansiyon aşamasına gelmeden önce diyet yoluyla en iyi şekilde düzenlenirken, çeşitli tedavi seçenekleri de mevcuttur.
                Yaşam tarzı düzenlemeleri, hipertansiyon için standart birinci basamak tedavidir.
            </p>
            <h4>
                Düzenli fiziksel egzersiz
            </h4>
            <p>
                Doktorlar, hipertansiyonu olan hastaların 30 dakika orta şiddette egzersiz yapmasını önermektedir. Bu, haftanın 5-7 günü yürüyüş, koşu, bisiklete binmeyi veya yüzmeyi içerebilir.
            </p>
            <h4>
                Stres azaltma
            </h4>
            <p>
                Stresi önlemek veya kaçınılmaz stresi yönetmek için stratejiler geliştirmek, kan basıncı kontrolüne yardımcı olabilir.

                Stresle başa çıkmak için alkol, uyuşturucu, sigara ve sağlıksız yemek kullanımı hipertansif sorunlara neden olacaktır. Bunlardan kaçınılmalıdır.

                Sigara içmek tansiyonu yükseltebilir. Sigarayı bırakmak, hipertansiyon, kalp hastalıkları ve diğer sağlık sorunları riskini azaltır.
            </p>
            <h4>
                İlaçlar
            </h4>
            <p>
                Kan basıncı 80’den 130’un üzerinde olan kişiler, hipertansiyon tedavisinde ilaç kullanabilirler.

                İlaçlar genellikle düşük dozda başlatılır. Antihipertansif ilaçlarla ilişkili yan etkiler çoğunlukla azdır.

                Sonunda, genellikle en az iki antihipertansif ilaç kombinasyonu gerekir.

                Aşağıdakiler dahil, kan basıncının düşmesine yardımcı olacak çeşitli ilaçlar mevcuttur:
            </p>
            <ul>
                <li>Tiazidler, chlorthalidone ve indapamid dahil diüretikler</li>
                <li>Beta blokerler ve alfa blokerler</li>
                <li>Kalsiyum kanal blokerleri</li>
                <li>Merkez agonistler</li>
                <li>Periferik adrenerjik inhibitör</li>
                <li>Vazodilatörler</li>
                <li>Anjiyotensin dönüştürücü enzim (ACE) inhibitörleri</li>
                <li>Anjiyotensin reseptörü blokerleri</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Siroz"><img src="~/img/Hastaliklarimg/Siroz.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Siroz</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Sinuzit"><img src="~/img/Hastaliklarimg/Sinüzit.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Sinüzit</h4>
            </div>
        </div>
    </div>
</div>

