
@{
    ViewData["Title"] = "Hipotansiyon";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Hipotansiyon</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Düşük tansiyon aslında istenilen bir durumdur ve bazı inasanlarda sorun teşkil etmez. Ancak, birçok insan için anormal derecede düşük kan basıncı (hipotansiyon) baş dönmesine ve bayılmaya neden olabilir. Şiddetli vakalarda, düşük tansiyon hayatı tehdit edici olabilir.

                Üst sayı (sistolik) için 90 milimetrenin altında (mm Hg) veya alt sayının (diyastolik) 60 mmHg altında bir kan basıncı, genellikle düşük tansiyon olarak kabul edilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/hipotansiyon.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                DÜŞÜK TANSİYON BELİRTİLERİ
            </h3>
            <p>
                Bazı insanlar için, düşük tansiyon, özellikle aniden düştüğünde veya buna benzer belirtiler ve semptomlarla birlikte, altta yatan bir sorunu işaret eder:
            </p>
            <ul>
                <li>Baş dönmesi ve sersemlik hissi</li>
                <li>Bayılma</li>
                <li>Bulanık görme</li>
                <li>Mide bulantısı</li>
                <li>Yorgunluk</li>
                <li>Konsantrasyon eksikliği</li>
                <li>Şok</li>
            </ul>
            <p>
                Aşırı hipotansiyon, yaşamı tehdit eden bazı durumlarla da sonuçlanabilir.
                İşaretler ve belirtiler şunlardır:
            </p>
            <ul>
                <li>Özellikle yaşlılarda kafa karışıklığı</li>
                <li>Soğuk, nemli, soluk cilt</li>
                <li>Hızlı nefes alıp verme</li>
                <li>Kalbin hızlı bir şekilde atması</li>
            </ul>
            <h3>
                DÜŞÜK TANSİYON NEDENLERİ
            </h3>
            <p>
                Kan basıncı, her kalp atışının aktif ve dinlenme fazları sırasında arterlerinizdeki basıncın bir ölçümüdür.
            </p>
            <ul>
                <li>Sistolik basınç: Kan basıncı okumasındaki en yüksek sayı, atardamarlarınızdaki kanı vücudunuzun geri kalanına pompalarken kalbin ürettiği basınç miktarıdır.</li>
                <li>Diyastolik basınç: Bir kan basıncı okumasındaki alt sayı, kalbiniz atımlar arasında dinlendiğinde, arterlerinizdeki basınç miktarını ifade eder.</li>
            </ul>
            <p>
                Mevcut veriler normal kan basıncını 120/80 mm Hg’den daha düşük olarak tanımlamaktadır.

                Gün boyunca, kan basıncı vücut pozisyonuna, nefes alma ritmine, stres düzeyine, fiziksel duruma, aldığınız ilaçlara, ne yediğinize ve içtiğinize ve günün saatine bağlı olarak değişir. Kan basıncı genellikle geceleri en düşüktür ve uyanıklıkla keskin bir şekilde artmaktadır.
            </p>
            <h3>
                DÜŞÜK TANSİYON TEDAVİSİ
            </h3>
            <ul>
                <li>Hipotansiyonu olan ve hiçbir semptomu olmayan veya çok hafif olan kişilerde tedavi gerektirmez.</li>
                <li>Altta yatan bir sorunun belirtileri varsa, hasta ilgili bir uzmana yönlendirilir.</li>
                <li>Aniden ayağa kalktığında bayılma hissi yaşayan yaşlı kişilere, atardamarları daraltmak için ilaç reçete edilebilir. Fludrokortizon kan hacmini artırmaya, Midodrin ise kan basıncı seviyelerini yükseltmeye yardımcı olur.</li>
                <li>Düşük tansiyon muhtemelen bir ilaca bağlıysa, doz değiştirilebilir veya başka bir ilaç reçete edilebilir.</li>
                <li>Artan tuz ve sıvı alımı hipotansiyon belirtilerini artırabilir. Tuz seviyeleri, tuz tabletleri alınarak veya yiyeceklere daha fazla tuz eklenerek artırılabilir. Sıvılar kan hacmini arttırır ve dehidrasyonu önler, bu da kan basıncı seviyelerini etkileyebilir.</li>
                <li>Hasta önemli değişiklikler yapmadan önce tıbbi yardım almalıdır.</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Sedef"><img src="~/img/Hastaliklarimg/Sedef.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Sedef</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Sagirlik"><img src="~/img/Hastaliklarimg/Sağırlık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Sağırlık</h4>
            </div>
        </div>
    </div>
</div>

