
@{
    ViewData["Title"] = "Hipotiroidi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Hipotiroidi</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Kanda tiroid hormonlarının normalden az olmasına Hipotiroidi denir. Tiroid bezinin az çalışması bedensel fonksiyonların yavaşlamasına neden olmaktadır. Kişi kendisini sürekli yorgun ve depresyonda hissetmektedir. Bebek ve çocuklarda görülen Hipotiroidi, büyüme ve gelişmede geriliğe neden olur. Bunlardan en ciddi olanı zeka geriliği olup, gecikmiş tedavi ile bu durumun düzelmesi söz konusu değildir. Erişkinde ise organizmadaki olaylarda genel bir yavaşlama söz konusudur. Ancak, erişkindeki belirtiler, tiroid hormonu tedavisi ile büyük oranda düzelir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Hipotiroidi.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                HİPOTİROİDİ BELİRTİLERİ
            </h3>
            <p>
                Hipotiroidi belirtileri ve semptomları, hormon eksikliğinin şiddetine bağlı olarak değişir. Ama genel olarak, herhangi bir problem, genellikle birkaç yıl içinde yavaş yavaş ortaya çıkar.
            </p>
            <p>
                İlk başlarda, yorgunluk ve kilo alma gibi Hipotiroidi belirtilerini neredeyse hiç fark etmemiş olabilirsiniz, ya da bunların yaşlanmaya bağlı olduklarını düşünebilirsiniz. Fakat metabolizmanız yavaşlamaya devam ettikçe, daha belirgin belirtiler ve semptomlar geliştirebilirsiniz. Hipotiroidi belirtileri ve semptomları arasında şunlar olabilir:
            </p>
            <ul>
                <li>Yorgunluk</li>
                <li>Soğuğa karşı artan hassasiyet</li>
                <li>Kabızlık</li>
                <li>Kuru cilt</li>
                <li>Kilo almak</li>
                <li>Şişmiş yüz</li>
                <li>Ses kısıklığı</li>
                <li>Kas güçsüzlüğü</li>
                <li>Kanda yüksek kolesterol seviyesi</li>
                <li>Kas ağrıları, hassasiyet ve sertlik</li>
                <li>Eklemlerinizde ağrı, sertlik veya şişme</li>
                <li>Düzensiz veya ağır adet görmek</li>
                <li>Saçların seyekleşmesi</li>
                <li>Kalp ritminde yavaşlama</li>
                <li>Depresyon</li>
                <li>Hafızada zayıflama</li>
            </ul>
            <p>
                Hipotiroidi tedavi edilmediğinde, belirti ve semptomlar giderek daha şiddetli hale gelebilir. Tiroid bezinizin daha fazla hormon salgılamak için sürekli uyarılması genişlemiş tiroide (guatr) yol açabilir. Ayrıca daha unutkanlaşabilir, düşünce süreçleriniz azalabilir veya depresyonda hissedebilirsiniz.
                Miksödem olarak bilinen ileri hipotiroidizm nadirdir, ancak ortaya çıktığında hayatı tehdit edici olabilir. İşaretler ve semptomlar arasında düşük tansiyon, azalan solunum, vücut ısısının düşmesi, tepkisizlik ve hatta koma bulunur. Aşırı durumlarda, miksödem ölümcül olabilir.
            </p>
            <h3>
                HİPOTİROİDİ NEDENLERİ
            </h3>
            <p>
                Tiroidiniz yeterli hormon üretmediğinde, vücudunuzdaki kimyasal reaksiyonların dengesi bozulabilir. Hipotiroidiye otoimmün bir hastalık, hipertiroidi tedavisi, radyasyon terapisi, tiroid cerrahisi ve bazı ilaçlar gibi çeşitli nedenler olabilir.
            </p>
            <p>
                Tiroid, Adem elmasının hemen altında, boynunuzun ön tarafındaki küçük, kelebek şeklinde bir bezdir. Tiroid bezi (triiyodotironin (T3) ve tiroksin (T4)) tarafından üretilen hormonlar, metabolizmanın tüm yönlerini etkileyen ve sağlık üzerinde çok büyük bir etkiye sahiptir. Vücudunun yağ ve karbonhidrat kullanma oranını korur, vücut sıcaklığınızı kontrol etmenize yardımcı olur, kalp atış hızınızı etkiler ve proteinlerin üretimini düzenlemeye yardımcı olur.
            </p>
            <p>
                Hipotiroidi, tiroid bezinin yeterli hormon üretmediğinde ortaya çıkar. Hipotiroidi aşağıdakiler de dahil olmak üzere bir dizi faktöre bağlı olabilir:
            </p>
            <h4>
                Otoimmün rahatsızlık
            </h4>
            <p>
                Hashimoto tiroiditi olarak bilinen belirli bir inflamatuar bozukluğa sahip olan kişiler, Hipotiroidinin en yaygın nedenini oluştururlar. Bağışıklık sisteminiz kendi dokularınıza saldıran antikorlar ürettiğinde otoimmün bozukluklar ortaya çıkar. Bazen bu süreç tiroid bezinizi içerir. Bilim adamları, vücudun kendi kendine neden antikor ürettiğinden emin değiller. Bazıları bir virüsün veya bakterinin olayı tetikleyebileceğini düşünürken, diğerleri genetik bir kusurun söz konusu olabileceğini düşünüyor. Büyük olasılıkla, otoimmün hastalıklar birden fazla faktörden kaynaklanmaktadır. Ancak bununla birlikte, bu antikorlar tiroidin hormon üretme kabiliyetini etkiler.
            </p>
            <h4>
                Tiroid ameliyatı
            </h4>
            <p>
                Tiroid bezinizin tamamını veya büyük bir bölümünü çıkarmak hormon üretimini azaltabilir veya durdurabilir. Bu durumda, yaşamak için tiroid hormonu almanız gerekir.
                Radyasyon tedavisi
            </p>
            <p>
                Baş ve boyun kanserlerini tedavi etmek için kullanılan radyasyon, tiroid bezinizi etkileyebilir ve Hipotiroidi yol açabilir.
            </p>
            <h4>
                İlaçlar
            </h4>
            <p>
                Bazı ilaçlar hipotiroidizme katkıda bulunabilir. Psikiyatrik bozuklukların tedavisinde kullanılan lityum bu ilaçlardandır. İlaç kullanıyorsanız, doktorunuza tiroid beziniz üzerindeki etkilerini sormanızda fayda vardır.
            </p>
            <h4>
                Gebelik
            </h4>
            <p>
                Bazı kadınlar gebelik sırasında veya sonrasında tiroid bezlerinin antikor üretmeleri nedeniyle Hipotiroidi gelişebilir (postpartum hipotiroidizm). Tedavi edilmediği takdirde, Hipotiroidi, hamileliğin son üç ayında kan basıncında önemli bir artışa neden olur. Bu durum düşük yapma, erken doğum ve preeklampsi riskini artırır. Gelişmekte olan fetusu da ciddi şekilde etkileyebilir.
            </p>
            <h4>
                Hipofiz bozukluğu
            </h4>
            <p>
                Hipotiroidinin nispeten nadir bir nedeni, hipofiz bezinin iyi huylu tümör nedeniyle yeterli tiroid uyarıcı hormon (TSH) üretememesidir.
            </p>
            <h4>
                İyot eksikliği
            </h4>
            <p>
                İyot tiroid hormonlarının üretimi için gereklidir. Vücut çok fazla veya çok az iyota maruz kalırsa Hipotiroidi veya guatr gibi sorunlarla karşılaşılabilir.
            <p>
                Bazı bebekler tiroid bezi bilinmeyen nedenlerle normal olarak gelişmemesinden kaynaklanan bozuk tiroid bezi ile doğarlar. Ancak bazı çocuklarda bozukluk kalıtsaldır. Bu durum fiziksel ve zihinsel gelişim sorunlarına yol açabilir.
            </p>
            <h3>
                HİPOTİROİDİİ TEDAVİSİ
            </h3>
            <p>
                Hipotiroidi için standart tedavi, levotiroksin adı verilen sentetik (yapay) tiroid hormonlarının günlük kullanımını içerir. Bu oral ilaç Hipotiroidi belirtilerini ve semptomlarını tersine çevirerek yeterli hormon seviyelerini geri yükler.
            </p>
            <p>
                Tedaviye başladıktan bir iki hafta sonra, daha az yorgun hissettiğinizi fark edeceksiniz. İlaç yavaş yavaş hastalık nedeniyle yükselen kolesterol seviyelerini de düşürür ve herhangi bir kilo alımını tersine çevirir. Levotiroksin ile tedavi genellikle yaşam boyu sürmektedir, ancak ihtiyacınız olan doz değişebileceğinden, her yıl TSH seviyenizi kontrol etmeniz gereklidir.
            </p>
            <p>
                Uygun dozajın belirlenmesi zaman alabilir.B aşlangıçta levotiroksinin doğru dozunu belirlemek için doktorunuz genellikle iki ila üç ay sonra TSH düzeyinizi kontrol eder. Hormonun aşırı dozları aşağıdaki gibi yan etkilere neden olabilir:
            </p>
            <ul>
                <li>İştah artışı</li>
                <li>Uykusuzluk hastalığı</li>
                <li>Kalp çarpıntısı</li>
                <li>Sakatlık</li>
            </ul>
            <p>
                Koroner arter hastalığınız veya şiddetli Hipotiroidiniz varsa, doktorunuz daha düşük doz ilaçla tedaviye başlayabilir ve dozu kademeli olarak artırabilir.

                Bazı ilaçlar, takviyeler ve hatta bazı yiyecekler levotiroksini emebilme yeteneğinizi etkileyebilir. Çok miktarda soya ürünleri, yüksek lifli besinler veya aşağıdakilerden bazılarını kullanıyorsanız doktorunuzla konuşun:
            </p>
            <ul>
                <li>Demir içeren demir takviyeleri veya multivitaminler</li>
                <li>Kolestramin</li>
                <li>Bazı antiasitlerde bulunan alüminyum hidroksit</li>
                <li>Kalsiyum takviyeleri</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Romatizma"><img src="~/img/Hastaliklarimg/Romatizma.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Romatizma</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Rasitizm"><img src="~/img/Hastaliklarimg/Raşitizm.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Raşitizm</h4>
            </div>
        </div>
    </div>
</div>

