
@{
    ViewData["Title"] = "HIV";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">HIV</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                HIV, vücudun bağışıklık sistemini, özellikle de T hücreleri olarak adlandırılan CD4 hücrelerine saldıran belirli vücut sıvıları yoluyla yayılan bir virüstür.

                Zamanla, HIV bu hücrelerin çoğunu vücudun enfeksiyon ve hastalıklarla mücadele edemeyeceği bir şekilde yok edebilir. Bu özel hücreler, bağışıklık sisteminin enfeksiyonlara karşı savaşmasına yardımcı olur.
                Tedavi edilmeyen HIV, vücuttaki CD4 hücrelerinin (T hücreleri) sayısını azaltır.
            </p>
            <p>
                Bağışıklık sistemindeki bu hasar, vücudun enfeksiyonlara ve diğer bazı hastalıklara karşı savaşmasını zorlaştırır. Fırsatçı enfeksiyonlar veya kanserler çok zayıf bir bağışıklık sisteminden yararlanır ve kişinin AIDS’e sahip olduğunu gösterir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/HIV.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                HIV İLGİLİ TEMEL BİLGİLER
            </h3>
            <ul>
                <li>HIV (human immunodeficiency virus), insan immün yetmezlik virüsü anlamına gelir.</li>
                <li>Etkili antiretroviral tedaviler vardır, böylece HIV’li kişiler normal ve sağlıklı bir yaşam sürdürebilirler.</li>
                <li>Daha erken HIV tanısı konur, erken tedavi başlarsa, hastalığı taşıyan kişiler daha uzun süreli sağlığına kavuşur. Bu yüzden HIV için düzenli test önemlidir.</li>
                <li>HIV virüsü sperm, kan, vajinal ve anal sıvılar ve anne sütünde bulunur.</li>
                <li>HIV ter, tükürük veya idrar yoluyla bulaşmaz.</li>
                <li>Cinsel ilişki sırasında erkek prezervatifi veya kadın kondomlarının kullanılması, HIV ve diğer cinsel yolla bulaşan enfeksiyonları önlemenin en iyi yoludur.</li>
                <li>Eğer düzenli olarak iğne yaptırıyorsanız ya da kendiniz yapıyorsanız her zaman temiz iğne ve şırınga kullanın. Ekipmanı başkalarının kullanmasına izin vermeyin</li>
                <li>Hamileyseniz ve HIV ile yaşıyorsanız, kanınızdaki virüs doğum yaptıktan sonra bebeğinize geçebilir. HIV tedavisi almak bu riski ortadan kaldırır.</li>
            </ul>
            <h3>
                HIV TEDAVİSİ
            </h3>
            <p>
                HIV için şu anda etkili bir tedavi mevcut değildir. Ancak uygun tıbbi bakım ile HIV kontrol edilebilir. HIV tedavisi antiretroviral tedavi veya ART olarak adlandırılır. ART, HIV bulaşmış birçok insanın yaşamını dramatik bir şekilde uzatabilir, onları sağlıklı tutabilir ve başkalarına bulaştırma olasılıklarını büyük ölçüde azaltabilir. 1990’ların ortalarında ART’ın tanıtılmasından önce, HIV’li kişiler birkaç yıl içinde AIDS’e (HIV enfeksiyonunun son aşaması) geçebilirken, bugün, HIV tanısı konmuş ve AIDS hastalığından önce tedavi gören bir kişi, HIV’si olmayan bir kişi kadar yaşayabilmektedir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Tetanoz"><img src="~/img/Hastaliklarimg/Tetanoz.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Tetanoz</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Siyatik"><img src="~/img/Hastaliklarimg/Siyatik.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Siyatik</h4>
            </div>
        </div>
    </div>
</div>

