
@{
    ViewData["Title"] = "Ishal";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">İshal</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                İshal, bağırsak hareketlerinin sıklığında bir artış ya da dışkı şeklinde bir azalma şeklindedir. Çoğu ishal vakası bakteriler, virüsler veya parazitlerden kaynaklanır. Crohn hastalığı ve ülseratif kolit dahil olmak üzere inflamatuar bağırsak hastalıkları (IBD) kronik ishale neden olabilir.

                Akut ishal, kısa bir süre süren ishaldir. Bu genel bir sorundur. Genellikle bir veya iki gün sürer, ancak daha uzun da sürebilir. Sonra kendi kendine geçer.

                Birkaç günden fazla süren ishal daha ciddi bir problemin belirtisi olabilir. Kronik ishal (en az dört hafta süren) kronik bir hastalığın belirtisi olabilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/İshal.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                İSHAL NEDENLERİ
            </h3>
            <p>
                Genellikle ishale bağırsağınızı etkileyen bir virüs neden olur. Bazı insanlar buna “bağırsak gribi” veya “mide gribi” diyor.

                Diğer nedenler ise şunlardır:
            </p>
            <ul>
                <li>Aşırı alkol kullanımı</li>
                <li>Belli yiyeceklere karşı alerjiler</li>
                <li>Diyabet</li>
                <li>Bağırsak hastalıkları (Crohn hastalığı veya ülseratif kolit gibi)</li>
                <li>Sindirim sistemini bozan yiyecekler yemek</li>
                <li>Bakteri enfeksiyonu (çoğu gıda zehirlenmesi nedeni) veya diğer organizmalar</li>
                <li>Müshil istismarı</li>
                <li>İlaçlar</li>
                <li>Aşırı çalışan tiroid (hipertiroidizm)</li>
                <li>Radyasyon tedavisi</li>
                <li>Bazı kanserler</li>
                <li>Sindirim sistemi ameliyatları</li>
                <li>“Malabsorpsiyon” olarak da adlandırılan belirli besinlerin sindiriminde yaşanan sorun</li>
            </ul>
            <p>
                İshal, özellikle irritabl bağırsak sendromu olan kişiler için kabızlığı da takip edebilir.
            </p>
            <h3>
                İSHAL BELİRTİLERİ NELERDİR?
            </h3>
            <p>
                Diyarenin birçok farklı belirtisi vardır. Semptomlar nedene bağlıdır. Aşağıdakilerden birini veya daha fazlasını yaşayabilirsiniz:
            </p>
            <ul>
                <li>Mide bulantısı</li>
                <li>Karın ağrısı</li>
                <li>Kusma</li>
                <li>Şişkinlik</li>
                <li>Susuzluk</li>
                <li>Ateş</li>
                <li>Kanlı dışkı</li>
                <li>Acil dışkılama isteği ve büyük tuvaleti tutamama</li>
            </ul>
            <p>
                Bu belirtilerden herhangi birini yaşıyorsanız, doktorunuza başvurun.
            </p>
            <h3>
                İSHAL TEDAVİSİ
            </h3>
            <p>
                İshal, özellikle bir enfeksiyon nedeniyle oluştuysa genellikle birkaç gün sonra tedaviye gerek duyulmadan kendiliğinden iyileşmektedir. Çocuklarda, ishal genellikle beş ile yedi gün içinde geçer ve nadiren iki haftadan uzun sürer. Yetişkinlerde ise ishal genelde iki ile dört gün içinde düzelir, ancak bazı enfeksiyonlar bir hafta veya daha fazla sürebilir.
            </p>
            <p>
                İshal, dehidrasyonu önlemek için sıvı kaybının giderilmesi ve elektrolit dengeleyerek tedavi edilir. Sorunun nedenine bağlı olarak, ishali durdurmak veya bir enfeksiyonu tedavi etmek için ilaçlara ihtiyacınız olabilir. Antidiarrhoeal ilaçlar ishali azaltmaya yardımcı olabilir. Bununla birlikte, genellikle bu ilaçlara gerek duyulmamaktadır. Bazı antidiarrhoeal ilaçlar reçetesiz eczaneden alınabilir.
            </p>
            <p>
                İshali olan yetişkinler bol miktarda su, meyve suyu, spor içecekleri, kafeinsiz gazozlar ve tuzlu et suyu içmelidir. Belirtileriniz iyileştikçe biraz daha katı yiyecekler yiyebilirsiniz. İshali olan çocuklarda ise sıvı kaybı ve elektrolit için oral rehidrasyon solüsyonları kullanılmalıdır. Henüz anne sütünden başka besin kullanmayan bebekler de, daha fazla emzirilmelidir.
            </p>
            <h3>
                İSHALE İYİ GELEN YİYECEKLER
            </h3>
            <p>
                İshal süresince alkol, kafein, baharatlı gıdalar, süt ürünleri, yağlı gıdalar ve yüksek oranda lif içeren gıdalardan uzak durmalısınız. İshale iyi gelen yiyecekler arasında ilk sıralarda düşük lifli pirinç, muz, elma püresi, patates çorbası, zencefil, bal, sarımsak, havuc, keçiboynuzu, kepek, limon suyu ve ekmek gelmektedir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/RahimKanseri"><img src="~/img/Hastaliklarimg/Rahim Kanseri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Rahim Kanseri</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Parkinson"><img src="~/img/Hastaliklarimg/Parkinson.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Parkinson</h4>
            </div>
        </div>
    </div>
</div>

