
@{
    ViewData["Title"] = "Kabakulak";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Kabakulak</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Kabakulak, bir kişiden diğerine tükürük, burun salgıları ve yakın kişisel temas yoluyla geçen paramiksovirüsün neden olduğu bulaşıcı bir hastalıktır. Durum öncelikle parotis bezleri olarak da adlandırılan tükürük bezlerini etkiler. Bu bezler tükürük üretmekten sorumludur. Yüzün her iki tarafında kulakların arkasında ve altında üç set tükürük bezi vardır. Kabakulağın ayırt edici belirtisi, tükürük bezlerinin şişmesidir.

                Kabakulak, suçiçeği veya kızamıktan daha az bulaşıcıdır. Hiç hastalığı olmayan aşılanmamış yetişkinler çocuklardan daha fazla komplikasyon riski taşımaktadır, ancak kabakulak nadiren ciddi sorunlara neden olmaktadır.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Kabakulak.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                KABAKULAK BELİRTİLERİ
            </h3>
            <p>
                Virüsün bulaştığı kişilerin üçte birinde hiçbir semptom görülmez. Diğerleri, enfekte olduktan 14 ila 24 gün sonra aşağıdaki belirtiler gözlenir.

                Bunlar:
            </p>
            <ul>
                <li>Yorgunluk ve halsizlik</li>
                <li>Ağrı</li>
                <li>Baş ağrısı</li>
                <li>İştah kaybı</li>
                <li>Ateş</li>
                <li>Yutkunma güçlüğü</li>
            </ul>
            <p>
                Şişlik ve hassasiyet sonraki 3 gün boyunca daha da kötüleşir ve diğer tükürük bezlerinin dahil olup olmamasına bağlı olarak çene boyunca öne doğru uzayabilir ve bazıları boyundan aşağı doğru uzayabilir. Kabakulak vakalarının çoğunda hem sağ hem de sol parotis bezleri şişer. Ateş tipik olarak sadece 1 ila 3 gün sürer ancak bir hafta boyunca devam edebilir. Bezlerin şişmesi yaklaşık bir hafta sonra düzelir.
            </p>
            <h3>
                KABAKULAK TEDAVİSİ
            </h3>
            <p>
                Kabakulak bir virüs olduğu için antibiyotiklere veya diğer ilaçlara cevap vermez. Bununla birlikte destekleyici ve belirtilere yönelik tedavi yapılır. Hastalar mutlak yatak istirahatine alınır ve en az iki hafta diğer şahıslardan ayrı tutulması gereklidir. Kabakulağın daha rahat atlatılabilmesi ve semptomların hafifletilebilmesi adına aşağıdaki yöntemleri uygulayabilirsiniz.

                Bunlar:
            </p>
            <ul>
                <li>Ateşi düşürmek için asetaminofen (parasetamol) ve ibuprofen gibi reçetesiz ağrı kesiciler.</li>
                <li>Şişmiş tükrük bezlerine buz paketleri uygulaması.</li>
                <li>Ateş nedeniyle su kaybını önlemek için bol miktarda sıvı tüketmek.</li>
                <li>Çiğnemesi zor olmayan çorba, yoğurt ve diğer yiyecekleri tüketmek.</li>
                <li>Tükürük bezlerinde daha fazla ağrıya neden olabilecek asitli yiyeceklerden ve içeceklerden kaçınmak.</li>
            </ul>
            <p>
                Kabakulağın bulaşıcı olduğu dönem yaklaşık 7 gündür. Bulaşıcılığın hastalığın belirtileri başlamadan üç gün öncesinden başlayıp, belirtiler başladıktan sonraki dört gün boyunca devam ettiği kabul edilmektedir.

                Eğer çocuğunuz KKK (kızamık kabakulak kızamıkçık) aşısı olmamış ve kabakulağa karşı bağışıklık kazanmamış ise enfekte olduğunda aşılanması hastalığı geçirmesini önlemede bir işe yaramaz. Eğer çocuğa virüs bulaştıktan sonra enfekte olmadıysa aşı onu ileride karşılaşabileceği kabakulak enfeksiyonuna karşı koruyacaktır.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Odem"><img src="~/img/Hastaliklarimg/Ödem.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Ödem</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Nezle"><img src="~/img/Hastaliklarimg/Nezle.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Nezle</h4>
            </div>
        </div>
    </div>
</div>

