
@{
    ViewData["Title"] = "Kabizlik";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Kabızlık</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Tıbbi adı konstipasyon olan kabızlık, bağırsak hareketlerinde yavaşlama sonucu ortaya çıkan, dışkının sertleşmesi durumudur. Yiyecekler sindirim sistemi boyunca ne kadar yavaş hareket ederse, bağırsaklar da daha fazla suyu emer. Sonuç olarak, dışkı kurur ve sertleşir.
            </p>
            <h3>
                KABIZLIK NEDENLERİ
            </h3>
            <ul>
                <li>Bağırsak hareketlerinde yavaşlamaya neden olan çeşitli metabolik ve sindirim sistemi hastalıkları</li>
                <li>Crohn ve divertikülit gibi bağırsak hastalıkları</li>
                <li>Bağırsaklarda tıkanıklığa yol açan polipler ya da kitlesel oluşumlar</li>
                <li>Hormonal denge değişiklikleri</li>
                <li>Çeşitli ilaçlar (Lityum, antipsikotikler, bazı antidepresanlar, bazı epilepsi ilaçları, demir ilacı)</li>
                <li>Tuvalet ihtiyacını ertelemek</li>
                <li>Katı gıdalarla beslenmek</li>
                <li>Fazla inek sütü tüketmek</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Kabızlık.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                KABIZLIK İÇİN NE YAPMALI?
            </h3>
            <p>
                Çoğu durumda, kabızlık herhangi bir tedavi veya sağlık riski olmadan kendiliğinden düzelir. Tekrarlayan kabızlıklarda, daha fazla egzersiz yapmak, daha fazla lifli gıda tüketmek; Kabızlığa iyi gelen armut, kayısı, erik gibi meyvelerin daha fazla tüketilmesi önemlidir. Beyaz ekmek yerine tam tahıllı ekmekler tüketilmelidir ve bol bol su içilmelidir. Diğer yapılması gerekenler ise şunlardır:
            </p>
            <ul>
                <li>Lokmalar iyice çiğnendikten sonra yutulmalıdır</li>
                <li>Fazla kafein tüketilmemelidir</li>
                <li>Süt ve süt ürünlerinin aşırı tüketimi engellenmelidir</li>
                <li>Tuvalet düzeni oluşturulması ve tuvalet ihtiyacı ertelenmemelidir</li>
            </ul>
            <h3>
                KABIZLIĞA NE İYİ GELİR?
            </h3>
            <p>
                Kuru meyveler: Sabah kahvaltısından önce kuru kayısı, incir, erik ile mürdüm eriği yemek ve üzerine ılık su içmek bağırsakları çalıştırır. Özellikle sabahları aç karnına tüketildiği zaman daha etkilidirler. Ayrıca komposto olarak da tercih edilebilir.
            </p>
            <ul>
                <li>Su: Kabızlık döneminde bol su içmeye özen gösterilmelidir.</li>
                <li>Keten tohumu: Yoğurda ya da salatalara ve yemeklere katarak tüketebileceğiniz keten tohumu, kabızlığa iyi gelen gıdalar arasındadır.</li>
                <li>Beyaz et: Kırmızı et yerine beyaz et veya balık eti tercih etmek bağırsakları rahatlatır.</li>
                <li>Lifli gıdalar: Baklagiller, pancar, pırasa, ıspanak, lahana, kızılcık, kereviz, keten tohumu gibi lif bakımından zengin gıdaların tüketimi bağırsakların harekete geçmesine yardımcı olmaktadır. Elma, üzüm, avokado, erik gibi lifli ve kabızlığa iyi gelen meyveler tüketilmelidir.</li>
                <li>Zeytin, zeytinyağı ve kekik: Zeytin, üzerine dökülen kekik ve zeytinyağı ile tüketildiğinde kabızlık sorununa iyi gelmektedir. Zeytinyağı yiyeceklerin bağırsaktan geçişini kolaylaştırdığı için aç karna 1 tatlı kaşığı zeytinyağı tüketmek faydalıdır.</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Miyopluk"><img src="~/img/Hastaliklarimg/Miyopluk.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Miyopluk</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Migren"><img src="~/img/Hastaliklarimg/Migren.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Migren</h4>
            </div>
        </div>
    </div>
</div>

