
@{
    ViewData["Title"] = "KalpYetmezligi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Kalp Yetmezliği</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Kalp yetmezliği, bazen konjestif kalp yetmezliği olarak bilinir, kalp kasınızın gerektiği kadar kan pompalamadığı zaman ortaya çıkar. Kalbinizdeki daralmış arterler (koroner arter hastalığı) veya yüksek tansiyon gibi belirli koşullar, kalbin yeterince kasılamamasına ve kanla dolup vücuda pompalama görevini yerine getirememesine yol açar.
            </p>
            <p>
                Kalp yetmezliğine neden olan tüm durumlar tersine çevrilemez, ancak tedaviler kalp yetmezliğinin belirtilerini ve semptomlarını iyileştirebilir ve daha uzun yaşamanıza yardımcı olabilir. Diyetinizde sodyumun azaltılması, stresi azaltmak ve kilo vermek gibi yaşam tarzı değişiklikleri yaşam kalitenizi artırabilir.
            </p>
            <p>
                Kalp yetmezliğini önlemenin bir yolu, koroner arter hastalığı, yüksek tansiyon, diyabet veya obezite gibi kalp yetmezliğine neden olan durumları önlemek ve kontrol etmektir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Kalp Yetmezliği.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                KALP YETMEZLİĞİNİN BELİRTİLERİ
            </h3>
            <p>
                Kalp yetmezliği süregelen (kronik) veya aniden başlayabilen (akut) bir durumdur. Kalp yetmezliği belirtileri ve semptomları şunları içerebilir:
            </p>
            <ul>
                <li>Nefes darlığı (dispne)</li>
                <li>Yorgunluk ve bitkinlik</li>
                <li>Bacaklarda, ayak bileklerinde şişlik (ödem)</li>
                <li>Hızlı veya düzensiz kalp atışı</li>
                <li>Düşük egzersiz yeteneği</li>
                <li>Öksürük veya hırıltılı solunum</li>
                <li>Geceleri idrara çıkma ihtiyacında artış</li>
                <li>Karın şişmesi (assit)</li>
                <li>Hızlı kilo alımı</li>
                <li>İştahsızlık ve bulantı</li>
                <li>Depresyon ve anksiyete</li>
                <li>Ani, şiddetli nefes darlığı ve öksürük. Pembe köpüklü balgam</li>
                <li>Kalp krizinden kaynaklanan göğüs ağrısı</li>
                <li>Baş dönmesi ve sersemlik</li>
            </ul>
            <h3>
                KALP YETMEZLİĞİNİN NEDENLERİ
            </h3>
            <p>
                Kalp yetersizliği genellikle kalp damar hastalığı, kalp krizi veya yüksek tansiyon gibi hastalıklar nedeniyle kalp kasının zarar görmesinden kaynaklanır. Kalp yetersizliğine neden olabilecek diğer hastalıklar şunlardır:
            </p>
            <ul>
                <li>Kalp kapağı ve kalp kası hastalıkları</li>
                <li>Doğumsal kalp hastalıkları</li>
                <li>Şeker hastalığı</li>
                <li>Kronik böbrek yetersizliği</li>
                <li>Akciğer hastalıkları</li>
                <li>Kan basıncı yüksekliği (hipertansiyon)</li>
            </ul>
            <p>
                Kalp yetmezliği, sol taraftaki (sol ventrikül), sağ taraftaki (sağ ventrikül) veya kalbinizin her iki tarafını da içerebilir. Genel olarak, kalp yetmezliği sol tarafla, özellikle de sol ventrikülle başlar (kalbinizin ana pompalama odası).
            </p>
            <h3>
                KALP YETMEZLİĞİ TEŞHİSİ
            </h3>
            <p>
                Kalp yetmezliğini teşhis etmek için doktorunuz tıbbi öykünüzü dinler. Belirtilerinizi gözden geçirecek fizik muayene yapar. Ayrıca yüksek tansiyon, koroner arter hastalığı veya diyabet gibi risk faktörlerinin varlığını da kontrol eder

                Bir stetoskop kullanarak, tıkanıklık belirtileri için akciğerlerinizi dinleyebilir. Stetoskop ayrıca kalp yetmezliği düşündüren anormal kalp seslerini de alır. Boynunuzdaki damarları inceleyebilir ve karın ve bacaklardaki sıvı birikimini kontrol edebilir.

                Fiziksel muayeneden sonra aşağıdaki testlerden bazılarını isteyebilir:
            </p>
            <h4>
                Kan testleri
            </h4>
            <p>
                Doktorunuz kalbi etkileyebilecek hastalık belirtileri aramak için kan örneği alabilir. Diğer testlerden sonra teşhisiniz kesin değilse, N-terminal pro-B tipi natriüretik peptit (NT-proBNP) denilen bir kimyasal için de kontrol edebilir.
            </p>
            <h4>
                Göğüs röntgeni
            </h4>
            <p>
                Röntgen görüntüleri, doktorunuzun akciğerlerinizin ve kalbin durumunu görmesine yardımcı olur. Doktorunuz ayrıca, belirtilerinizi ve semptomlarınızı açıklayabilecek kalp yetersizliği dışındaki durumları teşhis etmek için bir röntgen kullanabilir.
            </p>
            <h4>
                Elektrokardiyogram (EKG)
            </h4>
            <p>
                Bu test kalbin elektrik aktivitesini vücudunuza bağlı elektrotlar aracılığıyla kaydeder. Doktorunuzun kalp ritim problemlerini teşhis etmesine ve kalbinizdeki hasarı anlamasına yardımcı olur.
            </p>
            <h4>
                Ekokardiyogram
            </h4>
            <p>
                Ekokardiyogram kalbinizin görüntüsünü oluşturmak için ses dalgalarını kullanır. Bu test, doktorların kalbin büyüklüğünü ve şeklini herhangi bir anormallikle birlikte görmelerine yardımcı olabilir. Ekokardiyogram, ejeksiyon fraksiyonunuzu ölçer, bu kalbin pompalama gücünün ne kadar iyi olduğunu anlamaya yarayan önemli bir ölçümdür. Kalp yetmezliğini sınıflandırmaya ve tedaviyi yönlendirmeye yardımcı olmak için kullanılır.
            </p>
            <h4>
                Stres testi
            </h4>
            <p>
                Stres testleri, kalbinizin sağlığını, efora nasıl tepki verdiği ile ölçer. Bir EKG makinesine bağlıyken bir koşu bandı üzerinde yürümeniz istenebilir ya da kalbinizi egzersize benzer şekilde uyaran bir ilaç alabilirsiniz.
            </p>
            <p>
                Bazen stres testi, kalbinizin ve akciğerinizin oksijen alımını ve karbondioksit solunumunu ölçen bir maske takılarak yapılabilir. Doktorunuz egzersiz yaparken de kalbinizin görüntülerini görmek istiyorsa, test sırasında kalbinizi görselleştirmek için görüntüleme tekniklerini kullanabilir.
            </p>
            <h4>
                Kardiyak bilgisayarlı tomografi (CT) taraması
            </h4>
            <p>
                Kardiyak BT taramasında, çörek şeklindeki makinenin içindeki bir masanın üzerinde yatıyorsunuz. Makinenin içindeki bir X-ışını tüpü vücudunuzun etrafında döner ve kalbinizin ve göğsünüzün görüntülerini alır.
            </p>
            <h4>
                Manyetik rezonans görüntüleme (MRG)
            </h4>
            <p>
                Kardiyak MRG’de, bazı hücrelerinizdeki atomik partikülleri hizalayan manyetik alan üreten uzun bir tüpe benzer makinenin içindeki bir masanın üzerinde uzanırsınız. Radyo dalgaları bu hizalanmış parçacıklara doğru yayınlanır, kalbinizin görüntülerini oluşturan sinyaller üretir.
            </p>
            <h4>
                Koroner anjiyogram
            </h4>
            <p>
                Bu testte, ince, esnek bir tüp (kateter) kasıklarınızda veya kolunuzda bir kan damarı içine sokulur ve aort boyunca koroner arterlere yönlendirilir. Kateterden enjekte edilen bir boya, kalbi besleyen arterler röntgende görünür ve bu da doktorunuzun tıkanıklık olup olmadığını anlamasını sağlar.
            </p>
            <h4>
                Miyokard biyopsisi
            </h4>
            <p>
                Bu testte doktorunuz, boynunuzdaki veya kasıktaki bir damar içine küçük, esnek bir biyopsi kordonu sokar ve küçük kalp kası parçaları alınır. Bu test, kalp yetmezliğine neden olan belirli kalp kas hastalıkları tiplerini teşhis etmek için yapılabilir.
            </p>
            <h3>
                KALP YETMEZLİĞİ TEDAVİSİ
            </h3>
            <p>
                kalp yetersizliği genelikle zaman içerisinde yavaş yavaş kötüleşme eğilimi gösteren kronik ve ciddi bir rahatsızlıktır. Yaşam sürenizi kısaltabilir. Hastalığınızın dikkatli ve düzgün bir şekilde tedavisi hem yaşam kalitenizi hem de yaşam sürenizi artırır.
            </p>
            <h4>
                İlaçlar
            </h4>
            <p>
                Genel sağlık durumunuz, hastalığın şiddeti ve şikayetlerinizin durumuna göre diüretikler (idrar söktürücü), anjiyotensin dönüştürücü enzim engelleyiciler, anjiyotensin reseptör blokerleri, beta blokerler, aldosteron blokerleri, digoksin, ritim düzenleyiciler, damar genişletici, kan sulandırıcı ve kolesterol düşürücü ilaçlar kullanılabilir.
            </p>
            <h4>
                Cihaz tedavisi ve cerrahi
            </h4>
            <p>
                Kalp ritim anormalliği veya kalbin elektiriksel iletiminde problem varsa şikayetlerinizin azalması ve yaşam sürenizin uzaması için kalp pili denilen özel cihazlardan fayda görebilirsiniz. Bazen kalp damarınıza stent yerleştirilmesi, bypass operasyonu, kalp kapağı operasyonu veya kalp nakli operasyonu gerekebilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Losemi"><img src="~/img/Hastaliklarimg/Lösemi.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Lösemi</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Lipom"><img src="~/img/Hastaliklarimg/Lipom.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Lipom</h4>
            </div>
        </div>
    </div>
</div>

