
@{
    ViewData["Title"] = "Kansizlik";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Kansızlık</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Anemi, vücudun dokularına yeterli oksijen taşımak için yeterince sağlıklı kırmızı kan hücrelerinin olmadığı bir durumdur. Hemoglobin kırmızı kan hücrelerinin ana parçasıdır ve oksijeni bağlar. Çok az veya anormal kırmızı kan hücreniz varsa veya hemoglobininiz anormal veya düşükse, vücudunuzdaki hücreler yeterince oksijen almayacaktır.
            </p>
            <p>
                Anemi (Kansızlık), kandaki hemoglobin miktarının erişkin erkeklerde 13 g/dL, kadınlarda ise 12 g/dL değerlerinin altına düşmesi durumudur ve pek çok önemli sağlık sorununa neden olabilir. 6 ay ile 6 yaş arası çocuklarda 11 g/dL'nin, 6-14 yaşlarda 12 g/dL’nin altı kansızlık olarak kabul edilir.
            </p>
            <p>
                Anemi yorgun ve zayıf hissetmenize neden olabilir. Her birinin kendine özgü nedeni olan birçok anemi türü vardır. Anemi geçici veya uzun süreli olabilir ve hafif ila şiddetli arasında değişebilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Kansızlık.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                ANEMİ TÜRLERİ
            </h3>
            <p>
                Farklı anemi türleri ve nedenleri şunlardır:
            </p>
            <h4>
                Demir eksikliği anemisi
            </h4>
            <p>
                Bu, dünya çapında en yaygın anemi türüdür. Demir eksikliği anemisine vücudunuzdaki demir eksikliği neden olur. Kemik iliğinizin hemoglobin yapmak için demire ihtiyacı vardır. Yeterince demir olmadan, vücudunuz kırmızı kan hücreleri için yeterli hemoglobini üretemez.

                Bu tür anemi birçok gebe kadında görülür. Ayrıca ağır adet kanaması, ülser, kanser gibi bazı kan kaybından ve bazı ataktan gelen ağrı kesicilerin, özellikle de aspirinin düzenli kullanımından kaynaklanır.
            </p>
            <h4>
                Vitamin eksikliği anemisi
            </h4>
            <p>
                Demirin yanı sıra vücudunuzun yeterli sağlıklı kırmızı kan hücresi üretmek için folat ve B12 vitaminine ihtiyacı vardır. Bu ve diğer önemli besin maddelerinden yoksun bir diyet, azalmış alyuvar hücresi üretimine neden olabilir.

                Ek olarak, bazı insanlar yeterli B-12 tüketebilirler, ancak vücutları vitaminleri işleyemez. Bu da pernisiyöz anemi olarak bilinen vitamin eksikliği anemisine yol açabilir.
            </p>
            <h4>
                Kronik hastalık anemisi
            </h4>
            <p>
                Bazı hastalıklar (kanser, HIV / AIDS, romatoid artrit, böbrek hastalığı, Crohn hastalığı ve diğer kronik inflamatuar hastalıklar gibi) kırmızı kan hücrelerinin üretimini engelleyebilir.
            </p>
            <h4>
                Aşırı kansızlık
            </h4>
            <p>
                Bu nadir hayatı tehdit eden anemi, vücudunuz yeterli kırmızı kan hücresi üretmediğinde ortaya çıkar. Aplastik aneminin nedenleri arasında enfeksiyonlar, bazı ilaçlar, otoimmün hastalıklar ve toksik kimyasallara maruziyet yer alır.
            </p>
            <h4>
                Kemik iliği hastalığına bağlı anemi
            </h4>
            <p>
                Lösemi ve miyelofibroz gibi çeşitli hastalıklar kemik iliğinizdeki kan üretimini etkileyerek anemiye neden olabilir. Bu tür kanser ve kanser benzeri bozuklukların etkileri yaşamı tehdit eder.
            </p>
            <h4>
                Hemolitik anemiler
            </h4>
            <p>
                Bu grup anemi, kırmızı kan hücrelerinin kemik iliğinden daha hızlı yok edildiğinde gelişir. Bazı kan hastalıkları kırmızı kan hücresi tahribatını artırır. Hemolitik bir anemi genetik olabilir ya da daha sonra gelişebilir.
            </p>
            <h4>
                Orak hücre anemisi
            </h4>
            <p>
                Bu kalıtsal ve bazen ciddi durum kalıtsal bir hemolitik anemidir. Bu, kırmızı kan hücrelerini anormal hilal (orak) şekli almaya zorlayan kusurlu bir hemoglobin formundan kaynaklanır. Bu düzensiz kan hücreleri erken ölür ve sonuçta kronik bir alyuvar kıtlığı yaşanır.
            </p>
            <h4>
                Diğer anemiler
            </h4>
            <p>
                Talasemi ve malaryal anemi gibi diğer anemi formları vardır.
            </p>
            <h3>
                KANSIZLIK BELİRTİLERİ
            </h3>
            <p>
                Aneminin en sık rastlanan belirtisi halsizliktir. Kişi kendini yorgun ve bitkin hisseder. Aneminiz varsa günlük normal işlerinizi yapmak için bile enerji bulmada zorlanırsınız.

                Aneminin diğer bulgu ve belirtileri arasında aşağıdakiler vardır:
            </p>
            <ul>
                <li>Nefes darlığı</li>
                <li>Baş dönmesi</li>
                <li>Baş ağrısı</li>
                <li>El ve ayaklarda soğukluk</li>
                <li>Soluk cilt</li>
                <li>Göğüs ağrısı</li>
            </ul>
            <h3>
                RİSK FAKTÖRLERİ
            </h3>
            <p>
                Anemi riskini artıran faktörler arasında şunlar bulunur:
            </p>
            <ul>
                <li>Demir, vitamin ve mineralden fakir beslenme</li>
                <li>Cerrahi operasyon veya yaralanmadan dolayı oluşan kan kaybı</li>
                <li>Böbrek hastalığı, kanser, diyabet, romatoid artrit, HIV/AIDS, iltihabi barsak hastalıkları (Crohn hastalığı da dahil), karaciğer hastalığı, kalp yetmezliği ve tiroit hastalıkları gibi uzun süreli ve ağır hastalıklar</li>
                <li>Uzun süren enfeksiyonlar</li>
                <li>Ailede orak hücreli anemi veya talasemi gibi kalıtsal anemi öyküsünün varlığı</li>
            </ul>
            <h3>
                KANSIZLIK NASIL GİDERİLİR?
            </h3>
            <p>
                Vitamin açısından zengin bir diyet yiyin

                Birçok anemi türü önlenemez. Ancak demir eksikliği anemisi ve vitamin eksikliği anemileri dahil olmak üzere, çeşitli vitaminler ve besin maddeleri içeren bir diyetle önlenebilir. Bunlar:
            </p>
            <h4>
                Demir
            </h4>
            <p>
                Demir açısından zengin gıdalar arasında sığır eti ve diğer etler, fasulye, mercimek, demir takviyeli tahıllar, koyu yeşil yapraklı sebzeler ve kurutulmuş meyveler bulunur.
            </p>
            <h4>
                Folat
            </h4>
            <p>
                Bu besin ve sentetik form folik asit, meyve ve meyve suları, koyu yeşil yapraklı sebzeler, yeşil bezelye, barbunya, yer fıstığı ve ekmek, tahıl, makarna ve pirinç gibi zenginleştirilmiş tahıl ürünlerinde bulunabilir.
            </p>
            <h4>
                B12 vitamini
            </h4>
            <p>
                B-12 vitamini açısından zengin besinler arasında et, süt ürünleri ve güçlendirilmiş tahıl ve soya ürünleri bulunur.
            </p>
            <h4>
                C vitamini
            </h4>
            <p>
                C vitamini vücutta demir emilimine yardımcı olur. Sebze ve meyveler, özellikle de turunçgiller (narenciye) iyi birer C vitamini kaynağıdır. Portakal, greyfurt, mandalina gibi meyveler turunçgillerdendir. Taze ve dondurulmuş meyve sebzelerde, konservelere oranla daha fazla C vitamini bulunur.

                İlaçlar kullanıyorsanız doktorunuza ya da eczacınıza greyfurt ve greyfurt suyu tüketip tüketemeyeceğinizi sorun. Bu meyveler bazı ilaçların gücünü ve yararlılığını etkileyebilir.
            </p>
            <p>
                Vitamin C açısından zengin diğer meyveler arasında kivi, çilek ve kavun bulunur.

                Sebzelerden ise brokoli, biber, Brüksel lahanası, domates, patates ve ıspanak ve turp yaprağı gibi koyu yeşil yapraklı sebzeler C vitamininden zengindir.
            </p>
            <h4>
                Multivitamin takviyesi
            </h4>
            <p>
                Yediğiniz besinlerden yeterli vitamin almanızla ilgili endişeleriniz varsa, doktorunuza bir multivitaminin sizin için uygun olup olmadığını danışabilirsiniz.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/KusGribi"><img src="~/img/Hastaliklarimg/Kuş Gribi.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kuş Gribi</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Kuduz"><img src="~/img/Hastaliklarimg/Kuduz.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kuduz</h4>
            </div>
        </div>
    </div>
</div>

