
@{
    ViewData["Title"] = "KaracigerYaglanmasi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Karaciğer Yağlanması</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Karaciğer yağlanması veya hepatik steatoz, karaciğerdeki yağ birikimini açıklayan bir terimdir. Karaciğerinizde az miktarda yağ bulunması normaldir, fakat bu durum çok fazla sağlık problemi yaratabilir.

                Karaciğer vücuttaki ikinci en büyük organdır. Yediğimiz ve içtiğimiz her şeyi işlemek ve zararlı maddeleri kandan süzmek de dahil olmak üzere çok çeşitli işlevlerden sorumludur. Karaciğerin çok fazla yağlanması uzun süreli karaciğer hasarına yol açabilir.
            </p>
            <p>
                Yağ içeren karaciğer hücrelerinin oranı yüzde 5’in üzerindeyken erken evre karaciğer yağlanması teşhis edilir. Bu genellikle mikroskop altında karaciğerden alınan küçük örneklere bakarak teşhis edilir. Ultrasonografiler, BT taramaları ve MRI taramaları da karaciğerin yağ içeriğinin değerlendirilmesine yardımcı olabilir.
            </p>
            <p>
                Karaciğer hasar gördüğünde yeni karaciğer hücrelerini yeniden inşa ederek kendini genellikle onarır. Karaciğerde tekrarlanan hasar olduğunda, kalıcı skar oluşur. Bu duruma siroz denir. Hafif formlarda, karaciğer yağlanması, diyet değişiklikleri, kilo kaybı ve artmış fiziksel aktivite gibi yaşam tarzı değişiklikleriyle iyileşebilen geri dönüşümlü bir durum olabilir. Çoğu durumda, karaciğer yağlanmasında herhangi bir semptom görülmez.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Karaciğer Yağlanması.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                KARACİĞER YAĞLANMASININ BELİRTİLERİ
            </h3>
            <p>
                Karaciğer yağlanması tipik olarak ilişkili semptomlara sahip değildir. Bununla birlikte, araştırmalar, karaciğer yağlanması ve iltihabı olan insanların yaklaşık yüzde 20’sinin daha kötü koşullara ilerlediğini göstermiştir. Bu olursa, yorgunluk veya karın rahatsızlığı yaşayabilirsiniz. Karaciğeriniz biraz büyüyebilir, doktorunuz fiziksel bir muayene sırasında bunu tespit edebilir.

                Karaciğerdeki aşırı yağın, bazı tıbbi durumlarla birlikte inflamasyonu artırdığına inanılmaktadır. Karaciğeriniz iltihaplanırsa, aşağıdaki gibi semptomlarınız olabilir:
            </p>
            <ul>
                <li>İştahsızlık</li>
                <li>Kilo kaybı</li>
                <li>Karın ağrısı</li>
                <li>Halsizlik, bitkinlik ve yorgun hissetme</li>
                <li>Karın ağrısı</li>
                <li>Hafıza bulanıklığı</li>
            </ul>
            <p>
                Karaciğer yağlanması siroz ve karaciğer yetmezliğine ilerlerse, semptomlar şunları içerebilir:
            </p>
            <ul>
                <li>Genişleyen, sıvı dolu karın</li>
                <li>Cilt ve gözlerde sarılık</li>
                <li>Hafızanın zayıflaması, zihin bulanıklığı</li>
                <li>Anormal kanama</li>
            </ul>
            <h3>
                KARACİĞER YAĞLANMASININ NEDENLERİ
            </h3>
            <p>
                Karaciğer yağlanmasının en yaygın nedeni alkol kullanım bozukluğu ve aşırı içmektir. Çoğu durumda, çok fazla alkol kullanmayan insanlarda karaciğer yağlanması daha az görülmektedir. Bununla birlikte, aşırı şişmanlık, işlenmiş şeker kullanımı, yüksek trigliseritler, diyabet, düşük fiziksel aktivite ve genetik nedenlerin ayrı ayrı rolü bulunur.
            </p>
            <p>
                Karaciğer yağlanması, vücut çok fazla yağ ürettiğinde veya yağları yeterince verimli bir şekilde metabolize edemediğinde gelişir. Fazla yağ, biriktiği ve yağlı karaciğer hastalığına neden olduğu karaciğer hücrelerinde depolanır.

                Alkol kullanım bozukluğunun yanı sıra, karaciğer yağlanmasının diğer yaygın nedenleri şunlardır:
            </p>
            <ul>
                <li>Şişmanlık</li>
                <li>Hiperlipidemi veya kandaki yüksek seviyelerde yağlar, özellikle yüksek trigliseritler</li>
                <li>Diyabet</li>
                <li>Genetik miras</li>
                <li>Hızlı kilo kaybı</li>
                <li>Bazı ilaçların yan etkileri</li>
            </ul>
            <h3>
                KARACİĞER YAĞLANMASININ TİPLERİ
            </h3>
            <p>
                İki temel karaciğer yağlanması türü vardır: Alkolsüz ve alkolik.
            </p>
            <h4>
                Alkolden bağımsız karaciğer yağlanması
            </h4>
            <p>
                Alkolsüz karaciğer yağlanması hastalığı (NAFLD), karaciğerde yağ dokusunun parçalanmasını zorlaştığında gelişir ve bu da karaciğer dokusunda birikmeye neden olur. Nedeni alkol ile ilgili değildir. Karaciğer % 5’ten fazla yağ olduğunda, NAFLD teşhis edilir.
                Alkolsüz steatohepatit (NASH)

                Nonalkolik steatohepatit (NASH) bir tür NAFLD’dir. Yağ biriktikçe iltihaba neden olabilir. Karaciğerin yüzde 5’inden fazlası bir kez yağ ve iltihaplanma olduğunda, durum NASH olarak bilinir.

                Bu durumun semptomları inflamasyon ve karaciğer fonksiyonunun kötüleşmesi ile ilgilidir. Bunlar şunları içerebilir:
            </p>
            <ul>
                <li>İştah kaybı</li>
                <li>Mide bulantısı</li>
                <li>Kusma</li>
                <li>Karın ağrısı</li>
                <li>Sarılık</li>
            </ul>
            <p>
                Tedavi edilmeden bırakılırsa, steatohepatit, karaciğerin kalıcı skarlaşmasına, karaciğer kanserine ve nihai karaciğer yetmezliğine ilerleyebilir.
            </p>
            <h4>
                Hamileliğin neden olduğu akut karaciğer yağlanması
            </h4>
            <p>
                Akut karaciğer yağlanması, gebeliğin nadir ve potansiyel olarak hayatı tehdit eden bir komplikasyondur.

                Hamileliğin üçüncü üç aylık döneminde belirtiler ve semptomlar başlar. Bunlar şunları içerir:
            </p>
            <ul>
                <li>Kalıcı mide bulantısı ve kusma</li>
                <li>Sağ karın bölgesindeki ağrı</li>
                <li>Baş ağrısı</li>
                <li>Sarılık</li>
                <li>Genel halsizlik</li>
                <li>Yorgunluk</li>
                <li>İştah kaybı</li>
            </ul>
            <p>
                Hamile olan kadınlarda bu belirtilerden herhangi biri bile karaciğer yağlanması olarak değerlendirilmelidir. Tedavi, herhangi bir komplikasyon gelişmeden hızlı bir şekilde müdahaleyi içerir. Çoğu kadın doğumdan sonra birkaç hafta içinde iyileşir ve kalıcı etkisi yoktur.
            </p>
            <h4>
                Alkollü karaciğer yağlanması
            </h4>
            <p>
                Alkollü karaciğer yağlanması, alkol ile ilişkili karaciğer hastalığının ilk aşamasıdır. Aşırı içme karaciğere zarar verir ve sonuç olarak karaciğer yağları parçalayamaz. Alkolden kaçınmak, karaciğer yağlanmasını önleyebilir. Altı haftalık bir süre içinde alkol almamak, karaciğerdeki yağı yok edebilir. Ancak aşırı alkol kullanımı devam ederse, siroza yol açan, alkolik steatohepatit olarak bilinen inflamasyon gelişebilir.
            </p>
            <h3>
                KARACİĞER YAĞLANMASI NASIL TEDAVİ EDİLİR?
            </h3>
            <p>
                Yağlı karaciğeri tedavi etmeye yardımcı olabilecek ilaçlara yönelik araştırmalar devam etmektedir. Tedavinin öncelikli amacı risk faktörlerinizi azaltmak için tavsiyeleri dikkate alıp uygulamaya devam etmektir. Bu öneriler genellikle şunları içerir:
            </p>
            <ul>
                <li>Alkollü içecekleri sınırlamak veya önlemek</li>
                <li>Kolesterolü kontrol altına almak, şeker ve doymuş yağ alımını azaltmak</li>
                <li>Kilo vermek</li>
                <li>Kan şekerinizi kontrol etmek</li>
                <li>Şişmanlık ya da sağlıksız beslenme alışkanlıkları yüzünden karaciğer yağlanması varsa, doktorunuz ayrıca fiziksel aktivitenizi artırmanızı ve diyetinize belirli gıda türlerini ortadan kaldırmanızı ya da eklemenizi önerebilir. Her gün yediğiniz kalori miktarını azaltmak, kilo vermenize ve karaciğerinizi iyileştirmenize yardımcı olabilir.</li>
            </ul>
            <p>
                Erken evrelerde, yağlı yiyecekleri ve şekeri yüksek besinlerini azaltarak veya hiç yemeyerek karaciğer yağlanmasını iyileştirebilir ve tersine çevirebilirsiniz. Taze meyveler, sebzeler, tam tahıllar, fındık ve avokado gibi sağlıklı yağlara sahip olan daha sağlıklı gıdalarla dengeli bir diyet seçin. Kırmızı etleri soya, tavuk, hindi ve balık gibi yağsız proteinlerle değiştirin. Şekerli içecekler, meyve suları ve gazlı içeceklerden uzak durun.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Kolera"><img src="~/img/Hastaliklarimg/Kolera.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kolera</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Kizamik"><img src="~/img/Hastaliklarimg/Kızamık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kızamık</h4>
            </div>
        </div>
    </div>
</div>

