
@{
    ViewData["Title"] = "Katarakt";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Katarakt</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Katarakt, göz bebeğinin arkasında bulunan ve görmeyi sağlayan doğal göz merceğinin saydamlığını kaybederek matlaşmasıdır. Başka bir deyişle görüşün, buğulanmış bir camın arkasından bakıyormuşçasına bozulmasıdır.

                Katarakt, orta yaş üstü kişilerde görülen bir göz hastalığı olmakla beraber, yenidoğan bebeklerde, şeker hastalarında, göze gelen fiziksel darbeler sonrasında ve uzun süreli kortizonlu ilaç kullananlarda görülebilen bir göz hastalığıdır.
            </p>
            <h3>
                KATARAKT BELİRTİLERİ
            </h3>
            <ul>
                <li>Görmede yavaş yavaş azalma</li>
                <li>Işığa hassasiyet (göz kamaşması)</li>
                <li>Çift görme</li>
                <li>Okuma zorluğu</li>
                <li>Gece görüşünde bozulma</li>
                <li>Renklerde soluklaşma veya sararma</li>
                <li>Gözlük numaralarının sık değişmesi</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Katarakt.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                KATARAKT NEDENLERİ
            </h3>
            <p>
                Kataraktların çoğu, yaşlanma veya yaralanmalar neticesinde gözünüzün merceğini oluşturan dokuyu değiştirdiğinde gelişir. Diğer sağlık sorunlarına neden olan bazı kalıtsal genetik bozukluklar katarakt riskinizi artırabilir. Kataraktlar, diğer göz rahatsızlıklarından, geçmiş göz ameliyatlarından veya diyabet gibi tıbbi durumlardan da kaynaklanabilir. Steroid ilaçlarının uzun süreli kullanımı da katarakt gelişmesine neden olabilir.
            </p>
            <h3>
                KATARAKT NASIL OLUŞUR?
            </h3>
            <p>
                Kataraktların oluştuğu mercek, gözünüzün renkli kısmının (iris) arkasında bulunur. Objektif, gözünüze giren ışığı odaklar, retinada net ve keskin görüntüler üretir (gözdeki ışığa duyarlı zar, bir kameradaki film gibi çalışır).

                Yaşlandıkça, gözünüzdeki lensler daha az esnek, daha az şeffaf ve daha kalın hale gelir. Yaşa bağlı ve diğer tıbbi durumlar lens içindeki dokuların parçalanmasına ve bir araya toplanmasına neden olur; bu da lens içindeki küçük alanları bulanıklaştırır.
            </p>
            <p>
                Katarakt gelişmeye devam ettikçe, bulanıklaşma daha da yoğunlaşır ve lensin daha büyük bir kısmını içerir. Bir katarakt, ışığın lensin içinden geçerken dağılmasını engeller ve keskin bir şekilde tanımlanmış bir görüntünün retinaya ulaşmasını engeller. Sonuç olarak, görüşünüz bulanıklaşır.

                Kataraktlar genellikle her iki gözde de gelişir, fakat eşit olarak değil. Bir gözdeki katarakt diğerlerinden daha gelişmiş olabilir ve gözler arasındaki görüş farklılıklarına neden olabilir.
            </p>
            <h3>
                KATARAKT İÇİN RİSK FAKTÖRLERİ
            </h3>
            <p>
                Katarakt riskinizi artıran faktörler şunlardır:
            </p>
            <ul>
                <li>Artan yaş</li>
                <li>Diyabet</li>
                <li>Güneş ışığına aşırı maruz kalma</li>
                <li>Sigara içmek</li>
                <li>Şişmanlık</li>
                <li>Yüksek tansiyon</li>
                <li>Önceki göz yaralanması veya iltihap</li>
                <li>Önceki göz ameliyatı</li>
                <li>Kortikosteroid ilaçların uzun süreli kullanımı</li>
                <li>Aşırı miktarda alkol kullanmak</li>
            </ul>
            <h3>
                KATARAKT TEDAVİSİ
            </h3>
            <p>
                Katarak tedavisinde tek seçenek ameliyattır. Katarakt görme keskinliğini belli bir seviyeye azalttığındamutlaka tedavi edilmesi gerekir. Başlangıç seviyesinde katarak hastanın mesleki fonksiyonlarını veya günlük yaşamını olumsuz etkilemeye başladıysa erken evrede tedavi edilebilir. Katarakt cerrahisinde son yıllarda önemli yenilikler yaşanmaktadır. Premium göz içi lenslerin kullanımıyla birlikte hastalar katarakt ameliyatı sonrası yaşamlarını eskiye oranla daha konforlu bir şekilde sürdürebilmekte ve multifokal göz içi lensler sayesinde gözlük kullanmadan uzağı ve yakını rahatça görebilmektedir.
            </p>
            <p>
                Katarakt cerrahisi, matlaşmış lensin çıkarılmasını ve yapay lensle değiştirilmesini içerir. Göz içi lensi olarak adlandırılan yapay lens, doğal merceğinizle aynı yere yerleştirilir.

                Bazı insanlar için, diğer göz problemleri nedeniyle yapay bir lens kullanımı uygun olmamaktadır. Bu durumlarda, katarakt giderildikten sonra görme, gözlük veya kontakt lensler ile düzeltilebilir.
            </p>
            <p>
                Katarakt cerrahisi genellikle ayakta tedavi edilir, bu da ameliyattan sonra hastanede kalmanız gerekmeyeceği anlamına gelir. Katarakt ameliyatı sırasında, göz doktorunuz göz çevresindeki bölgeyi uyuşturmak için lokal anestezi kullanır, ancak genellikle prosedür sırasında uyanık kalırsınız.

                Katarakt cerrahisi genellikle güvenlidir, ancak enfeksiyon ve kanama riski taşır. Katarakt cerrahisi retina dekolmanı riskini artırır. İşlemden sonra, birkaç gün rahatsızlık hissedersiniz. İyileşme genellikle sekiz hafta içinde gerçekleşir.

                Her iki gözde katarakt cerrahisine ihtiyacınız varsa, doktorunuz ilk ameliyattan sonra iyileştikten sonra ikinci gözde kataraktı çıkarmak için ameliyat planlayacaktır.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/KaracigerYaglanmasi"><img src="~/img/Hastaliklarimg/Karaciğer Yağlanması.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Karaciğer Yağlanması</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Kansizlik"><img src="~/img/Hastaliklarimg/Kansızlık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kansızlık</h4>
            </div>
        </div>
    </div>
</div>

