
@{
    ViewData["Title"] = "Kizamik";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Kızamık</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Kızamık veya rubeola, solunum sisteminde başlayan viral bir enfeksiyondur. Kızamığa paramiksovirüs ailesinden bir virüs bulaşması neden olur. Virüsler küçük parazitik mikroplardır. Kızamık virüsü önce solunum yolunu enfekte eder. Bununla birlikte, sonunda kan dolaşımı yoluyla vücudun diğer bölgelerine yayılır.

                Kızamık oldukça bulaşıcıdır ve sadece insanlarda görülür. Bu, enfeksiyonun kişiden kişiye çok kolay yayılabileceği anlamına gelir. Güvenli ve etkili bir aşı olmasına rağmen, dünya çapında hala önemli bir ölüm nedeni olmaya devam etmektedir.
            </p>
            <h3>
                KIZAMIK BELİRTİLERİ
            </h3>
            <p>
                Kızamık belirtileri ve semptomları virüse maruz kaldıktan yaklaşık 10 ila 14 gün sonra ortaya çıkar.

                Kızamık belirtileri ve semptomları tipik olarak şunları içerir:
            </p>
            <ul>
                <li>Ateş</li>
                <li>Kuru öksürük</li>
                <li>Burun akıntısı</li>
                <li>Boğaz ağrısı</li>
                <li>Gözlerde iltihaplanma (konjonktivit)</li>
                <li>Ağız içinde küçük grimsi beyaz lekeler(koplik lekeleri)</li>
                <li>Vücutta döküntü</li>
            </ul>
            <p>
                Kızamık döküntüsü ve ateşi ortalama 4-5 gün sürer, kuru öksürük 10 gün kadar devam edebilir. Beş günden uzun süren ateş durumunda kızamığa bağlı gelişebilen komplikasyonlar düşünülmelidir. Bunlar sıklıkla orta kulak iltihabı ve zatüredir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Kızamık.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                KIZAMIK TEDAVİSİ
            </h3>
            <p>
                Yerleşik kızamık enfeksiyonu için spesifik bir tedavi yoktur.

                Bununla birlikte, virüse maruz kalmış kişileri korumak için bazı önlemler alınabilir.
            </p>
            <p>
                Bebekler dahil, aşılanmamış insanlar virüs bulaşmasından 72 saat sonra kızamık aşısı yapılabilir.
            </p>

            <p>Hamile kadınlar, bebekler ve hastalığa maruz kalmış bağışıklık sistemi zayıf kişilerde bağışıklık serum globülini adı verilen bir protein enjeksiyonu kullanılabilir. Virüse maruz kaldıktan sonraki altı gün içinde verildiğinde, bu antikorlar kızamık oluşumunu önleyebilir veya şikayetleri azaltabilir.</p>

            <p> Siz veya çocuğunuz da kızamığa eşlik eden ateşi hafifletmek için asetaminofen, ibuprofen veya naproksen gibi reçetesiz satılan ilaçlar kullanabilirsiniz. Kızamık semptomları olan çocuklara veya gençlere aspirin asla vermeyin. Aspirin 3 yaşından büyük çocuklarda kullanım için onaylanmış olsa da; suçiçeği veya grip benzeri semptomlardan kurtulan çocuklar ve gençler asla aspirin almamalıdır. Bu gibi durumlarda aspirin kullanılması reye sendromu gibi çok daha ciddi sorunlara yol açabilmektedir.</p>

            <p> Sizde veya çocuğunuzda kızamık varken pnömoni veya kulak enfeksiyonu gibi bir bakteriyel enfeksiyon gelişirse, doktorunuz antibiyotik ilaç reçete edebilir.</p>
            <p>
            Düşük A vitamini seviyesine sahip çocukların daha şiddetli kızamık geçirme olasılığı yüksektir. A vitamini vermek kızamığın şiddetini azaltabilir. Genellikle bir yıldan büyük çocuklar için 200.000 uluslararası birim (IU) büyük bir doz olarak verilir.</p>

            <p>Çocuğunuzun süreç boyunca bol su tüketmesine özen gösterin.</p>

            <p>Öksürük veya boğaz ağrısı için hava yollarını rahatlatacak nemlendiriciler kullanılabilir.</p>
            <h3>
                KIZAMIĞI ÖNLEMEK İÇİN
            </h3>
            <p>
                Kızamığı önlemenin en kolay ve güvenilir yola aşılamadır. İlk doz aşılamadan sonra kızamığa karşı korunla %93, ikinci doz kızamık aşısından sonra kızamığa karşı korunma %97'ye çıkar.

                Kızamığın yayılmasını önlemek için hastalığın bulaştığından şüphelenilen kişi sağlıklı insanlardan uzak tutulmalıdır.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Katarakt"><img src="~/img/Hastaliklarimg/Katarakt.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Katarakt</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/KalpYetmezligi"><img src="~/img/Hastaliklarimg/Kalp Yetmezliği.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kalp Yetmezliği</h4>
            </div>
        </div>
    </div>
</div>

