
@{
    ViewData["Title"] = "Kolera";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Kolera</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Kolera, akut epidemik bir enfeksiyon hastalığıdır. Vibrio kolera (V. kolera) bakterisinden kaynaklanır. Sulu ishal, aşırı sıvı ve elektrolit kaybına neden olan şiddetli dehidratasyon ile karakterizedir. Bakterinin salgıladığı toksin nedeniyle bağırsaklar hızla su kaybeder, saatler içinde aşırı miktarda su kaybı ortaya çıkar, hasta ishal başlamadan önce su kaybına bağlı olarak fenalaşır, halsizlik yorgunluk, bitkinlik arkasından şiddetli ishal başlar. Çok kısa sürede ince bağırsaklardan litrelerce su dışarı atılır. Su kaybı o kadar hızlıdır ki günde 20 - 30 litreden fazla su kaybedilebilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Kolera.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                KOLERA BELİRTİLERİ
            </h3>
            <p>
                Sadece 20 kolera enfeksiyonunun yaklaşık 1’i şiddetlidir ve enfekte olmuş kişilerin yüksek bir yüzdesi hiçbir semptom göstermez. Semptomlar ortaya çıkarsa, maruziyetten 12 saat ile 5 gün sonra görülmeye başlar. Hafif veya asemptomatik olanla şiddetli arasında değişir.

                Koleranın en önemli belirtisi şiddetli ishal ve kusmadır. Diğer belirtiler ise:
            </p>
            <ul>
                <li>Hastada morarma, karnın içe dönük hali, gözlerin içe çökmesi</li>
                <li>Karın ağrısı ve şişlik</li>
                <li>Ağızda kuruluk ve ses kısıklığı</li>
                <li>Nabzın çok hızlı atması</li>
                <li>Solunum yetersizliği</li>
                <li>Bitkinlik ve inleme</li>
                <li>Tansiyon düşüklüğü</li>
            </ul>
            <h3>
                KOLERA NEDENLERİ
            </h3>
            <p>
                Kolera, sadece insanlarda görülme ihtimali olan bir hastalıktır. Kolera bakterileri, insan vücuduna çoğu zaman insan atıklarıyla kirlenmiş yiyecek veya suyla girer. Kirlenmiş su kaynakları ile çok az temizlenmiş sebzeler, başka bir enfeksiyon kaynağıdır. Ayrıca çiğ veya tamamen pişirilmemiş istiridye veya yengeç gibi deniz mahsullerini tüketmek bir başka nedendir.
            </p>
            <h3>
                KOLERA NASIL BULAŞIR?
            </h3>
            <p>
                Hastalık mikrop ile kirlenmiş su ve gıdaların yenmesi ile bulaşır. Kalabalık ve sanitasyonun bozuk olduğu ortamlar, hijyenik kuralların uygulanamadığı durumlar, temiz su ve kanalizasyonun bozuk olduğu yerlerde salgınlar yapar.
            </p>
            <h3>
                KOLERADA RİSK FAKTÖRLERİ
            </h3>
            <p>
                Hastalık özellikle 2 - 5 yaş çocuklarda daha sık görülür ayrıca,
            </p>
            <ul>
                <li>Temiz içme sularının olmaması,</li>
                <li>Hijyen ve sanitasyon kurallarının bozuk olması,</li>
                <li>Kişisel temizliğe özen gösterememek,</li>
                <li>Kalabalık kamp ve sığınma ortamlarında yaşamak( mülteci kampları vb.),</li>
                <li>Kolera mikrobu ile kirlenmiş gıda ve suları tüketmek,</li>
                <li>Gıdaları temizlemeden - pişirmeden yemek yada yemek zorunda kalmak,</li>
                <li>Çiğ yada az pişmiş deniz ürünleri tüketmek,</li>
                <li>Kan gurubunun O olması,</li>
                <li>İmmün sistemin zayıf olması,</li>
                <li>Mide asidini azaltan ilaçlar kullanmak kolera riskini arttıran faktörlerdir.</li>
                </ul>
                <h3>
                    KOLERA TEDAVİSİ
                </h3>
                <p>
                    Kolera tedavisinin temeli kaybedilen sıvı ve elektrolitlerin yerine konmasıdır. Ciddi vakalarda sıvı kayıpları ölümcüldür ve çok hızlı müdahale gerekir. Kayıpları karşılamak için birkaç tane damaryolu açık olmalı hastanın şuuru açık ise ağızdan da sıvı almalıdır.
                </p>
                <p>
                    Kolera tedavisinde antibiyotik hastalığın süresini kısaltır. Antibiyotik ile dramatik iyileşme beklenmemelidir. Hastalık mikrobun ürettiği zehire bağlı olduğundan önceden etkilenmiş bağırsak dokusu antibiyotik ile düzelmez. Antibiyotik yeni zehir üretimin durdurmaya çalışır. Ayrıca salgınlarda koleraya karşı hassas olan kişilerin de antibiyotik ile korunması mümkündür, bu amaçla 2 - 5 yaş arası çocuklar, hamileler ve yaşlılar antibiyotik ile korunmaya çalışılır.
                </p>
                <h3>
                    KOLERADAN KORUNMAK İÇİN
                </h3>
                <p>
                    Kolera aşısı bulunan bir hastalıktır. Kolera aşısı olunabilir ancak bu aşının koruyuculuğu %50 civarındadır ve etki süresi de 3-5 aydır. Ama salgın dönemlerinde aşılama çok önemlidir. Kolera, taşıyıcı kişilerden bulaştığı için öncelikle taşıyıcıların saptanması ve tedavi edilmeleri gerekir. Bu durumda çevre temizliği ve hijyen çok önemli bir faktör olarak ortaya çıkıyor. Tuvalet ve kanalizasyonların dezenfekte edilmesi, ellerin sürekli yıkanması, açık su içilmemesi, sadece şişelenmiş ve dezenfekte edilmiş suların içilmesi gerekiyor.
                </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Kabizlik"><img src="~/img/Hastaliklarimg/Kabızlık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kabızlık</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Kabakulak"><img src="~/img/Hastaliklarimg/Kabakulak.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Kabakulak</h4>
            </div>
        </div>
    </div>
</div>

