
@{
    ViewData["Title"] = "Kuduz";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Kuduz</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Kuduz, insanlarda ve diğer memelilerde Rhabdovirüs ailesinin bir RNA virüsünün neden olduğu, beyinde iltihaplanmaya yol açan viral bir hastalıktır. … Enfekte bir hayvan başka bir hayvanı ya da insanı yaraladığında ya da ısırdığında yayılır. Enfekte bir hayvanın salyası, göz, ağız veya burun ile temas ederse kuduzu da iletebilir. Erken dönemde tedavi edilmediğinde ölümle sonuçlanır.
            </p>
            <p>
                İki tür kuduz bulunmaktadır. Bunlar:
            </p>
            <ul>
                <li>Ensefalitik kuduz: Bu, insanlardaki vakalarının yüzde 80’inde görülür. Kişinin hiperaktivite ve hidrofobi yaşama olasılığı daha yüksektir.</li>
                <li>Paralitik kuduz: Felç, baskın bir semptomdur.</li>
            </ul>
            <h3>
                KUDUZ NASIL BULAŞIR
            </h3>
            <p>
                Enfekte hayvanın tükürük veya salyasının deri bütünlüğü bozulmuş cilt ile teması sonucu bulaşabilir. Yani enfekte hayvanın ısırması veya tırmalaması, riskli temas olarak kabul edilir. Isırma veya tırmalama olmasa bile hayvanın tükürük veya salyasının bir kesiye, açık bir yaraya veya deri bütünlüğü bozulmuş bir bölgeye teması da bulaşma nedeni olabilir. Kuduzun bulaşmasında ısıran hayvan kadar ısırdığı bölge de bulaşıcılık açısından oldukça önemlidir. Baş boyun bölgesindeki ısırıklarda bulaşma riski oldukça yüksektir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Kuduz.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                KUDUZ BELİRTİLERİ
            </h3>
            <p>
                Kuduz, beş ayrı aşamada ilerler:
            </p>
            <ul>
                <li>İnkübasyon (Kuluçka dönemi)</li>
                <li>Prodrom</li>
                <li>Akut nörolojik dönem</li>
                <li>Koma</li>
                <li>Ölüm</li>
            </ul>
            <h4>
                İnkübasyon (Kuluçka dönemi)
            </h4>
            <p>
                Semptomların ortaya çıkması genellikle 3 ila 12 hafta sürer, ancak 5 günden az veya 2 yıldan fazla da sürebilir. Isırmanın beyne ne kadar yakınsa belirtilerin ortaya çıkması çabuk olur. Belirtiler görüldüğü zaman kuduz genellikle ölümcüldür. Virüse maruz kalmış olabilecek herhangi bir kişi, belirtileri beklemeden tıbbi yardım almalıdır.
            </p>
            <h4>
                Prodrom
            </h4>
            <p>
                Erken, grip benzeri belirtiler şunları içerir:
            </p>
            <ul>
                <li>38 derece veya üzerinde ateş</li>
                <li>Baş ağrısı</li>
                <li>Kaygı bozukluğu</li>
                <li>Boğaz ağrısı ve öksürük</li>
                <li>Mide bulantısı ve kusma</li>
                <li>Isırık bölgesinde rahatsızlık</li>
            </ul>
            <p>
                Bunlar 2 ila 10 gün arasında sürebilir ve zamanla kötüleşir.
            </p>
            <h4>
                Akut nörolojik dönem
            </h4>
            <p>
                Aşağıdakiler dahil olmak üzere nörolojik semptomlar gelişir:
            </p>
            <ul>
                <li>Kafa karışıklığı ve saldırganlık</li>
                <li>Kısmi felç, istemsiz kas seğirmesi ve sert boyun kasları</li>
                <li>Kasılmalar</li>
                <li>Hiperventilasyon ve solunum zorluğu</li>
                <li>Hipersalivasyon veya çok fazla tükürük üretme ve muhtemelen ağızda köpürme</li>
                <li>Yutma güçlüğünden dolayı su veya hidrofobi korkusu</li>
                <li>Halüsinasyonlar, kabuslar ve uykusuzluk</li>
                <li>Erkeklerde priapizm veya kalıcı ereksiyon</li>
                <li>Fotofobi ya da ışık korkusu</li>
            </ul>
            <p>
                Bu fazın sonuna doğru nefes hızlanır ve tutarsızlaşır.
            </p>
            <h4>
                Koma ve ölüm
            </h4>
            <ul>
                <li>Kişi komaya girerse, bir ventilatöre bağlı olmadıkça ölüm saatler sonra gerçekleşir.</li>
                <li>Nadiren, bu geç aşamada bir kişi iyileşebilir.</li>
            </ul>
            <h3>
                KUDUZ NEDEN SU KORKUSUNA YOL AÇAR?
            </h3>
            <p>
                Kuduzlar hidrofobi olarak bilinir. Korkunun nedeni ise; yutmaya çalışırken boğazdaki yoğun spazmların tetiklenmesi veya su yutma düşüncesinin bile spazmlara neden olması olabilir. Oluşan aşırı tükürük muhtemelen virüsün sinir sistemi üzerindeki etkisinden kaynaklanmaktadır.
            </p>
            <h3>
                KUDUZ TEŞHİSİ
            </h3>
            <p>
                Isırma anında, hayvanın kuduz olup olmadığının ya da bir enfeksiyondan geçip geçmediğinin kesin olarak söylenmesinin yolu yoktur.

                Laboratuvar testleri antikorları gösterebilir, ancak bunlar hastalığın ilerleyişine kadar ortaya çıkmayabilir. Virüs tükürük veya deri biyopsisi ile izole edilebilir. Bununla birlikte, bir tanı doğrulandığında, harekete geçmek için çok geç olabilir. Bu nedenle, hasta, doğrulanmış bir tanı beklemeden, normal olarak bir defada profilaktik tedaviye başlamalıdır.

                Bir kişi, bir hayvan ısırığından sonra viral ensefalit belirtileri geliştirirse, kuduzları olabilirmiş gibi tedavi edilmelidir.
            </p>
            <h3>
                KUDUZ TEDAVİSİ
            </h3>
            <p>
                Bir kişi kuduz bir hayvan tarafından ısırılır veya çizilirse veya hayvan açık bir yarayı yalarsa, bu durumda 15 dakika boyunca sabunlu su, povidon iyot veya deterjan ile hemen her türlü ısırıkları ve çizikleri yıkamalıdır. Bu viral parçacıkların sayısını en aza indirebilir. Daha sonra aynı anda tıbbi yardım almalıdırlar.

                Maruz kaldıktan sonra ve semptomlar başlamadan önce, bir dizi çekim virüsün gelişmesini engelleyebilir. Bu genellikle etkilidir.
            </p>
            <p>
                Stratejiler şunları içerir:
            </p>
            <ul>
                <li>Hızlı etkili immün globülin: En kısa zamanda, ısırık yarasına yakın olarak verilir, bu virüsün bireyi enfekte etmesini engelleyebilir.</li>
                <li>Kuduz aşıları: Bunlar, sonraki 2-4 hafta boyunca kola enjekte edilecektir. Bunlar, vücudun virüsle savaşmasını sağlar.</li>
            </ul>
            <p>
                Çok az sayıda insan kuduzdan kurtulmayı başarabilmiştir. Çoğu vaka semptomlar geliştiğinde ölümcüldür. Bu aşamada etkili bir tedavi de yoktur.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Ishal"><img src="~/img/Hastaliklarimg/İshal.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">İshal</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Hipotiroidi"><img src="~/img/Hastaliklarimg/Hipotiroidi.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Hipotiroidi</h4>
            </div>
        </div>
    </div>
</div>

