
@{
    ViewData["Title"] = "KusGribi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Kuş Gribi</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Avian İnfluenza, tavuk vebası, pestis avium olarak da bilinen kuş gribi sadece kanatlıları değil, insanları ve diğer hayvanları da enfekte eden viral bir enfeksiyondur. Virüsün çoğu formu kuşlarla sınırlıdır. H5N1, kuş gribinin en yaygın şeklidir. Kuşlar için ölümcüldür ve bir taşıyıcıyla temas eden insanları ve diğer hayvanları kolayca etkileyebilir. Hasta tavuklarda yüksek bulaşıcılığı olan bu hastalık ilk kez 1878 yılında İtalya'da tespit edilmiş ve “tavuk vebası” olarak adlandırılmıştır. Dünya Sağlık Örgütü’ne göre, H5N1 ise ilk olarak 1997’de insanlarda keşfedildi ve enfekte olanların yaklaşık yüzde 60’ını öldürdü. Şu anda, virüs insandan insana temas yoluyla yayılmamaktadır. Yine de bazı uzmanlar H5N1’in insanlara pandemik bir tehdit oluşturma riski taşıyacağından endişe ediyorlar.
            </p>
            <h3>
                KUŞ GRİBİ BELİRTİLERİ
            </h3>
            <p>
                Aşağıdaki gibi tipik grip benzeri belirtiler yaşıyorsanız bir H5N1 enfeksiyonu olabilir:
            </p>
            <ul>
                <li>Öksürük</li>
                <li>İshal</li>
                <li>Solunum güçlüğü</li>
                <li>Yüksek ateş (38 ° C üzeri)</li>
                <li>Baş ağrısı</li>
                <li>Kas ağrıları</li>
                <li>Keyifsizlik</li>
                <li>Burun akması</li>
                <li>Boğaz ağrısı</li>
            </ul>
            <p>
                Kuş gribine maruz kalırsanız, doktora veya hastaneye varmadan önce çalışan personele haber vermelisiniz. Onları önceden uyarmak, size uygulanacak tedavi öncesi çalışanları ve diğer hastaları korumak için önlem almasını sağlayacaktır.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Kuş Gribi.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                KUŞ GRİBİ NEDEN OLUR?
            </h3>
            <p>
                Birkaç tür kuş gribi olmasına rağmen, H5N1 insanları enfekte eden ilk kuş gribi virüsüdür. İlk enfeksiyon 1997 yılında Hong Kong’da ortaya çıktı. Salgın hastalıklı kümes hayvanları ile bağlantılıydı.
            </p>
            <p>
                H5N1 doğada yaşayan su kuşlarında doğal olarak bulunur, ancak evcil kümes hayvanlarına da kolayca bulaşabilir. Hastalık, enfekte kuş dışkılarıyla, burun salgılarıyla veya ağız veya gözlerden salgılarla temas yoluyla insanlara bulaşır.

                Pişirilmiş kümes hayvanlarının veya enfekte olmuş kuşların yumurtalarının tüketilmesi kuş gribini bulaştırmaz, ancak yumurtalar çiğ olarak ya da az pişmiş (Cıvık) olarak servis edilmemelidir. Et, 73.9ºC iç sıcaklığa kadar pişirilmiş olması durumunda güvenli kabul edilir.
            </p>
            <h3>
                RİSK FAKTÖRLERİ
            </h3>
            <p>
                H5N1 uzun süreler boyunca hayatta kalma yeteneğine sahiptir. H5N1 ile enfekte olan kuşlarda virüs 10 gün boyunca dışkıda ve tükürükte bulaşmaya devam eder. Kontamine yüzeylere dokunmak enfeksiyonu yayabilir.

                H5N1’in bulaşma riski yüksek olan kişiler aşağıdakiler gibidir:
            </p>
            <ul>
                <li>Kümes hayvanı yetiştiren çiftçiler,</li>
                <li>Kuş gribinden etkilenen bölgeleri ziyaret edenler</li>
                <li>Enfekte kuşlar ile temas</li>
                <li>Az pişmiş kümes hayvanları veya yumurta yiyen biri</li>
                <li>Enfekte hastalar için bakım yapan bir sağlık çalışanı</li>
                <li>Virüslü bir kişinin hanesinde bulunan diğer kişiler</li>
            </ul>
            <h3>
                KUŞ GRİBİ TEDAVİSİ
            </h3>
            <p>
                Farklı kuş gribi tipleri farklı semptomlara neden olabilir. Sonuç olarak, tedaviler de değişebilir.

                Çoğu durumda, antiviral ilaçlarla tedavi, hastalığın şiddetini azaltmaya yardımcı olabilir. Ancak, belirtiler ilk ortaya çıktıktan 48 saat içinde ilaçlar alınmalıdır.
            </p>
            <p>
                Grip insan formuna neden olan virüs, en yaygın iki antiviral ilaç, amantadin ve rimantadin formlarına direnç geliştirebilir. Bu ilaçlar hastalığı tedavi etmek için kullanılmamalıdır.

                Aileniz veya sizinle yakın temas halinde olan diğer kişilere de, hasta olmadıkları halde önleyici tedbir olarak antiviral ilaç olarak da verilebilir. Virüsün başkalarına yayılmasını önlemek için karantina uygulanır.Şiddetli bir enfeksiyon durumunda solunum cihazına bağlanabilirsiniz.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Hipotansiyon"><img src="~/img/Hastaliklarimg/Hipotansiyon.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Hipotansiyon</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Hipertansiyon"><img src="~/img/Hastaliklarimg/Hipertansiyon.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Hipertansiyon</h4>
            </div>
        </div>
    </div>
</div>

