
@{
    ViewData["Title"] = "Lipom";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Lipom</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Lipom, cildin altında yavaşça gelişen yağ dokusunun büyümesidir. Her yaştan insanda görülebilir. Ancak çocuklarda çok nadir görülür. Bir lipoma vücudun herhangi bir yerinde oluşabilir, ancak tipik olarak aşağıdaki bölgelerde görünürler:
            </p>
            <ul>
                <li>Boyun</li>
                <li>Omuzlar</li>
                <li>Sırt</li>
                <li>Karın bölgesi</li>
                <li>Kollar</li>
                <li>Bacaklar</li>
            </ul>
            <p>
                İyi huylu büyümeler veya tümörler, yağlı doku olarak sınıflandırılırlar. Bu, bir lipomun kanserli olmadığı ve nadiren zararlı olduğu anlamına gelir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Lipom.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                LİPOMUN RİSK FAKTÖRLERİ
            </h3>
            <ul>
                <li>Lipomların nedeni bilinmemektedir. Bir aile öyküsü varsa, bu tür deri yumrularını geliştirme riskiniz artar.</li>
                <li>Bu durum, yetişkinlerde 40 ila 60 yaşları arasında en yaygın olanıdır.</li>
                <li>Bazı durumlar ayrıca lipoma gelişimi riskinizi artırabilir. Bunlar şunları içerir:</li>
                <li>Adipoz dolorosa (çoklu, ağrılı lipomlar ile karakterize nadir bir hastalık)</li>
                <li>Cowden sendromu</li>
                <li>Gardner sendromu</li>
                <li>Madelung hastalığı</li>
            </ul>
            <h3>
                DOKTORA NE ZAMAN BAŞVURMALI?
            </h3>
            <p>
                Vücudunuzda bir şişlik fark ederseniz, doktora kontrol etttirmelisiniz. Doktorunuz bunun zararsız bir lipom mu yoksa daha fazla teste ihtiyacı olan başka birşey mi olduğunu söyleyebilir.

                Lipomlar nadir durumlarda, vücudun içinde, kaslarda veya iç organlarda oluşurlar. Biri size acı veriyorsa veya kaslarınızı etkiliyorsa, onu aldırmanız gerekebilir.
            </p>
            <p>
                Çok nadir durumlarda, lipofarma adı verilen bir yumru, hızla büyüyen ve ağrılı olabilen bir kanser türü olabilir. Eğer doktorunuz bu durumdan şüphelenirse, muhtemelen daha fazla test yaptırmanızı isteyecektir.
            </p>
            <h3>
                YAĞ BEZESİ NASIL TEŞHİS EDİLİR?
            </h3>
            <p>
                Doktorlar genellikle bir fiziksel muayene yaparak lipomu teşhis edebilirler. Muayene sıarsında yumuşaklığı hisseder ve acı vermez. Ayrıca, yağlı dokulardan oluştuğu için, dokunduğunda lipoma kolayca hareket eder.
            </p>
            <p>
                Bazı durumlarda, bir dermatolog lipomun biyopsisini alabilir. Bu prosedür sırasında, dokunun küçük bir kısmını kazıyacak ve test için bir laboratuvara göndereceklerdir. Bu test, kanser olasılığını dışlamak için yapılır. Bir lipom kanserli olmamasına rağmen, malign veya kanserli bir liposarkoma benzeyebilir. Lipomlardan farklı olarak, liposarkomlar ağrılıdır ve cildin altında hızla büyür.

                MRI ve BT taramaları kullanılarak yapılan ek testler sadece biyopsi şüpheli bir lipomun aslında bir liposarkom olduğunu gösteriyorsa gereklidir.
            </p>
            <h3>
                LİPOM TEDAVİSİ
            </h3>
            <p>
                Lipomlar zararlı değildir. Lipoma tedavisi genellikle sizi rahatsız etmedikçe gerekli değildir. Lipomun tek tedavisi de cerrahidir ama bazen liposuction ile de lipomu eriterek almak mümkün olabilmektedir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/HIV"><img src="~/img/Hastaliklarimg/HIV.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">HIV</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Hemofili"><img src="~/img/Hastaliklarimg/Hemofili.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Hemofili</h4>
            </div>
        </div>
    </div>
</div>

