
@{
    ViewData["Title"] = "Losemi";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Lösemi</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Lösemi, kan veya kemik iliği kanseridir. Kemik iliği kan hücresi üretir. Lösemi, kan hücrelerinin üretimi ile ilgili bir sorun olduğunda ortaya çıkabilir. Genellikle lökositleri veya beyaz kan hücrelerini etkiler.

                Kırmızı kan hücreleri (RBC), beyaz kan hücreleri (WBC) ve trombositler dahil olmak üzere birçok geniş kan hücreleri kategorisi vardır. Genel olarak lösemi, beyaz kan hücreleri kanserlerini ifade eder.
            </p>
            <p>
                WBC’ler bağışıklık sisteminizin hayati bir parçasıdır. Vücudu bakteri, virüs ve mantarların yanı sıra anormal hücrelerden ve diğer yabancı maddelerden korurlar. Lösemide, WBC’ler normal WBC’ler gibi işlev görmez.

                Beyaz kan hücreleri çoğunlukla kemik iliğinde üretilir, ancak lenf nodları, dalak ve timus bezlerinde de belirli tipte beyaz kan hücreleri yapılır. Oluştuktan sonra, beyaz kan hücreleri vücudunuzda kanınızda ve lenfte dolaşır, lenf düğümlerinde ve dalakta yoğunlaşır.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Lösemi.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                LÖSEMİNİN NEDENLERİ
            </h3>
            <p>
                Löseminin nedenleri bilinmemektedir. Bununla birlikte, lösemiye neden olabilecek çeşitli faktörler tanımlanmıştır. Bunlar:
            </p>
            <ul>
                <li>Ailede bir lösemi hikayesi</li>
                <li>Sigara kullanımı, akut miyeloid lösemi (AML) geliştirme riskinizi artırır</li>
                <li>Down sendromu gibi genetik bozukluklar</li>
                <li>Bazen “preleukemia” olarak adlandırılan miyelodisplastik sendrom gibi kan hastalıkları</li>
                <li>Kemoterapi veya radyasyon gibi kanser tedavilerinde yüksek düzeyde radyasyona maruz kalma</li>
                <li>Benzen gibi kimyasal maddelere maruz kalma</li>
                <li></li>
            </ul>
            <h3>
                LÖSEMİ BELİRTİLERİ NELERDİR?
            </h3>
            <p>
                Lösemi belirtileri diğer kan kanserlerinde gözlenen bazı bulgularla ortak özellikler gösterebilir. Kansızlığa bağlı olarak;
            </p>
            <ul>
                <li>Solukluk</li>
                <li>Halsizlik</li>
                <li>Çabuk yorulma</li>
                <li>Efor sırasında nefes darlığı gibi belirtiler gözlemlenir</li>
            </ul>
            <p>
                Lösemi belirtileri arasında bağışıklık sisteminin zayıflaması nedeniyle gelişen enfeksiyonlar sonucu diş etleri, burun, diş etleri ve cilt altında beklenmeyen kanamalara, morarmalar ve toplu iğne başı büyüklüğünde, basmakla solmayan kırmızı döküntülere rastlanır. Akut lösemi belirtilerinde ise bu bulgular dikkat çeker;
            </p>
            <ul>
                <li>Solukluk, halsizlik,</li>
                <li>İştahsızlık, kilo kaybı,</li>
                <li>Gece terlemesi,</li>
                <li>Uygun tedavi ile kontrol altına alınamayan, sık tekrarlayan ateş ve enfeksiyonlar,</li>
                <li>Kemik ağrıları,</li>
                <li>Cilt altında kanama (toplu iğne başı kadar küçük kırmızı döküntüler, kolay ortaya çıkan morarmalar)</li>
                <li>Burun ve diş eti kanamaları, boyun ve koltuk altı lenf bezlerinde, karında şişlik, diş etlerinde kabarma.</li>
            </ul>
            <p>
                Lösemi belirtileri pek çok hastalığın belirtileri ile aynı seyredebilir. Vücudun tüm organlarına yayılabilen lösemi özellikle romatizmal hastalıklar, enfeksiyon hastalıkları, kanamalı hastalıklar, lenfoma, myeloma ve diğer kan kanserleri belirtileri ile benzer belirtilere sahip olabilir.
            </p>
            <h3>
                LÖSEMİ TEDAVİSİ
            </h3>
            <p>
                Çeşitli lösemi türleri vardır ve insanları farklı şekilde etkiler. Tedavi seçenekleri lösemi tipine ve kişinin yaşına ve genel sağlık durumuna bağlı olacaktır.

                1975 yılında, lösemi tanısı konduktan sonra 5 yıl veya daha uzun süre hayatta kalma şansı yüzde 33,1 iken bu rakam 2009 yılında yüzde 62,9’a yükseldi.
            </p>
            <p>
                Ana tedavi türü kemoterapidir. Bu, hastanın sahip olduğu kanser türüne göre ayarlanır.

                Tedavi erken başlarsa, remisyon şansı daha yüksektir.

                Tedavi türleri şunlardır:
            </p>
            <ul>
                <li>Hedefli terapi</li>
                <li>İnterferon tedavisi</li>
                <li>Kemoterapi</li>
                <li>Radyasyon tedavisi</li>
                <li>Cerrahi tedavi</li>
                <li>Kök hücre nakli</li>
            </ul>
            <p>
                Kemoterapi tüm vücudu etkileyebilir, ancak hedefe yönelik tedavide, kanser hücresinin belirli bir kısmına yöneliktir.

                Bazı tiplerde kronik lösemi erken evrelerde tedaviye ihtiyaç duymaz, ancak izleme yapılması şarttır.

                Kronik miyeloid lösemi (KML) olarak bilinen bir tür lösemi için, kemik iliği nakli etkili olabilir. Genç hastalarda transplantasyona başlanma olasılığı daha yüksektir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Guatr"><img src="~/img/Hastaliklarimg/Guatr.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Guatr</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Grip"><img src="~/img/Hastaliklarimg/Grip.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Grip</h4>
            </div>
        </div>
    </div>
</div>

