
@{
    ViewData["Title"] = "Migren";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Migren</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                “Migren” terimi sıklıkla herhangi bir şiddetli baş ağrısını tanımlamak için kullanılsa da, migren baş ağrısı, beyinde meydana gelen spesifik fizyolojik değişikliklerin bir sonucudur.
            </p>
            <p>
                Migrenler genellikle ses, ışık ve kokulara duyarlılıkla ilişkilidir. Buna mide bulantısı veya kusma eşlik edebilir. Bu tür baş ağrısı genellikle başın sadece bir tarafını etkiler, ancak bazı durumlarda her iki tarafta ağrıya sebep olabilirler. Ağrı çoğu kez zonklama veya vurma olarak tanımlanır ve fiziksel zorlama ile daha da kötüleştirilebilir.
            </p>
            <p>
                Aralıklarla yaşanan migren atakları “episodik migren” olarak adlandırılır. Ataklar son üç aylık süre içinde ayda on beş gün ve üzerinde oluyorsa buna “kronik migren” denir. Kronik migrene genellikle kaygı bozuklukları, depresyon ve uyku sorunları eşlik edebilir. Kronik migren tedavi edilmediği takdirde ciddi sağlık sorunlarına yol açabilir.
            </p>
            <p>
                Migren çoğu kez öncesinde bir nörolojik belirti olmaksızın ortaya çıkarken (aurasız migren), migrenli hastaların %10–15 kadarında ağrıların hemen öncesinde 5–60 dakika arası süren, geçici nörolojik belirtiler görülebilir (auralı migren). En sık görsel (beyaz ışıklar görme, kırık çizgiler görme gibi) veya dilde-yüzde-kolda uyuşma, güçsüzlük, konuşmada bozulma gibi bulguların birkaçı veya baş dönmesi (vertigo) gibi bulgular şeklinde aura olabilir.
            </p>
            <p>
                Migren her yaşta görülebilir ancak en sık 15-55 yaşlarında ortaya çıkar. Çocukluk çağında cinsiyet farkı görülmezken, bu oran adet döneminden itibaren kadınlarda daha sık görülür. Kadınların yaklaşık % 20’sinin, erkeklerin ise % 8’inin migrenli olduğu bilinmektedir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Migren.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                MİGREN NEDENLERİ VE TETİKLEYİCİLER
            </h3>
            <p>
                Migrenlerin nedeni henüz bilinmemektedir. Beyindeki anormal aktiviteden kaynaklandığından şüphelenilmektedir. Bu, sinirlerin iletişimini ve beyindeki kimyasalları ve kan damarlarını etkileyebilir.

                Ancak, aşağıdaki etkenlerin migrenleri tetiklemesi muhtemeldir:
            </p>
            <p>
                Hormonal değişiklikler: Kadınlar değişen hormon seviyelerine bağlı olarak adet sırasında migren semptomları yaşayabilirler.
            </p>
            <p>
                Duygusal tetikleyiciler: Stres, depresyon, anksiyete, heyecan ve şok migreni tetikleyebilir.
            </p>
            <p>
                Fiziksel nedenler: Yorgunluk, yetersiz uyku, omuz ya da boyun gerginliği, kötü duruş ve aşırı fiziksel yorgunluk tüm migrenlerle ilişkilendirilmiştir. Düşük kan şekeri de tetikleyici olarak kabul edilmektedir.
            </p>
            <p>
                Beslenme: Olgunlaşmış peynirler, alkollü içecekler, sakatatlar, şarküteri ürünleri, deniz ürünleri (kalamar, karides, midye), yağlı ve baharatlı yiyecekler, kafeinli içecekler (çay, kahve, asitli içecekler), çikolata ve kakao, bakla, maya, marine veya salamura veya fermente edilmiş besinler, bazı baklagiller gibi bazı gıdalar migren rahatsızlığı olan hastalarda dikkatli tüketilmelidir.
            </p>
            <p>
                İlaçlar: Bazı uyku hapları, hormon replasman tedavisi (HRT) ilaçları ve kombine doğum kontrol hapı, olası tetikleyiciler olarak adlandırılmıştır.
            </p>
            <p>
                Çevresel etkenler: Titrek ekranlar, güçlü kokular, egzost dumanı, yüksek sesler migren başlatabilir. Havasız odalar, sıcaklık değişimleri ve parlak ışıklar da olası tetikleyicilerdir.
            </p>
            <h3>
                MİGREN BELİRTİLERİ
            </h3>
            <p>
                Migren belirtileri herkeste farklı olarak görülür ve migren ataklarına göre değişir. Ataklar 4 ila 72 saat arasında sürer ve genellikle şu rahatsız edici semptomların bir veya daha fazlasıyla eşlik eder:
            </p>
            <ul>
                <li>Görme bozuklukları,</li>
                <li>Bulantı,</li>
                <li>Kusma,</li>
                <li>Baş dönmesi,</li>
                <li>Ses, ışık, dokunma ve kokuya karşı aşırı hassasiyet</li>
                <li>Yüzde karıncalanma veya uyuşma.</li>
            </ul>
            <h3>
                MİGREN TEDAVİSİ
            </h3>
            <p>
                Şu anda migren için tek bir tedavi yoktur. Tedavi, migren ataklarını önlemeyi ve ortaya çıkan semptomları hafifletmeyi amaçlamaktadır.

                Migren sıklığını azaltmaya yardımcı olabilecek yaşam tarzı değişiklikleri şunlardır:
            </p>
            <ul>
                <li>Yeterince uyuma</li>
                <li>Stresi azaltmak</li>
                <li>Bol su içmek</li>
                <li>Bazı gıdalardan kaçınmak</li>
                <li>Düzenli fiziksel egzersiz</li>
            </ul>
            <p>
                Bazı insanlar glutensiz özel diyetlerin migren ağrısının azaltılmasında yardımcı olabileceğini fark etmişlerdir.

                Yukarıdaki değişiklikler migren semptomlarını veya sıklığını azaltmazsa daha yoğun bir tedavi için doktora başvurmalısınız. Migren belirtilerinin tedavisi, tetikleyicilerin önlenmesine, semptomların kontrol altına alınmasına ve ilacın alınmasına bağlıdır.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/GozIltihabi"><img src="~/img/Hastaliklarimg/Göz İltihabı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Göz İltihabı</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/GeceKorlugu"><img src="~/img/Hastaliklarimg/Gece Körlüğü.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Gece Körlüğü</h4>
            </div>
        </div>
    </div>
</div>

