
@{
    ViewData["Title"] = "Miyopluk";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Miyopluk</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Gözün en yaygın kırılma hatasıdır ve gözün normalden uzun olmasına bağlı olarak uzağı net görememedir. Miyopi şiddetliyse, yakın görüşe de zarar verir. Miyopi ayrıca “yakın görüşlü” veya “kısa görüşlü” olarak da bilinir. Göz hastalığı değil, göz odaklanma bozukluğudur.

                Miyopi kesinlikle genetik bir bağa sahiptir. Bununla birlikte, okuma, çalışma, bilgisayar kullanımı, el işleri gibi yakın çalışmaların çevresel stresinden daha fazla etkilenmektedir.
            </p>
            <h3>
                MİYOP NEDENLERİ
            </h3>
            <ul>
                <li>Miyopinin temel sebebi gözün bazı eksenlerinde meydana gelen uzunluk değişimleridir.</li>
                <li>Miyop kusuru gözün önden arkaya normalden uzun olduğu ya da kornea veya merceğin kırma gücünün normalden fazla olduğu durumda ortaya çıkar.</li>
                <li>Miyopi doğuştan olabileceği gibi, çevresel ve genetik etkenlere bağlı olarak da gelişip ilerleyebilir. Anne ya da babada miyopi varsa çocukta miyopi gelişme riski fazlalaşır.</li>
                <li>Hastalıkla beraber şeker hastalığı ya da kataraktı olanlarda sonradan miyop oluşabilir.</li>
                <li>Pseudomyopia (yalancı miyopi) gözde bulunan siliyer kasların stres, yorgunluk ve aşırı yüklenme sonucu tamamen gevşeyememesi sebebiyle gözlerde miyop gelişmesi durumudur.</li>
                <li>İngiltere'deki King's College bilim adamları tarafından yapılan ve sonuçları Nature Genetics'de yayınlanan araştırmaya göre miyop hastalığına RASGRF1 adlı gen neden olmaktadır.</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Miyopluk.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                MİYOP BELİRTİLERİ
            </h3>
            <p>
                Miyopi belirtileri ve semptomları uzağı görmede zorluk, gözleri kısarak bakma, şaşılık, göz yorgunluğu ve baş ağrısını içerir.
            </p>
            <h3>
                MİYOP DERECELERİ
            </h3>
            <ul>
                <li>Düşük miyop: -4,30 ve daha az dereceli kusurlardır.</li>
                <li>Orta miyop: -5,30 ile -5,40 arasındaki kusurlardır. Bu durumda renk dağılım semptomları ya da glokom meydana gelebilir.</li>
                <li>Yüksek miyop: -6,00 ve üzeri kusurları içerir. Bu miyoplarda görüş alanında gölge benzeri şekiller, yüzen cisimler görülebilir.</li>
            </ul>
            <h3>
                MİYOP TEDAVİSİ
            </h3>
            <p>
                Miyop tedavisi esnasında hastanın lens ya da gözlük kullanması ile görme kaybının önüne geçilebilir. Miyoplar lens veya gözlüklerini çıkardıklarında uzağı görememeye devam edeceklerdir. Bunun yanı sıra lazer tedavisi de yapılmaktadır. Miyoptan lazer tedavisiyle kurtulabilmek mümkündür.
            </p>
            <p>
                Excimer lazer adı verilen lazer cihazı ile hastanın gereksinim duyduğu yöntemlerle operasyon yapılır. Lazer operasyonu ile 12 dereceye kadar miyoplar tedavi edilebilmektedir. Lasik ya da lazer operasyonuna uygun olmayan hastalarda da göz içi akıllı lensler uygulanabilmektedir.
            </p>
            <p>
                Miyop için lazer tedavisi görmek isteyen hastaların 18 yaşından büyük olması, son bir yıldır göz numarasının değişmemiş olması, romatizma ya da diyabet gibi bir hastalığa sahip olmaması, göz numarasının 10'dan küçük olması ve gözde lazer tedavisine engel başka bir rahatsızlığın olmaması gerekmektedir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Gastrit"><img src="~/img/Hastaliklarimg/Gastrit.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Gastrit</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Felc"><img src="~/img/Hastaliklarimg/Felç.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Felç</h4>
            </div>
        </div>
    </div>
</div>
<h1>Miyopluk</h1>

