
@{
    ViewData["Title"] = "Nezle";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Nezle</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Değişik virüslerle oluşabilen, kırıklık burun akıntısı, öksürük gibi belirtilerle seyreden, en fazla bir hafta on gün içinde kendiliğinden iyileşen bulaşıcı bir hastalıktır.
            </p>
            <h3>
                NEZLE BELİRTİLERİ
            </h3>
            <p>
                Belirtiler genellikle enfekte olduktan bir ila üç gün içinde ortaya çıkar. Semptomlar bir haftadan 10 güne kadar sürebilir, ancak daha uzun sürebilirler. Nezlenin yaygın semptomları şunlardır:
            </p>
            <ul>
                <li>Burun akıntısı veya burun tıkanıklığı</li>
                <li>Hapşırma</li>
                <li>Öksürme</li>
                <li>Boğaz ağrısı veya boğaz kaşıntısı</li>
                <li>Sulu veya kaşıntılı gözler</li>
                <li>Baş ağrısı</li>
                <li>Yorgunluk</li>
                <li>Vücut ağrıları</li>
                <li>Hafif ateş</li>
            </ul>
            <p>
                Semptomlar rahatsız edici veya ağrılı olabilir, ancak genellikle kalıcı bir zarara neden olmazlar.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Nezle.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                NEZLE NEDEN OLUR?
            </h3>
            <p>
                Oldukça bulaşıcı olan Rinovirüs en yaygın soğuk algınlığı virüsüdür. Bunun dışında 100’den fazla virüs nezleye neden olabilir. Nezle çok kolay yayıldığı için, hastaysanız hijyen kurallarına uygulamanız gerekir. Bu, nezleyi diğer insanlara bulaştırmanızı önleyecektir. Ellerinizi sık sık yıkayın. Öksürdüğünüzde ağzınızı ön kolunuzla kapatın.
            </p>
            <p>
                Eğer hasta olan birinin yanında iseniz, ellerinizi sıklıkla yıkamak virüsün size bulaşmasını önlemeye yardımcı olabilir. Gözlerinize, burnunuza veya ağzınıza dokunmaktan da kaçınmalısınız.
            </p>
            <h3>
                NEZLE TEDAVİSİ
            </h3>
            <p>
                Viral nezle antibiyotiklerle tedavi edilemez. Bunun yerine, doktorunuz belirtilerinizi tedavi etmeye odaklanacaktır. Normal şartlarda bir hafta on gün içinde geçen hastalık sinüzit, orta kulak iltihabı, zatürre gibi komplikasyonlara neden olursa iyileşmesi zorlaşır ve uzar. Baş ağrısı, kırıklık ve ateş için parasetamollü ilaçlar kullanılabilir.Burnu tuzlu suyla yıkamak ve C vitamini alınması dışında yapılabilecek çok fazla bir şey yoktur. Hastalıktan korunmak için yapılacak tek şey, nezleli kişilerden ve özellikle hastalığın çok görüldüğü aylarda toplu yaşanan ve sıkışık yerlerden uzak durmaktır. Aşısı yoktur.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Fabry"><img src="~/img/Hastaliklarimg/Fabry.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Fabry</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Epistaksis"><img src="~/img/Hastaliklarimg/Epistaksis.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Epistaksis</h4>
            </div>
        </div>
    </div>
</div>

