
@{
    ViewData["Title"] = "Odem";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Ödem</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Ödem vücudunuzun dokularında sıkışan aşırı sıvı nedeniyle şişmesidir.
            </p>
            <h3>
                VÜCUTTA ÖDEM ARTIRAN KOŞULLAR
            </h3>
            <ul>
                <li>Fazla tuz tüketimi</li>
                <li>Hareketsizlik</li>
                <li>Böbrek, karaciğer, kalp, tiroit bezi hastalıkları</li>
                <li>Bazı ilaçlar (tansiyon ilaçları, hormon içeren ilaçlar, ağrı kesici ve romatizma ilaçları)</li>
                <li>Kadınlarda adet öncesi ve sırasında yaşanan hormon değişiklikleri</li>
            </ul>
            <h3>
                ÖDEM ÇEŞİTLERİ
            </h3>
            <h4>
                Periferik ödem
            </h4>
            <p>
                Bu genellikle bacakları, ayakları ve ayak bileklerini etkiler, ancak kollarda da olabilir. Dolaşım sisteminizdeki, lenf bezlerinizdeki veya böbreklerinizdeki sorunların bir işareti olabilir.
            </p>
            <h4>
                Pedal ödem
            </h4>
            <p>
                Bu, sıvı ayaklarınızda ve alt bacaklarda toplandığında olur. Daha yaşlı veya hamile iseniz daha sık görülür. Kısmen hareket etmeyi zorlaştırabilir.
            </p>
            <h4>
                Lenfödem
            </h4>
            <p>
                Kollarda ve bacaklarda meydana gelen ve ciddi düzeyde geri dönüşümsüz yapısal bozulmaya yol açabilen kronik bir hastalıktır. Hasar, cerrahi ve radyasyon gibi kanser tedavilerinin bir sonucu olabilir.
            </p>
            <h4>
                Akciğer ödemi
            </h4>
            <p>
                Akciğerlerinizdeki hava keselerinde sıvı toplandığında, akciğer ödemi geçirirsiniz. Bu nefes almanızı zorlaştırır ve uzandığınızda daha da kötüleşir. Belirtileri; hızlı ve düzensiz kalp atışı, aktivite ile ya da yatarken aşırı nefes darlığı ve bazen kanla karışmış köpüklü balgam üreten bir öksürüktür.
            </p>
            <h4>
                Beyin ödemi
            </h4>
            <p>
                Bu, beyinde sıvı biriken çok ciddi bir durumdur. Kafanıza sert bir darbe aldığınızda, bir kan damarı tıkandığında veya patladığında, bir tümör veya alerjik reaksiyonunuz varsa oluşabilir.
            </p>
            <h4>
                Diyabetik maküler ödem
            </h4>
            <p>
                Diyabet hastalarında kan şekerinin yüksek olmasından kaynaklanan her tür retina (görmeye yarayan sinir hücrelerinin bulunduğu tabaka) hasarını kapsayan, Diyabetik Retinopati'nin seyri sırasında herhangi bir zamanda, zayıflayan damarlardan sızan kan ve sıvının makula adı verilen görme merkezinde birikmesidir. Bu birikim makulada şişmeye (ödeme) ve görmenin bulanıklaşmasına neden olabilir. Diyabetik maküler ödem görme bozukluğuna ve tedavi edilmediği taktirde körlüğe yol açar.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Ödem.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                ÖDEM NASIL GEÇER?
            </h3>
            <p>
                Ödem tedavisi için öncelikle ödemi yapan neden saptanıp onun tedavi edilmesi gereklidir. Genel olarak ödemi çözmenin en kolay yolu vücuttan sıvıyı uzaklaştırmaktır. Bu amaçla hekimlerin en çok kullandığı ilaçlar diüretik yani idrar söktürücü ilaçlardır. Bunun dışında aşağıdaki bazı yöntemler ödemin azalmasına ve geri gelmemesine yardımcı olabilir.
            </p>
            <h4>
                Hareket
            </h4>
            <p>
                Ödemden etkilenen vücudunuzdaki, özellikle bacaklarınızdaki kasların hareket ettirilmesi ve kullanılması, fazla sıvının kalbe doğru geri pompalanmasına yardımcı olabilir. Doktorunuzdan ödemi azaltabilecek egzersizler hakkında bilgi alın.
            </p>
            <h4>
                Yükseklik
            </h4>
            <p>
                Vücudunuzun şişmiş kısmını (bacaklar), günde birkaç kez kalp seviyesinin üzerinde tutun. Bazı durumlarda, uyurken etkilenen vücut kısmının yükseltilmesi yardımcı olabilir.
            </p>
            <h4>
                Masaj
            </h4>
            <p>
                Etkilenen bölgeyi sert fakat ağrı vermeyecek bir basınç uygulayarak masaj yapmak, fazla sıvının o alandan dışarı doğru hareket etmesine yardımcı olabilir.
            </p>
            <h4>
                Tuz alımını azaltın
            </h4>
            <p>
                Ne kadar tuz tüketeceğinizi sınırlamak için doktorunuzun önerilerini izleyin. Tuz, sıvı tutulmasını artırabilir ve ödemi kötüleştirebilir.
            </p>
            <h4>
                Bol bol su için
            </h4>
            <p>
                Su içmeye özen gösterin. Asitli içecekler, alkol ve aşırı şekerli içeceklerden uzak durun.
            </p>
            <h4>
                Uykunuza dikkat edin
            </h4>
            <p>
                Dengeli uyku, ödemi vücuttan uzaklaştırmak için oldukça önemlidir. Günde en az 7-8 saat uyumaya çalışın.
            </p>
            <h4>
                Yeşil yapraklı besinler tüketin
            </h4>
            <p>
                Yeşil yapraklı sebzeler vücuttaki fazla suyun atılmasına yardımcı olur. Ayrıca posa içeriği yüksek olan gıdaların da bağırsakların çalışmasını artırdığı için, ödemin atılmasına etkisi vardır.
            </p>
            <h4>
                Kilonuza dikkat edin
            </h4>
            <p>
                Fazla kilo, damarlar üzerinde ekstra basınç oluşmasına, dolaşımın yavaşlamasına ve vücuttaki sıvı dengesinin bozulmasına neden olur.
            </p>
            <h3>
                ÖDEMİN ZARARLARI NELERDİR?
            </h3>
            <p>
                Ödem, karaciğer ve böbrek hastalıklarının habercisi olabilir. Karaciğer sirozu ve böbrek rahatsızlıklarının belirtileri olan ödemler, kalp hastalıklarının da belirtisi olabilir. Özellikle konjestif kalp yetmezliğinde kalbin alt bölmelerinden biri veya her ikisi de kanı etkili bir şekilde pompalama yeteneklerini kaybeder. Sonuç olarak kan bacaklarda, ayak bileklerinde ve ayaklarda ödem oluşturabilir. Ayrıca eğer kronik venöz (toplardamar) yetmezliği varsa bacak damarlarındaki tek yönlü valfler (kapaklar) zayıflar ya da hasar görür, bu da kandaki sıvının bacak damarlarında birikmesine ve şişmesine neden olur. Ödem varisli damarlardan da kaynaklanabilir.
            </p>
            <p>
                Bunların dışında, alerjik reaksiyon, enfeksiyonlar, diyabet, artrit, tiroid bozukluklar, yanıklar, kafa ve benzeri travmalar, beyin tümörü ve pıhtılar da ödeme yol açabilir. Son olarak kanda protein (albümin) eksikliği varsa sıvı kan damarlarından daha kolay sızarak ödeme yol açabilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Ensefalopati"><img src="~/img/Hastaliklarimg/Ensefalopati.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Ensefalopati</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Enfarktus"><img src="~/img/Hastaliklarimg/Enfarktüs.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Enfarktüs</h4>
            </div>
        </div>
    </div>
</div>

