
@{
    ViewData["Title"] = "Parkinson";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Parkinson</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Parkinson hastalığı, hareketi etkileyen ilerleyici bir sinir sistemi bozukluğudur.
            </p>
            <p>
                Hareketlerimiz beyindeki sinir hücreleri (nöronlar) ile birbirlerine ve nörotransmiterler denilen kimyasalları kullanarak mesajlar ileten ve vücudun geri kalanına iletilir. Beynin temelinde nigra adı verilen bir bölge, hareketi kontrol eden nörotransmiterlerden biri olan dopamini üretir. Parkinson hastalarında dopamin üreten hücrelerin % 70-80’i yavaş yavaş bozulur ve kaybolur. Buna nörodejenerasyon denir.
            </p>
            <p>
                Dopamin üreten nöronların kaybı, beynin hareket ve dengeyi kontrol eden kısmında düşük dopamin seviyelerine neden olur. Sinir hücreleri beyin mesajlarını düzgün bir şekilde iletmediğinde, hareket artık düzgün bir şekilde kontrol edilmez ve Parkinson semptomları ortaya çıkar.

                Belirtiler yavaş yavaş ve bazen zar zor farkedilebilir bir titreme ile başlar. Titreme yaygındır, ancak hastalık da sık sık hareket sertliğine veya yavaşlamasına neden olur.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Parkinson.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                PARKİNSON HASTALIĞININ NEDENLERİ
            </h3>
            <p>
                Parkinson hastalığında, beyindeki bazı sinir hücreleri (nöronlar) yavaş yavaş parçalanır veya ölür. Semptomların çoğu beyninizde dopamin adı verilen kimyasal bir haberci üreten nöron kaybından kaynaklanıyor. Dopamin seviyeleri azaldığında, anormal beyin aktivitesine neden olur ve Parkinson hastalığının semptomlarına yol açar. Parkinson hastalığının nedeni bilinmemektedir, ancak araştırmacılar bunun dopamin üreten sinir hücrelerinin ölmesine neden olan genetik ve çevresel faktörlerin bir kombinasyonu olduğunu düşünüyor.
            </p>
            <h3>
                PARKİNSON HASTALIĞI BELİRTİLERİ
            </h3>
            <p>
                Parkinson hastası herkesin farklı semptomları vardır, ancak en yaygın semptomları titreme, kas sertliği ve hareket yavaşlığıdır. Bunların hepsi hareketle ilgilidir ve motor belirtileri olarak adlandırılır. Parkinson hastası birçok kişi ağrı, anksiyete ve depresyon gibi hareketle ilgili olmayan başka problemler de yaşar. Bunlara motor dışı semptomlar denir.
            </p>
            <h3>
                PARKİNSON HASTALIĞI TEDAVİSİ
            </h3>
            <p>
                Parkinson hastalığı tedavi edilemez, ancak ilaçlar semptomlarınızı kontrol etmenize yardımcı olabilir. Bazı vakalarda ameliyat önerilebilir. Doktorunuz ayrıca özellikle egzersiz gibi yaşam tarzı değişiklikleri önerebilir. Bazı durumlarda, denge ve kaslardaki sertliğe odaklanan fizik tedavi de önemlidir. Ayrıca dil terapileri gibi uygulamalarla da yine belirtiler azaltılmaya çalışılmaktadır.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Ekstrasistol"><img src="~/img/Hastaliklarimg/Ekstrasistol.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Ekstrasistol</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Egzama"><img src="~/img/Hastaliklarimg/Egzama.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Egzama</h4>
            </div>
        </div>
    </div>
</div>

