
@{
    ViewData["Title"] = "Rasitizm";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Raşitizm</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                D vitamini, kalsiyum veya fosfat eksikliğinden kaynaklanan bir iskelet bozukluğudur. Bu besinler güçlü, sağlıklı kemiklerin gelişimi için önemlidir. Romatişizmli kişilerde zayıf ve yumuşak kemikler, büyüme bozukluğu ve ciddi vakalarda iskelet deformasyonları olabilir.

                D vitamini, gastrointestinal sistemden kalsiyum ve fosfor emilimini arttırır. D vitamini eksikliği kemiklerde uygun kalsiyum ve fosfor düzeylerinin korunmasını zorlaştırır, bu da raşitizme neden olabilir. Süt, yumurta ve balık gibi çeşitli gıda ürünlerinden D vitamini alabilirsiniz. Vücudunuz güneş ışığına maruz kaldığınızda da D vitamini üretir.
            </p>
            <p>
                D vitamini eksikliği vücudun yeterli miktarda kalsiyum ve fosfat tutmasını zorlaştırır. Bu meydana geldiğinde, kemiklerinizden kalsiyum ve fosfat salınmasına neden olan hormonlar üretir. Kemikleriniz bu minerallerden yoksun olduklarında zayıf ve yumuşak olurlar.

                Raşitizm, en çok 6 ila 36 aylık olan çocuklarda görülür. Çocuklar büyümekte oldukları için raşitizm riski altındadır. Güneş ışığı az alan bir bölgede yaşıyorlarsa, vejeteryan tip bir diyetle besleniyorlarsa veya süt ürünleri içmiyorlarsa yeterli D vitamini alamayabilirler. Bazı durumlarda ise raşitizm kalıtsaldır.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Raşitizm.png" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                RAŞİTİZM BELİRTİLERİ
            </h3>
            <ul>
                <li>Kol, bacak, pelvis veya omurga kemiklerindeki ağrı veya hassasiyet</li>
                <li>Büyüme bozukluğu ve boy kısalığı</li>
                <li>Kemiklerde kırılma</li>
                <li>Kas krampları</li>
                <li>Diş deformasyonları, örneğin:</li>
            </ul>
            <ul>
                <li>Geç çıkan dişler</li>
                <li>Diş çürümesi</li>
                <li>Abseler</li>
                <li>Diş yapısında kusurlar</li>
                <li>Dişler arasında boşluklar</li>
            </ul>
            <p>
                İskelet deformasyonu:
            </p>
            <ul>
                <li>Garip şekilli bir kafatası (kafatasının gövdeye göre büyük olması)</li>
                <li>Çarpık bacaklar</li>
                <li>Çıkıntılı bir göğüs kemiği</li>
                <li>Kavisli bir omurga</li>
                <li>Pelvik deformasyonlar</li>
                <li>El ve ayak bileklerinde genişleme</li>
            </ul>
            <p>
                Çocuğunuz raşitizm belirtileri gösteriyorsa hemen doktorunuzu arayın. Çocuğun büyüme döneminde bozukluk tedavi edilmezse, çocuk bir yetişkin olarak çok kısa bir boya sahip olacaktır. Ayrıca bozukluk tedavi edilmezse deformasyonlar da kalıcı hale gelebilir.
            </p>
            <h3>
                RAŞİTİM NEDEN OLUR, RAŞİTİZM GENETİK MİDİR?
            </h3>
            <p>
                Çocuklarda raşitizmin birden fazla sebebi olabileceği gibi en sık karşılaşılan neden D vitamini eksikliğidir. Bunun dışında böbrek hastalıkları (Hipofosfatemik raşitizm, böbreklerin fosfatları düzgün işlenmesini önleyen nadir bir genetik bozukluktur. Kandaki düşük fosfat seviyeleri zayıf ve yumuşak kemik yapısına yol açar) ve genetik bozukluklar da raşitizmin nedenlerindendir.
            </p>
            <h3>
                RAŞİTİZM NASIL TEŞHİS EDİLİR?
            </h3>
            <p>
                Doktorunuz fizik muayene yaparak raşitizmi teşhis edebilir. Kemiklerdeki hassasiyet veya ağrıları hafifçe bastırarak kontrol ederler. Doktorunuz ayrıca aşağıdakiler de dahil olmak üzere raşitizm tanısı koymaya yardımcı olmak için bazı testler de isteyebilir:
            </p>
            <ul>
                <li>Kandaki kalsiyum ve fosfat seviyelerini ölçmek için kan testleri</li>
                <li>Kemik deforasyonlarını kontrol etmek için kemik röntgenleri</li>
                <li>Nadir durumlarda, bir kemik biyopsisi yapılabilir.</li>
            </ul>
            <h3>
                RAŞİTİZM TEDAVİSİ
            </h3>
            <p>
                Raşitizm tedavisi, vücuttaki eksik vitamin veya mineralleri tamamlamaya yöneliktir. Bu raşitizm ile ilişkili semptomların çoğunu ortadan kaldıracaktır. Çocuğunuzda D vitamini eksikliği varsa, doktorunuz mümkünse güneş ışığında daha fazla kalmalarını isteyecektir. Ayrıca balık, karaciğer, süt ve yumurta gibi D vitamini içeren gıda ürünlerini tüketmeye teşvik edeceklerdir.
            </p>
            <p>
                Kalsiyum ve D vitamini takviyeleri de raşitizm tedavisinde kullanılabilir. Çocuğunuzun büyüklüğüne göre değişiklik gösterebileceğinden doktorunuza doğru doz hakkında bilgi verin. Çok fazla D vitamini veya kalsiyum yararlı değildir.
                Genetik raşitizmde, hastalığı tedavi etmek için fosfat takviyeleri ve yüksek düzeyde özel bir D vitamini kombinasyonu gereklidir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Diyabet"><img src="~/img/Hastaliklarimg/Diyabet.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Diyabet</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Difteri"><img src="~/img/Hastaliklarimg/Difteri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Difteri</h4>
            </div>
        </div>
    </div>
</div>

