
@{
    ViewData["Title"] = "Romatizma";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Romatizma</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                “Romatizma” terimi, bir dizi romatizmal durumu tanımlamak için tarihsel olarak kullanılmıştır. Uygun tedaviyi almak için spesifik bir tanı almanın önemini vurgulayan tıp uzmanları tarafından artık kullanılmamaktadır ve romatizmal bozukluklar altında listelenen hastalıklar romatizma altında sayılabilir.

                Bazı ülkeler fibromiyalji sendromunu tanımlamak için Romatizma kelimesini kullanırlar. Romatizma bu nedenle iki biçime sahiptir:
            </p>
            <ul>
                <li>Eklem veya romatoid artrit, lupus, gut, spondilit vb.</li>
                <li>Eklem dışı veya yumuşak dokuları, kasları etkileyen ve bölgesel ağrı sendromlarına yol açanlar.</li>
            </ul>
            <p>
                Daha şiddetli durumlar eklem ve organ tahribatına neden olan inflamatuar romatizmal hastalıklara yol açar. Bunlar, şiddetli ağrı, sakatlık ve hatta yaşam kalitesini etkileyen ve birkaç komorbiditeye veya ilişkili hastalığa yol açan ölümlerin önde gelen nedenidir.
            </p>
            <h3>
                ROMATİZMA NEDENLERİ
            </h3>
            <p>
                Romatizmanın birden çok nedeni olabilir. Romatizmal hastalıklar genellikle vücutta eklemleri, kasları, kemikleri ve bunları birbirine bağlayan bağları etkileyen ve bu dokularda meydana gelen hasarlardır. Bu hasarlar eklemlerde şişliklere, kızarıklığa, hareket kısıtlamasına ve hatta şekil bozukluklarına yol açabilen rahatsızlıklara neden olur.
            </p>
            <p>
                İltihabi bir romatizma çeşidi olan romatoid artrit, eklemlerdeki zarın ve eklemin iltihaplanmasıdır.
                İltihabi olmayan romatizmalar; kaza, darbe sonucunda eklem ve kasların hasar görmesine bağlı olarak gelişebilir. Bazen de metabolik ya da psikolojik sorunlar iltihabi olmayan romatizmayı beraberinde getirebilir.
                Romatizmal hastalıkların çoğunun kesin nedeni bilinmese de genetik faktörler, cinsiyet, çevresel faktörler ve yaş faktörleri önemlidir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Romatizma.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                ROMATİZMA BELİRTİLERİ
            </h3>
            <p>
                Romatizma belirtileri şunları içerir;
            </p>
            <ul>
                <li>Kas güçsüzlüğü,</li>
                <li>Kas ağrısı,</li>
                <li>Sırt ve bel ağrısı,</li>
                <li>Ciltte döküntüler,</li>
                <li>Tırnak değişiklikleri,</li>
                <li>Deri sertliği,</li>
                <li>Gözyaşı azalması,</li>
                <li>Ağız kuruluğu,</li>
                <li>Gözlerde kızarıklık,</li>
                <li>Görmede ani azalma ve kayıp,</li>
                <li>Uzun süreli yüksek ateş,</li>
                <li>Parmaklarda renk solması,</li>
                <li>Solunum sistemi ile ilgili belirtiler (Nefes darlığı, kuru öksürük, kanlı balgam vb.).</li>
            </ul>
            <p>
                Aynı zamanda;
            </p>
            <ul>
                <li>Sindirim sistemi şikayetleri,</li>
                <li>Böbrek fonksiyonlarında azalma,</li>
                <li>Nörolojik belirtiler (Felç, bilinç değişiklikleri vb.)</li>
                <li>Kalp ve dolaşım sisteminde yaşanan olumsuzluklar (Damarlarda pıhtı oluşumu, nabız kaybı vb.) da romatizmal hastalıklarının belirtilerindendir.</li>
            </ul>
            <h3>
                ROMATİZMANIN TANISI
            </h3>
            <p>
                Romatizma belirtileri oldukça genel olabileceğinden, romatizmal durumları teşhis etmek bazen zordur. Farklı romatizma türleri arasında çok fazla geçiş bulunmaktadır. Bu yüzden doktorlar kapsamlı bir fizik muayene yapmalı ve hastalarına semptomlarla ilgili özel sorular sormalıdır.
            </p>
            <p>
                Doktorlar ayrıca romatizmal semptomlara herhangi bir potansiyel genetik bağlantı bulunup bulunmadığını bulmak için tıbbi geçmişe bakarlar. Romatizmal bir durumun söz konusu olabileceğini düşünürlerse, hastayı ileri tetkik ve teşhis için romatoloğa yönlendirirler.
                Romatoloji, hastanın bazı romatizmal rahatsızlıklarının teşhis edilmesine ve olasılıkla dışlanmasına yardımcı olmak için kan testleri ve görüntüleme taramaları isteyebilir.
            </p>
            <h3>
                ROMATİZMA TEDAVİSİ
            </h3>
            <p>
                Romatizmanın kesin bir tedavisi olmamakla birlikte tedavi ile genelde semptomları bastırmak ve hastalığın ilerleyerek diğer organlara zarar vermesini engellemek hedeflenir. Romatizmal hastalıkları tedavi etmek için çeşitli ilaç tipleri reçete edilir. Bazı ilaçlar sadece ağrı ve inflamasyon gibi semptomları tedavi ederken diğerleri hastalığın seyrini değiştirebilir. Romatizma tedavisinde kortizon çok sık kullanılan, kimi zaman hayat kurtarıcı bir ilaçtır. Romatizma ilaçlarının mutlaka doktor kontrolünde kullanılıp, doktor kontrolünde bırakılması gerekir.
            </p>
            <p>
                Tıp alanında son yıllarda romatizmal hastalıkların tedavisinde, devrim niteliğinde gelişmeler olmuştur. Bu hastalıkların oluşmasında görev alan bazı moleküller keşfedilmiş ve bunlara yönelik geliştirilen ilaçlar ile hastalığın kontrol altında tutulması mümkün olmuştur. Ayrıca egzersiz deromatizma hastalıklarına çok iyi gelmektedir. Hareketleri sınırlanmış eklem ve omurganın esnekliğine kavuşması için, kas ağrılarında spazmın çözülmesi için çok önemlidir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/DeriKanseri"><img src="~/img/Hastaliklarimg/Deri Kanseri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Deri Kanseri</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/CicekHastaligi"><img src="~/img/Hastaliklarimg/Çiçek Hastalığı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Çiçek Hastalığı</h4>
            </div>
        </div>
    </div>
</div>

