
@{
    ViewData["Title"] = "Sagirlik";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Sağırlık</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Beyin kulaktan yeterli ses bilgisi almazsa bir işitme kaybı oluşur. Kulak 3 bölüme ayrılmıştır: kulağın görünen kısmı ve kulak kanalı dahil dış kulak; kulak tamburundan ve buna bağlı 3 kemikten oluşan orta kulak; ve işitme siniri beynine giden sinir impulslarını yaratan duyu organı olan iç kulak. Kulağın bu bölümlerinin herhangi biriyle ilgili bir sorun işitme kaybına yol açabilir.
            </p>
            <p>
                Semptomlar hafif, orta, şiddetli veya şiddetli olabilir. Hafif işitme bozukluğu olan bir hastada konuşmayı anlamada sorunlar olabilir, özellikle de etrafta çok fazla gürültü varsa, orta derecede işitme kaybı olanlar işitme cihazına ihtiyaç duyabilirler.
            </p>
            <h4>
                İletken işitme kaybı
            </h4>
            <p>
                İletken işitme kaybı, sesin kulağa nasıl geçtiği ile ilgili mekanik bir problemden kaynaklanır. Dış kulak yolunun doğuştan oluşamamasından, ya da aşırı kir, ur, yabancı cisimlerle tıkanmasından ileri gelen ağır işitme halidir. Bazen iletken işitme kaybı cerrahi veya diğer müdahalelerle düzeltilebilir ve duyma geri kazanılabilir.
            </p>
            <h4>
                Sensorinöral işitme kaybı
            </h4>
            <p>
                Sensorinöral işitme kaybı iç kulak, koklea, işitsel sinir veya beyin hasarı işlev bozukluğundan kaynaklanır. Bu tür işitme kaybı normalde kokleadaki hasarlı saç hücrelerine bağlıdır. İnsanlar yaşlandıkça, saç hücreleri işlevlerinin bir kısmını kaybederler ve işitme kötüleşir. Yüksek frekanslı seslere, özellikle yüksek frekanslı seslere uzun süreli maruz kalma, saç hücresi hasarının bir diğer yaygın nedenidir. Hasarlı saç hücreleri değiştirilemez. Konjenital deformiteler, iç kulak enfeksiyonları veya kafa travması sonucu sensorinöral sağırlık olabilir.
            </p>
            <h4>
                Karışık işitme kaybı
            </h4>
            <p>
                Bu iletken ve sensörinöral işitme kaybının birleşimidir. Uzun süreli kulak enfeksiyonları hem kulak zarına hem de kemikçiklere zarar verebilir. Bazen cerrahi müdahale işitmeyi geri kazandırabilir, ancak her zaman etkili olmayabilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Sağırlık.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                İŞİTME NASIL OLUR?
            </h3>
            <p>
                Ses dalgaları kulağa girer, kulağı veya işitsel kanalı aşağı doğru hareket ettirir ve titreşen kulak zarına çarpar. Kulak zarından gelen titreşimler, orta kulaktaki kemikçikler olarak bilinen üç kemiğe geçer. Bu kemikçikler, daha sonra kokleadaki küçük saç benzeri hücreler tarafından toplanan titreşimleri arttırır. Titreşimler onlara vurdukça hareket ederler ve hareket verileri işitsel sinir yoluyla beyne gönderilir. Beyin, işlevsel işiten bir kişinin ses olarak yorumlayacağı verileri işler.
            </p>
            <h3>
                SAĞIRLIK NEDENLERİ
            </h3>
            <p>
                Sağırlığa neden olabilecek bazı hastalıklar veya durumlar şunlardır:
            </p>
            <ul>
                <li>Su çiçeği</li>
                <li>Sitomegalovirüs</li>
                <li>Kabakulak</li>
                <li>Menenjit</li>
                <li>Orak hücre hastalığı</li>
                <li>Frengi</li>
                <li>Lyme hastalığı</li>
                <li>Diyabet, (çalışmaların diyabetli bireylerin bir çeşit işitme kaybına sahip olma olasılığının daha yüksek olduğunu gösterdiği için)</li>
                <li>Anahtar risk faktörü olduğuna inanılan tüberküloz (TB), streptomisin tedavisi</li>
                <li>Hipotiroidizm</li>
                <li>Artrit</li>
                <li>Bazı kanserler</li>
                <li>Sigara maruz kalan gençler</li>
                <li>İç kulak, vücuttaki en hassas kemiklerin bazılarına ev sahipliği yapar ve kulak zarına veya orta kulağa zarar vermek, çeşitli yollarla işitme kaybına ve sağırlığa neden olabilir.</li>
            </ul>
            <h3>
                SAĞIRLIK TEDAVİSİ
            </h3>
            <p>
                Her türlü işitme kaybı olan kişiler için tedavi mevcuttur. Tedavi sağırlığın hem nedeni hem de şiddetine bağlıdır. Sensorinöral işitme kaybı tedavi edilemez. Kokleadaki saç hücreleri hasar gördüğünde tamir edilemezler. Bununla birlikte, çeşitli tedavi yöntemleri yaşam kalitesini artırmaya yardımcı olabilir.
            </p>
            <h4>
                İşitme cihazları
            </h4>
            <p>
                Bunlar, işitmeye yardımcı olan giyilebilir cihazlardır. Birkaç tür işitme cihazı vardır. Birçok farklı boyutta, devrede ve güç seviyesinde gelirler. İşitme cihazları sağırlığı tedavi etmemekte, ancak kulağa giren sesi yükseltmekte, böylece kişi daha net duymaktadır. İşitme cihazları bir batarya, hoparlör, amplifikatör ve mikrofondan oluşur. Bugün, çok küçük oldukları için kulağın içine sığabiliyorlar. Birçok modern versiyon, arka plandaki gürültüyü konuşma gibi ön plan seslerinden ayırt edebilir. İşitme cihazı, derin sağırlığı olan bir kişi için uygun değildir.
            </p>
            <h4>
                Koklear implantlar
            </h4>
            <p>
                Kulak zarı ve orta kulak doğru şekilde çalışıyorsa, kişi koklear implanttan yararlanabilir. Bu ince elektrot kokleaya sokulur. Kulağın arkasındaki deri altına yerleştirilen küçük bir mikroişlemci yoluyla sinirleri uyarır. Kokleada işitme bozukluğuna sahip olan hastalara yardımcı olmak için koklear implant yerleştirilir. İmplantlar genellikle konuşma kavrayışını geliştirir. Günümüzde koklear implantlar, hastaların müziğin keyfini çıkarmasına, arka plan gürültüsüyle bile konuşmayı daha iyi anlamalarına yardımcı olan yeni teknolojiye sahiptir.
            </p>
            <h4>
                İşaret dili ve dudak okuma
            </h4>
            <p>
                İşitme bozukluğu olan bazı kişilerde konuşma problemleri olabileceği gibi, diğer insanların konuşmalarını anlamada da zorluklar yaşanabilir. İşitme bozukluğu olan kişiler iletişim kurmanın diğer yollarını öğrenebilir. Dudak okuma ve işaret dili, sözlü iletişimi değiştirebilir veya tamamlayabilir.
            </p>
            <h3>
                SAĞIRLIĞI ÖNLEMEK İÇİN NELER YAPILABİLİR?
            </h3>
            <p>
                Hiçbir şey, hastalık, kaza, doğum veya işitme bozukluklarından kaynaklanan işitme sorunlarını önleyemez. Bununla birlikte, bazı duyma duyularınızı kaybetme riskini azaltmak için bazı önlemler alınabilir. Kulaklardaki yapılar birkaç farklı şekilde hasar görebilir. 85 dB üzerindeki gürültüye uzun süre maruz kalma sonunda işitme kaybına neden olabilir.
                Aşağıdaki önlemler işitme duyunuzu korumanıza yardımcı olabilir:
            </p>
            <p>
                TV, radyo, müzik çalarlar ve oyuncaklarda sesi çok yükseğe ayarlamayın. Çocuklar özellikle yüksek sesli müziğin zararlı etkilerine duyarlıdır. Gürültülü oyuncaklar çocukların işitmesini riske sokabilir. Kulaklıklarda yüksek sesle boğulmak yerine, mümkün olduğu kadar çok çevresel sesi duymak veya engellemek istediğinizde sesleri ayırmaya odaklanın. Disko, gece kulübü ve pub gibi gürültülü ortamlarda çalışıyorsanız, kulak tıkacı veya kulaklık takın. Pop konserlerine, motor yarışlarına, drag yarışlarına ve diğer gürültülü etkinliklere giderseniz kulak tıkacı kullanın. Pamuklu kulak temizleyicilerini kullanmayın. İşitme genellikle yaşla birlikte bozulabilir, ancak risk, önleyici tedbirlerin erken alınmasıyla azaltılabilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Cuzzam"><img src="~/img/Hastaliklarimg/Cüzzam.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Cüzzam</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/BurunAhtapotu"><img src="~/img/Hastaliklarimg/Burun Ahtapotu.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Burun Ahtapotu</h4>
            </div>
        </div>
    </div>
</div>

