
@{
    ViewData["Title"] = "Sedef";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Sedef</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Sedef hastalığı, cilt hücrelerinin normalden 10 kat daha hızlı çoğalmasına neden olan bir cilt hastalığıdır. Bu bir otoimmün hastalıktır, yani bağışıklık sistemi aşırı aktif hale gelir ve vücuttaki sağlıklı hücrelere yanlışlıkla saldırır.

                Sedef hastalığına tam olarak neyin neden olduğu bilinmiyor, ancak bağışıklık sisteminin ve genetiğin hastalığın gelişiminde önemli rol oynadığı bilinmektedir.
            </p>
            <h3>
                SEDAF HASTALIĞI NASIL OLUŞUR?
            </h3>
            <p>
                Sağlıklı bir cilde sahip insanların çoğunun, vücutlarının yeni cilt hücreleri üretmesi ve eskilerini dökmesi yaklaşık bir ay sürer. Ancak sedef hastalığınız olduğunda, vücudunuzun cilt hücreleri hızlanmış bir döngüden geçer.

                Çünkü sedef hastalığı olan insanlar aşırı iltihaplanmaya neden olan aşırı aktif bir bağışıklık sistemine sahiptir. Bu iltihap vücudunuzu çok daha hızlı bir şekilde yeni cilt hücreleri üretmeye zorlar yaklaşık 4-5 günlük bir döngü. Bu normalden yedi kat daha hızlıdır. Vücudunuz yeterince hızlı bir şekilde dökemediğinden, eski deri hücreleri hızla toplanır ve yüzeye doğru itilir.
            </p>
            <p>
                Bu cilt hücreleri cildinizde gördüğünüz yamalar ve plaklar haline gelir; bunlar gümüşi, kırmızı, kaşıntılı, lapa lapa, kabarık veya iltihaplı olabilir. Vücudunuzdaki derin inflamasyon, cildinizin yüzeyine kadar semptomlara katkıda bulunabilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Sedef.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                SEDEF HASTALIĞI BELİRTİLERİ
            </h3>
            <ul>
                <li>Özellikle diz ve dirsek bölgelerinde yer alan sedef rengi pullanma ve kabuklanmalar. Bu cilt lezyonları genital bölgede, tırnak ve saç derisinde de gözlenebilir. Arıca kollar, bacaklar, avuç içleri ve ayak tabanında kırmızı lekeler üzerinde gri-beyaz renkli deri döküntüleri ve kabuklanmalar</li>
                <li>Tırnaklarda çukurcuklar, kalınlaşma ve sarı renk oluşumu, tırnak çevresinde şişlik ve kızarıklıklar</li>
                <li>Ciltte kuruluk, yanma hissi, kaşıntı ve kanamalar</li>
                <li>Eklemlerde ağrı, şişlik ve kızarıklık</li>
            </ul>
            <h3>
                SEDEF HASTALIĞI TETİKLEYİCİLERİ
            </h3>
            <p>
                Sedef hastalığı tipik olarak, tanımlayabileceğiniz ve önleyebileceğiniz bir tetikleyici nedeniyle başlar veya kötüleşir.

                Sedef hastalığını tetikleyebilecek faktörler şunlardır:
            </p>
            <ul>
                <li>Strep boğaz veya cilt enfeksiyonları gibi enfeksiyonlar</li>
                <li>Kesik, sıyrık, böcek ısırığı veya şiddetli güneş yanığı gibi cilde zarar verme</li>
                <li>Stres</li>
                <li>Sigara içmek</li>
                <li>Ağır alkol tüketimi</li>
                <li>D vitamini eksikliği</li>
                <li>Belirli ilaçlar: bipolar bozukluk için öngörülen lityum, beta blokerler, antimalaral ilaçlar ve iyodürler gibi yüksek tansiyon ilaçları dahil</li>
            </ul>
            <h3>
                SEDEF HASTALIĞI TEDAVİSİ
            </h3>
            <p>
                Sedef hastalığı için birçok topikal ve sistemik tedavi vardır, ancak birçoğunun cilt hastalığının görünümünü iyileştirmede etkili olmasına rağmen, hiçbirinin yüzde yüz iyileşleştirmeyeceği asla unutulmamalıdır. Hangi tedavinin uygulanacağı ise kişinin yaşı, cinsiyeti, genel sağlık durumu, sosyo-ekonomik durumu, sedefin yaygınlığı, süresi-tipi, daha önce uygulanan tedaviler ve eşlik eden hastalıklar göz önüne alınarak planlanır.
            </p>
            <h4>
                Sedef hastalığı çin topikal tedaviler
            </h4>
            <p>
                Topikal jeller, merhemler veya kremler şeklinde olur ve genellikle sedef hastalığının tedavisi için ilk seçeneklerdir. Doğrudan cilde uygulandığında, topikal ilaçlar cilt hücrelerinin büyümesini yavaşlatmaya yardımcı olarak sedef hastalığını etkili bir şekilde tedavi edebilir ve bazıları inflamasyonu ve plak birikimini azaltabilir.
            </p>
            <h4>
                Sedef hastalığında ışık terapisi
            </h4>
            <p>
                Cilt yüzeyinde uygulanan bir başka tedavi şekli de UV fototerapi tedavisidir. Özel lambalarla UV ışınları doğrudan plaklara ve döküntülere uygulanır. Bu tedavie aşırı cilt hücrelerinin büyümesinin yavaşlamasına yardımcı olabilir.
            </p>
            <h4>
                Sedef hastalığı tedavisinde oral sistemik tedaviler
            </h4>
            <p>
                Bu tedavi şekli, orta ila şiddetli sedef hastalığı için başka bir tedavi seçeneğidir. Hap ya da sıvı halde alındığında, oral sistemikler, iltihaplanmayı azaltmak için bağışıklık sisteminin bir kısmına veya tümüne etki ederek çalışır.
            </p>
            <h4>
                Sedef hastalığı için biyolojik tedaviler
            </h4>
            <p>
                Biyolojik tedavi orta ila şiddetli sedef hastalığı olan hastalar için uygulanan sistemik bir tedavi seçeneğidir. Genellikle enjeksiyon veya infüzyon yoluyla alınırlar. Biyoloji, bağışıklık sisteminde aşırı üretilen spesifik proteinleri hedef alarak enflamasyonu azaltmaya yardımcı olur.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Bronsit"><img src="~/img/Hastaliklarimg/Bronşit.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Bronşit</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/BobrekTasi"><img src="~/img/Hastaliklarimg/Böbrek Taşı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Böbrek Taşı</h4>
            </div>
        </div>
    </div>
</div>

