
@{
    ViewData["Title"] = "Sinuzit";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Sinüzit</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Sinüzit yüz kemiklerinin içerisindeki boşlukların iltihaplı doku ile dolmasından ortaya çıkan hastalıktır. Burun tıkanıklığı, sarı-yeşil renkte burun akıntısı, geniz akıntısı, baş ağrısı ve koku almada güçlük ile kendisini göstermektedir.
            </p>
            <h3>
                SİNÜZİT ÇEŞİTLERİ
            </h3>
            <p>
                Sinüzit, sinüs boşluklarını kaplayan mukozanın viral, bakteriyel ve mantar gibi etkenlerle iltihaplanmasıdır. Sinüzitin farklı tipleri ve bunların farklı süreleri vardır.
            </p>
            <p>
                Sinüzit türleri şunlardır:
            </p>
            <p>
                Akut sinüzit: Bu 4 haftaya kadar sürer ve en yaygın tiptir.
            </p>
            <p>
                Subakut sinüzit: Semptomlar normal akut dönemden daha uzun sürer, 4 ila 12 hafta arasında.
            </p>
            <p>
                Kronik sinüzit: 12 hafta sonra semptomlar devam eder veya sürekli olarak tekrar eder. Daha invaziv tedaviye ve muhtemelen ameliyatlara ihtiyaç duyabilir.
            </p>
            <p>
                İyileşme zamanı ve tedavisi sinüzitlerin tipine bağlıdır.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Sinüzit.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                SİNÜZİTİN NEDENLERİ
            </h3>
            <ul>
                <li>Sinüzitin en çok görülen nedeni viral üst solunum yolu enfeksiyonlarıdır,</li>
                <li>Alerji kaynaklı sinüs ostiumlarını tıkayan mukoza ödemi,</li>
                <li>Burun içindeki eğrilikler,</li>
                <li>Poliplerin olması,</li>
                <li>Sinüs boşalma kanallarını (ostium) daraltan burun eti büyümeleri veya tıkanmasına neden olan anatomik patolojiler,</li>
                <li>Daha çok çocuklardaki geniz eti büyümeleri,</li>
                <li>Uçak yolculuğunda ya da yüzme sırasında meydana gelen basınç farklılıklarının ostiumların tıkanmasına yol açması.</li>
            </ul>
            <p>
                Romatizma ve yüksek tansiyon hastalığından çok daha sık görülse de, şeker hastalığı ve kalp hastalıklarından daha fazla yaşam kalitesini bozan bir durumdur. Hem fiziksel hem de psikolojik açıdan olumsuzlukları bulunmaktadır.
            </p>
            <h3>
                SİNÜZİT BELİRTİLERİ
            </h3>
            <p>
                Belirtiler, enfeksiyonun uzunluğuna ve şiddetine bağlı olarak değişir.

                Hastada aşağıdaki semptomlardan iki veya daha fazlası varsa akut sinüzit tanısı konabilir.
            </p>
            <ul>
                <li>Sarı-yeşil renkli koyu kıvamlı burun akıntısı</li>
                <li>Yüzde baskı ve ağrı</li>
                <li>Tıkalı burun</li>
                <li>Burun akıntısı</li>
                <li>Koku alma bozukluğu</li>
                <li>Öksürük</li>
            </ul>
            <p>
                Daha ileri vakalarda, aşağıdaki belirtiler de mevcut olabilir:
            </p>
            <ul>
                <li>Ateş</li>
                <li>Ağız kokusu veya kötü kokulu nefes</li>
                <li>Yorgunluk</li>
                <li>Diş ağrısı</li>
                <li>Baş ağrısı</li>
            </ul>
            <p>
                Bu belirtiler 12 hafta veya daha uzun süre devam ederse, doktor kronik sinüzit tanısı koyabilir.
            </p>
            <h3>
                SİNÜZİT TEDAVİSİ
            </h3>
            <p>
                Sinüzit tedavisinde hedef, akışı bozulan sinüste üreyen bakterinin öldürülmesi, akışın yeniden düzeltilerek sinüsün temizlenmesidir.

                Akut sinüzitlerde, bakteriyi öldürmek için antibiyotik, akışın sağlanması için ise burun damlaları, ağızdan kullanılan burun açıcı bazı ilaçlar ve burun temizliği yeterli olabilmektedir.
            </p>
            <p>
                Kronik ve tekrarlayan sinüzitlerde ise burun içindeki anatomik ve fonksiyonel bozukluklara yönelmek gerekmektedir. Bu da genellikle ameliyatla olmaktadır. Ameliyat kararından önce mutlaka bir sinüs tomografisi çektirilerek sinüzite yol açan patoloji veya patolojiler doğru teşhis edilmelidir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/BobrekEnfeksiyonu"><img src="~/img/Hastaliklarimg/Böbrek Enfeksiyonu.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Böbrek Enfeksiyonu</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/BeyzbolParmagi"><img src="~/img/Hastaliklarimg/Beyzbol Parmağı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Beyzbol Parmağı</h4>
            </div>
        </div>
    </div>
</div>

