
@{
    ViewData["Title"] = "Siroz";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Siroz</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Siroz, karaciğer hücrelerinin kaybını ve karaciğerin geri dönüşü olmayan yara izini içeren bir karaciğer hastalığı komplikasyonudur.
                Alkol ve viral hepatit B ve C, birçok başka neden olmasına rağmen, sirozun ortak nedenleridir. Sirozlara neden olan hastalıklar karaciğer hücrelerini zedeler ve öldürürler; daha sonra, ölen karaciğer hücrelerine bağlı iltihap ve onarım, skar dokusunun oluşmasına neden olur. Ölmeyen karaciğer hücreleri, ölen hücrelerin yerini almak için çoğalır. Bu, yara dokusu içinde yeni oluşan karaciğer hücrelerinin (rejeneratif nodüller) kümeleriyle sonuçlanır. Kimyasallar (alkol, yağ ve bazı ilaçlar gibi), virüsler, toksik metaller (genetik hastalıkların bir sonucu olarak karaciğerde biriken demir ve bakır gibi) ve otoimmün karaciğer hastalığı gibi vücudun bağışıklık sisteminin karaciğere saldırdığı
                sirozun birçok nedeni vardır.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Siroz.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                SİROZ NEDENLERİ
            </h3>
            <p>
                Sirozun farklı nedenleri bulunmaktadır. En yaygın nedenler ise şöyledir:
            </p>
            <ul>
                <li>Viral enfeksiyonlar (Hepatit B, C)</li>
                <li>Alkol</li>
                <li>Karaciğerde biriken yağ (alkolsüz yağlı karaciğer hastalığı)</li>
                <li>Vücutta demir birikmesi (hemokromatoz)</li>
                <li>Kistik fibroz</li>
                <li>Karaciğerde biriken bakır (Wilson hastalığı)</li>
                <li>Obezite ve veya diyabet</li>
                <li>Kalıtsal şeker metabolizması bozuklukları (galaktozemi veya glikojen depo hastalığı)</li>
                <li>Genetik sindirim bozukluğu (Alagille sendromu)</li>
                <li>Vücudunuzun bağışıklık sisteminin neden olduğu karaciğer hastalığı (otoimmün hepatit)</li>
                <li>Safra kanallarının tahrip olması (primer biliyer siroz)</li>
                <li>Safra kanallarının sertleşmesi ve skarlaşması (primer sklerozan kolanjit)</li>
                <li>Frengi veya bruselloz gibi enfeksiyonlar</li>
                <li>Metotreksat veya izoniazid dahil ilaçlar</li>
            </ul>
            <h3>
                SİROZ BELİRTİLERİ
            </h3>
            <p>
                Siroz sıklıkla karaciğer hasarı yayılana kadar hiçbir belirti veya semptom göstermez. Belirtiler ve semptomlar ortaya çıktığında aşağıdakiler görülebilir:
            </p>
            <ul>
                <li>Yorgunluk</li>
                <li>Hastalıklı karaciğerde kanın pıhtılaşma faktörlerinin üretiminden kaynaklanan kolay morarma</li>
                <li>İştah kaybı</li>
                <li>Mide bulantısı</li>
                <li>Bacaklarınızda, ayaklarda veya ayak bileklerinde şişlik (ödem)</li>
                <li>Kilo kaybı</li>
                <li>Ciltte kaşıntı</li>
                <li>Kanda bilirubin birikimine bağlı olarak cildin sararması (sarılık)</li>
                <li>Karında sıvı birikimi (assit)</li>
                <li>Ciltte örümcek ağına benzer kan damarları</li>
                <li>Avuç içinde kızarıklık</li>
                <li>Bilinç bulanıklığı, uyku hali ve konuşma bozukluğu (hepatik ensefalopati)</li>
                <li>Anemi</li>
                <li>Libido kaybı</li>
                <li>Burun kanaması</li>
                <li>Koyu renk idrar</li>
                <li>Kan kusma</li>
                <li>Erkeklerde: erkeğe özgü kıllanmanın kaybı, erektil disfonksiyon, testiküler atrofi, jinekomasti</li>
                <li>Kadınlarda: menstrüasyon bozuklukları ve sekonder amenore</li>
            </ul>
            <h3>
                SİROZUN AŞAMALARI
            </h3>
            <p>
                Siroz, karaciğer hasarının geç bir aşamasıdır. Karaciğer hastalığının erken aşamalarında karaciğer iltihabı olacaktır. Bu iltihap tedavi edilmezse, skarlaşmaya (fibrozis) yol açabilir. Bu aşamada karaciğerin tedavi ile iyileşmesi hala mümkündür.
            </p>
            <p>
                Karaciğer fibrozu tedavi edilmezse siroz ile sonuçlanabilir. Bu aşamada, yara dokusu iyileşemez, ancak yara izinin ilerlemesi önlenebilir veya yavaşlatılabilir. Komplikasyon belirtileri olan sirozu olan kişiler son dönem karaciğer hastalığı (ESLD) geliştirebilir ve bu aşamadaki tek tedavi karaciğer naklidir.
            </p>
            <h3>
                SİROZ BULAŞICI MIDIR?
            </h3>
            <p>
                Siroz hastalığı genellikle aşırı alkol tüketiminden hepatit B ve C hastalıklarından dolayı meydana gelir. Alkol nedeniyle oluşan karaciğer sirozu bulaşıcı değildir. Hepatit hastalıkları nedeniyle siroz hastalığı oluştuysa hepatit diğer insanlara geçebilir ve onların da siroz hastası olmasına neden olabilir. Sonuç olarak siroz bulaşıcı bir hastalık değildir ancak siroz hastalığına neden olan hastalıklar diğer kişilere bulaşabilmektedir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Basur"><img src="~/img/Hastaliklarimg/Basur.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Basur</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/BagirsakIltihabi"><img src="~/img/Hastaliklarimg/Bağırsak İltihabı.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Bağırsak İltihabı</h4>
            </div>
        </div>
    </div>
</div>

