
@{
    ViewData["Title"] = "Siyatik";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Siyatik</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Siyatik sinirin tahrişinden kaynaklanan ağrıya verilen addır. Bu siniri tahriş eden herhangi bir şey hafif ya da şiddetli ağrıya neden olabilir. Siyatik genellikle alt omurgadaki bir sıkıştırılmış sinirden kaynaklanır.
            </p>
            <h3>
                SİYATİKLE İLGİLİ BAZI GERÇEKLER
            </h3>
            <ul>
                <li>Siyatik sinir, insan vücudundaki en uzun sinirdir.</li>
                <li>Siyatiğin en yaygın nedeni kaymış (fıtık) bir disktir.</li>
                <li>Siyatik bir durum değildir; bu bir semptomdur.</li>
                <li>Bilişsel davranışçı terapi, bazı kişilerin siyatik ağrısını kontrol altına almasına yardımcı olabilir.</li>
            </ul>
            <h3>
                SİYATİĞİN NEDENLERİ
            </h3>
            <p>
                Siyatik, birçok farklı tıbbi durumun ortak belirtisidir; Ancak, vakaların tahmini yüzde 90’ı kaymış fıtık bir diskten kaynaklanmaktadır. Omurga üç bölümden oluşur:
            </p>
            <ul>
                <li>Omurga (altta yatan sinirleri koruyan omurgadaki bireysel kemikler)</li>
                <li>Sinirler</li>
                <li>Diskler</li>
            </ul>
            <p>
                Diskler güçlü ve esnek bir materyal olan kıkırdaktan yapılır; Kıkırdak, her bir omurga arasında bir yastık görevi görür ve omurganın esnek olmasını sağlar. Disk siyatik sinir üzerinde baskı yaparak ya da disk yerinden çıkarıldığında fıtık disk oluşur.
                Siyatik diğer nedenleri şunlardır:
            </p>
            <ul>
                <li>Lomber spinal stenoz: Alt sırttaki omuriliğin daralması.</li>
                <li>Spondilolistezis: Bir diskin altındaki vertebra üzerinde ileri kaydığı bir durum.</li>
                <li>Omurga içindeki tümörler: Bunlar siyatik sinirin kökünü sıkıştırabilir.</li>
                <li>Enfeksiyon: Omurgaya etki eden bir durumdur.</li>
                <li>Diğer nedenler: Örneğin omurgada yaralanma.</li>
            </ul>
            <p>
                Cauda equina sendromu: Omuriliğin alt ucundaki sinirleri ve sinir köklerini etkileyen nadir fakat ciddi bir durumdur; Acil tıbbi müdahale gerektirir. At Kuyruğu Sendromu olarak bilinir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Siyatik.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                SİYATİK SİNİR AĞRISI İÇİN RİSK FAKTÖRLERİ:
            </h3>
            <p>
                Birçok siyatik olgusunda tek bir açıklayıcı neden yoktur. Ortak risk faktörleri şunlardır:
            </p>
            <ul>
                <li>Yaş: 30 ve 40 yaşlarındaki insanlar siyatik geliştirme riski daha yüksektir.</li>
                <li>Meslek: Uzun süreli ağır yük kaldırmayı gerektiren işler.</li>
                <li>Hareketsiz yaşam tarzı: Uzun süreler boyunca oturan ve fiziksel olarak inaktif olan kişilerin, aktif insanlarla karşılaştırıldığında siyatik geliştirme olasılığı daha yüksektir.</li>
            </ul>
            <h3>
                SİYATİK BELİRTİLERİ
            </h3>
            <p>
                Ana semptom siyatik sinir boyunca alt sırttan, kalçadan ve her iki bacağın arkasından aşağı doğru herhangi bir yerde oluşan çekim acısıdır;

                Siyatiğin diğer yaygın belirtiler şunlardır:
            </p>
            <ul>
                <li>Sinir boyunca bacakta uyuşma</li>
                <li>Ayak ve ayak parmaklarında karıncalanma hissi (iğne ve iğneler)</li>
            </ul>
            <p>
                Bu acı şiddetli olabilir ve uzun süre oturduğunuzda ağırlaşabilir.
            </p>
            <h3>
                SİYATİK TEDAVİSİ
            </h3>
            <p>
                Akut ve kronik siyatik tedavileri olmak üzere iki ayrı kategoride incelenmesi mümkün.
            </p>
            <p>
                AKUT SİYATİK TEDAVİLERİ:  Çoğu akut siyatik olgusu, aşağıdakileri içeren tedavilere iyi yanıt verirler:
            </p>
            <ul>
                <li>İbuprofen gibi aşırı ağrı kesiciler.</li>
                <li>Yürüme veya hafif germe gibi egzersizler.</li>
                <li>Sıcak veya soğuk sıkıştırma paketleri, ağrıyı azaltmaya yardımcı olur. Bu ikisi arasında dönüşüm yapmak genellikle ağrıyı hafifletmeye yardımcı olur.</li>
            </ul>
            <p>
                Ancak tüm ağrı kesiciler herkeste aynı etkiyi göstermezler. Seçenekler doktor kontrolü ile gözden geçirmelidir.
            </p>
            <p>
                KRONİK SİYATİK TEDAVİLERİ: Kronik siyatiğin tedavisi genellikle kişsel bakım önlemleri ile tıbbi tedavinin beraber uygulanması ile gerçekleştirilir.
            </p>
            <p>
                Bilişsel davranışçı terapi (CBT): Siyatik ağrılarına farklı tepki göstermeleri için insanları eğiterek kronik ağrının kontrolünün sağlamasına yardımcı olur.
            </p>
            <p>
                Ağrı kesiciler:  Ağrı kesiciler semptomların azaltılmasında etkili bir seçenektir. Ancak ağrı kesicilerin de tedaviye cevap vermediğinde ve ağrının yoğunlaşmaya devam etmesi durumunda cerrahi bir seçenek düşünülebilir.
            </p>
            <p>
                Cerrahi seçenekler:
            </p>
            <ul>
                <li>Lomber laminektomi: Sinirler üzerindeki basıncı azaltmak için omurganın alt sırtında genişlemesi.</li>
                <li>Diskektomi: Herniye disklerin kısmen veya tamamen çıkarılması.</li>
            </ul>
            <p>
                Siyatik nedenine bağlı olarak, cerrah ameliyatın risk ve faydalarını gözden geçirerek size uygun olanını önerecektir.
            </p>
            <h3>
                EGZERSİZLER VE GERMELER
            </h3>
            <p>
                Siyatik sinir üzerindeki baskıyı egzersiz yoluyla rahatlatmanın birçok yolu vardır. Bu, hastalara şunları sağlar:
            </p>
            <ul>
                <li>Semptomlarını kendi başlarına hafifletmek</li>
                <li>Mümkünse ilaç almayı azaltmak veya önlemek</li>
                <li>Ağrının şiddetlendiği durumlarda daha uzun süreli rahatlama</li>
            </ul>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/BademcikIltihabi"><img src="~/img/Hastaliklarimg/Bademcik İltihabı.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Bademcik İltihabı</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Ates"><img src="~/img/Hastaliklarimg/Ateş.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Ateş</h4>
            </div>
        </div>
    </div>
</div>

