
@{
    ViewData["Title"] = "Tetanoz";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Tetanoz</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Tetanos, Clostridium tetani denen bakterinin neden olduğu ciddi bir enfeksiyondur. Bu bakteri, kaslarda sertliğe yol açan, beyin ve sinir sistemini etkileyen bir toksin üretir. Clostridium tetani sporları bir yaraya girerse nörotoksin kas hareketini kontrol eden sinirlere müdahale eder.

                Enfeksiyon ciddi kas spazmlarına, ciddi solunum güçlüklerine ve sonuçta ölüme neden olabilir. Tetanosa karşı en iyi korunma yolu aşı olmaktır. Temel aşılamanın en az 10 yıl % 95 koruyuculuğu vardır.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Tetanoz.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                TETANOS BELİRTİLERİ
            </h3>
            <p>
                Tetanos belirtileri genellikle ilk enfeksiyondan yaklaşık 7 ila 10 gün sonra ortaya çıkar. Ancak, bu 4 gün ila 3 hafta arasında da değişebilir, ve bazı durumlarda ise aylar sürebilir. Belirtilerin geç ortaya çıkması enfeksiyonun ciddi olduğuna işaret eder. Tetanos insandan insana bulaşmaz.
            </p>
            <p>
                Kas semptomları spazm ve kas sertliğini içerir. Sertlik genellikle çene kasları ile başlar. Kasılma sırasında çeneyi kontrol eden kaslar serttir ve çene kilitlenir. Ayrıca göğüs, boyun, sırt ve karın kaslarında da kasılmalar olabilir.

                Kasılmalar solunumla ilgili kasları etkilediğinde ortaya solunumla ilgili problemler çıkar.

                Diğer tetanos belirtileri şu şekildedir:
            </p>
            <ul>
                <li>İdrar kaçırma</li>
                <li>Yüksek tansiyon</li>
                <li>Ateşlenme</li>
                <li>Terleme</li>
                <li>Çene krampları</li>
                <li>Baş ağrısı</li>
                <li>Ağzı açmada zorlanma ve açamama</li>
                <li>Kalp atış hızında yükselme</li>
                <li>Anormal kalp ritmi</li>
                <li>Solunum alırken zorlanmalar</li>
                <li>Bütün vücutta ağrılı kas tutulmaları</li>
                <li>İstem dışı ağrılı kasılmalar</li>
                <li>Mide kasılmaları</li>
                <li>Yutkunma problemleri</li>
                <li>Salya akması</li>
                <li>Boyun ve çenede oluşan kas kasılmaları</li>
            </ul>
            <h3>
                TETANOS NASIL TEŞHİS EDİLİR?
            </h3>
            <p>
                Doktorunuz, kas sertliği ve ağrılı spazmlar gibi tetanos belirtilerini kontrol etmek için fiziksel muayene yapacaktır. Diğer birçok hastalığın aksine tetanoz genellikle laboratuvar testleri ile teşhis edilmez. Ancak, benzer semptomları olan hastalıkları dışlamak için doktorunuz laboratuar testleri isteyebilir. Bunlar arasında beyin iltihabı, beyin ve omuriliği etkileyen bir bakteriyel enfeksiyon veya beyin şişliklerine neden olan viral bir enfeksiyon olan kuduz vardır. Doktorunuz ayrıca, tetanoz teşhisini aşılama takvimine koyacaktır.
            </p>
            <h3>
                TETANOS HASTALIĞININ KOMPLİKASYONLARI
            </h3>
            <ul>
                <li>Solunum yetmezliği</li>
                <li>Boğulma</li>
                <li>Kalp krizi</li>
                <li>Düşük tansiyon</li>
                <li>Yüksek tansiyon</li>
                <li>Zatürre</li>
            </ul>
            <p>
                Bunların dışında; hastalarda respiratuar distres, atelektazi, aspirasyon pnömonisi, venöz tromboz, pulmoner emboli, vertebra veya uzun kemiklerde kırıklar, primer yara enfeksiyonu, dekübit ülserleri, nozokomiyal enfeksiyonlar, akut peptik ülser, rabdomiyoliz, myozitls ossificans circumscripta gelişebilir.
            </p>
            <h3>
                TETANOS TEDAVİSİ
            </h3>
            <p>
                Bu hastalığa yakalanan kişinin hastanede tedavisi olması gereklidir. Kişiye tetanos antiserumu verilir. Bu serumun verilmesi için belirtilerin çıkmasına gerek yoktur. Antiserum yanıkta ya da yaralanmadan uygulanmaktadır. Tedavide antibiyotiğin pek önemi yoktur. Yalnızca kasların gevşemesi için uygun ilaçlar verilebilir. Tedavi aşamasında hasta gürültüsüz ve loş bir ortamda olmalıdır. Tetanos hastalığının ilerlemiş olduğu görülen hastada trakeotomi adındaki cerrahi müdahalede bulunması yaşamsal açıdan önem taşımaktadır. Bu aşamadaki hastanın soluk borusu kesilir. Hastanın boğulması engellenir.
            </p>
            <h4>
                Tetanos Aşısı
            </h4>
            <p>
                Tetanos aşısı sayesinde gelişmiş ülkelerde hastalığa çok az rastlanır. Aşının yan etkileriyle de çok nadir karşılaşılır. Tetanoz hastalığında yapılan aşı zehirin zehirsizleştirilmiş halidir. Tetanos aşısı 10 yılda bir yenilenmelidir yoksa ileriki yaşlarda herhangi bir koruma sağlayamaz. Çocuklukta tetanos aşısı olunması yaşam boyu tetanostan korunma anlamına gelmez.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/AsiriAybasiKanamasi"><img src="~/img/Hastaliklarimg/Aşırı Aybaşı Kanaması.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Aşırı Aybaşı Kanaması</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Astigmat"><img src="~/img/Hastaliklarimg/Astigmat.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Astigmat</h4>
            </div>
        </div>
    </div>
</div>

