
@{
    ViewData["Title"] = "Tifo";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Tifo</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Bakteriyel bir hastalık olan tifo, sağlıksız, kirli içme sularından ve yeterli hijyen koşullarında hazırlanmayan gıdalardan bulaşır. Salmonella typhi adındaki bir bakteri aracılığıyla oluşan hastalık bulaşıcıdır. Yüksek ateşle birlikte karın ağrısına, baş ağrısına ve iştah kaybına neden olabilir. Tifo, erken teşhis ve tedavi ile çoğu insanda tam iyileşme sağlar. Ancak tedavi edilmeyen tifo hayatı tehdit eden komplikasyonlara yol açabilir. Tifo insandan insana bulaşabilen bir hastalıktır.
            </p>
            <h3>
                TİFO HASTALIĞININ BELİRTİLERİ
            </h3>
            <p>
                Belirtiler enfeksiyondan bir ya da iki hafta sonra ortaya çıkabilir. Bu belirtilerin bazıları şunlardır:
            </p>
            <ul>
                <li>Yüksek ateş</li>
                <li>Zayıflık</li>
                <li>Karın ağrısı</li>
                <li>Baş ağrısı</li>
                <li>İştahsızlık</li>
                <li>İsilik</li>
                <li>Yorgunluk</li>
                <li>Kabızlık, ishal</li>
            </ul>
            <p>
                Ciddi komplikasyonlar nadirdir, ancak bağırsakta intestinal kanama veya perforasyonlar içerebilir. Bu yaşamı tehdit eden bir kan dolaşımı enfeksiyonuna yol açabilir (sepsis). Semptomlar bulantı, kusma ve şiddetli karın ağrısını içerir.
            </p>
            <p>
                Diğer komplikasyonlar:
            </p>
            <ul>
                <li>Zatürre</li>
                <li>Böbrek veya mesane enfeksiyonu</li>
                <li>Pankreatit</li>
                <li>Kâlp kası iltihabı</li>
                <li>Endokardit</li>
                <li>Menenjit</li>
                <li>Deliryum, halüsinasyonlar, paranoyak psikoz</li>
            </ul>
            <p>
                Eğer bu belirtilerden herhangi birine sahipseniz mutlaka doktorunuza bilgi verin.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Tifo.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                TİFONUN NEDENLERİ VE RİSK FAKTÖRLERİ
            </h3>
            <p>
                Tifo, Salmonella typhi (S. typhi) denilen bakterilerden kaynaklanır. Gıda kaynaklı hastalığa neden olan Salmonella bakterisi ile aynı değildir. Ana bulaşma yöntemi, genellikle temiz olmayan içme suları veya hijyenik ortamlarda üretilmemiş besinlerdir. Ayrıca enfeksiyon bulaşmış bir kişi ile doğrudan temas yoluyla da geçebilir.
            </p>
            <p>
                Ek olarak, iyileşen ancak hala S. typhi taşıyan insanlar hastalığı başkalarına bulaştırabilirler. Bazı bölgelerde tifonun görülme sıklığı daha yüksektir. Bunlar Afrika, Hindistan, Güney Amerika ve Güneydoğu Asya’dır. Dünya çapında tifoid ateş yılda 26 milyondan fazla kişiyi etkilemektedir.
            </p>
            <h3>
                TİFODAN KORUNMAK İÇİN YAPILMASI GEREKENLER
            </h3>
            <p>
                Tifodan korunmak için içme suyunu güvenilir hazır sulardan tercih etmek önemlidir. Hazır, güvenilir olmayan gıdalar tüketmek yerine doğal beslenmeye öncelik verilmelidir. Tüketilen sebze, meyveler iyice yıkanmalı, kişisel hijyene daha fazla önem verilmelidir. Açıkta satılan süt, peynir gibi ürünler potansiyel tifo bakterisi taşırlar. Tifoya karşı özellikle sık seyahat eden kişilerin dikkatli olması gerekmektedir.
            </p>
            <h3>
                TİFO NASIL TEDAVİ EDİLİR?
            </h3>
            <p>
                Yapılacak bir kan testi Salmonella typhi bakterisinin varlığını doğrulayabilir. Typhoid, azitromisin, seftriakson ve florokinolonlar gibi antibiyotiklerle tedavi edilir. Antibiyotik tedavis ile birlikte hastanın bol miktarda su tüketmesi de çok önemlidir.
            </p>
            <p>
                Daha iyi hissetseniz bile, reçete edilen tüm antibiyotikleri önerildiği şekilde almak önemlidir. Hala S. typhi taşıyorsanız dışkı kültürü de hastalığı belirleyebilir.

                Ayrıca, tifo aşısı kesin koruyucu olmamakla birlikte %50-65 oranında koruyuculuk sağlar. Bu nedenle tifo aşısı yaptırmak gereklidir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Astim"><img src="~/img/Hastaliklarimg/Astım.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Astım</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Artrit"><img src="~/img/Hastaliklarimg/Artrit.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Artrit</h4>
            </div>
        </div>
    </div>
</div>

