
@{
    ViewData["Title"] = "Tifus";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Tifüs</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Tifüs hastalığı çeşitli türdeki haşerelerin kişiyi ısırması sonucunda ortaya çıkan bir hastalık türüdür. Tifüs hastalığına rickettsie ve prowezekil adında olan bir bakteri türü neden olmaktadır.

                Tifüs bitler, pireler veya akarlar tarafından yayılan bulaşıcı bir enfeksiyondur. Tifüs hastalığı özellikle çocukların bağışıklık sisteminin zayıf olmasından dolayı etkilerini çocuklarda daha fazla göstermektedir. Tifüs, yaşam standartlarının ve hijyen düzeylerinin zayıf olduğu Afrika, Güney Amerika ve Asya bölgelerinde bir sorundur. Tifüs tedavi edilmezse ciddi komplikasyonlara neden olabilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Tifüs.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                TİFÜS BELİRTİLERİ
            </h3>
            <p>
                Tifüs belirtileri şunlardır:
            </p>
            <ul>
                <li>Baş ağrısı</li>
                <li>Yüksek ateş</li>
                <li>Mide bulantısı, kusma ve ishal</li>
                <li>Kuru öksürük</li>
                <li>Karın ağrısı</li>
                <li>Eklem ağrısı</li>
                <li>Sırt ağrısı</li>
                <li>Göğsünüzden vücudunuzun geri kalan kısmına yayılmış koyu lekeli döküntü (yüzünüzden, el avuçlarına ve ayak tabanlarına kadar)</li>
            </ul>
            <h3>
                TİFÜS TEDAVİSİ
            </h3>
            <p>
                Tifüs olup olmadığını kontrol etmek için kan testi veya cilt biyopsisi yapılabilir. Antibiyotikler enfeksiyonu tedavi etmek için kullanılır. Genellikle test sonucunu almadan önce başlanır.

                Çoğu insan tedavinin başlamasından sonraki 48 saat içinde daha iyi hissetmeye başlar. Daha iyi hissetseniz bile, bitene kadar antibiyotikleri almaya devam etmek önemlidir. Ciddi tifüs olan kişilerin hastanede tedavi edilmesi gerekebilir.
            </p>
            <h3>
                TİFÜSTEN KORUNMA YOLLARI
            </h3>
            <p>
                Tifüs hastalığı ile mücadele etmek için insanların kişisel temizliğine özen göstermesi gerekiyor. Bit ve pire gibi canlılar özellikle hijyenden uzak ortamlarda ortaya çıkmaktadır. Kişisel ve çevresel temizliğinize ne kadar fazla özen gösterirseniz bu hastalığa yakalanma ihtimaliniz aynı oranda düşecektir. Evinde evcil hayvan besleyen kişiler kesinlikle evcil hayvanlarında yer alan bit ve pireleri yok etmek adına evcil hayvanlarını belirli dönemlerde ilaçlamalıdır. Ayrıca evcil hayvanlara ev ortamında bakmak yerine bahçe içerisinde bakmanız sağlığınız açısından daha iyi olacaktır.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Arpacik"><img src="~/img/Hastaliklarimg/Arpacık.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Arpacık</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/ARDS"><img src="~/img/Hastaliklarimg/ARDS.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">ARDS</h4>
            </div>
        </div>
    </div>
</div>

