
@{
    ViewData["Title"] = "Ucuk";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Uçuk</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Uçuk, yemek yemeyi, konuşmayı, gülmeyi zorlaştıracak kadar ağrı ve acı veren, görünüm olarak kişileri oldukça fazla rahatsız eder. Virüslere karşı yapılan tedaviler virüslerin yok edilmesini değil hastalık oluşturmalarını önlemek ya da en azından azaltmak amacıyla yapılabilmektedir.
            </p>
            <p>
                Birçok alt tipi olan bu virüsün uçuktan sorumlu olan formu Herpes Simplex Virus Tip-1 (HSV-1)’dir. Nadir de olsa, Herpes Simplex Virus Tip-2 de dudakta uçuk çıkmasına neden olabilir.

                Bu tür uçuk genelde kaşıntılı, ağrılı, küçük boyutlarda ve grup halindedir. Dudak uçukları genelde en fazla 10 gün içinde iz bırakmadan iyileşir.

                Uçuk virüsü çok yaygındır. Enfekte olmuş kişilerin hepsinde aynı belirtiler görülmeyebilir. Virüs çoğu zaman pasif haldedir. Vücudumuzda nöronlarda(sinirlerde) ömür boyu belirti vermeden kalabilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Uçuk.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                UÇUK HANGİ SEBEPLERLE OLUR?
            </h3>
            <p>
                Dudakta uçuğa neden tetikleyici faktörler:
            </p>
            <ul>
                <li>Stres, uykusuzluk</li>
                <li>Aşırı yorgunluk</li>
                <li>Derin üzüntü</li>
                <li>Uçuğun çıktığı bölgede yaralanma</li>
                <li>Menstrual(Adet) döngü</li>
                <li>Aşırı güneş ışığına maruz kalma</li>
                <li>Bağışıklık sisteminin zayıf olması</li>
                <li>Ateş</li>
                <li>Üst solunum yolu enfeksiyonları</li>
                <li>Diş ameliyatları</li>
            </ul>
            <h3>
                UÇUK BELİRTİLERİ NELERDİR?
            </h3>
            <p>
                Uçuk virüsü taşıyan çoğu kişide herhangi bir belirti görülmediği için taşıyıcı olduğundan habersizdir. Bu da virüsü istemeden daha çok kişiye bulaştırmaya yol açabilir.

                Taşıyıcının uçuk çıkardığı ve belirti gördüğü süreye “atak” adı verilir. En şiddetli uçuk atağı, ilk ataktır. Bunun nedeni; bağışıklık sisteminin daha önce uçuk virüsüne karşı antikor(savunma) geliştirmemiş olmasıdır.

                İlk ataklarda belirtiler çok şiddetli olabilir. Bu belirtiler ise şunlardır:
            </p>
            <ul>
                <li>Ağız ya da dilde yaralar</li>
                <li>Dudak çevresinde içi su dolu kabarcıklar</li>
                <li>Ağız ülserleri</li>
                <li>Ağız ya da dilde ağrı</li>
                <li>Dilde şişlik</li>
                <li>Yutkunmada zorluk</li>
                <li>Boğaz enfeksiyonu</li>
                <li>Ateş</li>
                <li>Vücudun aşırı su kaybetmesi (Dehidratasyon)</li>
                <li>Mide bulantısı ya da baş dönmesi</li>
                <li>Baş ağrısı</li>
            </ul>
            <h3>
                UÇUK BULAŞIR MI?
            </h3>
            <p>
                Uçuk virüsü direk temas ile bulaşır. Öpüşme, aynı havluyu kullanma ya da mutfak eşyalarının (çatal, kaşık vb.) ortak kullanımı bulaşmada önemli faktörlerdir. Atak sırasında bulaşma riski çok daha yüksektir.

                Uçuk virüsü (Herpes Simplex Tip-1 (HSV-1) genellikle öpüşmeyle bulaşır. Taşıyıcı kişi hiçbir belirti görmese bile virüsü bulaştırabilir. Virüs dudak çevresinde ve tükürükte bulunabildiği için; ortak bardak, çatal vb. kullanımı ya da öpücük ile bulaşabilir.
            </p>
            <h3>
                UÇUK TEDAVİSİ
            </h3>
            <p>
                Virüsler yerleştikleri yerde ölmezler. Yapılan tedaviler de virüslerin yok edilmesini değil hastalık oluşturmalarını önlemek ya da en azından azaltmak amacıyla yapılabilmektedir. Uçuğun günümüzde kesin bir tedavisi de bulunmamaktadır. Bu nedenle öncelikle virüsü kapmamaya özen göstermek gerekmektedir. Yabancılar ile temastan kaçınmak, cinsel ilişkide prezervatif kullanmak, ortak havlu vs. kullanımından uzak durmak gerekmektedir. Çeşitli ilaç tedavileri uygulanabilir. Rahatsızlığı hafifletmek için % 5 asiklovirli merhem gibi bir antiviral ajan kullanılabilir.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Apse"><img src="~/img/Hastaliklarimg/Apse.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Apse</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Apandisit"><img src="~/img/Hastaliklarimg/Apandisit.png" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Apandisit</h4>
            </div>
        </div>
    </div>
</div>

