
@{
    ViewData["Title"] = "Verem";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Verem</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Dünya Sağlık Örgütü, yılda 9 milyon kişinin tüberküloz hastalığına yakalandığını ve bunun dışında 3 milyon kadarının da sağlık sistemlerindeki yetersizliklerden dolayı belirlenemediğini açıklamıştır.

                Tüberküloz 15-44 yaş arası kadınlar için ilk 3 ölüm nedeninden biridir. Tüberküloz öksürük, ateş, gece terlemesi, kilo kaybı vb. belirtilerle ortaya çıkan bulaşıcı bir hastalıktır. Tüberküloz hava kaynaklı bir patojendir, yani tüberküloza neden olan bakteriler kişiden kişiye hava yoluyla yayılabilir.
            </p>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Verem.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                TÜBERKÜLOZ HAKKINDA BAZI BİLGİLER
            </h3>
            <p>
                Tüberküloz yüzyıllardır insanları etkileyen en önemli hastalıklardan biridir. Tüberkülozun geçmişi MÖ. 8000 yılına kadar uzanmaktadır.

                Yunanlılar tüberkülozu israf hastalığı (phthisis) olarak nitelendirmiştir. Birçok Avrupa ülkesinde tüberküloz, yetişkinlerin yaklaşık% 25'inin ölüme, 1900'lerin başına kadar da ABD'de önde gelen ölüm nedeni olmuştur.

                Robert Koch, 1882'de tüberkülozun nedeni olan, Mycobacterium tuberculosis'i keşfetti.
            </p>
            <p>
                Tüberkülozun daha iyi anlaşılması, halk sağlığındaki gelişmeler, hastaların izolasyonu (karantina) gibi tedavi yöntemleri ve tüberkülozu tedavi etmek için ilaçların geliştirilmesi ile gelişmiş ülkelerde hastalığın varlığı önemli ölçüde azalmıştır. Bununla birlikte yılda yaklaşık 1.8 milyon kişinin tübekülozdan hayatını kaybettiği tahmin ediliyor.

                Tüberküloz vakalarının yaklaşık % 60'ı Hindistan, Endonezya, Çin, Nijerya, Pakistan ve Güney Afrika gibi ülkelerde görülmektedir.
            </p>
            <h3>
                TÜBERKÜLOZUN BELİRTİLERİ
            </h3>
            <p>
                Hastalığın başlangıcından itibaren gözlenen verem belirtileri şöyle sıralanabilir:
            </p>
            <ul>
                <li>15 günden uzun süren öksürük şikayeti,</li>
                <li>Yüksek ateş, gece terlemesi,</li>
                <li>Şiddetli göğüs ağrısı,</li>
                <li>İştahsızlık, hızlı kilo kaybı,</li>
                <li>Halsizlik, yorgunluk,</li>
                <li>İlerleyen dönemlerde kanlı balgam görülmesi.</li>
            </ul>
            <h3>
                TÜBERKÜLOZ (VEREM) TANISI NASIL KONUR?
            </h3>
            <p>
                Hastalığın şikayetleri ile birlikte tüberküloza işaret eden akciğer grafiği, verem hastalığını akla getirir ancak kesin tanı için balgam kültürü alınmalı ve Mycobacterium tuberculosis bakterisinin varlığı incelenmelidir. Hastadan alınan balgam örneği laboratuvar ortamında incelenir ve bakterinin mikroskobik yöntemle görülmesi ile kesin tanı konulabilir.
            </p>
            <h3>
                TÜBERKÜLOZ TEDAVİSİ
            </h3>
            <p>
                Tüberküloz tedavisi için geliştirilmiş olan ilaçlar, hastalığın başlangıç evresinde yüksek oranda iyileştirici etki göstererek kişinin sağlığına hızlı şekilde kavuşmasını sağlar. En etkili tedavi uygulamasını sunan dört farklı ilaç çeşidi bulunur. Bu ilaç uygulamaları ile hastaların neredeyse tamamı son derece başarılı bir şekilde tedavi edilir. İlaç tedavisi için belirlenen süre en az altı ay olmakla birlikte hastalığın şiddetine, toplumda görülme sıklığına, kişinin yaşına ve diğer hastalık öykülerine göre tedavi süresi değişik gösterebilir.
            </p>
            <p>
                Hastalığın doğası gereği hastalık boyunca kilo kaybetmiş hastaların ilaç tedavisine başlandıktan kısa bir süre sonra iştahı açılır ve kaybettiği kiloları geri alır. Bu dönemde hastayı gereğinden fazla beslemek olumsuz etkiler yaratabilir. Tüberküloz, hastanın tedavisinin ardından daha sonraki hayatı için herhangi bir kısıtlanmaya yol açmaz.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/Alerji"><img src="~/img/Hastaliklarimg/Alerji.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Alerji</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/AkdenizAtesi"><img src="~/img/Hastaliklarimg/Akdeniz Ateşi.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Akdeniz Ateşi</h4>
            </div>
        </div>
    </div>
</div>

