
@{
    ViewData["Title"] = "Zaturre";
    Layout = "~/Views/Shared/AnaLeyout.cshtml";
}

<div class="row">
    <h1 class="text-center mt-5 ml-3">Zatürre</h1>
</div>
<div class="row" style="background-color: rgb(227, 221, 221); -webkit-border-radius: 20px;">
    <div class="col-sm col-lg-8 mt-3">
        <div class="yazilar">
            <!--YAZILAR BURADAN SONRA KOYULACAK-->
            <p>
                Zatürre (Pnömoni), bir veya her iki akciğerde bir enfeksiyondur. Bakteriler, virüsler veya mantarlardan kaynaklanabilir. Bakteriyel pnömoni erişkinlerde en sık görülen tiptir.

                Pnömoni, alveol olarak adlandırılan akciğerlerindeki hava keselerinde iltihaplanmaya neden olur. Alveol, sıvı ya da irinle doludur, nefes almayı zorlaştırır.
            </p>
            <h3>
                ZATÜRRE BELİRTİLERİ
            </h3>
            <p>
                Pnömoni semptomları yaşamı tehdit edici olabilir. Zatürrenin en yaygın belirtileri arasında şunlar olabilir:
            </p>
            <ul>
                <li>Balgamla birlikte iyileşmeyen veya kötüleşen öksürük.</li>
                <li>Ateş, terleme ve titreme</li>
                <li>Nefes darlığı</li>
                <li>Göğüs ağrısı</li>
            </ul>
            <p>
                Diğer belirtiler, enfeksiyonun nedenine ve ciddiyetine, ayrıca bireyin yaşına ve genel sağlığına göre değişebilir.
            </p>
            <ul>
                <li>Viral pnömoni, hırıltı gibi grip benzeri semptomlarla başlayabilir. 12-36 saat sonra yüksek ateş oluşabilir.</li>
                <li>Bakteriyel pnömoni, aşırı terleme, mavimsi dudaklar ve tırnaklar ve konfüzyon ile birlikte 40 dereceye kadar yüksek ateşe neden olabilir.</li>
            </ul>
            <div class="col-lg-10">
                <img src="~/img/Hastaliklarimg/Zatürre.jpg" class="img-fluid" alt="..."
                     style="box-shadow: 5px 5px 5px 5px rgb(158, 157, 157)">
            </div> <br /> <br />
            <h3>
                ZATÜRRE BULAŞICI MIDIR?
            </h3>
            <p>
                Zatürre oluşumuna sebep olan bakteri ve virüsler, yakın temas sonucu solunum yolu ile alınır. Burun ve ağzın birleştiği üst solunum yollarında bu bakteriler birikir ve çoğalırlar. İnsanların toplu yaşadıkları kabalık alanlarda hızla yayılırlar. Okullar, yurtlar ve kapalı alanlarda bulaşır. Salgın hastalık sınıfına girerler ve çocuklarda daha sık bulaşıcılık görülür.
            </p>
            <h3>
                ZATÜRREDE RİSK ALTINDA OLANLAR
            </h3>
            <p>
                Herkes zatürre olabilir, ancak bazı insanlar daha yüksek risk altındadır:
            </p>
            <ul>
                <li>Doğumdan 2 yaşına kadar olan bebekler ve 65 yaş ve üzeri kişiler,</li>
                <li>İnme geçirmiş, yutma problemleri olan veya yatalak olan insanlar,</li>
                <li>Zayıflamış bağışıklık sistemi olan kişilerde steroid veya bazı kanser ilaçları gibi ilaçların kullanımı nedeniyle,</li>
                <li>Sigara içen veya aşırı miktarda alkol tüketen kişilerde,</li>
                <li>Astım, kistik fibroz, diyabet veya kalp yetmezliği gibi bazı kronik tıbbi rahatsızlıkları olan kişilerde.</li>
            </ul>
            <h3>
                ZATÜRRE NASIL TEŞHİS EDİLİR?
            </h3>
            <p>
                Fiziksel muayene sırasında doktor stetoskopla hastanın akciğerlerini dinler. Zatürreden şüphelenirse önce akciğerleri yakından görebilmek için göğüs röntgeni isteyecektir.

                Akciğer röntgeni durumun zatürre olup olmadığı konusunda doktora yeterli bilgiyi verebilir. Ancak doktorunuz bağışıklık sisteminin durumunu, kandaki oksijen miktarını, solunum yollarının durumu görmek için ekstra testler isteyebilir.
            </p>
            <ul>
                <li>Tam Kan Sayımı: Beyaz kan hücresi sayısı kontrol edilir.</li>
                <li>
                    CT Taraması: Akciğerlerin fonksiyonunu görebilmek için yapılan göğüs taraması.
                    Salya Testi: Belirtilere neden olan organizmaların incelenmesi için kullanılır.
                </li>
                <li>Plevral Sıvı Kültürü: Akciğerlerde sıvı toplandığında yapılır.</li>
                <li>Oksimetri: Oksimetre adı verilen bir cihaz aracılığıyla kandaki oksijen miktarı ölçülür.</li>
                <li>Bronkoskopi: Üst solunum yollarının özel bir aletle incelenmesi.</li>
            </ul>
            <h3>
                ZATÜRRE TEDAVİSİ
            </h3>
            <p>
                Tedaviniz, sahip olduğunuz zatürre türüne, ne kadar şiddetli olduğuna ve genel sağlık durumunuza bağlı olacaktır.

                Antibiyotik, antiviral ve antifungal ilaçlar, durumun spesifik nedenine bağlı olarak pnömoniyi tedavi etmek için kullanılır. Çoğu bakteriyel pnömoni vakası evde oral antibiyotiklerle tedavi edilebilir ve çoğu insan bir ila üç gün içinde antibiyotiklere yanıt verir.
            </p>
            <p>
                Doktorunuz gerektiğinde ağrı ve ateşinizi hafifletmek için reçetesiz (OTC) ilaçları da önerebilir. Bunlar aspirin, ibuprofen ve asetaminofen içerebilir. Doktorunuz öksürüğünüzü geçirmek için öksürük ilacı önerebilir, böylece dinlenebilirsiniz.
            </p>
            <p>
                Hastaneye yatması gereken hastalarda ise daha farklı tedaviler gerekebilir. Çok ağır zatürre durumlarında yoğun bakımda yatış, solunum desteği uygulanma zorunluluğu doğabilir. Zatürre ani başlangıçlı ve genellikle tedaviyle hızla iyileşen bir hastalıktır. Tedavi başlangıcından sonra bir veya iki hafta sonra hekim, hastayı muayene eder ve gerekli testleri yapar. Bazen tedavi süresinin uzatılması veya ek incelemeler gerekebilir.

                Eğer zatürre tanısı almış, tedaviniz başlamış ve tedavinizin başlanmasından sonra 72 saat geçmiş olmasına rağmen ateşiniz düşmediyse, hala öksürük, balgam çıkarmanızda azalma olmadıysa tekrar hekime görünmelisiniz.
            </p>
            <!--YAZILAR BURADA BİTECEK-->
        </div>
    </div>
    <div class="col-sm-12 col-lg-4 mt-3">
        <div class="card ml-5 mt-3">
            <a href="https://localhost:44397/Hastaliklar/AkcigerKanseri"><img src="~/img/Hastaliklarimg/Akciğer Kanseri.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Akciğer Kanseri</h4>
            </div>
        </div>
        <div class="card ml-5 mt-5">
            <a href="https://localhost:44397/Hastaliklar/Adenit"><img src="~/img/Hastaliklarimg/Adenit.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <h4 class="text-center">Adenit</h4>
            </div>
        </div>
    </div>
</div>

